{% extends 'LadbCoreBundle:Common:_form.html.twig' %}

{% set navSection = 'graphics' %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Resource:_form-gallery-script.part.html.twig' with { 'fieldId':form.resource.vars.id, 'maxResourceCount':1, 'formSection':'resource' } %}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.tags.vars.id, 'proposals':tagProposals, 'proposalsHelp':('tag.token.proposals.help'|trans()), 'help':('tag.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_tags_json')|raw) } %}
{% endblock %}

{% block sidenav %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-sidenav-title.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/Resource:_form-sidenav-gallery.part.html.twig' with { 'title':('default.choice.files'|transchoice(2)|capitalize) } %}
    {% include 'LadbCoreBundle:Common:_form-sidenav-body.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/Tag:_form-sidenav.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/License:_form-sidenav.part.html.twig' %}
{% endblock %}

{% block sections %}
    <div class="panel panel-info">
        <div class="panel-body">
            {{ 'promotion.graphic.new_warning'|trans()|raw }}<br>
            <em>{{ 'default.warning.may_be_rejected'|trans() }}</em>
        </div>
    </div>
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('promotion.graphic.form.help.title'|trans()) } %}
    {% include 'LadbCoreBundle:Core/Resource:_form-section-gallery.part.html.twig' with { 'mandatory':true, 'formResources':form.resource, 'resources':(form.vars.data.resource is null ? [] : [ form.vars.data.resource ]), 'maxResourceCount':1, 'formSection':'resource', 'title':('default.choice.files'|transchoice(2)|capitalize), 'help':('promotion.graphic.form.help.resource'|trans()) } %}
    {% include 'LadbCoreBundle:Common:_form-section-body.part.html.twig' with { 'mandatory':true, 'help':('promotion.graphic.form.help.body'|trans()) } %}
    {% include 'LadbCoreBundle:Core/Tag:_form-section.part.html.twig' with { 'mandatory':true, 'help':'Indiquez les tags définissant votre graphisme.' } %}
    {% include 'LadbCoreBundle:Core/License:_form-section.part.html.twig' with { 'form':form.license } %}
{% endblock %}
