{% extends 'LadbCoreBundle:Common:_show.html.twig' %}

{% set entity = graphic %}

{% set pageSectionUrl = url('core_promotion_graphic_list') %}
{% set pageSectionName = 'promotion.graphic.list'|trans %}

{% set navSection = 'promotion' %}
{% set searchPath = path('core_promotion_graphic_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == graphic.user.id %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':graphic } %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% if not ownerUser %}
                    {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% endif %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Core/Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                {% if not ownerUser %}
                    &nbsp;
                    {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':graphic.type, 'entityId':graphic.id } %}
                {% endif %}
                {% if ownerUser or is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="{{ path('core_promotion_graphic_edit', { 'id':graphic.id }) }}" class="btn btn-default"><i class="ladb-icon-edit"></i><span class="ladb-visible-desktop"> {{ 'default.edit'|trans() }}</span></a>
                    {% if is_granted("ROLE_ADMIN") or (ownerUser and graphic.isDraft) %}
                        <a href="#delete_graphic_modal" class="btn btn-danger" data-toggle="modal"><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                        {% include 'LadbCoreBundle:Common:_delete-entity-modal.part.html.twig' with { 'id':'delete_graphic_modal', 'entityTitle':graphic.title, 'deletePath':path('core_promotion_graphic_delete', { 'id':graphic.id }) } %}
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ladb-icon-admin"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ ladb_entity_url_action(graphic, graphic.isLocked ? 'unlock' : 'lock', true, false) }}"><i class="ladb-icon-{% if graphic.isLocked %}unlock{% else %}lock{% endif %} ladb-icon-fixed-center"></i> {{ (graphic.isLocked ? 'default.unlock' : 'default.lock')|trans() }}</a></li>
                                {% if not graphic.isDraft %}
                                    <li><a href="#unpublish_graphic_modal" data-toggle="modal"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        {% if not graphic.isDraft %}
                            {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'unpublish_graphic_modal', 'title':('default.unpublishing'|trans()) } %}
                                {% block bodyInner %}
                                    <p>La dépublication de <strong>{{ graphic.title }}</strong> le rendra invisible pour les autres utilisateurs.</p>
                                    <p>Confirmez l'action pour continuer.</p>
                                {% endblock %}
                                {% block footerInner %}
                                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                    <a href="{{ path('core_promotion_graphic_unpublish', { 'id':graphic.id }) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a>
                                {% endblock %}
                            {% endembed %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentBody %}
    {% if graphic.isDraft %}
        {% include 'LadbCoreBundle:Promotion/Graphic:_draft-alert.part.html.twig' %}
    {% endif %}
    <div class="ladb-graphic">
        {% include 'LadbCoreBundle:Core/Picture:_img-link.part.html.twig' with { 'picture':graphic.mainPicture, 'width':'600', 'height':'600', 'filterMode':'i', 'alt':graphic.title } %}
        <div class="ladb-body ladb-margin-top" itemprop="articleBody">
            {{ graphic.htmlBody|raw }}
        </div>
        {% if graphic.updatedAt > graphic.createdAt %}
            {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':graphic } %}
        {% endif %}
    </div>
    {% if not ownerUser %}
        {% include 'LadbCoreBundle:Common:_like-and-follow.part.html.twig' %}
    {% endif %}
    {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' %}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
        <div class="ladb-meta{% if graphic.downloadCount == 0 %} text-muted{% endif %}">
            <i class="ladb-icon-unpublish ladb-icon-fixed-center"></i>
            <strong>{{ graphic.downloadCount|number_format(0, ',', ' ') }}</strong>
            <small>{{ 'default.choice.downloads'|transchoice(graphic.downloadCount) }}</small>
            <meta itemprop="interactionCount" content="UserDownloads:{{ graphic.downloadCount }}"/>
        </div>
    </div>
    {% include 'LadbCoreBundle:Core/Tag:_metas.part.html.twig' with { 'tags':graphic.tags, 'type':'graphics' } %}
    <div class="ladb-metas">
        <h4 class="ladb-heading">{{ 'default.characteristics'|trans() }}</h4>
        <div class="ladb-meta">
            <span class="pull-right">
                {% include 'LadbCoreBundle:Core/Resource:_meta-kind-'~graphic.resource.kind~'.part.html.twig' %}
            </span>
            <span><i class="ladb-icon-info ladb-icon-fixed-center"></i>&nbsp;Format</span>
        </div>
        <div class="ladb-meta">
            <span class="pull-right">{{ graphic.zipArchiveSize|ladb_file_size_format }}</span>
            <span><i class="ladb-icon-weight ladb-icon-fixed-center"></i>&nbsp;Taille</span>
        </div>
        <div class="ladb-btn">
            <a href="{{ path('core_promotion_graphic_download', { 'id':graphic.id }) }}" class="btn btn-primary btn-expand btn-lg"><i class="ladb-icon-unpublish ladb-icon-lg"></i> {{ 'promotion.graphic.download'|trans() }}</a>
        </div>
    </div>
    {% include 'LadbCoreBundle:Core/License:_metas.part.html.twig' with { 'license':graphic.license } %}
{% endblock %}

{% block contentSuggests %}
    {% if similarGraphics is not null %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('promotion.graphic.similar')|trans() }}
            </div>
            <div class="panel-body row">
                {% for similarGraphic in similarGraphics %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Promotion/Graphic:_thumbnail-link.part.html.twig' with { 'graphic':similarGraphic, 'classes':(loop.last ? null : 'ladb-margin-bottom') } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

