{% extends 'LadbCoreBundle:Common:_form.html.twig' %}

{% set navSection = 'faq' %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.tags.vars.id, 'proposals':tagProposals, 'proposalsHelp':('tag.token.proposals.help'|trans()), 'help':('tag.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_tags_json')|raw) } %}
{% endblock %}

{% block sidenav %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-sidenav-title.part.html.twig' %}
    <li><a href="#icon"><i class="ladb-icon-camera"></i> {{ 'faq.question.icon'|trans() }}</a></li>
    {% include 'LadbCoreBundle:Block:_form-sidenav-body.part.html.twig' %}
    <li><a href="#weight"><i class="ladb-icon-weight"></i> {{ 'faq.question.weight'|trans() }}</a></li>
    {% include 'LadbCoreBundle:Tag:_form-sidenav.part.html.twig' %}
{% endblock %}

{% block sections %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('faq.question.form.help.title'|trans()) } %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'camera', 'title':('faq.question.icon'|trans()), 'formSection':'icon' } %}
        {% block body %}
            {{ form_errors(form.icon) }}
            <div class="input-group">
                <span class="input-group-addon">ladb-icon-</span>
                {{ form_widget(form.icon) }}
            </div>
        {% endblock %}
    {% endembed %}
    {% include 'LadbCoreBundle:Block:_form-section-body.part.html.twig' with { 'mandatory':true } %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'weight', 'title':('faq.question.weight'|trans()), 'formSection':'weight' } %}
        {% block body %}
            {{ form_errors(form.weight) }}
            {{ form_widget(form.weight) }}
        {% endblock %}
    {% endembed %}
    {% include 'LadbCoreBundle:Tag:_form-section.part.html.twig' with { 'mandatory':true, 'help':'Indiquez les tags définissant votre sujet.' } %}
{% endblock %}
