{% if joinContext is not null and joinContext.isJoinable %}
    {% if joinContext.id is null %}
        <a rel="nofollow" href="{{ path('core_join_create', { 'entityType':joinContext.entityType, 'entityId':joinContext.entityId, 'rtu':app.request.requesturi }) }}" class="btn btn-default" data-tooltip="tooltip" title="{{ 'join.create'|trans() }}" data-loading-text="<i class='ladb-icon-spinner'></i> {{ 'join.join'|trans() }}" onclick="{% if is_granted("ROLE_USER") %}$(this).ladbHrefAjax(event, { targetSelector:'.ladb-join-widget', replaceTargetInnerOnly:true });{% else %}$(this).button('loading');{% endif %}">
            <i class="ladb-icon-join"></i> {{ 'join.join'|trans() }}
        </a>
    {%  else %}
        <a rel="nofollow" href="{{ path('core_join_delete', { 'id':joinContext.id }) }}" class="btn btn-default active" data-tooltip="tooltip" title="{{ 'join.delete'|trans() }}" data-loading-text="<i class='ladb-icon-spinner'></i> {{ 'join.joined'|trans() }}" onclick="{% if is_granted("ROLE_USER") %}$(this).ladbHrefAjax(event, { targetSelector:'.ladb-join-widget', replaceTargetInnerOnly:true });{% else %}$(this).button('loading');{% endif %}">
            <i class="ladb-icon-check-square"></i> {{ 'join.joined'|trans() }}
        </a>
    {% endif %}
    {% if joinContext.count > 0 %}
        <a href="{{ path('core_join_list_byentity', { 'entityType':joinContext.entityType, 'entityId':joinContext.entityId }) }}" class="btn btn-default" data-tooltip="tooltip" title="{{ joinContext.count }}&nbsp;{{ 'join.choice.entities'|transchoice(joinContext.count) }}">{{ joinContext.count }}</a>
    {% endif %}
{% endif %}
