{% extends 'LadbCoreBundle:User:_show-list.html.twig' %}

{% set masonry = true %}
{% set masonryWide = true %}

{% block bodyContainerContent %}
    {% if finds.count == 0 and filter != 'draft' %}
        <div class="alert alert-info ladb-margin-top">
            {% if is_granted("ROLE_USER") and user.id == app.user.id %}
                <p>Vous n'avez pas encore publié de <strong>trouvaille</strong> !</p>
                <p><a href="{{ path('core_find_new') }}" class="btn btn-primary"><i class="ladb-icon-plus"></i> {{ 'find.new'|trans() }}</a></p>
            {% else %}
                <strong>{{ user.username }}</strong> n'a pas encore publié de trouvaille.
            {% endif %}
        </div>
    {% else %}
        {% embed 'LadbCoreBundle:Find:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_user_show_finds_filter' %}
            {% set filterPathParameters = { 'username':user.usernameCanonical } %}
            {% set customFilterDefs = {
                'draft':    { 'label':('default.choice.draft'|transchoice(2)|capitalize), 'path':path('core_user_show_finds_filter', { 'username':user.usernameCanonical, 'filter':'draft' }), 'hidden':(not isDraftVisible) },
            } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">
                    {% if filter == 'draft' and isDraftVisible %}
                        {{ user.draftFindCount~' '~('default.choice.draft'|transchoice(user.draftFindCount)) }}
                    {% elseif filter|slice(0,4) == 'type' %}
                        {{ finds.count~' '~('find.choice.finds'|transchoice(finds.count)) }}
                    {% else %}
                        {{ user.publishedFindCount }} {{ 'find.choice.finds'|transchoice(user.publishedFindCount) }}{% if isDraftVisible and user.draftFindCount > 0 %} (+{{ user.draftFindCount~' '~('default.choice.draft'|transchoice(user.draftFindCount)) }}){% endif %}
                    {% endif %}
                </span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Find:_list-n.part.html.twig' %}
{% endblock %}