
{# set showPath #}
{# set wonder #}
{# set classes (facultative) #}

<a href="{{ path(showPath, { 'id':wonder.sluggedId }) }}" class="thumbnail{% if classes is defined %} {{ classes }}{% endif %}" data-tooltip="tooltip" title="{{ wonder.title }} {{ 'default.by'|trans() }} {{ wonder.user.displayname }}">
    {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':wonder.mainPicture, 'width':'128', 'height':'128', 'filterMode':'o', 'alt':wonder.title, 'attributes':'nopin="nopin"', 'noMicrodata':true } %}
</a>
