
{# set picture #}
{# set editable (facultative) #}
{# set sortable (facultative) #}
{# set formSection #}

{% set id = picture is defined ? picture.id : '000' %}
{% set src = picture is defined ? picture.webPath : 'SRC' %}
{% set editable = editable is defined ? editable : true %}
{% set sortable = sortable is defined ? sortable : false %}

<li id="picture_{{ id }}" class="ladb-picture ladb-form-thumbnail{% if sortable %} ladb-sortable{% endif %}">
    <div class="uk-overlay">
        <img src="{{ src|imagine_filter('128x128o') }}" width="128" height="128" nopin="nopin">
        {% if editable %}
            <div class="uk-overlay-caption ladb-legend">{% if picture is defined and picture.legend is not empty %}{{ picture.legend|truncate(50) }}{% else %}{{ 'picture.no_legend'|trans() }}{% endif %}</div>
        {% endif %}
    </div>
    {% if picture is defined and picture.sourceUrl is not empty %}
        <a href="{{ picture.sourceUrl }}" class="ladb-img-source-link" title="{{ picture.sourceUrl }}"><i class="ladb-icon-link"></i> Source</a>
    {% endif %}
    <div class="ladb-minitools">
        {% if editable %}
            <a href="#edit_{{ formSection }}_modal" data-toggle="modal" onclick="pictureGalleryEditPicture('{{ formSection }}', {{ id }}, '{{ path('core_picture_edit', { 'id':id, 'formSection':formSection, 'sortable':sortable }) }}');" class="ladb-edit ladb-minitools" data-tooltip="tooltip" title="{{ 'picture.edit'|trans() }}"><i class="ladb-icon-edit"></i></a>
        {% endif %}
        {% if sortable %}
            <span class="ladb-sortable-handle" data-tooltip="tooltip" title="{{ 'picture.reorder'|trans() }}"><i class="ladb-icon-move"></i></span>
        {% endif %}
    </div>
    <div class="ladb-tools">
        <a href="#" class="btn btn-xs btn-danger" onclick="pictureGalleryRemovePicture('{{ formSection }}', {{ id }});return false;">{{ 'default.remove'|trans() }}</a>
    </div>
</li>
