{% extends 'LadbCoreBundle:Core/Picture:_img.part.html.twig' %}

{# set aClasses (facutative) #}
{# set dataGallery (facutative) #}

{% set dataGallery = dataGallery|default('#blueimp-gallery') %}
{% set aTitle = picture.legend|default(aTitle|default('')) %}
{% set hasOverlay = picture.legend is not empty %}

{% block img %}
    <figure class="ladb-img">
        <a href="{{ webPath|imagine_filter('1024x1024i') }}" data-gallery="{{ dataGallery }}" title="{{ aTitle }}" class="thumbnail ladb-cursor-preview{% if aClasses is defined %} {{ aClasses }}{% endif %}" onclick="return false;"{% if not noMicrodata %} itemprop="image"{% endif %}>
            {% if hasOverlay %}<div class="uk-overlay">{% endif %}
                {% set noMicrodata = true %}
                {{ parent() }}
                {% if hasOverlay %}
                    <figcaption class="uk-overlay-caption">
                        <span class="ladb-legend">{{ picture.legend|truncate(50) }}</span>
                    </figcaption>
                {% endif %}
            {% if hasOverlay %}</div>{% endif %}
        </a>
        {% if picture.sourceUrl is not empty %}
            <a href="{{ picture.sourceUrl }}" class="ladb-img-source-link" title="{{ picture.sourceUrl }}" target="_blank"><i class="ladb-icon-link"></i> Source</a>
        {% endif %}
        <a href="http://images.google.com/searchbyimage?image_url={{ webPath|imagine_filter('1024x1024i') }}" class="ladb-img-search-link" title="Rechercher des images similaires" data-tooltip=tooltip target="_blank"> + <i class="ladb-icon-camera"></i></a>
    </figure>
{% endblock %}