{# set picture #}
{# set width #}
{# set height #}
{# set filterMode (facultative) #}
{# set alt (facultative) #}
{# set emptyWebPath (facultative) #}
{# set attributes (facultative) #}
{# set imgClasses (facultative) #}
{# set noMicrodata (facultative) #}
{# set itemProperty (facultative) #}
{# set noSizer (facultative) #}
{# set autoSizer (facultative) #}

{% set filterMode = filterMode|default('o') %}
{% set alt = picture is not empty and picture.legend is not empty ? picture.legend : alt is defined ? alt : 'L\'Air du Bois' %}
{% set emptyWebPath = emptyWebPath|default('avatar.png') %}
{% set webPath = (picture is empty ? emptyWebPath : picture.webPath) %}
{% set filter = width~'x'~height~filterMode %}
{% set noMicrodata = (noMicrodata|default(false)) or picture is empty %}
{% set noSizer = noSizer|default(picture is not null and picture.width == 0) %}
{% set autoSizer = autoSizer is defined ? autoSizer : (filterMode == 'i' or picture is not null and (picture.width < width or picture.height < height)) %}

{% block img %}
    {% if not noSizer %}<div class="ladb-img-sizer{% if not autoSizer %} ladb-img-sizer-{{ filter }}{% endif %}"{% if autoSizer %} style="padding-top:{{ filterMode != 'i' and (picture.width < width or picture.height < height) ? min(picture.height, height) / min(picture.width, width) * 100 : (picture ? picture.heightRatio100 : 100) }}%;"{% endif %}>{% endif %}
        <img src="{{ webPath|imagine_filter(filter) }}" alt="{{ alt }}"{% if attributes is defined %} {{ attributes|raw }}{% endif %}{% if not noMicrodata %} itemprop="{{ itemProperty|default('image') }}"{% endif %}{% if imgClasses is defined %} class="{{ imgClasses }}"{% endif %}>
    {% if not noSizer %}</div>{% endif %}
{% endblock %}