{% extends 'LadbCoreBundle:Common/Modal:_modal.part.html.twig' %}

{% set id = 'edit_'~formSection~'_'~picture.id~'_modal' %}
{% set title = 'picture.edit'|trans() %}
{% set bodyClasses = 'row' %}

{% form_theme form 'LadbCoreBundle:Common:_form-theme.twig.twig' %}

{% block contentInner %}
    {{ form_start(form, { 'action':path('core_picture_update', { 'id':picture.id, 'formSection':formSection, 'sortable':sortable }), 'method':'POST' }) }}
        {{ parent() }}
    {{ form_end(form) }}
    <script>
        $("#{{ id }}").find('form').ajaxForm({
            cache: false,
            dataType: "html",
            context: document.body,
            success: function(data, textStatus, jqXHR) {
                if ($(data).find(".alert-danger").length == 0) {
                    $("#{{ id }}").modal("hide");
                    $("#{{ id }}").remove();
                    $("#picture_{{ picture.id }}").replaceWith(data);
                } else {
                    $("#{{ id }} fieldset").parent().replaceWith(data);
                }
                $("#{{ formSection }}_{{ picture.id }}_save_btn").button('reset');
            },
            error: function() {
                $("#{{ id }}").modal("hide");
                $("#{{ id }}").remove();
                $("#{{ formSection }}_{{ picture.id }}_save_btn").button('reset');
            }
        });
        setupTooltips();
    </script>
{% endblock %}

{% block bodyInner %}
    <div class="col-xs-12 ladb-margin-bottom text-center">
        <div style="width: 100%; height: 300px; line-height: 300px; position: relative;">
            <img id="{{ id }}_preview" src="{{ ('/'~picture.masterPath)|imagine_filter('300x300i') }}" class="thumbnail ladb-no-transition ladb-rotate{{ form.rotation.vars.data }}" style="display:inline-block; vertical-align: middle; line-height: normal;">
            {% if picture.user is not null and is_granted('ROLE_ADMIN') %}
                <div style="position: absolute; top: 0; right: 0; background-color: #000; color: #fff; line-height: initial; padding: 4px;">@{{ picture.user.displayname }}</div>
            {% endif %}
        </div>
        <div class="text-center ladb-margin-top">
            <a href="#" class="btn btn-default" onclick="pictureGalleryRotatePreview($('#{{ id }}_preview'), $('#{{ form.rotation.vars.id }}'), -90); return false;" data-tooltip="tooltip" title="{{ 'picture.turn_left'|trans() }}"><i class="ladb-icon-rotate-left ladb-icon-lg"></i></a>
            <a href="#" class="btn btn-default" onclick="pictureGalleryRotatePreview($('#{{ id }}_preview'), $('#{{ form.rotation.vars.id }}'), 90); return false;" data-tooltip="tooltip" title="{{ 'picture.turn_left'|trans() }}"><i class="ladb-icon-rotate-right ladb-icon-lg"></i></a>
        </div>
    </div>
    {% include 'LadbCoreBundle:Core/Picture:_fieldset.part.html.twig' %}
{% endblock %}

{% block footerInner %}
    <a href="#" class="btn btn-default" onclick="pictureGalleryCancelEditPicture('{{ formSection }}', '{{ picture.id }}'); return false;">{{ 'default.cancel'|trans() }}</a>
    {% include 'LadbCoreBundle:Common:_form-btn-loading.part.html.twig' with { 'id':formSection~'_'~picture.id~'_save_btn', 'text':('default.save'|trans()), 'classes':'btn-primary' } %}
{% endblock %}
