{% extends 'LadbCoreBundle:Wonder:_wonder-form.html.twig' %}

{% set navSection = 'creations' %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Wonder/Plan:_form-gallery-script.part.html.twig' with { 'fieldId':form.plans.vars.id, 'maxPlanCount':4 } %}
    {% include 'LadbCoreBundle:Howto/Howto:_form-gallery-script.part.html.twig' with { 'fieldId':form.howtos.vars.id, 'maxHowtoCount':4 } %}
    {% include 'LadbCoreBundle:Knowledge/Provider:_form-gallery-script.part.html.twig' with { 'fieldId':form.providers.vars.id, 'maxProviderCount':10 } %}
    {% include 'LadbCoreBundle:Wonder/Creation:_form-gallery-script.part.html.twig' with { 'fieldId':form.inspirations.vars.id, 'maxCreationCount':4, 'excludedId':(creation is defined ? creation.id : null) } %}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.woods.vars.id, 'help':('knowledge.wood.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_input_woods_json')|raw) } %}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.tools.vars.id, 'help':('knowledge.tool.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_input_tools_json')|raw) } %}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.finishes.vars.id, 'help':('knowledge.finish.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_input_finishes_json')|raw) } %}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.tags.vars.id, 'proposals':tagProposals, 'proposalsHelp':('tag.token.proposals.help'|trans()), 'help':('tag.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_tags_json')|raw) } %}
{% endblock %}

{% block sidenav %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-sidenav-title.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/Picture:_form-sidenav-gallery.part.html.twig' with { 'title':('default.showcase'|trans) } %}
    {% include 'LadbCoreBundle:Core/Block:_form-sidenav-body.part.html.twig' with { 'title':('default.descriptive'|trans) } %}
    <li><a href="#characteristics"><i class="ladb-icon-characteristics"></i> {{ 'default.characteristics'|trans() }}</a></li>
    {% include 'LadbCoreBundle:Core/Tag:_form-sidenav.part.html.twig' %}
    {% include 'LadbCoreBundle:Wonder/Creation:_form-sidenav-gallery.part.html.twig' with { 'title':('default.choice.inspirations'|transchoice(2)|capitalize), 'icon':'ladb-icon-inspiration' } %}
    {% include 'LadbCoreBundle:Wonder/Plan:_form-sidenav-gallery.part.html.twig' %}
    {% include 'LadbCoreBundle:Howto/Howto:_form-sidenav-gallery.part.html.twig' %}
    {% include 'LadbCoreBundle:Knowledge/Provider:_form-sidenav-gallery.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/License:_form-sidenav.part.html.twig' %}
{% endblock %}

{% block sections %}
    <div class="panel panel-info">
        <div class="panel-body">
            <p>{{ 'wonder.creation.new_warning'|trans()|raw }}</p>
            <em>{{ 'default.warning.may_be_rejected'|trans() }}</em>
        </div>
    </div>
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('wonder.creation.form.help.title'|trans()) } %}
    {% include 'LadbCoreBundle:Core/Picture:_form-section-gallery.part.html.twig' with { 'mandatory':true, 'sortable':true, 'title':('default.showcase'|trans), 'help':('wonder.creation.form.help.showcase'|trans()) } %}
    {% include 'LadbCoreBundle:Core/Block:_form-section-body.part.html.twig' with { 'mandatory':true, 'title':('default.descriptive'|trans()), 'help':('wonder.creation.form.help.body'|trans()) } %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'characteristics', 'title':('default.characteristics'|trans()), 'formSection':'characteristics' } %}
        {% block body %}
            {{ form_label(form.woods, ('knowledge.wood.choice.woods'|transchoice(2)|capitalize)) }}
            {{ form_errors(form.woods) }}
            <p class="help-block">Indiquez la/les essence(s) utilisées. <i>Exemple : <strong>Hêtre,Chêne</strong></i></p>
            {{ form_widget(form.woods) }}
            {{ form_label(form.tools, ('knowledge.tool.choice.tools'|transchoice(2)|capitalize)) }}
            {{ form_errors(form.tools) }}
            <p class="help-block">Indiquez les principaux outils utilisés. <i>Exemple : <strong>Rabot,Racloir</strong></i></p>
            {{ form_widget(form.tools) }}
            {{ form_label(form.finishes, ('knowledge.finish.choice.finishes'|transchoice(2)|capitalize)) }}
            {{ form_errors(form.finishes) }}
            <p class="help-block">Indiquez la/les finitions utilisées. <i>Exemple : <strong>Teinte,Vernis</strong></i></p>
            {{ form_widget(form.finishes) }}
        {% endblock %}
    {% endembed %}
    {% include 'LadbCoreBundle:Core/Tag:_form-section.part.html.twig' with { 'mandatory':true, 'help':'Indiquez les tags définissant votre création.' } %}
    {% include 'LadbCoreBundle:Wonder/Creation:_form-section-gallery.part.html.twig' with { 'maxCreationCount':4, 'title':('default.choice.inspirations'|transchoice(2)|capitalize), 'help':('wonder.creation.form.help.inspirations'|trans()), 'icon':'inspiration', 'linktoButtonLabel':('Ajouter une inspiration'), 'formCreations':form.inspirations, 'creations':form.vars.data.inspirations } %}
    {% include 'LadbCoreBundle:Wonder/Plan:_form-section-gallery.part.html.twig' with { 'maxPlanCount':4, 'help':('wonder.creation.form.help.plans'|trans()) } %}
    {% include 'LadbCoreBundle:Howto/Howto:_form-section-gallery.part.html.twig' with { 'maxHowtoCount':4, 'help':('wonder.creation.form.help.howtos'|trans()) } %}
    {% include 'LadbCoreBundle:Knowledge/Provider:_form-section-gallery.part.html.twig' with { 'maxProviderCount':10, 'help':('wonder.creation.form.help.providers'|trans()) } %}
    {% include 'LadbCoreBundle:Core/License:_form-section.part.html.twig' with { 'form':form.license } %}
{% endblock %}


