{% extends 'LadbCoreBundle:Wonder:_wonder-list-thumbnail.part.html.twig' %}

{% set wonder = creation %}

{% block entityMetas %}
    {% if wonder.inspirationCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_creation_inspirations', { 'id':wonder.id }) }}" data-tooltip="tooltip" title="{{ 'wonder.creation.choice.inspiration'|transchoice(wonder.reboundCount, { '%count%':wonder.inspirationCount }) }}"><i class="ladb-icon-inspiration ladb-color-inspiration"></i></a></li>
    {% endif %}
    {% if wonder.reboundCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_creation_rebounds', { 'id':wonder.id }) }}" data-tooltip="tooltip" title="{{ 'wonder.creation.choice.rebound'|transchoice(wonder.reboundCount, { '%count%':wonder.reboundCount }) }}"><i class="ladb-icon-rebound ladb-color-rebound"></i> <span class="ladb-color-rebound">{{ wonder.reboundCount }}</span></a></li>
    {% endif %}
    {% if wonder.planCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_creation_plans', { 'id':wonder.id }) }}" data-tooltip="tooltip" title="{{ 'wonder.creation.linked_to'|trans() }} {{ wonder.planCount }} {{ 'wonder.plan.choice.plans'|transchoice(wonder.planCount) }}"><i class="ladb-icon-plan"></i></a></li>
    {% endif %}
    {% if wonder.howtoCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_creation_howtos', { 'id':wonder.id }) }}" data-tooltip="tooltip" title="{{ 'wonder.creation.linked_to'|trans() }} {{ wonder.howtoCount }} {{ 'howto.howto.choice.howtos'|transchoice(wonder.howtoCount) }}"><i class="ladb-icon-howto"></i></a></li>
    {% endif %}
    {% if wonder.providerCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_creation_providers', { 'id':wonder.id }) }}" data-tooltip="tooltip" title="{{ 'wonder.creation.linked_to'|trans() }} {{ wonder.providerCount }} {{ 'knowledge.provider.choice.providers'|transchoice(wonder.providerCount) }}"><i class="ladb-icon-provider"></i></a></li>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Spotlight:_spotlight-star.part.html.twig' %}
{% endblock %}

