{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% if homepage %}
    {% set pageTitle = ('default.ladb'|trans())~' - '~('default.slogan'|trans()) %}
    {% set titleSuffixHidden = true %}
    {% set pageImage = asset('banner-600x376.jpg') %}
{% else %}
    {% set pageTitle = 'wonder.creation.list'|trans() %}
    {% set pageDescription = 'wonder.creation.description'|trans() %}
    {% set pageImage = asset('banner-creations-600x376.jpg') %}
{% endif %}
{% set pageSectionUrl = url('core_creation_list') %}
{% set pageSectionName = 'wonder.creation.list'|trans %}

{% set navSection = 'creations' %}
{% set masonry = true %}
{% set topbarTranslucent = homepage and spotlight is not null %}
{% set hideHeaderContainer = homepage and spotlight is not null %}

{% block headJavascripts %}
    {% if homepage %}
        <script type="application/ld+json">
        {
           "@context": "http://schema.org",
           "@type": "WebSite",
           "name": "L'Air du Bois",
           "url": "https://www.lairdubois.fr/",
           "logo": "https://www.lairdubois.fr/favicon-512x512.png"
           "potentialAction": {
             "@type": "SearchAction",
             "target": "http://www.lairdubois.fr/creations?q={query}",
             "query-input": "required name=query"
           },
           "sameAs": [ "https://www.facebook.com/LAirDuBois", "https://www.twitter.com/LAirDuBois", "https://plus.google.com/+LairduboisFr" ]
        }
        </script>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% if highlightedPost is defined and highlightedPost is not null %}
        <script>
            $(document).ready(function () {
                if ($(window).width() >= 768) { {# exlude mobiles #}
                    $("#ladb_corner_slider").cornerSlider({
                        right: 20,
                        bottom: 30,
                        cookieName: 'POSTHIGHLIGHTCS',
                        cookieValue: {{ highlightedPost.id }},
                        cookieMinutesToExpiry: 525600 {# 1 year #}
                    });
                }
            });
        </script>
    {% endif %}
{% endblock %}

{% block bodyHeaderContainer %}
    {% if homepage and spotlightEntity is defined and spotlightEntity is not null %}
        {% include constant('CLASS_NAME', spotlightEntity)~':_spotlight.part.html.twig' with { 'entity':spotlightEntity } %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% if not homepage or spotlightEntity is not defined or spotlightEntity is null %}
        {% include 'LadbCoreBundle:Wonder/Creation:_list-topbar.part.html.twig' %}
    {% endif %}
{% endblock %}

{% block bodyContainerContent %}
    {% if homepage and spotlightEntity is defined and spotlightEntity is not null %}
        <div class="ladb-fake-header">
            {% include 'LadbCoreBundle:Wonder/Creation:_list-topbar.part.html.twig' %}
        </div>
    {% endif %}
    {{ parent() }}
    {%  if highlightedPost is defined and highlightedPost is not null %}
        {% include 'LadbCoreBundle:Blog/Post:_corner-slider-thumbnail.part.html.twig' with { 'post':highlightedPost } %}
    {% endif %}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Wonder/Creation:_list-n.part.html.twig' %}
{% endblock %}