{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageUrl = url('core_creation_providers', { 'id':creation.id }) %}
{% set pageTitle = 'Fournisseurs associés à '~creation.title %}
{% set pageDescription = 'Fournisseurs associés à la création' %}

{% set navSection = 'creations' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':creation } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if providers.count == 0 %}
        <div class="alert alert-info">
            Aucun fournisseur n'est associé à cette création.
        </div>
    {% else %}
        <div class="panel panel-default ladb-margin-remove ladb-margin-top">
            <div class="panel-body">
                Liste des fournisseurs recencés par <a href="{{ path('core_user_show', { 'username':creation.user.usernameCanonical }) }}">{{ creation.user.displayname }}</a> pour la réalisation de la création <a href="{{ ladb_entity_url_action(creation) }}">{{ creation.title }}</a>.
            </div>
        </div>
        {% embed 'LadbCoreBundle:Knowledge/Provider:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_creation_providers_filter' %}
            {% set filterPathParameters = { 'id':creation.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ creation.providerCount }} {{ 'knowledge.provider.choice.providers'|transchoice(creation.providerCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Knowledge/Provider:_list-n.part.html.twig' %}
{% endblock %}