{% extends 'LadbCoreBundle:Wonder:_wonder-show.html.twig' %}

{% set wonderType = 'creation' %}
{% set wonder = creation %}
{% set userWonders = userCreations %}
{% set similarWonders = similarCreations %}

{% block headOpenGraphMetas %}
    {{ parent() }}
    {% if creation.inspirationCount > 0 %}
        {% for entity in creation.inspirations %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if creation.questionCount > 0 %}
        {% for entity in creation.questions %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if creation.planCount > 0 %}
        {% for entity in creation.plans %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if creation.howtoCount > 0 %}
        {% for entity in creation.howtos %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if creation.workflowCount > 0 %}
        {% for entity in creation.workflows %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if creation.providerCount > 0 %}
        {% for entity in creation.providers %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if creation.schoolCount > 0 %}
        {% for entity in creation.schools %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if creation.reboundCount > 0 %}
        {% for entity in creation.rebounds %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {

            {# Setup Feedback Widget #}
            $('.ladb-feedback-widget').ladbFeedbackWidget();

            setupPopovers();

        });
    </script>
{% endblock %}

{% block contentBody %}
    {% include 'LadbCoreBundle:Core/Feedback:_contains-panel.part.html.twig' %}
    {{ parent() }}
{% endblock %}

{% block contentMetasPanel %}
    {% include 'LadbCoreBundle:Core/Spotlight:_spotlight-meta.part.html.twig' %}
    {{ parent() }}
{% endblock %}

{% block baseMetas %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Feedback:_meta-counter.part.html.twig' %}
{% endblock %}

{% block characteristicsMetas %}
    <div class="ladb-meta{% if creation.woods|length == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-wood ladb-icon-fixed-center"></i>
        {% if searchableWoodCount > 0 %}
            <a href="{{ path('core_wood_list', { 'q':'@name:"'~searchableWoodQuery~'"' }) }}" rel="nofollow">
        {% endif %}
            <strong>{{ creation.woods|length }}</strong>
            {{ 'knowledge.wood.choice.entities'|transchoice(creation.woods|length) }}
        {% if searchableWoodCount > 0 %}
            </a>
        {% endif %}
        <ul>
            {% for wood in creation.woods %}
                <li class="ladb-value"><a href="{{ path('core_creation_list', { 'q':'@woods:"'~wood.label~'"' }) }}" class="ladb-cursor-filter" rel="nofollow">{{ wood.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="ladb-meta{% if creation.tools.count == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-tool ladb-icon-fixed-center"></i>
        {% if searchableToolCount > 0 %}
            <a href="{{ path('core_tool_list', { 'q':'@name:"'~searchableToolQuery~'"' }) }}" rel="nofollow">
        {% endif %}
            <strong>{{ creation.tools.count }}</strong>
            {{ 'knowledge.tool.choice.entities'|transchoice(creation.tools.count) }}
        {% if searchableToolCount > 0 %}
            </a>
        {% endif %}
        <ul>
            {% for tool in creation.tools %}
                <li class="ladb-value"><a href="{{ path('core_creation_list', { 'q':'@tools:"'~tool.label~'"' }) }}" class="ladb-cursor-filter" rel="nofollow">{{ tool.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="ladb-meta{% if creation.finishes.count == 0 %} text-muted{% endif %}">
        <span><i class="ladb-icon-finish ladb-icon-fixed-center"></i>&nbsp;<strong>{{ creation.finishes.count }}</strong> {{ 'knowledge.finish.choice.entities'|transchoice(creation.finishes.count) }}</span>
        <ul>
            {% for finish in creation.finishes %}
                <li class="ladb-value"><a href="{{ path('core_creation_list', { 'q':'@finishes:"'~finish.label~'"' }) }}" class="ladb-cursor-filter" rel="nofollow">{{ finish.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="ladb-meta{% if creation.hardwares.count == 0 %} text-muted{% endif %}">
        <span><i class="ladb-icon-hardware ladb-icon-fixed-center"></i>&nbsp;<strong>{{ creation.hardwares.count }}</strong> {{ 'knowledge.hardware.choice.entities'|transchoice(creation.hardwares.count) }}</span>
        <ul>
            {% for hardware in creation.hardwares %}
                <li class="ladb-value"><a href="{{ path('core_creation_list', { 'q':'@hardwares:"'~hardware.label~'"' }) }}" class="ladb-cursor-filter" rel="nofollow">{{ hardware.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block linksMetas %}
    {{ parent() }}
    {% if creation.inspirationCount > 0 %}
        <div class="ladb-meta">
            <i class="ladb-icon-inspiration ladb-icon-fixed-center"></i>
            <a href="{{ creation.inspirationCount == 1 ? path('core_creation_show', { 'id':creation.inspirations[0].sluggedId }) : path('core_creation_inspirations', { 'id':creation.id }) }}">
                <strong>{{ creation.inspirationCount }}</strong>
                <small>{{ 'default.choice.inspirations'|transchoice(creation.inspirationCount) }}</small>
            </a>
        </div>
    {% endif %}
    <div class="ladb-meta{% if creation.questionCount == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-question ladb-icon-fixed-center"></i>
        {% if creation.questionCount > 0 %}
            <a href="{{ creation.questionCount == 1 ? path('core_qa_question_show', { 'id':creation.questions[0].sluggedId }) : path('core_creation_questions', { 'id':creation.id }) }}">
        {% endif %}
        <strong>{{ creation.questionCount }}</strong>
        <small>{{ 'qa.question.choice.entities'|transchoice(creation.questionCount) }}</small>
        {% if creation.questionCount > 0 %}
            </a>
        {% endif %}
    </div>
    <div class="ladb-meta{% if creation.planCount == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-plan ladb-icon-fixed-center"></i>
        {% if creation.planCount > 0 %}
            <a href="{{ creation.planCount == 1 ? path('core_plan_show', { 'id':creation.plans[0].sluggedId }) : path('core_creation_plans', { 'id':creation.id }) }}">
        {% endif %}
        <strong>{{ creation.planCount }}</strong>
        <small>{{ 'wonder.plan.choice.entities'|transchoice(creation.planCount) }}</small>
        {% if creation.planCount > 0 %}
            </a>
        {% endif %}
    </div>
    <div class="ladb-meta{% if creation.howtoCount == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-howto ladb-icon-fixed-center"></i>
        {% if creation.howtoCount > 0 %}
            <a href="{{ creation.howtoCount == 1 ? path('core_howto_show', { 'id':creation.howtos[0].sluggedId }) : path('core_creation_howtos', { 'id':creation.id }) }}">
        {% endif %}
        <strong>{{ creation.howtoCount }}</strong>
        <small>{{ 'howto.howto.choice.entities'|transchoice(creation.howtoCount) }}</small>
        {% if creation.howtoCount > 0 %}
            </a>
        {% endif %}
    </div>
    <div class="ladb-meta{% if creation.workflowCount == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-workflow ladb-icon-fixed-center"></i>
        {% if creation.workflowCount > 0 %}
            <a href="{{ creation.workflowCount == 1 ? path('core_workflow_show', { 'id':creation.workflows[0].sluggedId }) : path('core_creation_workflows', { 'id':creation.id }) }}">
        {% endif %}
        <strong>{{ creation.workflowCount }}</strong>
        <small>{{ 'workflow.workflow.choice.entities'|transchoice(creation.workflowCount) }}</small>
        {% if creation.workflowCount > 0 %}
            </a>
        {% endif %}
    </div>
    <div class="ladb-meta{% if creation.providerCount == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-provider ladb-icon-fixed-center"></i>
        {% if creation.providerCount > 0 %}
            <a href="{{ creation.providerCount == 1 ? path('core_provider_show', { 'id':creation.providers[0].sluggedId }) : path('core_creation_providers', { 'id':creation.id }) }}">
        {% endif %}
        <strong>{{ creation.providerCount }}</strong>
        <small>{{ 'knowledge.provider.choice.entities'|transchoice(creation.providerCount) }}</small>
        {% if creation.providerCount > 0 %}
            </a>
        {% endif %}
    </div>
    <div class="ladb-meta{% if creation.schoolCount == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-school ladb-icon-fixed-center"></i>
        {% if creation.schoolCount > 0 %}
            <a href="{{ creation.schoolCount == 1 ? path('core_school_show', { 'id':creation.schools[0].sluggedId }) : path('core_creation_schools', { 'id':creation.id }) }}">
        {% endif %}
        <strong>{{ creation.schoolCount }}</strong>
        <small>{{ 'knowledge.school.choice.entities'|transchoice(creation.schoolCount) }}</small>
        {% if creation.schoolCount > 0 %}
            </a>
        {% endif %}
    </div>
    {% if creation.reboundCount > 0 %}
        <div class="ladb-meta">
            <i class="ladb-icon-rebound ladb-icon-fixed-center"></i>
            <a href="{{ creation.reboundCount == 1 ? path('core_creation_show', { 'id':creation.rebounds[0].sluggedId }) : path('core_creation_rebounds', { 'id':creation.id }) }}">
                <strong>{{ creation.reboundCount }}</strong>
                <small>{{ 'default.choice.rebounds'|transchoice(creation.reboundCount) }}</small>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block contentLinkedTo %}
    {% if creation.inspirationCount > 0 or creation.questionCount > 0 or creation.planCount > 0 or creation.howtoCount > 0 or creation.workflowCount > 0 or creation.providerCount > 0 or creation.schoolCount > 0 or creation.reboundCount > 0 %}
        {% embed 'LadbCoreBundle:Common:_linkedto-widget.part.html.twig' %}
            {% block body %}
                {% if creation.inspirationCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':creation.inspirationCount == 1 ? path('core_creation_show', { 'id':creation.inspirations[0].sluggedId }) : path('core_creation_inspirations', { 'id':creation.id }),
                        'picture':creation.inspirations[0].mainPicture,
                        'icon':'ladb-icon-inspiration',
                        'caption': creation.inspirationCount~' '~('default.choice.inspirations'|transchoice(creation.inspirationCount))
                    } %}
                {% endif %}
                {% if creation.questionCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':creation.questionCount == 1 ? path('core_qa_question_show', { 'id':creation.questions[0].sluggedId }) : path('core_creation_questions', { 'id':creation.id }),
                        'picture':creation.questions[0].mainPicture,
                        'icon':'ladb-icon-question',
                        'caption': creation.questionCount~' '~('qa.question.choice.entities'|transchoice(creation.questionCount)),
                        'emptyWebPath': 'empty_question.png'
                    } %}
                {% endif %}
                {% if creation.planCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':creation.planCount == 1 ? path('core_plan_show', { 'id':creation.plans[0].sluggedId }) : path('core_creation_plans', { 'id':creation.id }),
                        'picture':creation.plans[0].mainPicture,
                        'icon':'ladb-icon-plan',
                        'caption': creation.planCount~' '~('wonder.plan.choice.entities'|transchoice(creation.planCount))
                    } %}
                {% endif %}
                {% if creation.howtoCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':creation.howtoCount == 1 ? path('core_howto_show', { 'id':creation.howtos[0].sluggedId }) : path('core_creation_howtos', { 'id':creation.id }),
                        'picture':creation.howtos[0].mainPicture,
                        'icon':'ladb-icon-howto',
                        'caption': creation.howtoCount~' '~('howto.howto.choice.entities'|transchoice(creation.howtoCount))
                    } %}
                {% endif %}
                {% if creation.workflowCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':creation.workflowCount == 1 ? path('core_workflow_show', { 'id':creation.workflows[0].sluggedId }) : path('core_creation_workflows', { 'id':creation.id }),
                        'picture':creation.workflows[0].mainPicture,
                        'icon':'ladb-icon-workflow',
                        'caption': creation.workflowCount~' '~('workflow.workflow.choice.entities'|transchoice(creation.workflowCount)),
                        'emptyWebPath': 'empty_workflow.png'
                    } %}
                {% endif %}
                {% if creation.providerCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':creation.providerCount == 1 ? path('core_provider_show', { 'id':creation.providers[0].sluggedId }) : path('core_creation_providers', { 'id':creation.id }),
                        'picture':creation.providers[0].mainPicture,
                        'icon':'ladb-icon-provider',
                        'caption': creation.providerCount~' '~('knowledge.provider.choice.entities'|transchoice(creation.providerCount))
                    } %}
                {% endif %}
                {% if creation.schoolCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':creation.schoolCount == 1 ? path('core_school_show', { 'id':creation.schools[0].sluggedId }) : path('core_creation_schools', { 'id':creation.id }),
                        'picture':creation.schools[0].mainPicture,
                        'icon':'ladb-icon-school',
                        'caption': creation.schoolCount~' '~('knowledge.school.choice.entities'|transchoice(creation.schoolCount))
                    } %}
                {% endif %}
                {% if creation.reboundCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':creation.reboundCount == 1 ? path('core_creation_show', { 'id':creation.rebounds[0].sluggedId }) : path('core_creation_rebounds', { 'id':creation.id }),
                        'picture':creation.rebounds[0].mainPicture,
                        'icon':'ladb-icon-rebound',
                        'caption': creation.reboundCount~' '~('default.choice.rebounds'|transchoice(creation.reboundCount))
                    } %}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block contentFeedbacks %}
    {% include 'LadbCoreBundle:Core/Feedback:_widget.part.html.twig' %}
{% endblock %}
