{% extends "::base.html.twig" %}

{# set noStickyHeader (facultative) #}

{% set bodyClass = 'ladb-topbar-enabled ladb-bottombar-enabled ladb-leftbar-enabled' %}
{% set topbarTranslucent = topbarTranslucent|default(false) %}
{% set hideAboutAlert = hideAboutAlert|default(false) %}

{% block bodyJavascriptsInlineReady %}
    {{ parent() }}
    {% if topbarTranslucent %}
        $('.ladb-topbar').ladbTopbarTranslucent();
    {% endif %}
    {% if not noStickyHeader|default(false) %}
        if (window.innerHeight > 640) {
            $(".ladb-header").sticky({topSpacing: 50});
        }
    {% endif %}
{% endblock %}

{% block body %}
    {% embed '::_topbar.part.html.twig' %}
        {% block topbarLeftContent %}
            {{ parent() }}
            <li class="ladb-visible-mobile"><a href="#ladb_offcanvas_leftbar" data-uk-offcanvas><i class="ladb-icon-reorder ladb-icon-lg"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedCount' } %} <i class="ladb-icon-caret-right"></i></a></li>
            {% if searchPath is defined %}
                <li>{% include 'LadbCoreBundle:Core/Search:_widget.part.html.twig' with { 'searchFormClasses':'ladb-hidden-mobile' } %}</li>
            {% endif %}
        {% endblock %}
        {% block topbarRightContent %}
            {% if is_granted("ROLE_USER") %}
                <li class="ladb-hidden-mobile">
                    <a id="ladb_notification_btn" role="button" onclick="$('#notifications_modal').modal({ remote:'{{ path('core_notification_list') }}' }); $('#ladb_notification_badge').hide();">
                        <i class="ladb-icon-notifications ladb-icon-lg"></i>{% if app.user.freshNotificationCount > 0 %} <span id="ladb_notification_badge" class="badge badge-notification badge-notification-important ladb-notification-btn-badge">{{ app.user.freshNotificationCount }}</span>{% endif %}
                    </a>
                </li>
                <li class="ladb-hidden-mobile">
                    <a href="{{ path('core_message_mailbox') }}"{% if navSection is defined and navSection == 'messages' %} class="ladb-active"{% endif %}>
                        <i class="ladb-icon-message ladb-icon-lg"></i>{% if app.user.unreadMessageCount > 0 %} <span class="badge badge-notification badge-notification-important ladb-notification-btn-badge">{{ app.user.unreadMessageCount }}</span>{% endif %}
                    </a>
                </li>
                <li><a href="#ladb_offcanvas_logged_user_nav" data-uk-offcanvas><i class="ladb-icon-caret-left"></i> {% if app.user.unreadMessageCount > 0 or app.user.freshNotificationCount > 0 %}<span class="badge badge-notification badge-notification-important ladb-visible-mobile">{{ app.user.unreadMessageCount + app.user.freshNotificationCount }}</span>{% endif %}<span class="ladb-hidden-mobile"> {{ app.user.displayname }}</span> <img src="{{ (app.user.avatar ? app.user.avatar.webPath : 'avatar.png')|imagine_filter('32x32o') }}" width="32" height="32" class="img-rounded"></a></li>
            {% else %}
                <li><a href="{{ path('core_smartlogin') }}" rel="nofollow"><i class="ladb-icon-lock ladb-icon-lg"></i><span class="ladb-hidden-mobile"> {{ 'user.login'|trans() }}</span></a></li>
            {% endif %}
        {% endblock %}
    {% endembed %}
    {% embed '::_bottombar.part.html.twig' %}
        {% block bottomBarBlogPostNotificationBadge %}
            {{ parent() }}
            {% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedBlogPostCount' } %}
        {% endblock %}
        {% block bottomBarFaqQuestionNotificationBadge %}
            {{ parent() }}
            {% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedFaqQuestionCount' } %}
        {% endblock %}
    {% endembed %}
    {% if is_granted("ROLE_USER") %}
        <div id="ladb_offcanvas_logged_user_nav" class="uk-offcanvas">
            <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
                <div class="uk-panel uk-margin-bottom-remove">
                    <h3 class="uk-panel-title"><img src="{{ (app.user.avatar ? app.user.avatar.webPath : 'avatar.png')|imagine_filter('32x32o') }}" width="32" height="32" class="img-rounded"> {{ app.user.displayname }}</h3>
                </div>
                <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                    <li><a href="{{ path('core_user_show_me') }}"><i class="ladb-icon-profile"></i> {{ 'user.home'|trans() }}</a></li>
                    <li><a role="button" onclick="$.UIkit.offcanvas.hide(false); $('#notifications_modal').modal({ remote:'{{ path('core_notification_list') }}' }); $('.ladb-notification-btn-badge').hide();">{% if app.user.freshNotificationCount > 0 %} <span class="badge badge-notification badge-notification-important pull-right">{{ app.user.freshNotificationCount }}</span>{% endif %}<i class="ladb-icon-notifications"></i> {{ 'notification.nav'|trans() }}</a></li>
                    <li><a href="{{ path('core_message_mailbox') }}">{% if app.user.unreadMessageCount > 0 %} <span class="badge badge-notification badge-notification-important pull-right">{{ app.user.unreadMessageCount }}</span>{% endif %}<i class="ladb-icon-message"></i> {{ 'message.nav'|trans() }}</a></li>
                    <li><a href="{{ path('core_user_settings') }}"><i class="ladb-icon-settings ladb-icon-fixed-center"></i> {{ 'user.settings'|trans() }}</a></li>
                    <li><a href="{{ path('core_funding_user_donation_list') }}"><i class="ladb-icon-funding ladb-icon-fixed-center"></i> Mes dons</a></li>
                    <li><a href="{{ path('core_youtook_user_list') }}"><i class="ladb-icon-video ladb-icon-fixed-center"></i> {{ 'youtook.user_list'|trans() }}</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="ladb-icon-off ladb-icon-fixed-center"></i> {{ 'user.logout'|trans() }}</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    <div id="ladb_offcanvas_leftbar" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <div class="uk-panel">
                {% include 'LadbCoreBundle:Core/Search:_widget.part.html.twig' with { 'searchFormClasses':'ladb-search-expended' } %}
            </div>
            <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ path('core_creation_list') }}"><i class="ladb-icon-creation"></i> {{ 'wonder.creation.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedWonderCreationCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_qa_question_list') }}"><i class="ladb-icon-question"></i> {{ 'qa.question.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedQaQuestionCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_plan_list') }}"><i class="ladb-icon-plan"></i> {{ 'wonder.plan.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedWonderPlanCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_howto_list') }}"><i class="ladb-icon-howto"></i> {{ 'howto.howto.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedHowtoHowtoCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_workshop_list') }}"><i class="ladb-icon-workshop"></i> {{ 'wonder.workshop.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedWonderWorkshopCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_wood_list') }}"><i class="ladb-icon-wood"></i> {{ 'knowledge.wood.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedKnowledgeWoodCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_provider_list') }}"><i class="ladb-icon-provider"></i> {{ 'knowledge.provider.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedKnowledgeProviderCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_find_list') }}"><i class="ladb-icon-globe"></i> {{ 'find.find.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedFindFindCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_user_list') }}"><i class="ladb-icon-users"></i> {{ 'user.nav'|trans() }}</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ path('core_blog_post_list') }}"><i class="ladb-icon-blog"></i> {{ 'blog.post.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedBlogPostCount', 'classes':'pull-right' } %}</a></li>
                <li><a href="{{ path('core_faq_question_list') }}"><i class="ladb-icon-help"></i> {{ 'faq.question.nav'|trans() }}{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedFaqQuestionCount', 'classes':'pull-right' } %}</a></li>
            </ul>
        </div>
    </div>
    <nav class="ladb-leftbar">
        <a href="{{ path('core_creation_list') }}"{% if navSection is defined and navSection == 'creations' %} class="ladb-active"{% endif %}><i class="ladb-icon-creation"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedWonderCreationCount' } %}<div>{{ 'wonder.creation.nav'|trans() }}</div></a>
        <a href="{{ path('core_qa_question_list') }}" class="ladb-highlighted{% if navSection is defined and navSection == 'qa' %} ladb-active{% endif %}"><i class="ladb-icon-question"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedQaQuestionCount' } %}<div>{{ 'qa.question.nav'|trans() }}</div></a>
        <a href="{{ path('core_plan_list') }}" {% if navSection is defined and navSection == 'plans' %} class="ladb-active"{% endif %}><i class="ladb-icon-plan"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedWonderPlanCount' } %}<div>{{ 'wonder.plan.nav'|trans() }}</div></a>
        <a href="{{ path('core_howto_list') }}" {% if navSection is defined and navSection == 'howtos' %} class="ladb-active"{% endif %}><i class="ladb-icon-howto"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedHowtoHowtoCount' } %}<div>{{ 'howto.howto.nav'|trans() }}</div></a>
        <a href="{{ path('core_workshop_list') }}" {% if navSection is defined and navSection == 'workshops' %} class="ladb-active"{% endif %}><i class="ladb-icon-workshop"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedWonderWorkshopCount' } %}<div>{{ 'wonder.workshop.nav'|trans() }}</div></a>
        <a href="{{ path('core_wood_list') }}" {% if navSection is defined and navSection == 'woods' %} class="ladb-active"{% endif %}><i class="ladb-icon-wood"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedKnowledgeWoodCount' } %}<div>{{ 'knowledge.wood.nav'|trans() }}</div></a>
        <a href="{{ path('core_provider_list') }}" {% if navSection is defined and navSection == 'providers' %} class="ladb-active"{% endif %}><i class="ladb-icon-provider"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedKnowledgeProviderCount' } %}<div>{{ 'knowledge.provider.nav'|trans() }}</div></a>
        <a href="{{ path('core_find_list') }}" {% if navSection is defined and navSection == 'finds' %} class="ladb-active"{% endif %}><i class="ladb-icon-globe"></i>{% include 'LadbCoreBundle:Common:_notification-counter-badge.part.html.twig' with { 'valueName':'unlistedFindFindCount' } %}<div>{{ 'find.find.nav'|trans() }}</div></a>
        <a href="{{ path('core_user_list') }}" {% if navSection is defined and navSection == 'users' %} class="ladb-active"{% endif %}><i class="ladb-icon-users"></i><div>{{ 'user.nav'|trans() }}</div></a>
    </nav>
    {{ parent() }}
    {% if is_granted("ROLE_USER") %}{% include 'LadbCoreBundle:Core/Notification:_modal.part.html.twig' %}{% endif %}
{% endblock %}

{% block bodyHeader %}
    <header>
        <div class="ladb-alerts{% if topbarTranslucent %} ladb-alerts-translucent{% endif %}">
            {% if not is_granted("ROLE_USER") %}
                {% if not topbarTranslucent and not hideAboutAlert %}
                    <div class="alert alert-info">
                        <p><strong>L'Air du Bois</strong> est une plateforme <a href="{{ path('core_about_credits') }}" class="alert-link">Open Source</a> de partage collaboratif ouverte à tous les amoureux du <strong>travail du bois</strong>. <small><a href="{{ path('core_faq_question_list') }}" class="alert-link">(En savoir plus)</a></small></p>
                        <p>
                            <a href="{{ path('fos_user_registration_register') }}" rel="nofollow" class="btn btn-sm btn-primary"><i class="ladb-icon-plus"></i> {{ 'user.register'|trans() }}</a>
                            <a href="{{ path('core_smartlogin') }}" rel="nofollow" class="btn btn-sm btn-default"><i class="ladb-icon-lock"></i><span class="ladb-hidden-mobile"> {{ 'user.login'|trans() }}</span></a>
                        </p>
                    </div>
                {% endif %}
            {% elseif not app.user.emailConfirmed %}
                <div class="alert alert-info">
                    <p>
                        {{ 'user.email_confirmation.body'|trans() }}
                        <br>
                        <a href="{{ path('core_user_email_check') }}" class="alert-link">{{ 'user.email_confirmation.check.action'|trans() }}</a> {{ 'default.or'|trans }} <a href="#email_check_modal" class="alert-link" data-toggle="modal">{{ 'user.email_confirmation.check.modal_action'|trans() }}</a>
                    </p>
                </div>
                {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'email_check_modal', 'title':('user.email_confirmation.title'|trans()) } %}
                    {% block bodyInner %}
                        {{ 'user.email_confirmation.check.modal_body'|trans()|ladb_markdown|raw }}
                    {% endblock %}
                    {% block footerInner %}
                        <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                        <a href="{{ path('core_user_email_check') }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');">{{ 'user.email_confirmation.check.action'|trans() }}</a>
                    {% endblock %}
                {% endembed %}
            {% endif %}
            {% for key, message in app.session.flashbag.all %}
                <div class="alert alert-{{ key }}">
                    {{ message[0]|raw }}
                </div>
            {% endfor %}
        </div>
        {% block bodyHeaderContainer %}
            <div class="ladb-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {% block bodyHeaderContainerContent %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </header>
{% endblock %}

{% block bodyContainer %}
    <div id="content">
        {% block bodyContainerContent %}{% endblock %}
    </div>
{% endblock %}

{% block bodyFooter %}
    <footer>
        {% block bodyFooterContainer %}
            <div class="ladb-footer" style="background: #fff; border-top: 1px solid #ddd;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            {% block bodyFooterContainerContent %}
                                <p class="ladb-footer-slogan"><strong>L'Air du Bois</strong> est une plateforme <a href="{{ path('core_about_credits') }}" class="alert-link">Open Source</a> de partage collaboratif ouverte à tous les amoureux du <strong>travail du bois</strong>.</p>
                                <p class="text-center">
                                    <small>
                                        <a href="{{ path('core_faq_question_show', { 'id':'qu-est-ce-que-l-air-du-bois' }) }}" target="_blank" class="ladb-horizontal-separator-right">Qu'est-ce que L'Air du Bois ?</a>
                                        <a href="{{ path('core_faq_question_show', { 'id':'qui-est-derriere-l-air-du-bois' }) }}" target="_blank" class="ladb-horizontal-separator-right">Qui est derrière L'Air du Bois ?</a>
                                        <a href="{{ path('core_faq_question_show', { 'id':'comment-est-finance-l-air-du-bois' }) }}" target="_blank" >Comment est financé L'Air du Bois ?</a>
                                    </small>
                                </p>
                                <p class="ladb-footer-copyright">Découvrez, fabriquez, partagez.<br><a href="http://www.lairdubois.fr">www.lairdubois.fr</a></p>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </footer>
{% endblock %}
