{% extends 'LadbCoreBundle::layout.html.twig' %}

{% set pageType = 'video' %}
{% set pageTitle = video.title %}
{% set pageDescription = video.description|truncate(90) %}
{% set pageAuthor = video.channelTitle %}
{% set pageImage = video.thumbnailLoc %}
{% set pageVideo = 'https://www.youtube.com/v/'~video.embedIdentifier %}

{% set hideHeaderContainer = false %}
{% set bodyContainerClasses = 'ladb-margin-top' %}

{% block bodyHeaderContainerContent %}
    <div class="ladb-avatar-header">
        <img src="{{ video.channelThumbnailLoc }}" class="ladb-avatar img-rounded">
        <div class="ladb-body">
            <h1 class="ladb-heading">{{ pageTitle }}</h1>
            {% block subheading %}<span class="ladb-subheading">{{ 'default.by'|trans() }} <a href="https://www.youtube.com/channel/{{ video.channelId }}" target="_blank">{{ pageAuthor }}</a></span>{% endblock %}
        </div>
    </div>
{% endblock %}

{% block bodyContainerContent %}
    {{ ladb_video_player_frame(video.kind, video.embedIdentifier, 560, 420, 'ladb-margin-bottom thumbnail')|raw }}
    <p>
        <i class="ladb-icon-link ladb-icon-fixed-center"></i> <a href="{{ 'https://www.youtube.com/v/'~video.embedIdentifier }}" target="_blank" itemprop="url">{{ ('https://www.youtube.com/v/'~video.embedIdentifier)|truncate(50) }}</a>
    </p>
    <div class="panel">
        <div class="panel-body">
            Découvrez toutes les vidéos de <strong>{{ pageAuthor }}</strong> sur sa <a href="https://www.youtube.com/channel/{{ video.channelId }}" target="_blank">chaîne YouTube</a>.
        </div>
    </div>
{% endblock %}