{% extends 'layout.html.twig' %}

{# set tab #}

{% block bodyHeaderContainerContent %}
    <h1 class="ladb-heading">{{ 'default.about'|trans() }}</h1>
    <ul class="nav nav-tabs">
        <li{% if tab == 'legals' %} class="active"{% endif %}><a href="{{ path('core_about_legals' )}}">{{ 'default.legals'|trans() }}</a></li>
        <li{% if tab == 'credits' %} class="active"{% endif %}><a href="{{ path('core_about_credits' )}}">{{ 'default.credits'|trans() }}</a></li>
    </ul>
{% endblock %}
