{% extends 'Core/About:_layout.html.twig' %}

{% set pageTitle = ('default.ladb'|trans())~' - '~('default.credits'|trans()) %}
{% set titleSuffixHidden = true %}

{% set navSection = 'legals' %}
{% set tab = 'credits' %}

{% block bodyContainerContent %}
    <h3>Crédits techniques</h3>
    <p><em>L'Air du Bois</em> a son coeur applicatif qui lui est propre, développé par <a href="/zeloko">Boris Beaulant</a> et disponible en Open Source sous lience <a href="https://github.com/lairdubois/lairdubois/blob/master/LICENSE">GNU AGPLv3</a> sur son <a href="https://github.com/lairdubois/lairdubois">dépôt GitHub</a>.</p>
    <p>Mais l'aventure ne serait pas possible sans le travail des auteurs des briques logiciels <a href="https://fr.wikipedia.org/wiki/Open_source">Open Source</a> suivantes :</p>
    <ul>
        {% for credit in credits %}
            <li>
                <a href="{{ credit['url'] }}">{{ credit['name'] }}</a>
                {% if credit['desc'] is defined %} <small>({{ credit['desc'] }})</small>{% endif %}
                {% if credit['labels'] is defined %}
                    {% for label in credit['labels'] %}
                        <span class="label label-default">{{ label }}</span>
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left"><a href="https://www.jetbrains.com/"><img src="{{ asset('bundles/ladbcore/ladb/images/logo-jetbrains.svg') }}" height="100"></a></div>
                <div class="media-body">
                    <div style="height: 100px; line-height: 100px;">
                        <span style="vertical-align: middle; line-height: normal; display: inline-block">Un remerciement particulier à <a href="https://www.jetbrains.com/">JetBrains</a> pour leur soutien à ce projet par leur <a href="https://www.jetbrains.com/buy/opensource/">Licence spéciale pour les projets Open Source</a>.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}