{% form_theme form 'LadbCoreBundle:Common:_form-theme.twig.twig' 'LadbCoreBundle:Core/Block:_form-theme.html.twig' %}

<div class="ladb-answer-form">
    <div class="ladb-box">
        <div class="ladb-box-inner">
            <h4>{% block title %}{% endblock %}</h4>
            {{ form_start(form, { 'action':formAction, 'method':'POST', 'attr':{ 'novalidate':'novalidate' } }) }}
                {% block sections %}
                    {{ form_errors(form) }}
                    {% include 'LadbCoreBundle:Core/Block:_form-section-body-inner.part.html.twig' with { 'hideFaqHelp':true } %}
                {% endblock %}
                {{ form_rest(form) }}
            {{ form_end(form) }}
            <div class="ladb-margin-top">
                {% block footerInner %}
                    <button class="btn btn-default ladb-btn-cancel">{{ 'default.cancel'|trans() }}</button>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
