<div id="ladb_answer_row_{{ answer.id }}" class="ladb-answer-row">
    <div class="ladb-box">
        <div class="ladb-box-inner row">
            <div class="ladb-content-box col-sm-11 col-xs-12">
                {% include 'LadbCoreBundle:Core/User:_avatar-link.part.html.twig' with { 'user':answer.user, 'linkClasses':'ladb-avatar', 'noMicrodata':true } %}
                <div class="ladb-heading">
                    <div class="ladb-minitools">
                        {% if is_granted("ROLE_ADMIN") or answer.user == app.user %}
                            <a href="{{ path('core_qa_answer_edit', { 'id':answer.id }) }}" data-tooltip="tooltip" title="{{ 'default.edit'|trans() }}" class="ladb-btn-edit"><i class="ladb-icon-edit"></i></a>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="#delete_answer_{{ answer.id }}_modal" data-toggle="modal" data-tooltip="tooltip" title="{{ 'default.delete'|trans() }}" class="ladb-btn-delete"><i class="ladb-icon-delete"></i></a>
                            {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'delete_answer_'~answer.id~'_modal', 'title':('default.deletion'|trans()), 'appendTo':'body' } %}
                                {% block bodyInner %}
                                    <p>La suppression de cette réponse entrainera la perte de toutes les informations qui lui sont relatives.</p>
                                    <p>Confirmez l'action pour continuer.</p>
                                {% endblock %}
                                {% block footerInner %}
                                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                    <a href="{{ path('core_qa_answer_delete', { 'id':answer.id }) }}" class="btn btn-danger ladb-btn-delete" data-loading-text="{{ 'default.loading'|trans() }}"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}</a>
                                {% endblock %}
                            {% endembed %}
                        {% endif %}
                    </div>
                    {% include 'LadbCoreBundle:Common:_author.part.html.twig' with { 'entity':answer, 'hideBy':true } %}{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'entity':answer, 'classes':'ladb-visible-desktop' } %}
                </div>
                <div class="ladb-content">
                    {% for block in answer.bodyBlocks %}
                        {% include 'LadbCoreBundle:Core/Block:_show-'~block.strippedName~'.part.html.twig' %}
                    {% endfor %}
                    {% if answer.updatedAt > answer.createdAt %}
                        {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':answer } %}
                    {% endif %}
                </div>
                {% include 'LadbCoreBundle:Qa:_comments.part.html.twig' with { 'entity':answer } %}
            </div>
            <div class="col-sm-1 col-xs-12">
                {% include 'LadbCoreBundle:Core/Vote:_widget.part.html.twig' with { 'voteContext':voteContext, 'voteUpTooltip':('qa.tooltip.vote_up'|trans()), 'voteDownTooltip':('qa.tooltip.vote_down'|trans()) } %}
            </div>
        </div>
    </div>
</div>