
{# set resource #}
{# set formSection #}

{% set id = resource is defined ? resource.id : '000' %}
{% set name = resource is defined ? resource.fileName : 'NAME' %}
{% set size = resource is defined ? (resource.fileSize|ladb_file_size_format) : 'SIZE' %}
{% set sortable = sortable is defined ? sortable : false %}

<li id="resource_{{ id }}" class="ladb-resource ladb-form-thumbnail">
    <div class="ladb-tools">
        <a href="#" class="btn btn-xs btn-danger" onclick="{{ formSection }}RemoveResource({{ id }});return false;">{{ 'default.remove'|trans() }}</a>
    </div>
    <div class="ladb-box">
        <i class="ladb-icon-file ladb-icon-lg ladb-icon"></i>
        <div class="ladb-body">
            <div class="ladb-heading">{{ name }}</div>
            <div class="ladb-subheading">{{ size }}</div>
        </div>
    </div>
</li>