{# set formResources #}
{# set resources #}
{# set maxResourceCount #}
{# set help (facultative) #}
{# set mandatory (facultative) #}
{# set sortable (facultative) #}

{% set formResources = formResources is defined ? formResources : form.resources %}
{% set resources = resources is defined ? resources : form.vars.data.resources %}
{% set maxResourceCount = maxResourceCount is defined ? maxResourceCount : form.vars.data.maxResourceCount %}
{% set formSection = formSection is defined ? formSection : 'resources' %}
{% set mandatory = mandatory is defined ? mandatory : false %}
{% set sortable = sortable is defined ? sortable : false %}

{% if help is defined %}<p class="help-block"><i>{{ help|raw }}</i></p>{% endif %}
<p class="help-block"><i>Taille maximale par fichier : <strong>{{  constant('\\Ladb\\CoreBundle\\Entity\\Core\\Resource::DEFAULT_MAX_FILE_SIZE')|ladb_file_size_format }}</strong></i></p>
{% if mandatory and maxResourceCount > 1 %}
    <p class="help-block"><i>{{ 'resource.form.choice.mandatory'|transchoice(maxResourceCount) }}</i></p>
{% endif %}
{{ form_errors(formResources) }}
{{ form_widget(formResources) }}
<ul id="{{ formSection }}_thumbnails" class="ladb-form-thumbnails">
    {% spaceless %}
    {% for resource in resources %}
        {% include 'LadbCoreBundle:Core/Resource:_form-thumbnail.part.html.twig' %}
    {% endfor %}
    {% endspaceless %}
</ul>
<div id="{{ formSection }}_fileupload" {% if resources|length >= maxResourceCount %}style="display: none;"{% endif %}>
    <div class="progress progress-striped" role="progressbar" style="display: none;">
        <div class="progress-bar" role="progressbar"></div>
    </div>
    <span class="btn btn-success ladb-fileinput-button">
        <i class="ladb-icon-plus"></i>
        <span>{{ (maxResourceCount > 1 ? 'resource.add_multiple' : 'resource.add_one')|trans() }}</span>
        <input type="file" name="files[]" data-url="{{ path('core_resource_upload') }}"{% if maxResourceCount > 1 %} multiple{% endif %}>
    </span>
</div>
{% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'edit_'~formSection~'_modal', 'title':'Modification', 'embeddedBody':true } %}
    {% block bodyInner %}
        <iframe id="edit_{{ formSection }}_modal_iframe" src="" frameborder="0" width="100%" height="290"></iframe>
    {% endblock %}
    {% block footer %}{% endblock %}
{% endembed %}