
{# set resource #}
{# set formSection #}

{% set id = resource is defined ? resource.id : '000' %}
{% set name = resource is defined ? resource.fileName : 'NAME' %}
{% set size = resource is defined ? (resource.fileSize|ladb_file_size_format) : 'SIZE' %}
{% set sortable = sortable is defined ? sortable : false %}

<li id="resource_{{ id }}" class="ladb-resource ladb-form-thumbnail">
    <div class="ladb-tools">
        <a href="#" class="btn btn-xs btn-danger" onclick="{{ formSection }}RemoveResource({{ id }});return false;">{{ 'default.remove'|trans() }}</a>
    </div>
    <div class="ladb-box">
        {% if resource is defined %}
            {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':resource.thumbnail, 'width':64, 'height':64, 'filter':'o', 'noSizer': true, 'imgClasses':'pull-left' } %}
        {% else %}
            <i class="ladb-icon-file ladb-icon-lg ladb-icon"></i>
        {% endif %}
        <div class="ladb-body" style="min-height: 64px; margin-left: 68px; border-left: 1px solid #eee; padding-left: 10px; padding-top: 12px;">
            <div class="ladb-heading" style="font-size: 120%;">{{ name }}</div>
            <div class="ladb-subheading">{{ size }}</div>
        </div>
    </div>
</li>