{% extends 'LadbCoreBundle:Wonder:_wonder-show.html.twig' %}

{% set pageTitlePrefix = '[Plan]' %}

{% set wonderType = 'plan' %}
{% set wonder = plan %}
{% set userWonders = userPlans %}
{% set similarWonders = similarPlans %}

{% block headOpenGraphMetas %}
    {{ parent() }}
    {% if plan.inspirationCount > 0 %}
        {% for entity in plan.inspirations %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if plan.howtoCount > 0 %}
        {% for entity in plan.howtos %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if plan.creationCount > 0 %}
        {% for entity in plan.creations %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if plan.workshopCount > 0 %}
        {% for entity in plan.workshops %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if plan.reboundCount > 0 %}
        {% for entity in plan.rebounds %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block baseMetas %}
    {{ parent() }}
    <div class="ladb-meta{% if plan.downloadCount == 0 %} text-muted{% endif %}">
        <i class="ladb-icon-unpublish ladb-icon-fixed-center"></i>
        <strong>{{ plan.downloadCount|number_format(0, ',', ' ') }}</strong>
        <small>{{ 'default.choice.downloads'|transchoice(plan.downloadCount) }}</small>
        <meta itemprop="interactionCount" content="UserDownloads:{{ plan.downloadCount }}"/>
    </div>
{% endblock %}

{% block characteristicsMetas %}
    <div class="ladb-meta">
        <span class="pull-right">
            {% for kind in plan.kinds %}
                {% include 'LadbCoreBundle:Core/Resource:_meta-kind-'~kind~'.part.html.twig' %}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        <span><i class="ladb-icon-info ladb-icon-fixed-center"></i>&nbsp;Format</span>
    </div>
    <div class="ladb-meta">
        <span class="pull-right">{{ plan.zipArchiveSize|ladb_file_size_format }}</span>
        <span><i class="ladb-icon-weight ladb-icon-fixed-center"></i>&nbsp;Taille</span>
    </div>
    <div class="ladb-meta">
        <span><i class="ladb-icon-file ladb-icon-fixed-center"></i>&nbsp;{{ plan.resources|length }} {{ 'default.choice.files'|transchoice(plan.resources|length) }}</span>
    </div>
    <div class="ladb-btn">
        <a href="{{ path('core_plan_download', { 'id':plan.id }) }}" class="btn btn-primary btn-expand btn-lg"><i class="ladb-icon-unpublish ladb-icon-lg"></i> {{ 'wonder.plan.download'|trans() }}</a>
    </div>
{% endblock %}

{% block wonderShowcase %}
    {% if plan.sketchup3DWarehouseEmbedIdentifier is not null %}
        <style>
            #ladb_3dwarehouse_viewer .tip {
                margin-top: 2px;
                text-align: center;
                color: #999;
            }
        </style>
        <div id="ladb_3dwarehouse_viewer" class="thumbnail">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://3dwarehouse.sketchup.com/embed.html?mid={{ plan.sketchup3DWarehouseEmbedIdentifier }}&width=695&height=390" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
            </div>
            <div class="tip"><small>Cliquez sur l'image pour un affichage en 3D</small></div>
        </div>
        <script>
            var loadCount = 0;
            $('#ladb_3dwarehouse_viewer iframe').on('load', function(e) {
                loadCount++;
                if (loadCount > 1) {
                    $('#ladb_3dwarehouse_viewer .tip').remove();
                }
            });
        </script>
        <div class="ladb-wonder-showcase row">
            {% for index in 0..5 %}
                <div class="col-xs-6 col-md-2">
                    {% if index < wonder.pictures.count %}
                        {% include 'LadbCoreBundle:Core/Picture:_img-link.part.html.twig' with { 'picture':wonder.pictures[index], 'width':'128', 'height':'128', 'alt':wonder.title, 'attributes':'nopin="nopin"', 'aClasses':'ladb-margin-top' } %}
                    {% else %}
                        <span class="thumbnail thumbnail-empty{% if index > 2 and wonder.pictures.count <= 3  %} ladb-hidden-mobile ladb-hidden-tablet{% endif %} ladb-margin-top"><img src="{{ 'empty.png'|imagine_filter('128x128o') }}" alt="empty" nopin="nopin"></span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <hr>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block wonderMetas %}
    {{ parent() }}
    <div class="ladb-metas">
        <h4 class="ladb-heading">{{ 'default.links'|trans() }}</h4>
        {% if plan.inspirationCount > 0 or plan.reboundCount > 0 or plan.howtoCount > 0 or plan.creationCount > 0 or plan.workshopCount > 0 %}
            {% if plan.inspirationCount > 0 %}
                <div class="ladb-meta">
                    <i class="ladb-icon-inspiration ladb-icon-fixed-center"></i>
                    <a href="{{ plan.inspirationCount == 1 ? path('core_plan_show', { 'id':plan.inspirations[0].sluggedId }) : path('core_plan_inspirations', { 'id':plan.id }) }}">
                        <strong>{{ plan.inspirationCount }}</strong>
                        <small>{{ 'default.choice.inspirations'|transchoice(plan.inspirationCount) }}</small>
                    </a>
                </div>
            {% endif %}
            {% if plan.howtoCount > 0 %}
                <div class="ladb-meta">
                    <i class="ladb-icon-howto"></i>
                    <a href="{{ plan.howtoCount == 1 ? path('core_howto_show', { 'id':plan.howtos[0].sluggedId }) : path('core_plan_howtos', { 'id':plan.id }) }}">
                        <strong>{{ plan.howtoCount }}</strong>
                        <small>{{ 'howto.howto.choice.howtos'|transchoice(plan.howtoCount) }}</small>
                    </a>
                </div>
            {% endif %}
            {% if plan.creationCount > 0 %}
                <div class="ladb-meta">
                    <i class="ladb-icon-creation"></i>
                    <a href="{{ plan.creationCount == 1 ? path('core_creation_show', { 'id':plan.creations[0].sluggedId }) : path('core_plan_creations', { 'id':plan.id }) }}">
                        <strong>{{ plan.creationCount }}</strong>
                        <small>{{ 'wonder.creation.choice.creations'|transchoice(plan.creationCount) }}</small>
                    </a>
                </div>
            {% endif %}
            {% if plan.workshopCount > 0 %}
                <div class="ladb-meta">
                    <i class="ladb-icon-workshop"></i>
                    <a href="{{ plan.workshopCount == 1 ? path('core_workshop_show', { 'id':plan.workshops[0].sluggedId }) : path('core_plan_workshops', { 'id':plan.id }) }}">
                        <strong>{{ plan.workshopCount }}</strong>
                        <small>{{ 'wonder.workshop.choice.workshops'|transchoice(plan.workshopCount) }}</small>
                    </a>
                </div>
            {% endif %}
            {% if plan.reboundCount > 0 %}
                <div class="ladb-meta">
                    <i class="ladb-icon-rebound ladb-icon-fixed-center"></i>
                    <a href="{{ plan.reboundCount == 1 ? path('core_plan_show', { 'id':plan.rebounds[0].sluggedId }) : path('core_plan_rebounds', { 'id':plan.id }) }}">
                        <strong>{{ plan.reboundCount }}</strong>
                        <small>{{ 'default.choice.rebounds'|transchoice(plan.reboundCount) }}</small>
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="ladb-meta">
                <small class="text-muted">{{ 'default.no_links'|trans() }}</small>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block contentLinkedTo %}
    {% if plan.inspirationCount > 0 or plan.reboundCount > 0 or plan.howtoCount > 0 or plan.creationCount > 0 or plan.workshopCount > 0 %}
        {% embed 'LadbCoreBundle:Common:_linkedto-widget.part.html.twig' %}
            {% block body %}
                {% if plan.inspirationCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':plan.inspirationCount == 1 ? path('core_plan_show', { 'id':plan.inspirations[0].sluggedId }) : path('core_plan_inspirations', { 'id':plan.id }),
                        'picture':plan.inspirations[0].mainPicture,
                        'icon':'ladb-icon-inspiration',
                        'caption': plan.inspirationCount~' '~('default.choice.inspirations'|transchoice(plan.inspirationCount))
                    } %}
                {% endif %}
                {% if plan.howtoCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':plan.howtoCount == 1 ? path('core_howto_show', { 'id':plan.howtos[0].sluggedId }) : path('core_plan_howtos', { 'id':plan.id }),
                        'picture':plan.howtos[0].mainPicture,
                        'icon':'ladb-icon-howto',
                        'caption': plan.howtoCount~' '~('howto.howto.choice.howtos'|transchoice(plan.howtoCount))
                    } %}
                {% endif %}
                {% if plan.creationCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':plan.creationCount == 1 ? path('core_creation_show', { 'id':plan.creations[0].sluggedId }) : path('core_plan_creations', { 'id':plan.id }),
                        'picture':plan.creations[0].mainPicture,
                        'icon':'ladb-icon-creation',
                        'caption': plan.creationCount~' '~('wonder.creation.choice.creations'|transchoice(plan.creationCount))
                    } %}
                {% endif %}
                {% if plan.workshopCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':plan.workshopCount == 1 ? path('core_workshop_show', { 'id':plan.workshops[0].sluggedId }) : path('core_plan_workshops', { 'id':plan.id }),
                        'picture':plan.workshops[0].mainPicture,
                        'icon':'ladb-icon-workshop',
                        'caption': plan.workshopCount~' '~('wonder.workshop.choice.workshops'|transchoice(plan.workshopCount))
                    } %}
                {% endif %}
                {% if plan.reboundCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':plan.reboundCount == 1 ? path('core_plan_show', { 'id':plan.rebounds[0].sluggedId }) : path('core_plan_rebounds', { 'id':plan.id }),
                        'picture':plan.rebounds[0].mainPicture,
                        'icon':'ladb-icon-rebound',
                        'caption': plan.reboundCount~' '~('default.choice.rebounds'|transchoice(plan.reboundCount))
                    } %}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}