{% extends 'Common/Layout/_form.html.twig' %}

{% set navSection = 'faq' %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'Common/_form-token-script.part.html.twig' with { 'fieldId':form.tags.vars.id, 'proposals':tagProposals, 'proposalsHelp':('tag.token.proposals.help'|trans()), 'help':('tag.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_tags_json')|raw) } %}
{% endblock %}

{% block sidenav %}
    {{ parent() }}
    {% include 'Common/_form-sidenav-title.part.html.twig' %}
    <li><a href="#icon"><i class="ladb-icon-camera"></i> {{ 'faq.question.icon'|trans() }}</a></li>
    {% include 'Core/Block:_form-sidenav-body.part.html.twig' %}
    <li><a href="#toc"><i class="ladb-icon-characteristics"></i> {{ 'default.toc'|trans() }}</a></li>
    <li><a href="#weight"><i class="ladb-icon-weight"></i> {{ 'faq.question.weight'|trans() }}</a></li>
    {% include 'Core/Tag:_form-sidenav.part.html.twig' %}
{% endblock %}

{% block sections %}
    {{ parent() }}
    {% include 'Common/_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('faq.question.form.help.title'|trans()) } %}
    {% embed 'Common/_form-section.part.html.twig' with { 'icon':'camera', 'title':('faq.question.icon'|trans()), 'formSection':'icon' } %}
        {% block body %}
            {{ form_errors(form.icon) }}
            <div class="input-group">
                <span class="input-group-addon">ladb-icon-</span>
                {{ form_widget(form.icon) }}
            </div>
        {% endblock %}
    {% endembed %}
    {% include 'Core/Block:_form-section-body.part.html.twig' with { 'mandatory':true } %}
    {% embed 'Common/_form-section.part.html.twig' with { 'icon':'characteristics', 'title':('default.toc'|trans()), 'formSection':'toc' } %}
        {% block body %}
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.hasToc) }}
                        {{ 'faq.question.has_toc'|trans }}
                    </label>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    {% embed 'Common/_form-section.part.html.twig' with { 'icon':'weight', 'title':('faq.question.weight'|trans()), 'formSection':'weight' } %}
        {% block body %}
            {{ form_errors(form.weight) }}
            {{ form_widget(form.weight) }}
        {% endblock %}
    {% endembed %}
    {% include 'Core/Tag:_form-section.part.html.twig' with { 'help':'Indiquez les tags définissant votre sujet.' } %}
{% endblock %}
