{% extends 'LadbCoreBundle:Common:_show.html.twig' %}

{% set entity = question %}

{% set pageSectionUrl = url('core_faq_question_list') %}
{% set pageSectionName = 'faq.question.list'|trans %}

{% set navSection = 'faq' %}
{% set searchPath = path('core_faq_question_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == question.user.id %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':question } %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% if not ownerUser %}
                    {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% endif %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Core/Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                {% if not ownerUser %}
                    &nbsp;
                    {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':question.type, 'entityId':question.id } %}
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="{{ path('core_faq_question_edit', { 'id':question.id }) }}" class="btn btn-default"><i class="ladb-icon-edit"></i><span class="ladb-visible-desktop"> {{ 'default.edit'|trans() }}</span></a>
                    {% if not question.isDraft %}
                        <a href="#unpublish_question_modal" class="btn btn-default" data-toggle="modal" ><i class="ladb-icon-unpublish"></i><span class="ladb-visible-desktop"> {{ 'default.unpublish'|trans() }}</span></a>
                        {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'unpublish_question_modal', 'title':('default.unpublishing'|trans()) } %}
                            {% block bodyInner %}
                                <p>La dépublication de <strong>{{ question.title }}</strong> le rendra invisible pour les autres utilisateurs.</p>
                                <p>Confirmez l'action pour continuer.</p>
                            {% endblock %}
                            {% block footerInner %}
                                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                <a href="{{ path('core_faq_question_unpublish', { 'id':question.id }) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a>
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                    <a href="#delete_question_modal" class="btn btn-danger" data-toggle="modal"><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                    {% include 'LadbCoreBundle:Common:_delete-entity-modal.part.html.twig' with { 'id':'delete_question_modal', 'entityTitle':question.title, 'deletePath':path('core_faq_question_delete', { 'id':question.id }) } %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyContainerContent %}
    {% if question.isDraft %}
        {% include 'LadbCoreBundle:Faq/Question:_draft-alert.part.html.twig' %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block contentBody %}
    <div class="ladb-question">
        <div class="ladb-body" itemprop="articleBody">
            {% for block in question.bodyBlocks %}
                {% include 'LadbCoreBundle:Core/Block:_show-'~block.strippedName~'.part.html.twig' %}
            {% endfor %}
        </div>
    </div>
    {% if question.updatedAt > question.createdAt %}
        {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':question } %}
    {% endif %}
    {% if not ownerUser %}
        {% include 'LadbCoreBundle:Common:_like-and-follow.part.html.twig' %}
    {% endif %}
    {% if similarQuestions is not empty %}
        <div class="panel panel-default ladb-linkedto-panel ladb-margin-top">
            <div class="panel-heading">{{ 'faq.question.links'|trans() }}</div>
            <div class="panel-body">
                <ul>
                    {% for similarQuestion in similarQuestions %}
                        <li>{% if similarQuestion.icon is not empty %}<i class="ladb-icon-{{ similarQuestion.icon }}"></i>&nbsp;{% endif %}<a href="{{ path('core_faq_question_show', { 'id':similarQuestion.sluggedId }) }}">{{ similarQuestion.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' %}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
    </div>
    {% include 'LadbCoreBundle:Core/Tag:_metas.part.html.twig' with { 'tags':question.tags, 'type':'questions' } %}
{% endblock %}
