{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{# set event #}

{% set entity = event %}

{% block title %}
    <i class="ladb-icon-date"></i> {{ parent() }}
{% endblock %}

{% block image %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Event/Event:_event-calendar.part.html.twig' %}
{% endblock %}

{% block entityMetas %}
    {{ parent() }}
    {% if entity.joinCount > 0 %}
        <li class="ladb-counter"><i class="ladb-icon-users"></i> <span>{{ entity.joinCount|number_format(0, ',', ' ') }}</span></li>
    {% endif %}
    {% if event.cancelled %}
        <span class="label label-danger"><i class="ladb-icon-warning"></i> {{ 'event.event.cancelled'|trans() }}</span>
    {% elseif event.status == constant('Ladb\\CoreBundle\\Entity\\Event\\Event::STATUS_SCHEDULED') %}
        <span class="label label-info">{{ event.startAt|time_diff()|capitalize }}</span>
    {% elseif event.status == constant('Ladb\\CoreBundle\\Entity\\Event\\Event::STATUS_RUNNING') %}
        <span class="label label-success">{{ 'event.event.running'|trans() }}</span>
    {% elseif event.status == constant('Ladb\\CoreBundle\\Entity\\Event\\Event::STATUS_COMPLETED') %}
        <span class="label label-danger">{{ 'event.event.completed'|trans() }}</span>
    {% endif %}
{% endblock %}