{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% use 'LadbCoreBundle:Common:map.blocks.html.twig' %}

{% set pageTitle = 'event.event.list'|trans() %}
{% set pageDescription = 'event.event.description'|trans() %}
{% set pageImage = asset('banner-events-600x376.jpg') %}
{% set pageSectionUrl = url('core_event_list') %}
{% set pageSectionName = 'event.event.list'|trans %}

{% set navSection = 'events' %}
{% set masonry = true %}
{% set topbarTranslucent = false %}
{% set hideHeaderContainer = false %}
{% set countableEntityList = true %}
{% set hideMapArea = true %}

{% block headStylesheets %}
    {{ parent() }}
    {{ block('mapAreaStylesheets') }}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('mapAreaJavascripts') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/jquery-clndr/clndr.min.js'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.eventspage.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/template" id="template-calendar">
        <div class="clndr-controls media">
            <div class="clndr-control-button media-left">
                <span class="clndr-previous-button btn btn-default"><i class="ladb-icon-chevron-left"></i></span>
            </div>
            <div class="month media-body"><%= month %> <%= year %></div>
            <div class="clndr-control-button media-right">
                <span class="clndr-next-button btn btn-default"><i class="ladb-icon-chevron-right"></i></span>
            </div>
        </div>
        <table class="clndr-table" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr class="header-days">
                    <% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
                        <td class="header-day"><%= daysOfTheWeek[i] %></td>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < numberOfRows; i++){ %>
                    <tr>
                        <% for(var j = 0; j < 7; j++){ %>
                            <% var d = j + i * 7; %>
                            <td class="<%= days[d].classes %>" data-tooltip="tooltip" data-html="true" title="<% for(var e = 0; e < days[d].events.length; e++){ %><%= days[d].events[e].title %><br><% } %>">
                                <div class="day-contents">
                                    <%= days[d].day %>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </script>
    <script>
        $(document).ready(function() {
            $('body').ladbEventsPage({
                query: '{{ q is defined ? q|raw|escape('js') : '' }}',
                jsonListPath: '{{ path('core_event_list_json') }}',
                listPath: '{{ path('core_event_list') }}'
            });
        });
    </script>
{% endblock %}

{% block bodyHeaderContainer %}
    {% include 'LadbCoreBundle:Common:_map-area.part.html.twig' with { 'classes':'ladb-map-banner' } %}
    {{ parent() }}
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Event/Event:_list-topbar.part.html.twig' %}
{% endblock %}

{% block autopagerContainerInner %}
    <div class="ladb-masonry-item ladb-masonry-column ladb-masonry-stamp" style="position: absolute; right: 0;">
        <div class="ladb-box">
            <div id="ladb_calendar" class="ladb-clndr"></div>
        </div>
    </div>
    {% include 'LadbCoreBundle:Event/Event:_list-n.part.html.twig' %}
{% endblock %}