<div id="ladb_comment_{{ comment.id }}" itemprop="comment" itemscope itemtype="http://schema.org/Comment" class="ladb-comment-row">
    {% block minitools %}
        <div class="ladb-minitools">
            {% if is_granted("ROLE_ADMIN") or comment.user == app.user %}
                <a href="#" onclick="editComment({{ comment.id }}, '{{ path('core_comment_edit', { 'id':comment.id }) }}');return false;" data-tooltip="tooltip" title="{{ 'default.edit'|trans() }}"><i class="ladb-icon-edit"></i></a>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <a href="#" onclick="deleteComment({{ comment.id }}, '{{ path('core_comment_delete', { 'id':comment.id }) }}');return false;" data-tooltip="tooltip" title="{{ 'default.delete'|trans() }}" class="ladb-minitool-danger"><i class="ladb-icon-delete"></i></a>
            {% endif %}
            {% if comment.user != app.user %}
                {% include 'LadbCoreBundle:Report:_widget-mini.part.html.twig' with { 'entityType':comment.type, 'entityId':comment.id } %}
            {% endif %}
        </div>
    {% endblock %}
    {% include 'LadbCoreBundle:User:_avatar-link.part.html.twig' with { 'user':comment.user, 'linkClasses':'ladb-avatar', 'noMicrodata':true } %}
    <div class="ladb-box">
        <div class="ladb-heading">
            {% include 'LadbCoreBundle:Common:_author.part.html.twig' with { 'entity':comment, 'hideBy':true, 'itemprop':'creator' } %}{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'entity':comment, 'itemprop':'dateCreated' } %}
        </div>
        <div class="ladb-body">
            <span itemprop="text">{{ comment.htmlBody|raw }}</span>
            {% if comment.pictures is not empty %}
                <div class="row">
                    {% for picture in comment.pictures %}
                        <div class="col-xs-3">
                            {% include 'LadbCoreBundle:Picture:_img-link.part.html.twig' with { 'width':'128', 'height':'128' } %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
