{# set commentContext { 'entityType', 'entityId', 'comments', 'activities', 'form', 'isCommentable', 'mentionStrategy' } #}
{# set notGuestTip (facultative) #}
{# set activitiesHidden (facultative) #}

{% set headingHidden = headingHidden|default(false) %}
{% set notGuestTip = notGuestTip|default(false) %}
{% set activitiesHidden = activitiesHidden|default(false) %}

{% if commentContext is not null %}
    <div id="ladb_comment_{{ commentContext.entityType }}_{{ commentContext.entityId }}_widget" class="ladb-comment-widget" data-ladb-entity-type="{{ commentContext.entityType }}" data-ladb-entity-id="{{ commentContext.entityId }}"{% if activitiesHidden %} data-ladb-activities-hidden="{{ activitiesHidden ? 'true' : 'false' }}"{% endif %}>
        <div class="ladb-comment-list">
            {% if not headingHidden %}
                {% if commentContext.activities|length > 0 %}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ladb-icon-settings"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="ladb_comment_settings_show_activities">Afficher l'activité</a></li>
                            <li><a id="ladb_comment_settings_hide_activities">Masquer l'activité</a></li>
                        </ul>
                    </div>
                {% endif %}
                <h2>{{ 'comment.list'|trans() }}</h2>
            {% endif %}
            {% set activityIndex = 0 %}
            {% for comment in commentContext.comments %}
                {% for activity in commentContext.activities|slice(activityIndex) if activity.createdAt <= comment.createdAt %}
                    {% include 'LadbCoreBundle:Activity:_row-'~activity.strippedName~'.part.html.twig' %}
                    {% set activityIndex = activityIndex + 1 %}
                {% endfor %}
                {% include 'LadbCoreBundle:Comment:_row.part.html.twig' %}
            {% endfor %}
            {% for activity in commentContext.activities|slice(activityIndex) %}
                {% include 'LadbCoreBundle:Activity:_row-'~activity.strippedName~'.part.html.twig' %}
            {% endfor %}
        </div>
        {% if commentContext.isCommentable %}
            {% if commentContext.form is not null %}
                {% include 'LadbCoreBundle:Comment:_new.part.html.twig' with { 'entityType':commentContext.entityType, 'entityId':commentContext.entityId, 'form':commentContext.form, 'mentionStrategy':commentContext.mentionStrategy } %}
            {% elseif not notGuestTip %}
                <div id="ladb_comment_{{ commentContext.entityType }}_{{ commentContext.entityId }}_new" class="ladb-new">
                    <a href="{{ path('core_smartlogin') }}"><i class="ladb-icon-lock"></i> Connectez-vous</a> pour ajouter un commentaire.
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
