{% extends 'LadbCoreBundle:Common:_form-section.part.html.twig' %}

{# set formHowtos #}
{# set howtos #}
{# set maxHowtoCount #}
{# set title (falcultative) #}
{# set help (facultative) #}

{% set formSection = 'howtos' %}
{% set icon = icon|default('howto') %}
{% set title = title|default('howto.howto.choice.howtos'|transchoice(2)|capitalize) %}

{% if formHowtos is not defined %}
    {% set formHowtos = form.howtos %}
{% endif %}
{% if howtos is not defined %}
    {% set howtos = form.vars.data.howtos %}
{% endif %}

{% block body %}
    {% if help is defined %}<p class="help-block"><i>{{ help|raw }}</i></p>{% endif %}
    {{ form_errors(formHowtos) }}
    {{ form_widget(formHowtos) }}
    <ul id="howto_thumbnails" class="ladb-form-thumbnails">
        {% for howto in howtos %}
            {% include 'LadbCoreBundle:Howto/Howto:_form-thumbnail.part.html.twig' %}
        {% endfor %}
    </ul>
    <div id="linkto_howto_buttons">
        <a href="#linkto_howto_modal" data-toggle="modal" class="btn btn-success" onclick="updateHowtoChoiceModal();" data-toggle="modal"><i class="ladb-icon-link"></i> {{ 'howto.howto.linkto'|trans() }}</a>
        {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'linkto_howto_modal', 'title':('howto.howto.linkto'|trans()), 'embeddedBody':true } %}
            {% block bodyInner %}
                <iframe id="linkto_howto_modal_iframe" src="" frameborder="0" width="100%" height="380"></iframe>
            {% endblock %}
            {% block footer %}{% endblock %}
        {% endembed %}
        {{ 'default.or'|trans() }}
        <a href="#new_howto_modal" data-toggle="modal" class="btn btn-default"><i class="ladb-icon-plus"></i> {{ 'howto.howto.create'|trans() }}</a>
        {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'new_howto_modal', 'title':('howto.howto.create'|trans()) } %}
            {% block bodyInner %}
                <p>Vous allez être redirigé vers une nouvelle fenêtre pour <strong>créer un nouveau pas à pas</strong>. Il est conseillé d'enregistrer vos modifications avant de continuer.</p>
                <p>Le pas à pas devra être publié avant de pouvoir être associé.</p>
                <p>Confirmez l'action pour continuer.</p>
            {% endblock %}
            {% block footerInner %}
                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                <a href="{{ path('core_howto_new') }}" class="btn btn-primary" target="_blank" onclick="$('#new_howto_modal').find('button.close').click();"><i class="ladb-icon-plus"></i> {{ 'howto.howto.create'|trans() }}</a>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}

