{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{# set howto #}

{% set entity = howto %}
{% set itemType = 'Article' %}

{% block title %}
    {% if howto.kind > constant('\\Ladb\\CoreBundle\\Entity\\Howto\\Howto::KIND_NONE') %}<i class="ladb-icon-howto-{% if howto.kind == constant('\\Ladb\\CoreBundle\\Entity\\Howto\\Howto::KIND_TUTORIAL') %}tutorial{% elseif howto.kind == constant('\\Ladb\\CoreBundle\\Entity\\Howto\\Howto::KIND_TECHNICAL') %}technical{% elseif howto.kind == constant('\\Ladb\\CoreBundle\\Entity\\Howto\\Howto::KIND_DOCUMENTATION') %}documentation{% endif %}" title="{{ ('howto.howto.kind_'~howto.kind)|trans }}" data-tooltip="tooltip"></i> {% endif %}{{ parent() }}
{% endblock %}

{% block entityMetas %}
    {% if howto.questionCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_questions', { 'id':howto.id }) }}" data-tooltip="tooltip" title="{{ 'howto.howto.linked_to'|trans() }} {{ howto.questionCount }} {{ 'qa.question.choice.entities'|transchoice(howto.questionCount) }}"><i class="ladb-icon-question"></i></a></li>
    {% endif %}
    {% if howto.planCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_plans', { 'id':howto.id }) }}" data-tooltip="tooltip" title="{{ 'howto.howto.linked_to'|trans() }} {{ howto.planCount }} {{ 'wonder.plan.choice.entities'|transchoice(howto.planCount) }}"><i class="ladb-icon-plan"></i></a></li>
    {% endif %}
    {% if howto.creationCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_creations', { 'id':howto.id }) }}" data-tooltip="tooltip" title="{{ 'howto.howto.linked_to'|trans() }} {{ howto.creationCount }} {{ 'wonder.creation.choice.entities'|transchoice(howto.creationCount) }}"><i class="ladb-icon-creation"></i></a></li>
    {% endif %}
    {% if howto.workshopCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_workshops', { 'id':howto.id }) }}" data-tooltip="tooltip" title="{{ 'howto.howto.linked_to'|trans() }} {{ howto.workshopCount }} {{ 'wonder.workshop.choice.entities'|transchoice(howto.workshopCount) }}"><i class="ladb-icon-workshop"></i></a></li>
    {% endif %}
    {% if howto.workflowCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_workflows', { 'id':howto.id }) }}" data-tooltip="tooltip" title="{{ 'howto.howto.linked_to'|trans() }} {{ howto.workflowCount }} {{ 'workflow.workflow.choice.entities'|transchoice(howto.workflowCount) }}"><i class="ladb-icon-workflow"></i></a></li>
    {% endif %}
    {% if howto.providerCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_providers', { 'id':howto.id }) }}" data-tooltip="tooltip" title="{{ 'howto.howto.linked_to'|trans() }} {{ howto.providerCount }} {{ 'knowledge.provider.choice.entities'|transchoice(howto.providerCount) }}"><i class="ladb-icon-provider"></i></a></li>
    {% endif %}
    {% if howto.schoolCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_schools', { 'id':howto.id }) }}" data-tooltip="tooltip" title="{{ 'howto.howto.linked_to'|trans() }} {{ howto.schoolCount }} {{ 'knowledge.school.choice.entities'|transchoice(howto.schoolCount) }}"><i class="ladb-icon-school"></i></a></li>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block headingBadges %}
    {{ parent() }}
    {% if howto.isWorkInProgress %}
        <div class="ladb-draft-badge" title="{{ 'howto.howto.wip_tooltip'|trans() }}" data-tooltip="tooltip" style="float: right; background-color: #eee; color: #888;"><i class="ladb-icon-wip"></i> En cours</div>
    {% endif %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Spotlight:_spotlight-star.part.html.twig' %}
{% endblock %}

