{% extends 'Howto/Article/_form.html.twig' %}

{% set pageTitle = 'howto.article.edit'|trans() %}
{% set formAction = path('core_howto_article_update', { 'id':article.id, 'rtu':rtu }) %}

{% block sidenavHeading %}
    <i class="ladb-icon-edit"></i> {{ 'howto.article.edit'|trans() }}
{% endblock %}

{% block form_buttons %}
    <a href="{{ rtu is not empty ? rtu : path('core_howto_article_show', { 'id':article.sluggedId }) }}" class="btn btn-default btn-block">{{ 'default.close'|trans() }}</a>
    {% include 'Common/_form-btn-loading.part.html.twig' with { 'text':('default.update'|trans()), 'classes':'ladb-form-save-btn btn-primary btn-block' } %}
{% endblock %}

{% block sectionsHeader %}
    Cet article fait partie du pas à pas : <strong>{{ howto.title }}</strong>
{% endblock %}

{% block sections %}
    {% if article.isDraft %}
        {% include 'Howto/Article/_draft-alert.part.html.twig' %}
    {% endif %}
    {{ parent() }}
{% endblock %}
