{% extends 'Common/Layout/_form.html.twig' %}

{% set navSection = 'finds' %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'Core/Picture/_form-gallery-script.part.html.twig' with { 'formSection':'content_link', 'fieldId':form.link.thumbnail.vars.id, 'maxPictureCount':1 } %}
    {% include 'Core/Picture/_form-gallery-script.part.html.twig' with { 'formSection':'content_gallery', 'fieldId':form.gallery.pictures.vars.id, 'maxPictureCount':5, 'sortable':true } %}
    {% include 'Common/_form-token-script.part.html.twig' with { 'fieldId':form.tags.vars.id, 'proposals':tagProposals, 'proposalsHelp':('tag.token.proposals.help'|trans()), 'help':('tag.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_tags_json')|raw) } %}
{% endblock %}

{% block sidenav %}
    {% include 'Common/_form-sidenav-title.part.html.twig' %}
    <li><a href="#content"><i class="ladb-icon-find"></i> {{ 'default.content'|trans() }}</a></li>
    {% include 'Core/Block:_form-sidenav-body.part.html.twig' with { 'title':('default.descriptive'|trans) } %}
    {% include 'Core/Tag:_form-sidenav.part.html.twig' %}
{% endblock %}

{% block sections %}
    <div class="panel panel-info">
        <div class="panel-body">
            <p>{{ 'find.find.new_warning'|trans()|raw }}</p>
            <em>{{ 'default.warning.may_be_rejected'|trans() }}</em>
        </div>
    </div>
    {{ parent() }}
    {% include 'Common/_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('find.find.form.help.title'|trans()) } %}
    {% embed 'Common/_form-section.part.html.twig' with { 'mandatory':true, 'icon':'globe', 'title':('default.content'|trans()), 'formSection':'content' } %}
        {% block body %}
            <p><span style="border: 1px solid #000; border-radius: 50%; width: 20px; height: 20px; display: inline-block; text-align: center; line-height: 20px; background-color: #000; color: #fff; font-size: 18px;">1</span> {{ 'find.find.form.help.data'|trans()|raw }}</p>
            <div class="form-group">
                {{ form_errors(form.contentType) }}
                {{ form_widget(form.contentType) }}
            </div>
            <ul id="{{ form.contentType.vars.id }}_tab" class="nav nav-tabs" role="tablist">
                <li role="presentation"{% if form.contentType.vars.data == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_LINK') %} class="active"{% endif %}><a href="#ladb_content_tab_pane_{{ constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_LINK') }}" aria-controls="home" role="tab" data-toggle="tab" data-value="{{ constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_LINK') }}"><i class="ladb-icon-link"></i> {{ 'find.find.content.link.name'|trans }}</a></li>
                <li role="presentation"{% if form.contentType.vars.data == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_GALLERY') %} class="active"{% endif %}><a href="#ladb_content_tab_pane_{{ constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_GALLERY') }}" aria-controls="profile" role="tab" data-toggle="tab" data-value="{{ constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_GALLERY') }}"><i class="ladb-icon-camera"></i> {{ 'find.find.content.gallery.name'|trans }}</a></li>
            </ul>
            <script>
                $("#{{ form.contentType.vars.id }}_tab").on('shown.bs.tab', function(e) {
                    var value = $(e.target).data('value');
                    $('#{{ form.contentType.vars.id }}').val(value);
                });
            </script>
            <div id="ladb_content_tab_content" class="tab-content" style="padding-top: 20px;">
                <div id="ladb_content_tab_pane_{{ constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_NONE') }}" class="tab-pane{% if form.contentType.vars.data == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_NONE') %} active{% endif %}">
                </div>
                <div id="ladb_content_tab_pane_{{ constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_LINK') }}" class="tab-pane{% if form.contentType.vars.data == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_LINK') %} active{% endif %}">
                    <p><span style="border: 1px solid #000; border-radius: 50%; width: 20px; height: 20px; display: inline-block; text-align: center; line-height: 20px; background-color: #000; color: #fff; font-size: 18px;">2</span> {{ 'find.find.form.help.link'|trans()|raw }}</p>
                    <div class="form-group">
                        {{ form_errors(form.link.url) }}
                        <div class="input-group">
                            <span class="input-group-addon">{% if form.link.url.vars.value == '' %}http://{% else %}<i class="ladb-icon-link"></i>{% endif %}</span>
                            {{ form_widget(form.link.url) }}
                        </div>
                    </div>
                    <div{% if not is_granted("ROLE_ADMIN") %} class="ladb-pseudo-hidden"{% endif %}>
                        <label>{{ 'default.thumbnail'|trans() }}</label>
                        {% include 'Core/Picture/_form-gallery.part.html.twig' with { 'formSection':'content_link', 'formPictures':form.link.thumbnail, 'pictures':(form.link.vars.data is null or form.link.vars.data.thumbnail is null ? [] : [ form.link.vars.data.thumbnail ]), 'form':form.link, 'maxPictureCount':1, 'title':('default.thumbnail'|trans), 'hideTextOverlayWarning':true } %}
                    </div>
                </div>
                <div id="ladb_content_tab_pane_{{ constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_GALLERY') }}" class="tab-pane{% if form.contentType.vars.data == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::CONTENT_TYPE_GALLERY') %} active{% endif %}">
                    <p><span style="border: 1px solid #000; border-radius: 50%; width: 20px; height: 20px; display: inline-block; text-align: center; line-height: 20px; background-color: #000; color: #fff; font-size: 18px;">2</span> {{ 'find.find.form.help.gallery'|trans()|raw }}</p>
                    <div class="form-group">
                        <label>Photos<span class="ladb-mandatory">*</span></label>
                        {% include 'Core/Picture/_form-gallery.part.html.twig' with { 'formSection':'content_gallery', 'form':form.gallery, 'maxPictureCount':5, 'sortable':true, 'title':('default.showcase'|trans), 'help':('find.find.form.help.gallery_pictures'|trans()), 'hideTextOverlayWarning':true } %}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.gallery.location, 'default.location') }}
                        <p class="help-block"><i>{{ 'find.find.form.help.gallery_location'|trans() }}</i></p>
                        {{ form_errors(form.gallery.location) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="ladb-icon-location"></i></span>
                            {{ form_widget(form.gallery.location) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    {% include 'Core/Block:_form-section-body.part.html.twig' with { 'mandatory':true, 'title':('default.descriptive'|trans()), 'help':('find.find.form.help.body'|trans()) } %}
    {% include 'Core/Tag:_form-section.part.html.twig' with { 'help':('find.find.form.help.tags'|trans()) } %}
{% endblock %}
