{% extends 'Common/Layout/_list.html.twig' %}

{% set pageUrl = url('core_plan_schools', { 'id':plan.id }) %}
{% set pageTitle = 'Ecoles associées à '~plan.title %}
{% set pageDescription = 'Ecoles associées au plan' %}

{% set navSection = 'plans' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'Common/Header/_entity-header.part.html.twig' with { 'entity':plan } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if schools.count == 0 %}
        <div class="alert alert-info">
            Aucune école n'est associée à ce plan.
        </div>
    {% else %}
        <div class="panel panel-default ladb-margin-remove ladb-margin-top">
            <div class="panel-body">
                Liste des écoles recencées par <a href="{{ path('core_user_show', { 'username':plan.user.usernameCanonical }) }}">{{ plan.user.displayname }}</a> pour la réalisation de la création <a href="{{ ladb_entity_url_action(plan) }}">{{ plan.title }}</a>.
            </div>
        </div>
        {% embed 'Knowledge/School/_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_plan_schools_filter' %}
            {% set filterPathParameters = { 'id':plan.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ plan.schoolCount }} {{ 'knowledge.school.choice.entities'|transchoice(plan.schoolCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Knowledge/School/_list-n.part.html.twig' %}
{% endblock %}