
{# set question #}

<li id="question_{{ question.id }}" class="ladb-question ladb-form-thumbnail thumbnail">
    <div class="uk-overlay">
        <img src="{{ (question.mainPicture is not null ? question.mainPicture.webPath : 'avatar.png')|imagine_filter('128x128o') }}" width="128" height="128">
        <div class="uk-overlay-caption">{{ question.title }}</div>
    </div>
    <div style="text-align: center;margin-top: 5px;">
        <a href="#" class="btn btn-xs btn-danger" onclick="$('#question_{{ question.id }}').remove();questionRemoved();return false;">{{ 'default.remove'|trans() }}</a>
    </div>
</li>