{% extends 'LadbCoreBundle:Common:_form-section.part.html.twig' %}

{# set formQuestions #}
{# set questions #}
{# set maxQuestionCount #}
{# set title (falcultative) #}
{# set help (facultative) #}
{# set icon (facultative) #}
{# set addButtonHidden (facultative) #}

{% set formSection = 'questions' %}
{% set icon = icon|default('question') %}
{% set title = title|default('qa.question.choice.entities'|transchoice(2)|capitalize) %}

{% if formQuestions is not defined %}
    {% set formQuestions = form.questions %}
{% endif %}
{% if questions is not defined %}
    {% set questions = form.vars.data.questions %}
{% endif %}

{% block body %}
    {% if help is defined %}<p class="help-block"><i>{{ help|raw }}</i></p>{% endif %}
    {{ form_errors(formQuestions) }}
    {{ form_widget(formQuestions) }}
    <ul id="question_thumbnails" class="ladb-form-thumbnails">
        {% for question in questions %}
            {% include 'LadbCoreBundle:Qa/Question:_form-thumbnail.part.html.twig' %}
        {% endfor %}
    </ul>
    <div id="linkto_question_buttons">
        <a href="#linkto_question_modal" data-toggle="modal" class="btn btn-success" onclick="updateQuestionChoiceModal();"><i class="ladb-icon-link"></i> {{ 'qa.question.linkto'|trans() }}</a>
        {% embed 'LadbCoreBundle:Common/Modal:_modal.part.html.twig' with { 'id':'linkto_question_modal', 'title':('qa.question.linkto'|trans()), 'embeddedBody':true } %}
            {% block bodyInner %}
                <iframe id="linkto_question_modal_iframe" src="" frameborder="0" width="100%" height="380"></iframe>
            {% endblock %}
            {% block footer %}{% endblock %}
        {% endembed %}
        {% if not (addButtonHidden|default(false)) %}
            {{ 'default.or'|trans() }}
            <a href="#new_question_modal" data-toggle="modal" class="btn btn-default"><i class="ladb-icon-plus"></i> {{ 'qa.question.create'|trans() }}</a>
            {% embed 'LadbCoreBundle:Common/Modal:_modal.part.html.twig' with { 'id':'new_question_modal', 'title':('qa.question.create'|trans()) } %}
                {% block bodyInner %}
                    <p>Vous allez être redirigé vers une nouvelle fenêtre pour <strong>créer une nouvelle question</strong>. Il est conseillé d'enregistrer vos modifications avant de continuer.</p>
                    <p>La question devra être publiée avant de pouvoir être associée.</p>
                    <p>Confirmez l'action pour continuer.</p>
                {% endblock %}
                {% block footerInner %}
                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                    <a href="{{ path('core_qa_question_new') }}" class="btn btn-primary" onclick="$('#new_question_modal').find('button.close').click();"><i class="ladb-icon-plus"></i> {{ 'qa.question.create'|trans() }}</a>
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
{% endblock %}

