{% extends 'LadbCoreBundle:Common:_show.html.twig' %}

{% set entity = question %}
{% set pageItemType = 'Question' %}

{% set navSection = 'qa' %}
{% set searchPath = path('core_qa_question_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == question.user.id %}

{% block headStylesheets %}
    {{ parent() }}
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/ladb/layout/qa.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.questionpage.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#container').ladbQuestionPage({
                answerNewPath: '{{ path('core_qa_answer_new', { 'id':question.id }) }}'
            });
        });
    </script>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':question } %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% if not ownerUser %}
                    {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% endif %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Core/Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                {% if not ownerUser %}
                    &nbsp;
                    {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':question.type, 'entityId':question.id } %}
                {% endif %}
                {% if ownerUser or is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="{{ path('core_qa_question_edit', { 'id':question.id }) }}" class="btn btn-default"><i class="ladb-icon-edit"></i><span class="ladb-visible-desktop"> {{ 'default.edit'|trans() }}</span></a>
                    {% if not question.isDraft %}
                        <a href="#unpublish_question_modal" class="btn btn-default" data-toggle="modal" ><i class="ladb-icon-unpublish"></i><span class="ladb-visible-desktop"> {{ 'default.unpublish'|trans() }}</span></a>
                        {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'unpublish_question_modal', 'title':('default.unpublishing'|trans()) } %}
                            {% block bodyInner %}
                                <p>La dépublication de <strong>{{ question.title }}</strong> le rendra invisible pour les autres utilisateurs.</p>
                                <p>Confirmez l'action pour continuer.</p>
                            {% endblock %}
                            {% block footerInner %}
                                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                <a href="{{ path('core_qa_question_unpublish', { 'id':question.id }) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a>
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                    <a href="#delete_question_modal" class="btn btn-danger" data-toggle="modal"><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                    {% include 'LadbCoreBundle:Common:_delete-entity-modal.part.html.twig' with { 'id':'delete_question_modal', 'entityTitle':question.title, 'deletePath':path('core_qa_question_delete', { 'id':question.id }) } %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyContainerContent %}
    {% if question.isDraft %}
        {% include 'LadbCoreBundle:Qa/Question:_draft-alert.part.html.twig' %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block contentBody %}
    <div class="ladb-qa-question">
        <div class="ladb-box">
            <div class="ladb-box-inner row">
                <div class="ladb-content-box col-sm-11 col-xs-12" style="margin-top: 10px;">
                    {% for block in question.bodyBlocks %}
                        {% include 'LadbCoreBundle:Core/Block:_show-'~block.strippedName~'.part.html.twig' %}
                    {% endfor %}
                    {% if question.updatedAt > question.createdAt %}
                        {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':question } %}
                    {% endif %}
                    {% include 'LadbCoreBundle:Qa:_comments.part.html.twig' with { 'entity':question } %}
                </div>
                <div class="col-sm-1 col-xs-12">
                    <div class="ladb-full-height">?</div>
                </div>
            </div>
        </div>
    </div>
    {% if question.answers|length > 0 %}
        <h3 style="margin-bottom: 20px;">{{ question.answerCount|number_format(0, ',', ' ') }} {{ 'qa.question.choice.answers'|transchoice(2) }}</h3>
    {% endif %}
    <div class="ladb-question-answers">
        {% for answer in question.answers %}
            {% include 'LadbCoreBundle:Qa/Answer:_row.part.html.twig' with { 'voteContext':voteContexts[answer.id], 'commentContext':commentContexts[answer.id] } %}
        {% endfor %}
    </div>
    <div class="text-center">
        <button id="ladb_answer_btn" class="btn btn-primary btn-lg"><i class="ladb-icon-plus"></i> Ajouter ma réponse</button>
    </div>
    <div class="ladb-answer-row">
        <div id="ladb_answer_box" class="ladb-box" style="display: none;"></div>
    </div>
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        <div class="ladb-meta">
            <i class="ladb-icon-answer ladb-icon-fixed-center"></i>
            <strong>{{ question.answerCount|number_format(0, ',', ' ') }}</strong>
            <small>{{ 'qa.question.choice.answers'|transchoice(question.answerCount) }}</small>
        </div>    </div>
    {% include 'LadbCoreBundle:Core/Tag:_metas.part.html.twig' with { 'tags':question.tags, 'type':'questions' } %}
    {% include 'LadbCoreBundle:Core/License:_metas.part.html.twig' with { 'license':question.license } %}
{% endblock %}

{% block contentSuggests %}
    {% if similarQuestions is not null %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('blog.question.similar')|trans() }}
            </div>
            <div class="panel-body row">
                {% for similarQuestion in similarQuestions %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Blog:_thumbnail-link.part.html.twig' with { 'question':similarQuestion, 'classes':(loop.last ? null : 'ladb-margin-bottom') } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

