{% form_theme form 'Common/_form-theme.twig.twig' 'Core/Block/_form-theme.html.twig' %}

<div class="ladb-testimonial-form">
    {% if is_granted('ROLE_USER') and not app.user.emailConfirmed %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left"><i class="ladb-icon-warning ladb-icon-lg"></i></div>
                    <div class="media-body">
                        l'adresse e-mail associée à votre compte doit être confirmée avant de pouvoir ajouter votre témoignage.
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="{{ path('core_user_email_check') }}" class="btn btn-primary">{{ 'user.email_confirmation.check.action'|trans() }}</a>
            </div>
        </div>
    {% else %}
        <div class="ladb-box">
            <div class="ladb-box-inner">
                <h4>{% block title %}{% endblock %}</h4>
                {% block formOuter %}
                    {{ form_start(form, { 'action':formAction, 'method':'POST', 'attr':{ 'novalidate':'novalidate' } }) }}
                        {{ form_errors(form) }}
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label>Année d'entrée</label>
                                {{ form_errors(form.fromYear) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="ladb-icon-calendar-month"></i></span>
                                    {{ form_widget(form.fromYear, { 'attr':{ 'class':'form-control ladb-input-year' } }) }}
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label>Année de sortie</label> <small>(facultatif)</small>
                                {{ form_errors(form.toYear) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="ladb-icon-calendar-month"></i></span>
                                    {{ form_widget(form.toYear, { 'attr':{ 'class':'form-control ladb-input-year' } }) }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="$('#{{ form.toYear.vars.id }}').data('DateTimePicker').clear();"><i class="ladb-icon-remove ladb-icon-sm"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Diplôme(s) obtenu(s)</label> <small>(facultatif)</small>
                            {{ form_errors(form.diploma) }}
                            <div class="input-group">
                                <span class="input-group-addon"><i class="ladb-icon-diploma"></i></span>
                                {{ form_widget(form.diploma) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Votre témoignage</label>
                            {{ form_errors(form.body) }}
                            {{ form_widget(form.body, { 'attr':{ 'class':'form-control ladb-autosize' } }) }}
                            {{ form_rest(form) }}
                        </div>
                        <div class="ladb-margin-top">
                            {% block buttons %}
                                <button class="btn btn-default ladb-btn-cancel">{{ 'default.cancel'|trans() }}</button>
                            {% endblock %}
                        </div>
                    {{ form_end(form) }}
                {% endblock %}
            </div>
        </div>
        <script>
            var init{{ form.vars.id }} = function() {
                $("#{{ form.body.vars.id }}").markdown().ladbTextcompletify({
                    mentionQueryPath: '{{ path('core_search_typeahead_users_json') }}'
                });
                $(".ladb-input-year").datetimepicker({
                    viewMode: 'years',
                    format: 'YYYY',
                    icons: {
                        previous: "ladb-icon-chevron-left",
                        next: "ladb-icon-chevron-right"
                    }
                });
            };
            if (document.readyState === "complete") {
                init{{ form.vars.id }}();
            } else {
                $(document).ready(function() {
                    init{{ form.vars.id }}();
                });
            }
        </script>
    {% endif %}
</div>
