{% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'report_modal', 'title':('report.create'|trans()) } %}
    {% block contentInner %}
        <form id="report_modal_form" action="{{ path('core_report_create') }}" method="get">
            {{ parent() }}
        </form>
    {% endblock %}
    {% block bodyInner %}
        <p>{{ 'report.reasons'|trans() }}</p>
        <fieldset>
            {% for i in 1..7 %}
                <div class="radio">
                    <label>
                        <input id="reason_{{ i }}" type="radio" name="reason" value="{{ i }}" onclick="$('#report_modal_submit').enable();">
                        {{ ('report.reason'~i)|trans() }}
                    </label>
                </div>
            {% endfor %}
            <input type="hidden" id="report_modal_entity_type" name="entity_type">
            <input type="hidden" id="report_modal_entity_id" name="entity_id">
            <input type="hidden" name="rtu" value="{{ app.request.requesturi }}">
        </fieldset>
    {% endblock %}
    {% block footerInner %}
        <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
        <button id="report_modal_submit" type="submit" class="btn btn-danger" disabled><i class="ladb-icon-flag"></i> {{ 'report.report'|trans() }}</button>
    {% endblock %}
{% endembed %}

