{% extends 'Knowledge/_form-fieldset-value.part.html.twig' %}

{% block dataFormGroup %}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, { 'attr':{ 'class':'form-control input-lg', 'placeholder':'Nom' } }) }}
{% endblock %}

{% block dataFormGroupOuter %}
    {{ parent() }}
    <div class="checkbox">
        <label>{{ form_widget(form.isAddOn) }} Ce logiciel est un plugin pour un autre logiciel</label>
    </div>
    <div id="{{ form.hostSoftwareName.vars.id }}_form_group" class="form-group ladb-margin-left"{% if form.isAddOn.vars.data is empty or not form.isAddOn.vars.data %} style="display: none;"{% endif %}>
        {{ form_label(form.hostSoftwareName, 'Nom du logiciel hôte') }}
        {{ form_errors(form.hostSoftwareName) }}
        {{ form_widget(form.hostSoftwareName, { 'attr':{ 'class':'form-control' } }) }}
    </div>
    <script>
        $(document).ready(function() {
            var $isAddOnInput = $('#{{ form.isAddOn.vars.id }}');
            var $hostSoftwareNameInput = $('#{{ form.hostSoftwareName.vars.id }}');
            var $group = $('#{{ form.hostSoftwareName.vars.id }}_form_group');
            $isAddOnInput.on('click', function() {
                if ($isAddOnInput.prop('checked')) {
                    $group.show();
                    $hostSoftwareNameInput.focus();
                } else {
                    $group.hide();
                }
            });
        });
    </script>
{% endblock %}
