{# set notification #}
{# set icon (faciltative) #}
{# set url (faciltative) #}

<div id="ladb_notification_{{ notification.id }}" class="ladb-notification-row{% if notification.isListed and unlistedNotificationIds[notification.id] is not defined %} ladb-listed{% endif %}{% if notification.isShown %} ladb-shown{% endif %}" onclick="if (event.target.tagName != 'A' && $(event.target).parent().prop('tagName') != 'A' && event.button == 0) { document.location = '{{ path('core_notification_show', { 'id':notification.id }) }}'; }">
    <div class="media">
        <div class="media-left">
            {% include 'LadbCoreBundle:Core/User:_avatar-link.part.html.twig' with { 'user':notification.activity.user, 'linkClasses':'ladb-avatar', 'noMicrodata':true, 'noLazyLoad':true } only %}
        </div>
        <div class="media-body ladb-box">
            <div class="media">
                <div class="media-body">
                    {% include 'LadbCoreBundle:Core/User:_displayname-link.part.html.twig' with { 'user':notification.activity.user } %}{% if notification.isFolder %}{% set otherChildrenActivityUsers = notification.otherChildrenActivityUsers|length %}{% if otherChildrenActivityUsers > 0 %} et <a data-toggle="collapse" href="#ladb_notification_children_{{ notification.id }}">{{ otherChildrenActivityUsers }} {{ 'user.choice.other_users'|transchoice(otherChildrenActivityUsers) }}</a>{% endif %}{% endif %} <a href="{{ path('core_notification_show', { 'id':notification.id }) }}" class="ladb-body-link">{% block body %}{% endblock %}</a>
                </div>
                <div class="media-right">
                    {% if not notification.isShown %}<span class="pull-right" data-tooltip="tooltip" title="{{ 'default.unviewed'|trans() }}"><i class="ladb-icon-bullet{% if notification.isChildrenShown %}-outline{% endif %} ladb-icon-lg" style="color: #f77f00;"></i></span>{% endif %}
                </div>
            </div>
            <div class="ladb-box-footer">
                {% if isYour is defined and isYour %}<span class="pull-right"><i class="ladb-icon-user"></i></span>{% endif %}
                {% if icon is defined %}<i class="ladb-notification-icon ladb-icon-{{ icon }}"></i>{% endif %}{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'entity':notification } %}
                {% if notification.isFolder %}<a class="ladb-notification-children-collapse-btn pull-right" data-toggle="collapse" href="#ladb_notification_children_{{ notification.id }}">+ <strong>{{ notification.children|length }}</strong> <i class="ladb-icon-notifications"></i> <span class="caret"></span></a>{% endif %}
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
</div>