{% extends 'LadbCoreBundle:Common:_modal-content.part.html.twig' %}

{% use 'LadbCoreBundle:Common:_list-autopager.blocks.html.twig' %}

{% set id = 'notifications_modal' %}
{% set title = '<i class="ladb-icon-notifications"></i>&nbsp;'~('notification.list'|trans()) %}
{% set embeddedBody = notifications|length > 0  %}

{% set autopagerContainerSelector = '#notifications_modal .modal-body' %}

{% block headerInner %}
    {{ parent() }}
    <div class="ladb-hidden-mobile ladb-margin-top">
        <ul class="nav nav-pills nav-justified">
            <li{% if filter == 'recent' %} class="active"{% endif %}><a href="{{ path('core_notification_list') }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.all'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-notifications"></i></a></li>
            <li{% if filter == 'activity-like' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-like' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.like'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-like"></i></a></li>
            <li{% if filter == 'activity-comment' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-comment' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.comment'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-comment"></i></a></li>
            <li{% if filter == 'activity-follow' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-follow' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.follow'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-follow"></i></a></li>
            <li{% if filter == 'activity-publish' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-publish' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.publish'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-plus"></i></a></li>
            <li{% if filter == 'activity-vote' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-vote' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.vote'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-check"></i></a></li>
            <li{% if filter == 'activity-join' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-join' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.join'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-join"></i></a></li>
            <li{% if filter == 'activity-answer' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-answer' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.answer'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-answer"></i></a></li>
            <li{% if filter == 'activity-student' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-testify' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" title="{{ 'notification.tooltip.testify'|trans }}" data-tooltip="tooltip" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-student"></i></a></li>
        </ul>
        <script>
            setupTooltips();
        </script>
    </div>
{% endblock %}

{% block bodyInner %}
    {% if notifications|length == 0 %}
        <p>Aucune notification pour le moment.</p>
    {% endif %}
    {% include 'LadbCoreBundle:Core/Notification:_list-n.part.html.twig' %}
    {{ block('autopagerScript') }}
{% endblock %}

{% block footer %}{% endblock %}