{# set invitation #}

<div style="margin: 20px 0;">
    <p>{% include 'Core/User:_displayname-link.part.html.twig' with { 'user':invitation.sender, 'linkClasses':'alert-link', 'noBadge':true } %} vous invite à rejoindre le collectif <strong>{% include 'Core/User:_displayname-link.part.html.twig' with { 'user':invitation.team, 'linkClasses':'alert-link', 'noBadge':true } %}</strong>.</p>
    <div>
        <a href="{{ path('core_member_invitation_accept', { 'id':invitation.id }) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');">{{ 'team.member_create'|trans }}</a>
        <a href="{{ path('core_member_invitation_delete', { 'id':invitation.id }) }}" class="btn btn-default" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');">{{ 'team.member_invitation_delete'|trans }}</a>
    </div>
</div>