
{% set noMicrodata = noMicrodata|default(false) %}

<div id="ladb_comment_{{ comment.id }}"{% if not noMicrodata %} itemprop="comment" itemscope itemtype="http://schema.org/Comment"{% endif %} class="ladb-comment-row{% if classes is defined %} {{ classes }}{% endif %}">
    {% block minitools %}
        <div class="ladb-minitools">
            {% if is_granted("ROLE_ADMIN") and (adminTools is defined or comment.parent) %}
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-icon-admin"></i></a>
                    <ul class="dropdown-menu">
                        {% if comment.parent %}
                            <li><a href="{{ path('core_comment_admin_moveup', { 'id':comment.id }) }}" class="ladb-admin-tool-moveup"><i class="ladb-icon-arrow-up"></i> {{ 'default.move_up'|trans() }}</a></li>
                        {% endif %}
                        {% if adminTools is defined %}
                            {% for adminTool in adminTools %}
                                <li><a href="{{ path(adminTool.path, adminTool.pathParams|default([])|merge({ 'id':comment.id })) }}" class="ladb-admin-tool"><i class="ladb-icon-{{ adminTool.icon }}"></i> {{ adminTool.label|trans() }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% if not app.request.isxmlhttprequest %}
                <a href="#" onclick="bootbox.dialog({ title:'{{ 'default.get_link'|trans() }}', message:'<p>Lien direct vers le commentaire :</p><input type=\'text\' class=\'form-control\' style=\'font-family: courier;\' value=\'{{ url('core_comment_show', { 'id':comment.id }) }}\' onclick=\'$(this).focus(); $(this).select();\'><span class=\'input-group-btn\'>', backdrop: true, buttons: { cancel: { label: '{{ 'default.close'|trans() }}', className: 'btn-default' } } }); return false;" data-tooltip="tooltip" title="{{ 'default.get_link'|trans() }}" class="ladb-minitool"><i class="ladb-icon-link"></i></a>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") or comment.user == app.user %}
                <a href="{{ path('core_comment_edit', { 'id':comment.id }) }}" class="ladb-comment-edit" data-tooltip="tooltip" title="{{ 'default.edit'|trans() }}" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-edit"></i></a>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") or (comment.user == app.user and comment.childCount == 0) %}
                <a href="{{ path('core_comment_delete', { 'id':comment.id }) }}" class="ladb-comment-delete ladb-minitool-danger" data-tooltip="tooltip" title="{{ 'default.delete'|trans() }}" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-delete"></i></a>
            {% endif %}
            {% if comment.user != app.user %}
                {% include 'Core/Report/_widget-mini.part.html.twig' with { 'entityType':comment.type, 'entityId':comment.id } %}
            {% endif %}
        </div>
    {% endblock %}
    {% include 'Core/User/_avatar-link.part.html.twig' with { 'user':comment.user, 'linkClasses':'ladb-avatar', 'noMicrodata':true } %}
    <div class="ladb-content">
        <div class="ladb-heading">
            {% include 'Common/_author.part.html.twig' with { 'entity':comment, 'hideBy':true, 'itemprop':'creator' } %}{% include 'Common/_age.part.html.twig' with { 'entity':comment, 'itemprop':'dateCreated', 'showEdited':true } %}
        </div>
        <div class="ladb-body">
            {% if comment.vote %}
                {% include 'Core/Vote/_badge.part.html.twig' with { 'vote':comment.vote} %}
            {% endif %}
            <div{% if not noMicrodata %} itemprop="text"{% endif %}>{{ comment.htmlBody|raw }}</div>
            {% if comment.pictures is not empty %}
                <div class="row" style="margin-bottom: 10px;">
                    {% for picture in comment.pictures %}
                        <div class="col-md-3 col-xs-6">
                            {% include 'Core/Picture/_img-link.part.html.twig' with { 'width':'128', 'height':'128' } %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% set noFooter = noFooter|default(false) %}
            {% set canReply = is_granted('ROLE_USER') and commentContext is defined and commentContext.isCommentable %}
            {% if not noFooter and (canReply or comment.childCount > 0) %}
                <div class="ladb-comment-footer">
                    <i class="ladb-icon-reply"></i>
                    {% if canReply %}
                        <a class="ladb-comment-reply" data-ladb-new-container-selector="#ladb_comment_{{ comment.parent ? comment.parent.id : comment.id }}_group"{% if comment.parent %} data-ladb-mention="@{{ comment.user.usernameCanonical }} "{% endif %} data-loading-text="{{ 'default.loading'|trans }}">{{ 'comment.reply'|trans }}</a>
                    {% endif %}
                    {% if comment.childCount > 0 %}
                        <a class="ladb-comment-children-collapse-btn{% if canReply %} ladb-horizontal-separator-left{% endif %}" data-toggle="collapse" data-target="#ladb_comment_{{ comment.id }}_group"><i class="ladb-icon-comment"></i> <strong>{{ comment.childCount }}</strong> {{ 'comment.choice.children'|transchoice(comment.childCount) }} <span class="caret"></span></a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>