{# set actionPath #}

{% form_theme form 'LadbCoreBundle:Common:_form-theme.twig.twig' 'LadbCoreBundle:Block:_form-theme.html.twig' %}

<tr class="ladb-label-row-form">
    <td colspan="4" style="position: relative;">
        {{ form_start(form, { 'action':actionPath, 'method':'POST', 'attr':{ 'novalidate':'novalidate' } }) }}
        {{ form_errors(form) }}
        <table class="table table-bordered" style="margin-bottom: 10px;">
            <tbody>
            <tr>
                <div class="picker-wrapper">
                    <button class="btn btn-default">Select color</button>
                    <div class="color-picker"></div>
                </div>
                <td>{{ form_errors(form.color) }}{{ form_widget(form.color) }}</td>
                <td>{{ form_errors(form.name) }}{{ form_widget(form.name) }}</td>
            </tr>
            </tbody>
        </table>
        {{ form_end(form) }}
        <div>
            {% block buttons %}
                <button class="btn btn-default ladb-label-cancel-btn">Annuler</button>
                <button class="btn btn-primary ladb-label-save-btn">Enregistrer</button>
            {% endblock %}
        </div>
        {% include 'LadbCoreBundle:Common:_loading-panel.part.html.twig' %}
    </td>
</tr>

