{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{% set entity = workflow %}
{% set emptyWebPath = 'empty_workflow.png' %}
{% if not workflow.isPublic %}
    {% set showPathAdditionalParams = { 'layout':'workspace' } %}
{% endif %}

{% block title %}<i class="ladb-icon-workflow"></i> {{ parent() }}{% endblock %}

{% block entityMetas %}
    {% if workflow.inspirationCount > 0 %}
        <li class="ladb-linkto"><a href="#" data-tooltip="tooltip" title="{{ 'workflow.workflow.choice.inspiration'|transchoice(workflow.reboundCount, { '%count%':workflow.inspirationCount }) }}"><i class="ladb-icon-inspiration ladb-color-inspiration"></i></a></li>
    {% endif %}
    {% if workflow.reboundCount > 0 %}
        <li class="ladb-linkto"><a href="#" data-tooltip="tooltip" title="{{ 'workflow.workflow.choice.rebound'|transchoice(workflow.reboundCount, { '%count%':workflow.reboundCount }) }}"><i class="ladb-icon-rebound ladb-color-rebound"></i> <span class="ladb-color-rebound">{{ workflow.reboundCount }}</span></a></li>
    {% endif %}
    {{ parent() }}
{% endblock %}


