<div class="ladb-box ladb-status-{{ task.status }}">
    <button class="ladb-btn-done ladb-status-update-btn pull-left" data-action-status="{{ task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_DONE') ? constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') : constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_DONE')}}" data-loading-text="<i class='ladb-icon-spinner'></i>"{% if task.status < constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') %} disabled{% endif %}>
        {% if task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_DONE') %}<i class="ladb-icon-check"></i>{% endif %}
    </button>
    <div class="ladb-minitools pull-right">
        {% if task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') %}
            <button class="ladb-minitools-btn ladb-btn-run ladb-status-update-btn " data-action-status="{{ constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_RUNNING') }}" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-task-play ladb-icon-lg"></i></button>
        {% endif %}
        {% if task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_RUNNING') %}
            <button class="ladb-minitools-btn ladb-btn-run ladb-status-update-btn " data-action-status="{{ constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') }}" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-task-pause ladb-icon-lg"></i></button>
        {% endif %}
        <button class="ladb-minitools-btn ladb-btn-edit"><i class="ladb-icon-edit ladb-icon-lg"></i></button>
    </div>
    <div class="ladb-body">
        {{ task.title }}
        {% if task.duration > 0 %}
            <div class="ladb-duration"><i class="ladb-icon-time"></i> {{ task.duration|ladb_duration() }}</div>
        {% endif %}
        <div class="ladb-labels" style="margin-top: 4px;">
            {% for label in task.labels %}
                <div data-tooltip="tooltip" title="{{ label.name }}" style="display: inline-block; width:18px; height:18px; background: #{{ label.color }}; border: 2px solid #fff; border-radius: 9px;"></div>
            {% endfor %}
        </div>
    </div>
</div>
