{% extends 'LadbCoreBundle:Common:_show.html.twig' %}

{% set entity = workflow %}

{% set navSection = 'workflows' %}
{% set searchPath = path('core_workflow_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == workflow.user.id %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':workflow } %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% if not ownerUser %}
                    {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% endif %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Core/Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                &nbsp;
                {% if ownerUser and not workflow.isPublic %}
                    <a href="#copy_workflow_modal" class="btn btn-default" data-toggle="modal"><i class="ladb-icon-duplicate"></i><span class="ladb-visible-desktop">  {{ 'default.duplicate'|trans() }}</span></a>
                {% else %}
                    <a href="#copy_workflow_modal" class="btn btn-default" data-toggle="modal"><i class="ladb-icon-rebound"></i><span class="ladb-visible-desktop">  {{ 'default.copy'|trans() }}</span></a>
                {% endif %}
                {% include 'LadbCoreBundle:Workflow:_copy-modal.part.html.twig' with { 'id':'copy_workflow_modal' } %}
                {% if not ownerUser %}
                    &nbsp;
                    {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':workflow.type, 'entityId':workflow.id } %}
                {% endif %}
                {% if ownerUser or is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="{{ path('core_workflow_edit', { 'id':workflow.id }) }}" class="btn btn-default"><i class="ladb-icon-edit"></i><span class="ladb-visible-desktop"> {{ 'default.edit'|trans() }}</span></a>
                    {% if is_granted("ROLE_ADMIN") or (ownerUser and not workflow.isPublic) %}
                        <a href="#delete_workflow_modal" class="btn btn-danger" data-toggle="modal"><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                        {% include 'LadbCoreBundle:Common:_delete-entity-modal.part.html.twig' with { 'id':'delete_workflow_modal', 'entityTitle':workflow.title, 'deletePath':path('core_workflow_delete', { 'id':workflow.id }) } %}
                    {% endif %}
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ladb-icon-admin"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{{ ladb_entity_url_action(workflow, workflow.isLocked ? 'unlock' : 'lock', true, false) }}"><i class="ladb-icon-{% if workflow.isLocked %}unlock{% else %}lock{% endif %} ladb-icon-fixed-center"></i> {{ (workflow.isLocked ? 'default.unlock' : 'default.lock')|trans() }}</a></li>
                            {% if workflow.isPublic %}
                                <li><a href="#unpublish_workflow_modal" data-toggle="modal"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if workflow.isPublic %}
                        {% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'unpublish_workflow_modal', 'title':('default.unpublishing'|trans()) } %}
                            {% block bodyInner %}
                                <p>La dépublication de <strong>{{ workflow.title }}</strong> le rendra invisible pour les autres utilisateurs.</p>
                                <p>Confirmez l'action pour continuer.</p>
                            {% endblock %}
                            {% block footerInner %}
                                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                <a href="{{ path('core_workflow_unpublish', { 'id':workflow.id }) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a>
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                {% endif %}
            </div>
        {% endblock %}
        {% block subheading %}{{ parent() }}{% include 'LadbCoreBundle:Workflow:_visibility-badge.part.html.twig' with { 'classes':'ladb-margin-left' } %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block contentBody %}
    {% if workflow.inspirationCount > 0 %}
        <div class="panel panel-default">
            <div class="panel-body text-center">
                {% set inspiration = workflow.inspirations.first %}
                <i class="ladb-icon-inspiration ladb-color-inspiration ladb-icon-lg"></i>&nbsp;&nbsp;Inpiré de <a href="{{ ladb_entity_url_action(inspiration) }}" style="font-weight: bold;">{{ inspiration.title }}</a> {% include 'LadbCoreBundle:Common:_author.part.html.twig' with { 'entity':inspiration, 'noMicrodata':true } %}
            </div>
        </div>
    {% endif %}
    {% if not workflow.isPublic %}
        {% include 'LadbCoreBundle:Workflow:_draft-alert.part.html.twig' %}
    {% endif %}
    <div class="ladb-workflow">
        <a href="{{ path('core_workflow_show', { 'id':workflow.id, 'layout':'workspace' }) }}" class="thumbnail ladb-cursor-preview">
            {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':workflow.mainPicture, 'width':'600', 'height':'600', 'filterMode':'i', 'alt':workflow.title, 'attributes':'nopin="nopin"', 'aClasses':'ladb-margin-top', 'emptyWebPath':'empty_workflow.png' } %}
        </a>
        <hr>
        <div class="ladb-body">
            {{ workflow.htmlBody|raw }}
        </div>
    </div>
    {% if workflow.updatedAt > workflow.createdAt %}
        {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':workflow } %}
    {% endif %}
    {% if not ownerUser %}
        {% include 'LadbCoreBundle:Common:_like-and-follow.part.html.twig' %}
    {% endif %}
    {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' %}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
        <div class="ladb-btn">
            <a href="{{ path('core_workflow_show', { 'id':workflow.id, 'layout':'workspace' }) }}" class="btn btn-info btn-expand btn-lg"><i class="ladb-icon-workflow ladb-icon-lg"></i> Ouvrir en mode travail</a>
        </div>
    </div>
    {% include 'LadbCoreBundle:Core/Tag:_metas.part.html.twig' with { 'tags':workflow.tags, 'type':'workflows' } %}
    {% include 'LadbCoreBundle:Core/License:_metas.part.html.twig' with { 'license':workflow.license } %}
{% endblock %}