{% extends 'LadbCoreBundle:Common:_show.html.twig' %}

{% set entity = workflow %}

{% set navSection = 'workflows' %}
{% set searchPath = path('core_workflow_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == workflow.user.id %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':workflow } %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% if not ownerUser %}
                    {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% endif %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Core/Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                {% if not ownerUser %}
                    &nbsp;
                    {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':workflow.type, 'entityId':workflow.id } %}
                {% endif %}
                {% if ownerUser or is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="{{ path('core_workflow_edit', { 'id':workflow.id }) }}" class="btn btn-default"><i class="ladb-icon-edit"></i><span class="ladb-visible-desktop"> {{ 'default.edit'|trans() }}</span></a>
                    {% if is_granted("ROLE_ADMIN") or (ownerUser and workflow.isDraft) %}
                        <a href="#delete_workflow_modal" class="btn btn-danger" data-toggle="modal"><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                        {% include 'LadbCoreBundle:Common:_delete-entity-modal.part.html.twig' with { 'id':'delete_workflow_modal', 'entityTitle':workflow.title, 'deletePath':path('core_workflow_delete', { 'id':workflow.id }) } %}
                    {% endif %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentBody %}
    {% if workflow.visibility == constant('\\Ladb\\CoreBundle\\Entity\\AbstractPublication::VISIBILITY_PRIVATE') %}
        {% include 'LadbCoreBundle:Workflow:_draft-alert.part.html.twig' %}
    {% endif %}
    <div class="ladb-workflow">
        <a href="{{ path('core_workflow_show', { 'id':workflow.id, 'layout':'workspace' }) }}" class="thumbnail ladb-cursor-preview">
            {% if workflow.mainPicture %}
                {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':workflow.mainPicture, 'width':'600', 'height':'600', 'filterMode':'i', 'alt':workflow.title, 'attributes':'nopin="nopin"', 'aClasses':'ladb-margin-top' } %}
            {% else %}
                <div style="height: 400px;">
                    <div style="background-color: #f6f6f6; line-height: 400px; text-align: center; font-size: 150px; color: #ddd;">
                        <i class="ladb-icon-workflow"></i>
                    </div>
                </div>
            {% endif %}
        </a>
        <div class="text-center ladb-margin-top">
            <a href="{{ path('core_workflow_show', { 'id':workflow.id, 'layout':'workspace' }) }}" class="btn btn-info btn-expand btn-lg"><i class="ladb-icon-workflow ladb-icon-lg"></i> Ouvrir en mode travail</a>
        </div>
        <hr>
        <div class="ladb-body">
            {{ workflow.htmlBody|raw }}
        </div>
    </div>
    {% if workflow.updatedAt > workflow.createdAt %}
        {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':workflow } %}
    {% endif %}
    {% if not ownerUser %}
        {% include 'LadbCoreBundle:Common:_like-and-follow.part.html.twig' %}
    {% endif %}
    {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' %}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
    </div>
    {% include 'LadbCoreBundle:Core/Tag:_metas.part.html.twig' with { 'tags':workflow.tags, 'type':'workflows' } %}
    {% include 'LadbCoreBundle:Core/License:_metas.part.html.twig' with { 'license':workflow.license } %}
{% endblock %}