{% extends 'LadbCoreBundle:Common:_modal.part.html.twig' %}

{% form_theme form 'LadbCoreBundle:Common:_form-theme.twig.twig' 'LadbCoreBundle:Block:_form-theme.html.twig' %}

{% set id = 'task_new_modal' %}
{% set title = 'default.edit'|trans() %}

{% block bodyInner %}
    {{ form_start(form, { 'action':path('core_workflow_task_update', { 'id':workflow.id }), 'method':'POST', 'attr':{ 'novalidate':'novalidate' } }) }}
        <input type="hidden" name="taskId" value="{{ task.id }}">
    {{ form_end(form) }}
{% endblock %}

{% block footerInner %}
    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
    <button type="submit" class="btn btn-primary">{{ 'default.update'|trans() }}</button>
{% endblock %}