{% extends 'LadbCoreBundle:Common:_entity-header.part.html.twig' %}

{% set entity = wood %}
{% set headingClasses = wood.nameRejected ? 'ladb-strikethrough' : null %}

{% block subheading %}
    {% if wood.availability == 1 %}
        <span data-tooltip="tooltip" title="{{ 'knowledge.wood.red_list'|trans() }}"><i class="ladb-icon-warning ladb-icon-lg ladb-color-negative"></i></span>&nbsp;
    {% endif %}
    <span class="ladb-subheading">
        {% if wood.family == 1 %}
            <span data-tooltip="tooltip" title="{{ 'knowledge.wood.hardwood'|trans() }}"><i class="ladb-icon-hardwood ladb-icon-lg"></i></span>&nbsp;
        {% elseif wood.family == 2 %}
            <span data-tooltip="tooltip" title="{{ 'knowledge.wood.resinous'|trans() }}"><i class="ladb-icon-resinous ladb-icon-lg"></i></span>&nbsp;
        {% endif %}
        {% if wood.scientificname is not empty or wood.englishname is not empty %}
            {% if wood.scientificname is not empty %}<em>{{ (wood.scientificname|split(','))[0] }}</em>{% endif %}{% if wood.englishname is not empty %}{% if wood.scientificname is not empty %} / {% endif %}{{ (wood.englishname|split(','))[0] }}{% endif %}
        {% endif %}
    </span>
{% endblock %}
