{% extends 'LadbCoreBundle:Knowledge:_show.html.twig' %}

{% set entity = wood %}
{% set pageItemType = 'TechArticle' %}

{% set bodyContainerClasses = 'ladb-margin-top' %}
{% set navSection = 'woods' %}
{% set searchPath = path('core_wood_list') %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/ladb/ladb-values.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Knowledge/Wood:_entity-header.part.html.twig' %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Core/Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                &nbsp;
                {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':wood.type, 'entityId':wood.id } %}
                {% if is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="#delete_wonder_modal" class="btn btn-danger" data-toggle="modal" ><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                    {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'delete_wonder_modal', 'title':('default.deletion'|trans()) } %}
                        {% block bodyInner %}
                            <p>La suppression de l'essence <strong>{{ wood.title }}</strong> entrainera la perte de toutes les informations qui lui sont relatives.</p>
                            <p>Confirmez l'action pour continuer.</p>
                        {% endblock %}
                        {% block footerInner %}
                            <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                            <a href="{{ path('core_wood_delete', { 'id':wood.id }) }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}</a>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentBody %}
    <div class="ladb-knowledge-showcase row">
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'knowledge':wood, 'wide':true, 'field':constant('FIELD_GRAIN', wood), 'picture':wood.grain, 'values':wood.grainValues, 'pictureBoxClasses':(wood.grainRejected ? 'ladb-box-barred' : null) } %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'knowledge':wood, 'wide':true, 'field':constant('FIELD_ENDGRAIN', wood), 'picture':wood.endgrain, 'values':wood.endgrainValues } %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'knowledge':wood, 'wide':false, 'field':constant('FIELD_LUMBER', wood), 'picture':wood.lumber, 'values':wood.lumberValues } %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'knowledge':wood, 'wide':false, 'field':constant('FIELD_TREE', wood), 'picture':wood.tree, 'values':wood.treeValues } %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'knowledge':wood, 'wide':false, 'field':constant('FIELD_LEAF', wood), 'picture':wood.leaf, 'values':wood.leafValues } %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'knowledge':wood, 'wide':false, 'field':constant('FIELD_BARK', wood), 'picture':wood.bark, 'values':wood.barkValues } %}
    </div>
    <div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Apellation</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_NAME', wood), 'data':wood.name, 'values':wood.nameValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_SCIENTIFICNAME', wood), 'data':wood.scientificname, 'values':wood.scientificnameValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_ENGLISHNAME', wood), 'data':wood.englishname, 'values':wood.englishnameValues } %}
        </div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Caractéristiques</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_FAMILY', wood), 'data':wood.family, 'values':wood.familyValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_DENSITY', wood), 'data':wood.density, 'values':wood.densityValues } %}
        </div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Marché</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_AVAILABILITY', wood), 'data':wood.availability, 'values':wood.availabilityValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_PRICE', wood), 'data':wood.price, 'values':wood.priceValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_ORIGIN', wood), 'data':wood.origin, 'values':wood.originValues } %}
        </div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Divers</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':wood, 'field':constant('FIELD_UTILIZATION', wood), 'data':wood.utilization, 'values':wood.utilizationValues } %}
        </div>
        <div class="panel panel-default ladb-margin-top">
            <div class="panel-body">
                Cette fiche est complétée et contrôllée collaborativement par la communauté. Si vous détectez des erreurs ou des manques, <a href="{{ path('core_faq_question_show', { 'id':'comment-contribuer-aux-contenus-collaboratifs' }) }}" target="_blank">apportez vos propositions</a> !
            </div>
        </div>
        {% if wood.updatedAt > wood.createdAt %}
            {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' %}
        {% endif %}
        <div style="padding: 10px; text-align: center;">
            {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
        </div>
        {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' with { 'commentContext':commentContext, 'noMicrodata':true, 'activitiesHidden':true } %}
    </div>
    {% include 'LadbCoreBundle:Core/Vote:_modals.part.html.twig' %}
    {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'proposals_modal', 'title':('knowledge.proposals'|trans()), 'classes':'modal-wide' } %}
        {% block headerInner %}
            {{ 'default.loading'|trans() }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
        <div class="ladb-meta">
            <i class="ladb-icon-users ladb-icon-fixed-center"></i>
            {% if wood.contributorCount > 0 %}
                <a href="{{ path('core_knowledge_contributors', { 'entityType':wood.type, 'entityId':wood.id }) }}">
            {% endif %}
                <strong>{{ wood.contributorCount|number_format(0, ',', ' ') }}</strong>
                <small>{{ 'user.choice.contributors'|transchoice(wood.contributorCount) }}</small>
            {% if wood.contributorCount > 0 %}
                </a>
            {% endif %}
        </div>
        <div class="ladb-meta{% if wood.voteCount == 0 %} text-muted{% endif %}">
            <i class="ladb-icon-check ladb-icon-fixed-center"></i>
            {% if wood.voteCount > 0 %}
                <a href="{{ path('core_vote_list_parent_entity', { 'entityType':wood.type, 'entityId':wood.id }) }}">
            {% endif %}
            <strong>{{ wood.voteCount|number_format(0, ',', ' ') }}</strong>
            <small>{{ 'vote.choice.votes'|transchoice(wood.voteCount) }}</small>
            {% if wood.voteCount > 0 %}
                </a>
            {% endif %}
        </div>
        <div class="ladb-meta{% if wood.textureCount == 0 %} text-muted{% endif %}">
            <i class="ladb-icon-texture ladb-icon-fixed-center"></i>
            {% if wood.textureCount > 0 %}
                <a href="{{ path('core_wood_texture_list', { 'id':wood.id }) }}">
            {% endif %}
                <strong>{{ wood.textureCount|number_format(0, ',', ' ') }}</strong>
                <small>{{ 'knowledge.wood.texture.choice.textures'|transchoice(wood.textureCount) }}</small>
            {% if wood.textureCount > 0 %}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="ladb-metas">
        <h4 class="ladb-heading">{{ 'default.links'|trans() }}</h4>
        <div class="ladb-meta{% if searchableCreationCount == 0 %} text-muted{% endif %}">
            <i class="ladb-icon-creation ladb-icon-fixed-center"></i>
            {% if searchableCreationCount > 0 %}
                <a href="{{ path('core_creation_list', { 'q':'@woods:"'~wood.name~'"'}) }}" rel="nofollow">
            {% endif %}
                <strong>{{ searchableCreationCount }}</strong>
                <small>{{ 'creation.choice.creations'|transchoice(searchableCreationCount) }}</small>
            {% if searchableCreationCount > 0 %}
                </a>
            {% endif %}
        </div>
        <div class="ladb-meta{% if searchableProviderCount == 0 %} text-muted{% endif %}">
            <i class="ladb-icon-provider ladb-icon-fixed-center"></i>
            {% if searchableProviderCount > 0 %}
                <a href="{{ path('core_provider_list', { 'q':'@woods:"'~wood.name~'"'}) }}" rel="nofollow">
            {% endif %}
                <strong>{{ searchableProviderCount }}</strong>
                <small>{{ 'knowledge.provider.choice.providers'|transchoice(searchableProviderCount) }}</small>
            {% if searchableProviderCount > 0 %}
                </a>
            {% endif %}
        </div>
    </div>
    {% include 'LadbCoreBundle:Core/License:_metas.part.html.twig' with { 'license':wood.license } %}
{% endblock %}