{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set entity = wood %}
{% set hideHeaderContainer = false %}

{% set navSection = 'woods' %}
{% set masonry = true %}

{% block bodyJavascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $(document).on('hidden.bs.modal', function(event) {
                if (event.target.id == "texture_modal") {
                    $(event.target)
                            .removeData('bs.modal')
                            .find(".modal-content").children().remove();
                    $(event.target).find(".modal-content").append("<div class='modal-header'>{{ 'default.loading'|trans() }}</div>");
                }
            });
        });
    </script>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Knowledge/Wood:_entity-header.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top">
        <div class="panel-body">
            Les textures ci-dessous sont générées à partir des propositions de <em>Bois de fil</em> et de <em>Bois de bout</em> de l'essence <strong>{{ wood.title }}</strong> et sont destinées à être importées dans les logiciels de modélisations 3D.
        </div>
    </div>
    {% embed 'LadbCoreBundle:Knowledge/Wood:_texture-list-filterbar.part.html.twig' %}
        {% block filterbarRightContent%}
            <span class="ladb-heading">{{ textures.count }} {{ 'knowledge.wood.texture.choice.textures'|transchoice(textures.count) }}</span>
        {% endblock %}
    {% endembed %}
    {{ parent() }}
    {% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'texture_modal', 'title':('knowledge.wood.texture.choice.textures'|transchoice(0)) } %}
        {% block headerInner %}
            {{ 'default.loading'|trans() }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    {% endembed %}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Knowledge/Wood:_texture-list-n.part.html.twig' %}
{% endblock %}
