{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail.part.html.twig' %}

{# set book #}

{% set entity = book %}
{% set classes = 'ladb-no-overlay-caption' %}
{% set headingClasses = book.titleRejected ? 'ladb-text-barred' : null %}
{% set imgClasses = book.titleRejected or book.coverRejected ? 'ladb-desaturate ladb-translucent' : null %}
{% set pictureWidth = '282' %}
{% set pictureHeight = '280' %}
{% set pictureFilterMode = 'o' %}

{% block title %}
    {% if book.publicDomain %}
        <i class="ladb-icon-public-domain ladb-icon-lg"></i>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block image %}
    <div style="padding: 10px;">
    {% if book.coverRejected %}
        <div class="ladb-box-barred">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
    </div>
{% endblock %}

{% block entityMetas %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Review:_thumbnail-meta-counter.part.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'LadbCoreBundle:Common:_unviewed-bullet.part.html.twig' with { 'entity':book } %}
    {{ book.contributorCount }} <i class="ladb-icon-users"></i>{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'classes':'ladb-hidden-mobile' } %}
{% endblock %}


