{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail.part.html.twig' %}

{# set book #}

{% set entity = book %}
{% set classes = 'ladb-no-overlay-caption' %}
{% set headingClasses = book.titleRejected ? 'ladb-text-barred' : null %}
{% set imgClasses = book.titleRejected or book.coverRejected ? 'ladb-desaturate ladb-translucent' : null %}
{% set pictureWidth = '282' %}
{% set pictureHeight = '280' %}
{% set pictureFilterMode = 'o' %}

{% block title %}
    {% if book.publicDomain %}
        <i class="ladb-icon-public-domain ladb-icon-lg" data-tooltip="tooltip" data-original-title="Domaine public"></i>
    {% endif %}
    {{ parent() }}{% if book.volume is not empty %}&nbsp;<div><small>({{ book.volume }})</small></div>{% endif %}
{% endblock %}

{% block image %}
    <div style="padding: 10px;">
    {% if book.coverRejected %}
        <div class="ladb-box-barred">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
    </div>
{% endblock %}

{% block entityMetas %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Review:_thumbnail-meta-counter.part.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'LadbCoreBundle:Knowledge:_list-thumbnail-footer.part.html.twig' %}
{% endblock %}


