{% extends 'LadbCoreBundle:Knowledge:_show.html.twig' %}

{% set entity = book %}

{% set pageTitle = book.title %}
{% if book.author %}
    {% set pageTitle = pageTitle~' '~(pageTitleBy|default('default.of'|trans()))~' '~book.author %}
{% endif %}
{% set pageContentItemType = 'Book' %}
{% set pageType = 'book' %}
{% set pageSectionUrl = url('core_book_list') %}
{% set pageSectionName = 'knowledge.book.list'|trans %}
{% if book.summary %}
    {% set pageDescription = book.summary|striptags|truncate(200, true, '...') %}
{% else %}
    {% set pageDescription = book.title %}
{% endif %}

{% set bodyContainerClasses = 'ladb-margin-top' %}
{% set navSection = 'books' %}
{% set searchPath = path('core_book_list') %}

{% block headPrefix %}{{ parent() }} book: http://ogp.me/ns/book#{% endblock %}

{% block headOpenGraphMetas %}
    {{ parent() }}
    {% if book.author %}
        <meta property="book:author" content="{{ book.author }}" />
    {% endif %}
    {% if book.isbn %}
        <meta property="book:isbn" content="{{ book.isbn }}" />
    {% endif %}
{% endblock %}

{% block headOpenGraphArticleMetas %}{% endblock %}

{% block headStylesheets %}
    {{ parent() }}
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/jquery-barrating/ladb-stars.less'
        '@LadbCoreBundle/Resources/assets/less/ladb/layout/book.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/jquery-barrating/jquery.barrating.min.js'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.bookpage.js'
        '@LadbCoreBundle/Resources/assets/js/ladb/ladb-values.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#container').ladbBookPage({
                reviewNewPath: '{{ path('core_knowledge_book_review_new', { 'id':book.id }) }}'
            });
        });
    </script>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Knowledge/Book:_entity-header.part.html.twig' %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Core/Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                &nbsp;
                {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':book.type, 'entityId':book.id } %}
                {% if is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="#delete_book_modal" class="btn btn-danger" data-toggle="modal" ><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                    {% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'delete_book_modal', 'title':('default.deletion'|trans()) } %}
                        {% block bodyInner %}
                            <p>La suppression de l'essence <strong>{{ book.title }}</strong> entrainera la perte de toutes les informations qui lui sont relatives.</p>
                            <p>Confirmez l'action pour continuer.</p>
                        {% endblock %}
                        {% block footerInner %}
                            <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                            <a href="{{ path('core_book_delete', { 'id':book.id }) }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}</a>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentBody %}
    <div class="ladb-knowledge-showcase row">
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'knowledge':book, 'wide':true, 'field':constant('FIELD_COVER', book), 'picture':book.cover, 'values':book.coverValues, 'pictureBoxClasses':(book.coverRejected ? 'ladb-box-barred' : null) } %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'knowledge':book, 'wide':true, 'field':constant('FIELD_BACK_COVER', book), 'picture':book.backCover, 'values':book.backCoverValues } %}
    </div>
    <div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Ouvrage</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_TITLE', book), 'data':book.title, 'values':book.titleValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_AUTHOR', book), 'data':book.author, 'values':book.authorValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_EDITOR', book), 'data':book.editor, 'values':book.editorValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_COLLECTION', book), 'data':book.collection, 'values':book.collectionValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_PUBLIC_DOMAIN', book), 'data':book.publicDomain, 'values':book.publicDomainValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_CATALOG_LINK', book), 'data':book.catalogLink, 'values':book.catalogLinkValues } %}
        </div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Contenu</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_SUBJECTS', book), 'data':book.subjects, 'values':book.subjectsValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_SUMMARY', book), 'data':book.summary, 'values':book.summaryValues } %}
        </div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Détails</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_LANGUAGE', book), 'data':book.language, 'values':book.languageValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_TRANSLATED', book), 'data':book.translated, 'values':book.translatedValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_PAGE_COUNT', book), 'data':book.pageCount, 'values':book.pageCountValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_ISBN', book), 'data':book.isbn, 'values':book.isbnValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_PUBLISH_YEAR', book), 'data':book.publishYear, 'values':book.publishYearValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'knowledge':book, 'field':constant('FIELD_PRICE', book), 'data':book.price, 'values':book.priceValues } %}
        </div>
        <div class="panel panel-default ladb-margin-top">
            <div class="panel-body">
                Cette fiche est complétée et contrôlée collaborativement par la communauté. Si vous détectez des erreurs ou des manques, <a href="{{ path('core_faq_question_show', { 'id':'comment-contribuer-aux-contenus-collaboratifs' }) }}" target="_blank">apportez vos propositions</a> !
            </div>
        </div>
        {% if book.updatedAt > book.createdAt %}
            {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' %}
        {% endif %}
        <div style="padding: 10px; text-align: center;">
            {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
        </div>
        <hr class="ladb-divider">
        <div id="ladb_review_list">
            {% include 'LadbCoreBundle:Knowledge/Book:_reviews-header.part.html.twig' %}
            {% include 'LadbCoreBundle:Knowledge/Book/Review:_list.part.html.twig' with { 'reviews':book.reviews } %}
            {% include 'LadbCoreBundle:Knowledge/Book:_reviews-footer.part.html.twig' %}
        </div>
        {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' with { 'commentContext':commentContext, 'noMicrodata':true, 'activitiesHidden':true } %}
    </div>
    {{ parent() }}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
        <div class="ladb-meta">
            <i class="ladb-icon-users ladb-icon-fixed-center"></i>
            {% if book.contributorCount > 0 %}
                <a href="{{ path('core_knowledge_contributors', { 'entityType':book.type, 'entityId':book.id }) }}">
            {% endif %}
                <strong>{{ book.contributorCount|number_format(0, ',', ' ') }}</strong>
                <small>{{ 'user.choice.contributors'|transchoice(book.contributorCount) }}</small>
            {% if book.contributorCount > 0 %}
                </a>
            {% endif %}
        </div>
        {% include 'LadbCoreBundle:Core/Vote:_meta-counter.part.html.twig' with { 'entity':book } %}
        <div class="ladb-meta{% if book.reviewCount == 0 %} text-muted{% endif %}">
            <a href="#" class="ladb-scrollto-btn" onclick="$('#ladb_review_list').ladbScrollTo(event);"><i class="ladb-icon-arrow-down"></i></a>
            <i class="ladb-icon-review ladb-icon-fixed-center"></i>
            <strong>{{ book.reviewCount|number_format(0, ',', ' ') }}</strong>
            <small>{{ 'knowledge.book.choice.reviews'|transchoice(entity.reviewCount) }}</small>
            {% if book.averageRating > 0 %}{% include 'LadbCoreBundle:Common:_rating-stars.part.html.twig' with { 'rating':book.averageRating, 'classes':'ladb-horizontal-separator-left' } %}{% endif %}
        </div>
    </div>
    {% include 'LadbCoreBundle:Core/License:_metas.part.html.twig' with { 'license':book.license } %}
{% endblock %}