{% extends 'Common/_masonry-list-thumbnail.part.html.twig' %}

{# set event #}

{% set entity = event %}
{% set classes = 'ladb-no-overlay-caption' %}
{% set headingClasses = event.cancelled ? 'ladb-strikethrough' : null %}

{% if event.cancelled or event.status == constant('App\\Entity\\Event\\Event::STATUS_COMPLETED') %}
    {% set imageClasses = 'ladb-desaturate ladb-translucent' %}
{% endif %}

{% block title %}
    <div style="padding-top: 10px;">{{ parent() }}</div>
{% endblock %}

{% block image %}
    {% include 'Event/Event/_status-label.part.html.twig' %}
    <div style="position: relative;">
        {{ parent() }}
        {% include 'Event/Event/_event-calendar.part.html.twig' with { 'topRight':false } %}
    </div>
{% endblock %}

{% block entityMetas %}
    {{ parent() }}
    {% if entity.joinCount > 0 %}
        <li class="ladb-counter"><i class="ladb-icon-users"></i> <span>{{ entity.joinCount|number_format(0, ',', ' ') }}</span></li>
    {% endif %}
    {% if entity.feedbackCount > 0 %}
        <li class="ladb-counter ladb-color-feedback"><i class="ladb-icon-feedback"></i> <span>{{ entity.feedbackCount|number_format(0, ',', ' ') }}</span></li>
    {% endif %}
{% endblock %}