{# set provider #}

<div class="ladb-knowledge-compact-infos">
    {% if provider.website %}<div><i class="ladb-icon-link ladb-icon-fixed-center"></i> <a href="{{ provider.website }}" target="_blank">{{ provider.website|ladb_url_truncate(true, 30, 0) }}</a></div>{% endif %}
    {% if provider.phone %}<div><i class="ladb-icon-phone ladb-icon-fixed-center"></i> <a href="tel:{{ provider.phone }}">{{ provider.phone }}</a></div>{% endif %}
    {% if provider.postalCode is not null and provider.locality is not null or provider.country is not null %}
        <div><i class="ladb-icon-location ladb-icon-fixed-center"></i>{% if provider.postalCode is not null %} {{ provider.postalCode }}{% endif %}{% if provider.locality is not null %} {{ provider.locality }}{% endif %}{% if provider.country is not null %} <small>({{ provider.country }})</small>{% endif %}</div>
    {% endif %}
    {% if provider.inStoreSelling or provider.mailOrderSelling or provider.saleToIndividuals or provider.saleToIndividuals is not null %}
        <div class="ladb-knowledge-badges">
            {% if provider.inStoreSelling %}<i class="ladb-icon-badge-store" data-tooltip="tooltip" title="{{ 'knowledge.provider.field.in_store_selling'|trans() }}"></i> {% endif %}
            {% if provider.mailOrderSelling %}<i class="ladb-icon-badge-vpc" data-tooltip="tooltip" title="{{ 'knowledge.provider.field.mail_order_selling'|trans() }}"></i>{% endif %}
            {% if provider.saleToIndividuals %}<i class="ladb-icon-badge-individuals" data-tooltip="tooltip" title="{{ 'knowledge.provider.field.sale_to_individuals'|trans() }}"></i>  {% endif %}
            {% if provider.saleToIndividuals == false and provider.saleToIndividuals is not null %}<i class="ladb-icon-badge-pro" data-tooltip="tooltip" title="{{ 'knowledge.provider.field.pro_only'|trans() }}"></i>  {% endif %}
        </div>
    {% endif %}
</div>
