{% extends 'LadbCoreBundle:Common:_entity-header.part.html.twig' %}

{% set entity = provider %}
{% set headingClasses = provider.signRejected ? 'ladb-strikethrough' : null %}

{% block headingInner %}
    {{ parent() }}{% if provider.store is not empty %}&nbsp;<small>({{ provider.store }})</small>{% endif %}
{% endblock %}

{% block subheadingInner %}
    {% if provider.website %}<div class="ladb-subblock"><i class="ladb-icon-globe"></i> <a href="{{ provider.website }}" target="_blank">{{ provider.website|ladb_url_trim|truncate(30) }}</a></div> {% endif %}
    {% if provider.phone %}<div class="ladb-subblock"><i class="ladb-icon-phone"></i> <a href="tel:{{ provider.phone }}">{{ provider.phone }}</a></div>{% endif %}
{% endblock %}