{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{# set provider #}

{% set entity = provider %}
{% set headingClasses = provider.signRejected ? 'ladb-text-barred' : null %}
{% set titleLinkClasses = provider.signRejected ? 'ladb-color-null' : null %}
{% set imgClasses = provider.signRejected or provider.logoRejected ? 'ladb-desaturate ladb-translucent' : null %}

{% block title %}
    {{ parent() }}{% if provider.store is not empty %}&nbsp;<small>({{ provider.store }})</small>{% endif %}
{% endblock %}

{% block image %}
    {% if provider.logoRejected %}
        <div class="ladb-box-barred">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block entityMetas %}
    {% if provider.state > 0 %}
        <div class="label label-danger"><i class="ladb-icon-warning"></i> {{ ('knowledge.provider.state_alert_'~provider.state)|trans() }}</div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'LadbCoreBundle:Knowledge/Provider:_compact-infos.part.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'LadbCoreBundle:Common:_unviewed-bullet.part.html.twig' with { 'entity':provider } %}
    {{ provider.contributorCount }} <i class="ladb-icon-users"></i>{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'classes':'ladb-hidden-mobile' } %}
{% endblock %}
