{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% set navSection = 'providers' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Knowledge/Provider:_entity-header.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    {% if howtos.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            Aucun pas à pas n'est associé à ce fournisseur.
        </div>
    {% else %}
        <div class="panel panel-default ladb-margin-remove ladb-margin-top">
            <div class="panel-body">
                Liste des pas à pas pour lesquelles leurs auteurs ont indiqué se fournir chez <a href="{{ ladb_entity_url_action(provider) }}">{{ provider.title }}</a> pour les réaliser.
            </div>
        </div>
        {% embed 'LadbCoreBundle:Howto/Howto:_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_provider_howtos_filter' %}
            {% set filterPathParameters = { 'id':provider.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ provider.howtos.count }} {{ 'howto.howto.choice.howtos'|transchoice(provider.howtos.count) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Howto/Howto:_list-n.part.html.twig' %}
{% endblock %}