<div class="ladb-message-row{% if message.sender == app.user %} ladb-message-mine{% endif %}">
    <div id="ladb_message_{{ message.id }}" class="ladb-message">
        {% include 'LadbCoreBundle:Core/User:_avatar-link.part.html.twig' with { 'user':message.sender, 'linkClasses':'pull-left' } %}
        <div class="ladb-box">
            <div class="ladb-heading">
                {% include 'LadbCoreBundle:Core/User:_displayname-link.part.html.twig' with { 'user':message.sender } %}{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'entity':message, 'showEdited':true } %}
                <div class="pull-right ladb-minitools">
                    {% if message.sender == app.user %}
                        <a href="{{ path('core_message_edit', { 'id':message.id }) }}" class="ladb-message-edit" data-tooltip="tooltip" title="{{ 'default.edit'|trans() }}" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-edit"></i></a>
                    {% else %}
                        {% include 'LadbCoreBundle:Core/Report:_widget-mini.part.html.twig' with { 'entityType':message.type, 'entityId':message.id } %}
                    {% endif %}
                </div>
            </div>
            <div id="ladb_message_{{ message.id }}_body" class="ladb-body">
                {{ message.htmlBody|raw }}
                {% if message.pictures is not empty %}
                    <div class="row">
                        {% for picture in message.pictures %}
                            <div class="col-xs-6 col-md-3">
                                {% include 'LadbCoreBundle:Core/Picture:_img-link.part.html.twig' with { 'width':'128', 'height':'128' } %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>