{% extends 'LadbCoreBundle::email-layout.html.twig' %}

{% block content %}
    <p>Vous avez reçu un nouveau message de la part de <strong>{{ actorUser.displayname }}</strong> sur le sujet <a href="{{ url('core_message_thread_show', { 'id':thread.id }) }}" style="color: #f77f00; text-decoration: none;">{{ thread.subject }}</a>.</p>
    <table cellpadding="0" cellspacing="10" border="0" width="100%" style="border-top: 1px solid #ddd">
        <tbody>
        <tr>
            <td width="32" valign="top">
                <img src="{{ (actorUser.avatar ? actorUser.avatar.webPath : 'avatar.png')|imagine_filter('32x32o') }}" width="32" height="32">
            </td>
            <td>
                <a href="{{ url('core_user_show', { 'username':actorUser.usernameCanonical }) }}" style="color: #f77f00; text-decoration: none; font-weight: bold;">{{ actorUser.displayname }}</a>
                <blockquote style="margin: 5px 0 0 0; padding: 0;">{{ message.htmlBody|raw }}</blockquote>
                {% for picture in message.pictures %}
                    <img src="{{ picture.webPath|imagine_filter('64x64o') }}" width="64" height="64" style="border: 1px solid #ccc; background-color: #fff; padding: 4px; margin-right: 4px;" alt="{{ picture.legend|raw }}">
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td height="30"><a href="{{ url('core_message_thread_show', { 'id':thread.id })~'#message_reply' }}" style="border: 1px solid #ddd; background: #f7f7f7; padding: 6px 12px; color: #333; text-decoration: none;">Répondre</a></td>
        </tr>
        </tbody>
    </table>
    {% if thread.announcement %}
        <p><em>Ce message est une annonce publique.</em></p>
    {% endif %}
{% endblock %}