{% extends 'LadbCoreBundle:Message:_layout.html.twig' %}

{% set bodyContainerClasses = 'ladb-margin-top' %}
{% set tab = announcement ? 'new_thread_announcement' : 'new_thread' %}

{% form_theme form 'LadbCoreBundle:Common:_form-theme.twig.twig' %}

{% block headStylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.css" media="screen" />
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/selectize/selectize.ladb.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
    <script>
        $('#{{ form.recipients.vars.id }}').selectize({
            plugins: ['remove_button'],
            valueField: 'username',
            searchField: 'displayname',
            create: false,
            maxItems: 20,
            closeAfterSelect: true,
            selectOnTab: true,
            placeholder: 'Saisissez le nom d\'un boiseu',
            {% if form.vars.data.recipients|length > 0 %}
                options: [
                    {% for recipent in form.vars.data.recipients %}
                    {
                        username: "{{ recipent.username }}",
                        displayname: "{{ recipent.displayname }}",
                        avatar: "{{ recipent.avatar.webPath|imagine_filter('32x32o') }}"
                    }{% if loop.last == false %},{% endif %}
                    {% endfor %}
                ],
            {% endif %}
            render: {
                item: function(item) {
                    return '<div class="ladb-selectize-item"><img src="' + item.avatar + '" width="20" height="20"><span class="ladb-selectize-displayname">' + item.displayname + '</span></div>';
                },
                option: function(item, escape) {
                    return '<div class="ladb-selectize-option media">' +
                        '<div class="media-left"><img src="' + item.avatar + '" width="32" height="32"></div>' +
                        '<div class="media-body">' +
                            '<div class="ladb-selectize-displayname">' + escape(item.displayname) + '</div> ' +
                            '<div class="ladb-selectize-username">@' + escape(item.username) + '</div>' +
                        '</div>' +
                        '</div>';
                }
            },
            load: function(query, callback) {
                if (!query.length) return callback();
                $.ajax({
                    url: '{{ path('core_search_typeahead_users_json') }}',
                    type: 'GET',
                    data: {
                        q: query,
                    },
                    error: function(e) {
                        callback();
                    },
                    success: function(res) {
                        callback(res.suggestions);
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block bodyContainerContent %}
    <div id="message-reply" class="ladb-message">
        {% include 'LadbCoreBundle:Core/User:_avatar.part.html.twig' with { 'user':app.user, 'imgClasses':'pull-left' } %}
        <div class="ladb-box">
            <div class="ladb-body">
                {{ form_start(form, { 'action':path(announcement ? 'core_message_thread_create_announcement' : 'core_message_thread_create'), 'method':'post', attr:{ novalidate: 'novalidate' } }) }}
                    {% if not announcement %}
                        <div class="form-group">
                            {{ form_label(form.recipients, 'Destinataires') }}
                            {{ form_errors(form.recipients) }}
                            {{ form_widget(form.recipients, { 'attr': { 'class':'form-control' } }) }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form_label(form.subject, 'Objet') }}
                        {{ form_errors(form.subject) }}
                        {{ form_widget(form.subject, { 'attr': { 'class':'form-control' } }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.body, 'Message') }}
                        {{ form_errors(form.body) }}
                        {{ form_widget(form.body, { 'attr': { 'rows':'10', 'class':'form-control ladb-autosize' } }) }}
                        {% include 'LadbCoreBundle:Core/Picture:_form-gallery-script.part.html.twig' with { 'fieldId':form.pictures.vars.id, 'maxPictureCount':4, 'hideTextOverlayWarning':true, 'sortable':true } %}
                        {% include 'LadbCoreBundle:Core/Picture:_form-gallery-collapse.part.html.twig' %}
                        <script>
                            if (document.readyState == "complete") {
                                $("#{{ form.body.vars.id }}").markdown().ladbTextcompletify({
                                    mentionQueryPath: '{{ path('core_search_typeahead_users_json') }}'
                                });
                            } else {
                                $(document).ready(function() {
                                    $("#{{ form.body.vars.id }}").markdown().ladbTextcompletify({
                                        mentionQueryPath: '{{ path('core_search_typeahead_users_json') }}'
                                    });
                                });
                            }
                        </script>
                    </div>
                    {% if announcement %}
                        <a href="#new_thread_modal" class="btn btn-danger" data-toggle="modal" >{{ 'default.send'|trans() }}</a>
                        {% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'new_thread_modal', 'title':('message.thread.announcement.new'|trans()) } %}
                            {% block bodyInner %}
                                <p>Ce mesage est une annonce, il sera envoyé à tout le monde.</p>
                                <p>Confirmez l'action pour continuer.</p>
                            {% endblock %}
                            {% block footerInner %}
                                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                {% include 'LadbCoreBundle:Common:_form-btn-loading.part.html.twig' with { 'text':('default.send'|trans()), 'classes':'btn-danger' } %}
                            {% endblock %}
                        {% endembed %}
                    {% else %}
                        <div class="alert alert-info">
                            <div class="media">
                                <div class="media-left"><i class="ladb-icon-info ladb-icon-lg"></i></div>
                                <div class="media-body">
                                    <h4>A lire avant d'envoyer</h4>
                                    <p>Cette messagerie privée se destine à prendre contact individuellement avec les membres inscrits de la plateforme.<br>
                                    <u>La prospection commerciale n'y est pas attendue</u>. Pour plus d'informations, le sujet est débattu <a href="/blog/102-publicite-en-message-prive.html" class="alert-link">ici</a>.</p>
                                </div>
                            </div>
                        </div>
                        {% include 'LadbCoreBundle:Common:_form-btn-loading.part.html.twig' with { 'text':('default.send'|trans()) } %}
                    {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}