{% extends 'LadbCoreBundle:Message:_layout.html.twig' %}

{% form_theme form 'LadbCoreBundle:Common:_form-theme.twig.twig' %}

{% use 'LadbCoreBundle:Common:blueimp-gallery-widget.blocks.html.twig' %}

{% set tab = 'show_thread' %}
{% set bodyClass = 'ladb-no-footer' %}

{% block headStylesheets %}
    {{ parent() }}
    {{ block('blueimpGalleryStylesheets') }}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('blueimpGalleryJavascripts') }}
    <script>
        $(document).ready(function () {

            {# Setup Tooltips #}
            setupTooltips();

            {# Intercept hash that starts with #_ scrollto behavior #}
            if (window.location.hash && window.location.hash.startsWith('#_')) {
                setTimeout(function() {
                    var selector = window.location.hash.replace('#', '#ladb');   {# Change to a valid element ID like #ladb_XXX #}
                    var $target = $(selector);
                    $target.ladbScrollTo(null, {
                        onAfter: function() {
                            $target.effect('highlight', {}, 1500);
                        }
                    });
                }, 1000);
            } else {
                $('.ladb-message-row:last').ladbScrollTo(null, {
                    smoothScroll: false
                });
            }

        });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ block('blueimpGalleryWidget') }}
{% endblock %}

{% block tools %}
    <div class="ladb-header-tools pull-right">
        {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':thread.type, 'entityId':thread.id } %}
        <a href="#delete_thread_modal" class="btn btn-danger" data-toggle="modal"><i class="ladb-icon-delete"></i><span class="ladb-hidden-mobile"> {{ 'default.delete'|trans() }}</span></a>
        {% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'delete_thread_modal', 'title':('default.deletion'|trans()) } %}
            {% block bodyInner %}
                <p>La suppression de la conversation "<strong>{{ thread.subject }}</strong>" entrainera l'effacement de tous les messages qu'elle contient.</p>
                <p>Confirmez l'action pour continuer.</p>
            {% endblock %}
            {% block footerInner %}
                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                <a href="{{ path('core_message_thread_delete', { 'id':thread.id }) }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}</a>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}

{% block bodyContainerContent %}
    <div class="ladb-thread">
        <div class="ladb-participants pull-right">
            <span class="label label-default">{{ thread.messageCount }} <i class="ladb-icon-comment"></i></span>
            <span><strong>{{ thread.participants|length }}</strong> participants</span>
            {% for participant in thread.participants %}
                {% include 'LadbCoreBundle:Core/User:_avatar-link.part.html.twig' with { 'user':participant } %}
            {% endfor %}
        </div>
        <h2 class="ladb-subject">{{ thread.subject }}</h2>
        <div class="ladb-messages">
            {% for message in thread.messages %}
                <div class="ladb-message-row{% if message.sender == app.user %} ladb-message-mine{% endif %}">
                    <div id="ladb_message_{{ message.id }}" class="ladb-message">
                        {% include 'LadbCoreBundle:Core/User:_avatar-link.part.html.twig' with { 'user':message.sender, 'linkClasses':'pull-left' } %}
                        <div class="ladb-box">
                            <div class="ladb-heading">
                                {% include 'LadbCoreBundle:Core/User:_displayname-link.part.html.twig' with { 'user':message.sender } %}<span class="ladb-age">{{ message.createdAt|time_diff() }}</span>
                                {% if message.sender != app.user %}
                                    <div class="pull-right ladb-minitools">
                                        {% include 'LadbCoreBundle:Core/Report:_widget-mini.part.html.twig' with { 'entityType':message.type, 'entityId':message.id } %}
                                        &nbsp;
                                    </div>
                                {% endif %}
                            </div>
                            <div id="ladb_message_{{ message.id }}_body" class="ladb-body collapse in">
                                {{ message.htmlBody|raw }}
                                {% if message.pictures is not empty %}
                                    <div class="row">
                                        {% for picture in message.pictures %}
                                            <div class="col-xs-3">
                                                {% include 'LadbCoreBundle:Core/Picture:_img-link.part.html.twig' with { 'width':'128', 'height':'128' } %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if not thread.announcement %}
                <div class="ladb-message-row ladb-message-mine">
                    <div id="message_reply" class="ladb-message">
                        {% include 'LadbCoreBundle:Core/User:_avatar.part.html.twig' with { 'user':app.user, 'imgClasses':'pull-left' } %}
                        <div class="ladb-box">
                            <div class="ladb-body">
                                {{ form_start(form, { 'action':(path('core_message_thread_update', { 'id':thread.id })~'#message_reply'), 'method':'post', attr:{ novalidate: 'novalidate' } }) }}
                                    <div class="form-group">
                                        {{ form_errors(form.body) }}
                                        {{ form_widget(form.body, { 'attr': { 'rows':'3', 'class':'form-control ladb-autosize' } }) }}
                                        {% include 'LadbCoreBundle:Core/Picture:_form-gallery-script.part.html.twig' with { 'fieldId':form.pictures.vars.id, 'maxPictureCount':4, 'hideTextOverlayWarning':true, 'sortable':true } %}
                                        {% include 'LadbCoreBundle:Core/Picture:_form-gallery-collapse.part.html.twig' %}
                                        <script>
                                            if (document.readyState == "complete") {
                                                $("#{{ form.body.vars.id }}").markdown().ladbTextcompletify({
                                                    mentionQueryPath: '{{ path('core_search_typeahead_users_json') }}'
                                                });
                                            } else {
                                                $(document).ready(function() {
                                                    $("#{{ form.body.vars.id }}").markdown().ladbTextcompletify({
                                                        mentionQueryPath: '{{ path('core_search_typeahead_users_json') }}'
                                                    });
                                                });
                                            }
                                        </script>
                                    </div>
                                    {{ form_rest(form) }}
                                    {% include 'LadbCoreBundle:Common:_form-btn-loading.part.html.twig' with { 'text':('default.send'|trans()) } %}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% include 'LadbCoreBundle:Core/Report:_modal.part.html.twig' %}
{% endblock %}

{% block bodyFooter %}{% endblock %}