{% extends "FOSUserBundle::layout.html.twig" %}

{% block subtitle %}{{ 'change_password.heading'|trans() }}{% endblock %}

{% form_theme form 'LadbCoreBundle:Common:_form-theme.twig.twig' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-3">
            <div class="panel panel-default panel-lg">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'change_password.heading'|trans() }}</h1>
                </div>
                {{ form_start(form, { 'action':path('fos_user_change_password'), 'method':'POST' }) }}
                    <div class="panel-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="panel-footer">
                        <input type="submit" value="{{ 'change_password.submit'|trans() }}" class="btn btn-primary" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.heading'|trans() }}</a>
        </div>
    </div>
{% endblock fos_user_content %}
