{% extends 'Common/Layout/_list.html.twig' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'Common/Header:_entity-header.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top">
        <div class="panel-body">
            Liste des <strong>collections publiques</strong> dans lesquelles a été enregistrée la publication <a href="{{ ladb_entity_url_action(entity) }}">{{ entity.title }}</a>.
        </div>
    </div>
    <div class="ladb-filterbar">
        <span class="ladb-heading pull-right">{{ collections.count }} {{ 'collection.collection.choice.entities'|trans({'count' : collections.count}) }}</span>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Collection/Collection:_list-n.part.html.twig' %}
{% endblock %}
