{% extends 'Common/Layout/_show.html.twig' %}

{% set entity = collection %}

{% set pageSectionUrl = url('core_collection_list') %}
{% set pageSectionName = ('collection.collection.list')|trans %}

{% set navSection = 'collections' %}
{% set searchPath = path('core_collection_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == collection.user.id %}

{% block bodyHeaderContainerContent %}
    {% embed 'Common/Header/_entity-show-header.part.html.twig' %}
        {% block subheading %}{{ parent() }}{% include 'Collection/Collection/_visibility-badge.part.html.twig' with { 'classes':'ladb-hidden-mobile ladb-margin-left' } %}{% endblock %}
    {% endembed %}
    <ul class="nav nav-tabs">
        <li{% if entityType == 0 %} class="active"{% endif %}>
            <a href="{{ path('core_collection_show', { 'id':collection.sluggedId }) }}">Infos</a>
        </li>
        {% if collection.entryTypeCounters is not empty %}
            {% for type, count in collection.entryTypeCounters|filter( (type, count) => count > 0 ) %}
                <li{% if entityType == type %} class="active"{% endif %}>
                    <a href="{{ path('core_collection_show_type', { 'id':collection.id, 'entityType':type }) }}">{{ (ladb_entity_type_stripped_name(type, '.')~'.choice.entities')|transchoice(count)|capitalize }} <span class="badge badge-black">{{ count }}</span></a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
