{% extends 'LadbCoreBundle:Common:_show.html.twig' %}

{% set entity = question %}
{% set pageItemType = 'Question' %}

{% set navSection = 'qa' %}
{% set searchPath = path('core_qa_question_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == question.user.id %}

{% block headStylesheets %}
    {{ parent() }}
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/ladb/layout/qa.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.questionpage.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#container').ladbQuestionPage({
                answerNewPath: '{{ path('core_qa_answer_new', { 'id':question.id }) }}'
            });
        });
    </script>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':question } %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% if not ownerUser %}
                    {% include 'LadbCoreBundle:Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% endif %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                {% if not ownerUser %}
                    &nbsp;
                    {% include 'LadbCoreBundle:Report:_widget-button.part.html.twig' with { 'entityType':question.type, 'entityId':question.id } %}
                {% endif %}
                {% if ownerUser or is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="{{ path('core_qa_question_edit', { 'id':question.id }) }}" class="btn btn-default"><i class="ladb-icon-edit"></i><span class="ladb-visible-desktop"> {{ 'default.edit'|trans() }}</span></a>
                    {% if not question.isDraft %}
                        <a href="#unpublish_question_modal" class="btn btn-default" data-toggle="modal" ><i class="ladb-icon-unpublish"></i><span class="ladb-visible-desktop"> {{ 'default.unpublish'|trans() }}</span></a>
                        {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'unpublish_question_modal', 'title':('default.unpublishing'|trans()) } %}
                            {% block bodyInner %}
                                <p>La dépublication de <strong>{{ question.title }}</strong> le rendra invisible pour les autres utilisateurs.</p>
                                <p>Confirmez l'action pour continuer.</p>
                            {% endblock %}
                            {% block footerInner %}
                                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                <a href="{{ path('core_qa_question_unpublish', { 'id':question.id }) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a>
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                    <a href="#delete_question_modal" class="btn btn-danger" data-toggle="modal"><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                    {% include 'LadbCoreBundle:Common:_delete-entity-modal.part.html.twig' with { 'id':'delete_question_modal', 'entityTitle':question.title, 'deletePath':path('core_qa_question_delete', { 'id':question.id }) } %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyContainerContent %}
    {% if question.isDraft %}
        {% include 'LadbCoreBundle:Qa:_draft-alert.part.html.twig' %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block contentBody %}
    <div class="ladb-question">
        <div class="ladb-body" itemprop="articleBody">
            {% for block in question.bodyBlocks %}
                {% include 'LadbCoreBundle:Block:_show-'~block.strippedName~'.part.html.twig' %}
            {% endfor %}
        </div>
        {% if question.updatedAt > question.createdAt %}
            {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':question } %}
        {% endif %}
    </div>
    {% if not ownerUser %}
        {% include 'LadbCoreBundle:Common:_like-and-follow.part.html.twig' %}
    {% endif %}
    <div>
        <div class="text-right">
            <i class="ladb-icon-comment"></i> <a data-toggle="collapse" data-target="#demo">{{ question.commentCount }} commentaires</a>
        </div>
        <div id="demo" class="collapse">
            {% include 'LadbCoreBundle:Comment:_widget.part.html.twig' with { 'headingHidden':true } %}
        </div>
    </div>
    <h3>Réponses</h3>
    <div class="ladb-question-answers">
        {% for answer in question.answers %}
            {% include 'LadbCoreBundle:Qa:_answer-row.part.html.twig' %}
        {% endfor %}
    </div>
    <button id="ladb_answer_btn" class="btn btn-default">Répondre</button>
    {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'answer_modal', 'title':('qa.answer.create'|trans()), 'classes':'modal-wide' } %}
        {% block headerInner %}
            {{ 'default.loading'|trans() }}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    {% endembed %}

{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
    </div>
    {% include 'LadbCoreBundle:Tag:_metas.part.html.twig' with { 'tags':question.tags, 'type':'questions' } %}
{% endblock %}

{% block contentSuggests %}
    {% if similarQuestions is not null %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('blog.question.similar')|trans() }}
            </div>
            <div class="panel-body row">
                {% for similarQuestion in similarQuestions %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Blog:_thumbnail-link.part.html.twig' with { 'question':similarQuestion, 'classes':(loop.last ? null : 'ladb-margin-bottom') } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

