{% extends 'Common/Modal/_modal-content.part.html.twig' %}

{% use 'Common/Blocks/list-autopager.blocks.html.twig' %}

{% set id = 'notifications_modal' %}
{% set title = '<i class="ladb-icon-notifications"></i>&nbsp;'~('notification.list'|trans()) %}
{% set classes = 'modal-infinit' %}
{% set embeddedBody = notifications|length > 0  %}

{% set autopagerContainerSelector = '#notifications_modal .modal-body' %}

{% block headerMinitoolsInner %}
    <div class="dropdown ladb-horizontal-separator-right ladb-horizontal-separator-right-lg">
        <a class="ladb-minitools-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ladb-icon-filter"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-scrollable">
            <li{% if filter == 'recent' %} class="active"{% endif %}><a href="{{ path('core_notification_list') }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-notifications"></i> {{ 'notification.dropdown.all'|trans }}</a></li>
            <li{% if filter == 'activity-mention' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-mention' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-mention"></i> {{ 'notification.dropdown.mention'|trans }}</a></li>
            <li{% if filter == 'activity-like' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-like' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-like"></i> {{ 'notification.dropdown.like'|trans }}</a></li>
            <li{% if filter == 'activity-comment' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-comment' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-comment"></i> {{ 'notification.dropdown.comment'|trans }}</a></li>
            <li{% if filter == 'activity-answer' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-answer' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-answer"></i> {{ 'notification.dropdown.answer'|trans }}</a></li>
            <li{% if filter == 'activity-follow' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-follow' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-follow"></i> {{ 'notification.dropdown.follow'|trans }}</a></li>
            <li{% if filter == 'activity-invite' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-invite' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-invite"></i> {{ 'notification.dropdown.invite'|trans }}</a></li>
            <li{% if filter == 'activity-request' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-request' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-request"></i> {{ 'notification.dropdown.request'|trans }}</a></li>
            <li{% if filter == 'activity-publish' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-publish' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-plus"></i> {{ 'notification.dropdown.publish'|trans }}</a></li>
            <li{% if filter == 'activity-vote' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-vote' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-check"></i> {{ 'notification.dropdown.vote'|trans }}</a></li>
            <li{% if filter == 'activity-join' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-join' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-join"></i> {{ 'notification.dropdown.join'|trans }}</a></li>
            <li{% if filter == 'activity-testify' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-testify' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-student"></i> {{ 'notification.dropdown.testify'|trans }}</a></li>
            <li{% if filter == 'activity-review' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-review' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-review"></i> {{ 'notification.dropdown.review'|trans }}</a></li>
            <li{% if filter == 'activity-feedback' %} class="active"{% endif %}><a href="{{ path('core_notification_list_filter', { 'filter':'activity-feedback' }) }}" onclick="$(this).ladbHrefAjax(event, { targetSelector:'#notifications_modal .modal-content', replaceTargetInnerOnly:true });" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-notification-icon ladb-icon-feedback"></i> {{ 'notification.dropdown.feedback'|trans }}</a></li>
        </ul>
    </div>
    {{ parent() }}
{% endblock %}

{% block bodyInner %}
    {% if notifications|length == 0 %}
        <p>Aucune notification pour le moment.</p>
    {% endif %}
    {% include 'Core/Notification/_list-n.part.html.twig' %}
    {{ block('autopagerScript') }}
{% endblock %}

{% block footerInner %}
    {% include 'Core/Notification/_webpush-tip.part.html.twig' %}
{% endblock %}
