{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail.part.html.twig' %}

{# set software #}

{% set entity = software %}
{% set classes = 'ladb-no-overlay-caption' %}
{% set headingClasses = software.identityRejected ? 'ladb-text-barred' : null %}
{% set imgClasses = software.identityRejected or software.iconRejected ? 'ladb-desaturate ladb-translucent' : null %}
{% set pictureWidth = '282' %}
{% set pictureHeight = '280' %}
{% set pictureFilterMode = 'o' %}

{% block title %}
    {% if software.openSource %}
        <i class="ladb-icon-open-source" data-tooltip="tooltip" data-original-title="Open Source"></i>
    {% endif %}
    {{ parent() }}
    {% if software.publisher %}
        <span class="ladb-horizontal-separator-left ladb-color-null"><em>{{ software.publisher }}</em></span>
    {% endif %}
    {% if software.isAddOn %}
        <div class="ladb-color-null"><small><i class="ladb-icon-addon"></i> Plugin {{ software.hostSoftwareName }}</small></div>
    {% endif %}
{% endblock %}

{% block image %}
    <div style="padding: 10px;">
    {% if software.iconRejected %}
        <div class="ladb-box-barred">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
    </div>
{% endblock %}

{% block entityMetas %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Review:_thumbnail-meta-counter.part.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'LadbCoreBundle:Knowledge:_list-thumbnail-footer.part.html.twig' %}
{% endblock %}


