{# set entity #}

{% set i18nPrefix = i18nPrefix|default(ladb_entity_type_stripped_name(entity)) %}

<div class="ladb-reviews-header">
    {% if entity.reviewCount > 0 %}
        {% if is_granted("ROLE_USER") and userReview is defined and not userReview %}<button class="btn btn-default pull-right" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$('#ladb_review_btn').click();"><i class="ladb-icon-plus"></i> {{ 'review.new'|trans() }}</button>{% endif %}
        <h2 id="ladb_reviews" class="ladb-margin-bottom"><i class="ladb-icon-review"></i> {{ entity.reviewCount }} {{ ('review.'~i18nPrefix~'.choice.entities')|transchoice(entity.reviewCount) }}</h2>
    {% else %}
        <h2 id="ladb_reviews"><i class="ladb-icon-review"></i> {{ ('review.'~i18nPrefix~'.choice.entities')|transchoice(2)|capitalize }}</h2>
    {% endif %}
</div>
