{# set formSection #}
{# set formPictures #}
{# set pictures #}
{# set maxPictureCount #}
{# set help (facultative) #}
{# set mandatory (facultative) #}
{# set sortable (facultative) #}
{# set hideTextOverlayWarning (facultative) #}

{% set formPictures = formPictures is defined ? formPictures : form.pictures %}
{% set pictures = pictures is defined ? pictures : (form.vars.data is not null ? form.vars.data.pictures : {}) %}
{% set maxPictureCount = maxPictureCount is defined ? maxPictureCount : form.vars.data.maxPictureCount %}
{% set formSection = formSection is defined ? formSection : 'pictures' %}
{% set mandatory = mandatory is defined ? mandatory : false %}
{% set sortable = sortable is defined ? sortable : false %}
{% set hideTextOverlayWarning = hideTextOverlayWarning is defined ? hideTextOverlayWarning : false %}

<div id="{{ formSection }}_dropzone">
    {% if help is defined %}<p class="help-block"><i>{{ help|raw }}</i></p>{% endif %}
    {% if preferedSize is defined %}<p class="help-block"><i>Taille préconisée : {{ preferedSize }}px</i></p>{% endif %}
    {% if mandatory and maxPictureCount > 1 %}
        <p class="help-block"><i>{{ 'picture.form.choice.mandatory'|transchoice(maxPictureCount) }}</i></p>
    {% endif %}
    {{ form_errors(formPictures) }}
    {{ form_widget(formPictures) }}
    <ul id="{{ formSection }}_thumbnails" class="ladb-form-thumbnails">
        {% spaceless %}
        {% for picture in pictures %}
            {% include 'LadbCoreBundle:Picture:_form-thumbnail.part.html.twig' %}
        {% endfor %}
        {% endspaceless %}
    </ul>
    <div id="{{ formSection }}_fileupload" {% if pictures|length >= maxPictureCount %}style="display: none;"{% endif %}>
        <div class="progress progress-striped" role="progressbar" style="display: none;">
            <div class="progress-bar" role="progressbar"></div>
        </div>
        <span class="btn btn-success ladb-fileinput-button">
            <i class="ladb-icon-plus"></i>&nbsp;
            <span>{{ (maxPictureCount > 1 ? 'picture.add_multiple' : 'picture.add_one')|trans() }}</span>
            <input type="file" name="files[]" data-url="{{ path('core_picture_upload') }}"{% if maxPictureCount > 1 %} multiple{% endif %}>
        </span>
    </div>
    {% if not hideTextOverlayWarning %}
        <br/>
        <p class="help-block ladb-color-danger"><i class="ladb-icon-warning"></i>&nbsp;{{ 'picture.form.text_overlay_warning'|trans() }}</p>
    {% endif %}
</div>