{# set funding #}

<div id="ladb_funding_dashboard" class="panel panel-default ladb-funding-dashboard" data-ladb-balance-ratio="{{ (funding.earningsBalance - funding.donationFeeBalance) / funding.chargeBalance }}">
    <div class="panel-body">
        <div class="ladb-nav">
            <a href="{{ prevPageUrl ? prevPageUrl : '#' }}" class="btn btn-default {% if not prevPageUrl %} disabled{% endif %} ladb-prev" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-chevron-left"></i></a>
            <h4 class="ladb-date">{{ (('month.long.'~(funding.date|date('M')|lower))|trans({}, 'date'))|capitalize }} {{ funding.year }}{% if funding.isCurrent %} <small>(Mois en cours)</small>{% endif %}</h4>
            <a href="{{ nextPageUrl ? nextPageUrl : '#' }}" class="btn btn-default {% if not nextPageUrl %} disabled{% endif %} ladb-next" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-chevron-right"></i></a>
        </div>
        <div class="row ladb-body" style="position: relative;">
            <div class="col-sm-6 col-xs-12 ladb-piggy">
                <div>
                    <div id="circle" style="position: relative;">
                        <i class="ladb-icon-piggy"></i>
                        <div class="ladb-value">
                            <span></span><span>%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 ladb-board">
                <div class="ladb-board">
                    <table width="100%">
                        <tr>
                            <td><small>{{ 'funding.charge_balance'|trans() }}</small></td>
                            <td class="ladb-amount"><span class="ladb-color-negative">{{ funding.chargeBalanceEur|number_format(2, ',', ' ') }}€</span></td>
                            <td class="ladb-minitools"><a href="{{ path('core_funding_infos', { 'year':funding.year, 'month':funding.month, panel:'charge-balance' }) }}" id="ladb_charge_balance_infos_btn"><i class="ladb-icon-help"></i></a></td>
                        </tr>
                        <tr>
                            <td><small>{{ 'funding.donation_fee_balance'|trans() }}</small></td>
                            <td class="ladb-amount"><span class="{% if funding.donationFeeBalanceEur > 0 %}ladb-color-negative{% else %}ladb-color-null{% endif %}">{{ funding.donationFeeBalanceEur|number_format(2, ',', ' ') }}€</span></td>
                            <td class="ladb-minitools"><a href="{{ path('core_funding_infos', { 'year':funding.year, 'month':funding.month, panel:'donation-fee-balance' }) }}" id="ladb_donation_fee_balance_infos_btn"><i class="ladb-icon-help"></i></a></td>
                        </tr>
                        <tr>
                            <td>{{ 'funding.outgoings_balance'|trans() }}</td>
                            <td class="ladb-amount ladb-amount-lg"><span class="{% if funding.outgoingsBalanceEur > 0 %}ladb-color-negative{% else %}ladb-color-null{% endif %}">{{ (funding.outgoingsBalanceEur)|number_format(2, ',', ' ') }}€</span></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3"><hr></td>
                        </tr>
                        <tr>
                            <td><small>{{ 'funding.carried_forward_balance'|trans() }}</small></td>
                            <td class="ladb-amount"><span class="{% if funding.carriedForwardBalanceEur > 0 %}ladb-color-positive{% else %}ladb-color-null{% endif %}">{{ funding.carriedForwardBalanceEur|number_format(2, ',', ' ') }}€</span></td>
                            <td class="ladb-minitools"><a href="{{ path('core_funding_infos', { 'year':funding.year, 'month':funding.month, panel:'carried-forward-balance' }) }}" id="ladb_carried_forward_balance_infos_btn"><i class="ladb-icon-help"></i></a></td>
                        </tr>
                        <tr style="line-height: 22px;">
                            <td><small>{{ 'funding.donation_balance'|trans() }}</small></td>
                            <td class="ladb-amount"><span class="{% if funding.donationBalanceEur > 0 %}ladb-color-positive{% else %}ladb-color-null{% endif %}">{{ funding.donationBalanceEur|number_format(2, ',', ' ') }}€</span></td>
                            <td class="ladb-minitools"><a href="{{ path('core_funding_infos', { 'year':funding.year, 'month':funding.month, panel:'donation-balance' }) }}" id="ladb_donation_balance_infos_btn"><i class="ladb-icon-help"></i></a></td>
                        </tr>
                        <tr>
                            <td>{{ 'funding.earnings_balance'|trans() }}</td>
                            <td class="ladb-amount ladb-amount-lg"><span class="{% if funding.earningsBalanceEur > 0 %}ladb-color-positive{% else %}ladb-color-null{% endif %}">{{ (funding.earningsBalanceEur)|number_format(2, ',', ' ') }}€</span></td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 ladb-caption">
                {% if funding.visibility > 0 %}
                    {% if funding.isCurrent %}
                        <small><i class="ladb-icon-check-square"></i> <strong>Financé</strong> pour <strong>{{ funding.visibility }} mois</strong> entier{% if funding.visibility > 1 %}s{% endif %}{% if funding.visibility > 2 %} !{% else %}.{% endif %}</small>
                    {% else %}
                        <small><i class="ladb-icon-check-square"></i> Mois <strong>financé</strong>.{% if funding.visibility > 1 %} Report sur <strong>{{ funding.visibility - 1 }} mois</strong> entiers.{% elseif funding.partialVisibility > 1 %} Report partiel sur le mois suivant.{% endif %}</small>
                    {% endif %}
                {% else %}
                    <small class="ladb-color-negative"><i class="ladb-icon-warning"></i> Mois <strong>{% if funding.earningsBalanceEur == 0 %}non{% else %}partiellement{% endif %} financé</strong>. Il manque <strong>{{ (funding.outgoingsBalanceEur - funding.earningsBalanceEur)|number_format(2, ',', ' ') }}€</strong> :(</small>
                {% endif %}
            </div>
            {% include 'LadbCoreBundle:Common:_loading-panel.part.html.twig' %}
            <div class="col-xs-12">
                <hr>
                <div class="media">
                    <div class="media-left">
                        <i class="ladb-icon-info ladb-icon-lg"></i>
                    </div>
                    <div class="media-body">
                        <p>Attention, le maintien et le développement d'une plateforme comme <em>L'Air du Bois</em> ne peut pas se résumer au coût de <strong>{{ funding.outgoingsBalanceEur|number_format(2, ',', ' ') }}€</strong> par mois.</p>
                        <p>Ne sont comptabilisés ici que les frais fixes facturés par des prestataires externes.</p>
                        <p>Le plus gros de l'effort est collectif et <strong>bénévole</strong> et cache des dons de soi bien supérieurs pour tous les contributeurs à ce projet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% embed 'LadbCoreBundle:Common/Modal:_modal.part.html.twig' with { 'id':'infos_modal' } %}
        {% block header %}{% endblock %}
        {% block bodyInner %}
            {{ 'default.loading'|trans() }}
        {% endblock %}
        {% block footer %}{% endblock %}
    {% endembed %}
</div>
