{% extends 'LadbCoreBundle::layout.html.twig' %}

{# set tab #}

{% set navSection = 'funding' %}

{% block bodyHeaderContainerContent %}
    <h1 class="ladb-heading"><i class="ladb-icon-funding"></i> {{ 'funding.funding'|trans() }}</h1>
    <ul class="nav nav-tabs">
        <li{% if tab == 'dashboard' %} class="active"{% endif %}><a href="{{ path('core_funding_dashboard' )}}">{{ 'funding.dashboard'|trans() }}</a></li>
        <li{% if tab == 'list' %} class="active"{% endif %}><a href="{{ path('core_funding_list' )}}">{{ 'funding.my_donations'|trans() }}</a></li>
    </ul>
{% endblock %}
