{% extends 'LadbCoreBundle:Funding:_layout.html.twig' %}

{% set tab = 'dashboard' %}
{% set amount = 100 %}

{% block headStylesheets %}
    {{ parent() }}
    <style>
        .shake {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }

        @keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    </style>
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/jquery-circle-progress/jquery.circle-progress.js'
        '@LadbCoreBundle/Resources/assets/js/jquery-payment/jquery.payment.js'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.donate.js' %}
        <script type="text/javascript" src="{{ asset_url }}?v=201609011842"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script>
        $(document).ready(function() {

            // Circle /////

            $('#circle').circleProgress({
                value: {{ funding.balance / funding.chargeBalance }},
                size: 400,
                thickness: 20,
                startAngle: -Math.PI / 2,
                fill: {
                    color: ["#5cb85c"], //"#f77f00"]
                }
            }).on('circle-animation-progress', function(event, progress) {
                $(this).find('span:first').html(parseInt({{ funding.balance / funding.chargeBalance * 100 }} * progress));
            });

            $('.ladb-donate-widget').ladbDonate({
                publishableKey: 'pk_test_toeDHC0usy5koMdwC8yJr8wE',
                dashboardUrl: '{{ path('core_funding_dashboard') }}',
                chargeUrl: '{{ path('core_funding_create') }}'
            });

        });
    </script>
{% endblock %}

{% block bodyContainerContent %}
    <div class="row">
        <br/>
        <div class="col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-left"><i class="ladb-icon-chevron-left"></i></span>
                    <span class="pull-right"><i class="ladb-icon-chevron-right"></i></span>
                    <h2 style="text-align: center; margin-top: 10px;">{{ funding.month }} {{ funding.year }}</h2>
                </div>
                <div class="panel-body">
                    <div class="row" style="padding: 20px;">
                        <div id="circle" style="position: relative;" class="col-xs-8">
                            <i class="ladb-icon-piggy" style="font-size: 290px; position: absolute; top: 55px; left: 65px; color: #555555;"></i>
                            <div style="position: absolute; top: 0; left: 0; line-height: 400px; width: 400px; text-align: center; color: white;">
                                <span style="font-size: 50px;"></span><span style="font-size: 30px;">%</span>
                            </div>
                        </div>
                        <div style="font-size: 160%" class="col-xs-4 text-right">
                            <small>Charges</small>&nbsp;:&nbsp;<strong class="ladb-color-negative">{{ funding.chargeBalanceEur }}€</strong>
                            <small>Dons</small>&nbsp;:&nbsp;<strong class="ladb-color-positive">{{ funding.balanceEur }}€</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <p>Par volonté d'indépendance, <em>L'Air du Bois</em> a fait le pari de fonctionner sans faire appel à la publicité.</p>
            {% include 'LadbCoreBundle:Funding:_widget.part.html.twig' %}
        </div>
    </div>
{% endblock %}