{% extends 'LadbCoreBundle:Funding:_layout.html.twig' %}

{% use 'LadbCoreBundle:Common:_list-autopager.blocks.html.twig' %}

{% set tab = 'user-donation-list' %}

{% set masonry = false %}
{% set masonryWide = false %}
{% set noStickyHeader = true %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('autopagerScript') }}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-top" style="margin-bottom: 0;">
        <div class="panel-body">
            <i class="ladb-icon-info"></i> Vous seul pouvez visualiser cette page.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-push-7 col-xs-12">
            <div class="panel panel-default ladb-margin-top">
                <div class="panel-heading">
                    <h4>Statistiques</h4>
                </div>
                <div class="panel-body">
                    <table width="100%">
                        <tr>
                            <td>Cumul brut</td>
                            <td class="ladb-amount ladb-amount-lg">{{ app.user.meta.donationBalanceEur|number_format(2, ',', ' ') }}€</td>
                        </tr>
                        <tr>
                            <td>Cumul net</td>
                            <td class="ladb-amount ladb-amount-lg">{{ (app.user.meta.donationBalanceEur - app.user.meta.donationFeeBalanceEur)|number_format(2, ',', ' ') }}€</td>
                        </tr>
                        <tr>
                            <td>Don moyen</td>
                            <td class="ladb-amount ladb-amount-lg">{% if app.user.meta.donationBalanceEur > 0 %}{{ (app.user.meta.donationBalanceEur / app.user.meta.donationCount)|number_format(2, ',', ' ') }}€{% else %}-{% endif %}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-sm-7 col-sm-pull-5 col-xs-12">
            {% embed 'LadbCoreBundle:Common:_list-filterbar.part.html.twig' with { 'classes':'ladb-filterbar-line' } %}
                {% set filterDefs = {
                    'recent':       { 'label':'Récents', 'path':path('core_funding_user_donation_list_filter', { 'filter':'recent' }) },
                    'generous':     { 'label':'Généreux', 'path':path('core_funding_user_donation_list_filter', { 'filter':'generous' }) },
                } %}
                {% block filterbarRightContent%}
                    <span class="ladb-heading">{{ donationCount }} {% transchoice donationCount %}[0,1]don|]1,Inf]dons{% endtranschoice %}</span>
                {% endblock %}
            {% endembed %}
            {{ block('autopagerContainer') }}
        </div>
    </div>
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Funding:_donation-list-n.part.html.twig' %}
{% endblock %}