{% extends 'Common/Layout/_list.html.twig' %}

{% set pageUrl = url('core_howto_providers', { 'id':howto.id }) %}
{% set pageTitle = 'Fournisseurs associés à '~howto.title %}
{% set pageDescription = 'Fournisseurs associés au pas à pas' %}

{% set navSection = 'howtos' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'Common/Header/_entity-header.part.html.twig' with { 'entity':howto } %}
{% endblock %}

{% block bodyContainerContent %}
    {% if providers.count == 0 %}
        <div class="alert alert-info ladb-margin-top">
            Aucun fournisseur n'est associé à ce pas à pas.
        </div>
    {% else %}
        <div class="panel panel-default ladb-margin-remove ladb-margin-top">
            <div class="panel-body">
                Liste des fournisseurs recencés par <a href="{{ path('core_user_show', { 'username':howto.user.usernameCanonical }) }}">{{ howto.user.displayname }}</a> pour la réalisation du pas à pas <a href="{{ ladb_entity_url_action(howto) }}">{{ howto.title }}</a>.
            </div>
        </div>
        {% embed 'Knowledge/Provider/_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_howto_providers_filter' %}
            {% set filterPathParameters = { 'id':howto.id } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">{{ howto.providerCount }} {{ 'knowledge.provider.choice.entities'|transchoice(howto.providerCount) }}</span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Knowledge/Provider/_list-n.part.html.twig' %}
{% endblock %}