{% extends 'LadbCoreBundle:Common:_entity-header.part.html.twig' %}

{% set entity = school %}
{% set headingClasses = school.nameRejected ? 'ladb-strikethrough' : null %}

{% block headingInner %}
    {{ parent() }}
{% endblock %}

{% block subheadingInner %}
    {% if school.website %}<div class="ladb-subblock"><i class="ladb-icon-globe"></i> <a href="{{ school.website }}" target="_blank">{{ school.website|ladb_url_trim|truncate(30) }}</a></div> {% endif %}
    {% if school.phone %}<div class="ladb-subblock"><i class="ladb-icon-phone"></i> <a href="tel:{{ school.phone }}">{{ school.phone }}</a></div>{% endif %}
{% endblock %}