{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{# set school #}

{% set entity = school %}
{% set headingClasses = school.nameRejected ? 'ladb-text-barred' : null %}
{% set titleLinkClasses = school.nameRejected ? 'ladb-color-null' : null %}
{% set imgClasses = school.nameRejected or school.logoRejected ? 'ladb-desaturate ladb-translucent' : null %}

{% block image %}
    {% if school.logoRejected %}
        <div class="ladb-box-barred">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {% include 'LadbCoreBundle:Knowledge/School:_compact-infos.part.html.twig' %}
{% endblock %}

{% block entityMetas %}
    {% if school.creationCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_school_creations', { 'id':school.id }) }}" data-tooltip="tooltip" title="{{ 'knowledge.school.linked_to'|trans() }} {{ school.creationCount }} {{ 'wonder.creation.choice.entities'|transchoice(school.creationCount) }}"><i class="ladb-icon-creation"></i></a></li>
    {% endif %}
    {% if school.planCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_school_plans', { 'id':school.id }) }}" data-tooltip="tooltip" title="{{ 'knowledge.school.linked_to'|trans() }} {{ school.planCount }} {{ 'wonder.plan.choice.entities'|transchoice(school.planCount) }}"><i class="ladb-icon-plan"></i></a></li>
    {% endif %}
    {% if school.howtoCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_school_howtos', { 'id':school.id }) }}" data-tooltip="tooltip" title="{{ 'knowledge.school.linked_to'|trans() }} {{ school.howtoCount }} {{ 'howto.howto.choice.entities'|transchoice(school.howtoCount) }}"><i class="ladb-icon-howto"></i></a></li>
    {% endif %}
    {{ parent() }}
    {% if school.testimonialCount > 0 %}
        <li class="ladb-counter">
            <span class="ladb-horizontal-separator-right" style="color: #888;"><i class="ladb-icon-student"></i> {{ school.testimonialCount|number_format(0, ',', ' ') }} {{ 'knowledge.school.choice.testimonials'|transchoice(school.testimonialCount) }}</span>
        </li>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include 'LadbCoreBundle:Common:_unviewed-bullet.part.html.twig' with { 'entity':school } %}
    {{ school.contributorCount }} <i class="ladb-icon-users"></i>{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'classes':'ladb-hidden-mobile' } %}
{% endblock %}
