{% extends 'LadbCoreBundle:Knowledge:_show.html.twig' %}

{% use 'LadbCoreBundle:Common:map.blocks.html.twig' %}

{% set entity = school %}

{% set pageContentItemType = 'School' %}
{% set pageType = 'business.business' %}
{% set pageSectionUrl = url('core_school_list') %}
{% set pageSectionName = 'knowledge.school.list'|trans %}
{% if school.description %}
    {% set pageDescription = school.description|striptags|truncate(200, true, '...') %}
{% else %}
    {% set pageDescription = school.name %}
    {% if school.diplomas is not empty %}
        {% set pageDescription = pageDescription~' '~('knowledge.school.field.diplomas'|trans)~': '~school.diplomas %}
    {% endif %}
    {% if school.trainingTypes is not empty %}
        {% set pageDescription = pageDescription~' '~('knowledge.school.field.training_types'|trans)~': '~school.trainingTypes %}
    {% endif %}
{% endif %}

{% set bodyContainerClasses = 'ladb-margin-top' %}
{% set navSection = 'schools' %}
{% set searchPath = path('core_school_list') %}

{% set knowledge = school %}

{% block headOpenGraphMetas %}
    {{ parent() }}
    {% if true %}
        {% if school.phone %}
            <meta property="business:contact_data:phone_number" content="{{ school.phone }}" />
        {% endif %}
        {% if school.address %}
            <meta property="business:contact_data:street_address" content="{{ school.address }}" />
        {% endif %}
        {% if school.locality %}
            <meta property="business:contact_data:locality" content="{{ school.locality }}" />
        {% endif %}
        {% if school.postalCode %}
            <meta property="business:contact_data:postal_code" content="{{ school.postalCode }}" />
        {% endif %}
        {% if school.country %}
            <meta property="business:contact_data:country_name" content="{{ school.country }}" />
        {% endif %}
        {% if school.website %}
            <meta property="business:contact_data:website" content="{{ school.website }}" />
        {% endif %}
        {% if school.latitude %}
            <meta property="place:location:latitude" content="{{ school.latitude }}" />
        {% endif %}
        {% if school.longitude %}
            <meta property="place:location:longitude" content="{{ school.longitude }}" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block headOpenGraphArticleMetas %}{% endblock %}

{% block headStylesheets %}
    {{ parent() }}
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/ladb/layout/school.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
    {{ block('mapAreaStylesheets') }}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('mapAreaJavascripts') }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.schoolpage.js'
        '@LadbCoreBundle/Resources/assets/js/ladb/ladb-values.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#container').ladbSchoolPage({
                testimonialNewPath: '{{ path('core_knowledge_school_testimonial_new', { 'id':school.id }) }}'
            });
        });
    </script>
{% endblock %}

{% block bodyMetas %}
    {{ parent() }}
    {% if school.phone %}<meta itemprop="telephone" content="{{ school.phone }}"/>{% endif %}
    {% if school.address %}<meta itemprop="address" content="{{ school.address }}"/>{% endif %}
    <meta itemprop="url" content="{{ school.website ? school.website : pageUrl }}"/>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Knowledge/School:_entity-header.part.html.twig' %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Core/Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                &nbsp;
                {% include 'LadbCoreBundle:Core/Report:_widget-button.part.html.twig' with { 'entityType':school.type, 'entityId':school.id } %}
                {% if is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="#delete_wonder_modal" class="btn btn-danger" data-toggle="modal" ><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                    {% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'delete_wonder_modal', 'title':('default.deletion'|trans()) } %}
                        {% block bodyInner %}
                            <p>La suppression du fournisseur <strong>{{ school.title }}</strong> entrainera la perte de toutes les informations qui lui sont relatives.</p>
                            <p>Confirmez l'action pour continuer.</p>
                        {% endblock %}
                        {% block footerInner %}
                            <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                            <a href="{{ path('core_school_delete', { 'id':school.id }) }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}</a>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentBody %}
    <div class="ladb-knowledge-showcase row">
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'wide':true, 'field':constant('FIELD_LOGO', school), 'picture':school.logo, 'values':school.logoValues, 'itemProperty':'logo', 'pictureBoxClasses':(school.logoRejected ? 'ladb-box-barred' : null) } %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'wide':true, 'field':constant('FIELD_PHOTO', school), 'picture':school.photo, 'values':school.photoValues, 'itemProperty':'photo' } %}
    </div>
    <div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Formations</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_DIPLOMAS', school), 'data':school.diplomas, 'values':school.diplomasValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_TRAINING_TYPES', school), 'data':school.trainingTypes, 'values':school.trainingTypesValues } %}
        </div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Etablissement</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_NAME', school), 'data':school.name, 'values':school.nameValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_PUBLIC', school), 'data':school.public, 'values':school.publicValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_BIRTH_YEAR', school), 'data':school.birthYear, 'values':school.birthYearValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_WEBSITE', school), 'data':school.website, 'values':school.websiteValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_ADDRESS', school), 'data':school.address, 'values':school.addressValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_PHONE', school), 'data':school.phone, 'values':school.phoneValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_DESCRIPTION', school), 'data':school.description, 'values':school.descriptionValues } %}
        </div>
        <div class="panel panel-default ladb-margin-top">
            <div class="panel-body">
                Cette fiche est complétée et contrôlée collaborativement par la communauté. Si vous détectez des erreurs ou des manques, <a href="{{ path('core_faq_question_show', { 'id':'comment-contribuer-aux-contenus-collaboratifs' }) }}" target="_blank">apportez vos propositions</a> !
            </div>
        </div>
        {% if school.updatedAt > school.createdAt %}
            {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' %}
        {% endif %}
        <div style="padding: 10px 0 20px 0; text-align: center;">
            {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
        </div>
        <hr class="ladb-divider">
        <div id="ladb_testimonial_list">
            {% include 'LadbCoreBundle:Knowledge/School:_testimonials-header.part.html.twig' %}
            {% include 'LadbCoreBundle:Knowledge/School/Testimonial:_list.part.html.twig' with { 'testimonials':school.testimonials } %}
            {% include 'LadbCoreBundle:Knowledge/School:_testimonials-footer.part.html.twig' %}
        </div>
        {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' with { 'commentContext':commentContext, 'noMicrodata':true, 'activitiesHidden':true } %}
    </div>
    {{ parent() }}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' with { 'noMicrodata':true } %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' with { 'noMicrodata':true } %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' with { 'noMicrodata':true }  %}
        <div class="ladb-meta">
            <i class="ladb-icon-users ladb-icon-fixed-center"></i>
            {% if school.contributorCount > 0 %}
                <a href="{{ path('core_knowledge_contributors', { 'entityType':school.type, 'entityId':school.id }) }}">
            {% endif %}
                <strong>{{ school.contributorCount|number_format(0, ',', ' ') }}</strong>
                <small>{{ 'user.choice.contributors'|transchoice(school.contributorCount) }}</small>
            {% if school.contributorCount > 0 %}
                </a>
            {% endif %}
        </div>
        {% include 'LadbCoreBundle:Core/Vote:_meta-counter.part.html.twig' with { 'entity':school } %}
        <div class="ladb-meta{% if school.testimonialCount == 0 %} text-muted{% endif %}">
            <a href="#" class="ladb-scrollto-btn" onclick="$('#ladb_testimonial_list').ladbScrollTo(event);"><i class="ladb-icon-arrow-down"></i></a>
            <i class="ladb-icon-student ladb-icon-fixed-center"></i>
            <strong>{{ school.testimonialCount|number_format(0, ',', ' ') }}</strong>
            <small>{{ 'knowledge.school.choice.testimonials'|transchoice(entity.testimonialCount) }}</small>
        </div>
    </div>
    {% if hasMap %}
        <div class="ladb-metas">
            <div class="ladb-meta">
                {% include 'LadbCoreBundle:Common:_map-area.part.html.twig' with { 'autoInit':true, 'mapHeight':'225px', 'markersUrl':path('core_school_location', { 'id':school.id }), 'classes':'ladb-map-thumbnail ladb-margin-top' } %}
            </div>
        </div>
    {% endif %}
    {% include 'LadbCoreBundle:Core/License:_metas.part.html.twig' with { 'license':school.license, 'noMicrodata':true } %}
{% endblock %}