{% extends 'LadbCoreBundle:Knowledge:_show.html.twig' %}

{% use 'LadbCoreBundle:Common:map.blocks.html.twig' %}

{% set entity = school %}

{% set pageContentItemType = 'School' %}
{% set pageType = 'business.business' %}
{% set pageSectionUrl = url('core_school_list') %}
{% set pageSectionName = 'knowledge.school.list'|trans %}
{% if school.description %}
    {% set pageDescription = school.description|striptags|truncate(200, true, '...') %}
{% else %}
    {% set pageDescription = school.name %}
    {% if school.diplomas is not empty %}
        {% set pageDescription = pageDescription~' '~('knowledge.school.field.diplomas'|trans)~': '~school.diplomas %}
    {% endif %}
    {% if school.trainingTypes is not empty %}
        {% set pageDescription = pageDescription~' '~('knowledge.school.field.training_types'|trans)~': '~school.trainingTypes %}
    {% endif %}
{% endif %}

{% set bodyContainerClasses = 'ladb-margin-top' %}
{% set navSection = 'schools' %}
{% set searchPath = path('core_school_list') %}

{% set knowledge = school %}

{% block headOpenGraphMetas %}
    {{ parent() }}
    {% if true %}
        {% if school.phone %}
            <meta property="business:contact_data:phone_number" content="{{ school.phone }}" />
        {% endif %}
        {% if school.address %}
            <meta property="business:contact_data:street_address" content="{{ school.address }}" />
        {% endif %}
        {% if school.locality %}
            <meta property="business:contact_data:locality" content="{{ school.locality }}" />
        {% endif %}
        {% if school.postalCode %}
            <meta property="business:contact_data:postal_code" content="{{ school.postalCode }}" />
        {% endif %}
        {% if school.country %}
            <meta property="business:contact_data:country_name" content="{{ school.country }}" />
        {% endif %}
        {% if school.website %}
            <meta property="business:contact_data:website" content="{{ school.website }}" />
        {% endif %}
        {% if school.latitude %}
            <meta property="place:location:latitude" content="{{ school.latitude }}" />
        {% endif %}
        {% if school.longitude %}
            <meta property="place:location:longitude" content="{{ school.longitude }}" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block headOpenGraphArticleMetas %}{% endblock %}

{% block headStylesheets %}
    {{ parent() }}
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/ladb/layout/school.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
    {{ block('mapAreaStylesheets') }}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('mapAreaJavascripts') }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.schoolpage.js'
        '@LadbCoreBundle/Resources/assets/js/ladb/ladb-values.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#container').ladbSchoolPage({
                testimonialNewPath: '{{ path('core_knowledge_school_testimonial_new', { 'id':school.id }) }}'
            });
        });
    </script>
{% endblock %}

{% block bodyMetas %}
    {{ parent() }}
    <meta itemprop="url" content="{{ school.website ? school.website : pageUrl }}"/>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Common/Header:_entity-show-header.part.html.twig' %}
        {% set headingClasses = school.nameRejected ? 'ladb-strikethrough' : null %}
        {% block subheadingInner %}
            {% if school.website %}<span class="ladb-subblock"><i class="ladb-icon-globe"></i> <a href="{{ school.website }}" target="_blank">{{ school.website|ladb_url_truncate(true, 30, 0) }}</a></span> {% endif %}
            {% if school.phone %}<span class="ladb-subblock"><i class="ladb-icon-phone"></i> <a href="tel:{{ school.phone }}">{{ school.phone }}</a></span>{% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block contentBody %}
    <div class="ladb-knowledge-showcase row">
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'wide':true, 'field':constant('FIELD_LOGO', school), 'picture':school.logo, 'values':school.logoValues, 'itemprop':'logo', 'pictureBoxClasses':(school.logoRejected ? 'ladb-box-barred' : null) } %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-showcase-picture.part.html.twig' with { 'wide':true, 'field':constant('FIELD_PHOTO', school), 'picture':school.photo, 'values':school.photoValues } %}
    </div>
    <div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Formations</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_DIPLOMAS', school), 'data':school.diplomas, 'values':school.diplomasValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_TRAINING_TYPES', school), 'data':school.trainingTypes, 'values':school.trainingTypesValues } %}
        </div>
        <div class="ladb-metas">
            <h4 class="ladb-heading">Etablissement</h4>
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_NAME', school), 'data':school.name, 'values':school.nameValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_PUBLIC', school), 'data':school.public, 'values':school.publicValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_BIRTH_YEAR', school), 'data':school.birthYear, 'values':school.birthYearValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_WEBSITE', school), 'data':school.website, 'values':school.websiteValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_ADDRESS', school), 'data':school.address, 'values':school.addressValues, 'itemprop':'address' } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_PHONE', school), 'data':school.phone, 'values':school.phoneValues, 'itemprop':'telephone' } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_DESCRIPTION', school), 'data':school.description, 'values':school.descriptionValues } %}
            {% include 'LadbCoreBundle:Knowledge:_field-show-meta.part.html.twig' with { 'field':constant('FIELD_VIDEO', school), 'data':school.video, 'values':school.videoValues } %}
        </div>
        <div class="panel panel-default ladb-margin-top">
            <div class="panel-body">
                Cette fiche est complétée et contrôlée collaborativement par la communauté. Si vous détectez des erreurs ou des manques, <a href="{{ path('core_faq_question_show', { 'id':'comment-contribuer-aux-contenus-collaboratifs' }) }}">apportez vos propositions</a> !
            </div>
        </div>
        {% if school.updatedAt > school.createdAt %}
            {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' %}
        {% endif %}
        <div style="padding: 10px 0 20px 0; text-align: center;">
            {% include 'LadbCoreBundle:Core/Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
        </div>
        <hr class="ladb-divider">
        <div id="ladb_testimonial_list">
            {% include 'LadbCoreBundle:Knowledge/School:_testimonials-header.part.html.twig' %}
            {% include 'LadbCoreBundle:Knowledge/School/Testimonial:_list.part.html.twig' with { 'testimonials':school.testimonials } %}
            {% include 'LadbCoreBundle:Knowledge/School:_testimonials-footer.part.html.twig' %}
        </div>
        {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' with { 'commentContext':commentContext, 'noMicrodata':true, 'activitiesHidden':true, 'alertTransKey':'knowledge.school.comment_alert' } %}
    </div>
    {{ parent() }}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' with { 'noMicrodata':true } %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' with { 'noMicrodata':true } %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' with { 'noMicrodata':true }  %}
        <div class="ladb-meta">
            <i class="ladb-icon-users ladb-icon-fixed-center"></i>
            {% if school.contributorCount > 0 %}
                <a href="{{ path('core_knowledge_contributors', { 'entityType':school.type, 'entityId':school.id }) }}">
            {% endif %}
                <strong>{{ school.contributorCount|number_format(0, ',', ' ') }}</strong>
                <small>{{ 'user.choice.contributors'|transchoice(school.contributorCount) }}</small>
            {% if school.contributorCount > 0 %}
                </a>
            {% endif %}
        </div>
        {% include 'LadbCoreBundle:Core/Vote:_meta-counter.part.html.twig' with { 'entity':school } %}
        <div class="ladb-meta{% if school.testimonialCount == 0 %} text-muted{% endif %}">
            <a href="#" class="ladb-scrollto-btn" onclick="$('#ladb_testimonial_list').ladbScrollTo(event);"><i class="ladb-icon-arrow-down"></i></a>
            <i class="ladb-icon-student ladb-icon-fixed-center"></i>
            <a href="#" onclick="$('#ladb_testimonial_list').ladbScrollTo(event);">
                <strong>{{ school.testimonialCount|number_format(0, ',', ' ') }}</strong>
                <small>{{ 'knowledge.school.choice.testimonials'|transchoice(entity.testimonialCount) }}</small>
            </a>
        </div>
    </div>
    <div class="ladb-metas">
        <h4 class="ladb-heading">{{ 'default.links'|trans() }}</h4>
        {% include 'LadbCoreBundle:Collection/Collection:_meta-counter.part.html.twig' %}
        {% if school.creationCount > 0 %}
            <div class="ladb-meta">
                <i class="ladb-icon-creation"></i>
                <a href="{{ school.creationCount == 1 ? path('core_creation_show', { 'id':school.creations[0].sluggedId }) : path('core_school_creations', { 'id':school.id }) }}">
                    <strong>{{ school.creationCount }}</strong>
                    <small>{{ 'wonder.creation.choice.entities'|transchoice(school.creationCount) }}</small>
                </a>
            </div>
        {% endif %}
        {% if school.howtoCount > 0 %}
            <div class="ladb-meta">
                <i class="ladb-icon-howto"></i>
                <a href="{{ school.howtoCount == 1 ? path('core_howto_show', { 'id':school.howtos[0].sluggedId }) : path('core_school_howtos', { 'id':school.id }) }}">
                    <strong>{{ school.howtoCount }}</strong>
                    <small>{{ 'howto.howto.choice.entities'|transchoice(school.howtoCount) }}</small>
                </a>
            </div>
        {% endif %}
    </div>
    {% if hasMap %}
        <div class="ladb-metas">
            <div class="ladb-meta">
                {% include 'LadbCoreBundle:Common:_map-area.part.html.twig' with { 'autoInit':true, 'mapHeight':'225px', 'markersUrl':path('core_school_location', { 'id':school.id }), 'classes':'ladb-map-thumbnail ladb-margin-top' } %}
            </div>
        </div>
    {% endif %}
    {% include 'LadbCoreBundle:Core/License:_metas.part.html.twig' with { 'license':school.license, 'noMicrodata':true } %}
{% endblock %}