<div id="ladb_review_{{ review.id }}" class="ladb-review-row" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="ladb-box">
        <div class="ladb-box-inner">
            <div class="ladb-content-box">
                {% include 'LadbCoreBundle:Core/User:_avatar-link.part.html.twig' with { 'user':review.user, 'linkClasses':'ladb-avatar', 'noMicrodata':true } %}
                <div class="ladb-heading">
                    <div class="ladb-minitools">
                        {% if not app.request.isxmlhttprequest %}
                            <a href="#" onclick="bootbox.dialog({ title:'{{ 'default.get_link'|trans() }}', message:'<p>Lien direct vers le témoignage :</p><input type=\'text\' class=\'form-control\' style=\'font-family: courier;\' value=\'{{ url('core_review_show', { 'id':review.id }) }}\' onclick=\'$(this).focus(); $(this).select();\'>', backdrop: true, buttons: { cancel: { label: '{{ 'default.close'|trans() }}', className: 'btn-default' } } }); return false;" data-tooltip="tooltip" title="{{ 'default.get_link'|trans() }}" class="ladb-minitool"><i class="ladb-icon-link"></i></a>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") or review.user == app.user %}
                            <a href="{{ path('core_review_edit', { 'id':review.id }) }}" data-tooltip="tooltip" title="{{ 'default.edit'|trans() }}" class="ladb-btn-edit" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-edit"></i></a>
                            <a href="#delete_review_{{ review.id }}_modal" data-toggle="modal" data-tooltip="tooltip" title="{{ 'default.delete'|trans() }}" class="ladb-btn-delete ladb-minitool-danger"><i class="ladb-icon-delete"></i></a>
                            {% embed 'LadbCoreBundle:Common:Modal/_modal.part.html.twig' with { 'id':'delete_review_'~review.id~'_modal', 'title':('default.deletion'|trans()), 'appendTo':'body' } %}
                                {% block bodyInner %}
                                    <p>La suppression de cet avis entrainera la perte de toutes les informations qui lui sont relatives.</p>
                                    <p>Confirmez l'action pour continuer.</p>
                                {% endblock %}
                                {% block footerInner %}
                                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                    <a href="{{ path('core_review_delete', { 'id':review.id }) }}" class="btn btn-danger ladb-btn-delete" data-loading-text="{{ 'default.loading'|trans() }}"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}</a>
                                {% endblock %}
                            {% endembed %}
                        {% endif %}
                        {% if review.user != app.user %}
                            {% include 'LadbCoreBundle:Core/Report:_widget-mini.part.html.twig' with { 'entityType':review.type, 'entityId':review.id } %}
                        {% endif %}
                    </div>
                    {% include 'LadbCoreBundle:Common:_author.part.html.twig' with { 'entity':review, 'hideBy':true } %}
                </div>
                <div class="ladb-content">
                    <div class="ladb-title">{{ review.title }}</div>
                    {% if review.rating > 0 %}
                        {% include 'LadbCoreBundle:Common:_rating-stars.part.html.twig' with { 'rating':review.rating, 'classes':'ladb-icon-lg', 'hideValue':true, 'itemtype':'Rating', 'itemprop':'reviewRating' } %}
                    {% endif %}
                    <div itemprop="reviewBody">
                        {{ review.htmlBody|raw }}
                    </div>
                    {% include 'LadbCoreBundle:Common:_published-age.part.html.twig' with { 'entity':review } %}
                    {% if review.updatedAt > review.createdAt %}
                        <span class="ladb-horizontal-separator-left">{% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':review } %}</span>
                    {% endif %}
                    <div class="text-right">
                        <a href="{{ path('core_message_thread_new_recipientusername', { 'recipientUsername':review.user.usernameCanonical }) }}" class="btn btn-default btn-sm" data-tooltip="tooltip" title="{{ 'message.sendTo'|trans({ '%NAME%':review.user.displayname }) }}"><i class="ladb-icon-message"></i> {{ 'message.contact'|trans() }} {{ review.user.displayName }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
