{% extends 'LadbCoreBundle:Core/Review:_form.html.twig' %}

{% set i18nPrefix = i18nPrefix|default(ladb_entity_type_stripped_name(entity)) %}
{% set formAction = path('core_review_create', { 'entityType':entity.type, 'entityId':entity.id }) %}

{% block title %}<i class="ladb-icon-plus"></i> {{ ('review.'~i18nPrefix~'.new')|trans() }}{% endblock %}

{% block buttons %}
    <div class="alert alert-info">
        <div class="media">
            <div class="media-left"><i class="ladb-icon-info ladb-icon-lg"></i></div>
            <div class="media-body">
                <h4>A lire avant de publier</h4>
                <p>{{ ('review.'~i18nPrefix~'.form.new_help')|trans() }} : '<strong>{{ entity.title }}</strong>'.</p>
                <div style="background-color: #d9534f; padding: 3px 7px; color: #fff;">
                    <i class="ladb-icon-warning"></i> {{ ('review.'~i18nPrefix~'.form.new_warning')|trans() }}
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-btn-loading.part.html.twig' with { 'text':('default.publish'|trans()), 'classes':'btn-primary' } %}
{% endblock %}
