{% extends 'LadbCoreBundle:Common:_form-section.part.html.twig' %}

{# set formPlans #}
{# set plans #}
{# set maxPlanCount #}
{# set title (falcultative) #}
{# set help (facultative) #}
{# set icon (facultative) #}
{# set addButtonHidden (facultative) #}

{% set formSection = 'plans' %}
{% set icon = icon|default('plan') %}
{% set title = title|default('plan.choice.plans'|transchoice(2)|capitalize) %}

{% if formPlans is not defined %}
    {% set formPlans = form.plans %}
{% endif %}
{% if plans is not defined %}
    {% set plans = form.vars.data.plans %}
{% endif %}

{% block body %}
    {% if help is defined %}<p class="help-block"><i>{{ help|raw }}</i></p>{% endif %}
    {{ form_errors(formPlans) }}
    {{ form_widget(formPlans) }}
    <ul id="plan_thumbnails" class="ladb-form-thumbnails">
        {% for plan in plans %}
            {% include 'LadbCoreBundle:Wonder:_wonder-form-thumbnail.part.html.twig' with { 'wonder':plan } %}
        {% endfor %}
    </ul>
    <div id="linkto_plan_buttons">
        <a href="#linkto_plan_modal" data-toggle="modal" class="btn btn-success" onclick="updatePlanChoiceModal();"><i class="ladb-icon-link"></i> {{ 'plan.linkto'|trans() }}</a>
        {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'linkto_plan_modal', 'title':('plan.linkto'|trans()), 'embeddedBody':true } %}
            {% block bodyInner %}
                <iframe id="linkto_plan_modal_iframe" src="" frameborder="0" width="100%" height="380"></iframe>
            {% endblock %}
            {% block footer %}{% endblock %}
        {% endembed %}
        {% if not (addButtonHidden|default(false)) %}
            {{ 'default.or'|trans() }}
            <a href="#new_plan_modal" data-toggle="modal" class="btn btn-default"><i class="ladb-icon-plus"></i> {{ 'plan.create'|trans() }}</a>
            {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'new_plan_modal', 'title':('plan.create'|trans()) } %}
                {% block bodyInner %}
                    <p>Vous allez être redirigé vers une nouvelle fenêtre pour <strong>créer un nouveau plan</strong>. Il est conseillé d'enregistrer vos modifications avant de continuer.</p>
                    <p>Le plan devra être publié avant de pouvoir être associé.</p>
                    <p>Confirmez l'action pour continuer.</p>
                {% endblock %}
                {% block footerInner %}
                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                    <a href="{{ path('core_plan_new') }}" class="btn btn-primary" target="_blank" onclick="$('#new_plan_modal').find('button.close').click();"><i class="ladb-icon-plus"></i> {{ 'plan.create'|trans() }}</a>
                {% endblock %}
            {% endembed %}
        {% endif %}
    </div>
{% endblock %}

