{# set voteUpTooltip (facultative) #}
{# set voteDownTooltip (facultative) #}
{# set popoverPlacement (facultative) #}

{% set votedUp = voteContext.vote is not null and voteContext.vote.score > 0 %}
{% set votedDown = voteContext.vote is not null and voteContext.vote.score < 0 %}
{% set voteUpTooltip = voteUpTooltip|default('vote.tooltip.vote_up'|trans()) %}
{% set voteDownTooltip = voteDownTooltip|default('vote.tooltip.vote_down'|trans()) %}
{% set popoverPlacement = popoverPlacement|default('right') %}

<div id="ladb_vote_widget_{{ voteContext.votable.id }}" class="ladb-vote-widget{% if voteContext.votable.voteScore > 0 %} ladb-positive{% elseif voteContext.votable.voteScore < 0 %} ladb-negative{% elseif voteContext.votable.voteScore == 0 and voteContext.votable.voteCount > 0 %} ladb-undeterminated{% endif %}">
    <div class="ladb-vote-box row">
        <div class="col-sm-12 col-xs-4">
            {% if voteContext.enabled %}
                {% if voteContext.allowed %}
                    <a class="ladb-vote-up{% if votedUp %} ladb-active{% endif %} ladb-enabled ladb-undecorated-link" href="#" data-tooltip="tooltip" title="{{ voteUpTooltip }}"><i class="ladb-icon-arrow-up"></i></a>
                {% else %}
                    <a class="ladb-vote-up ladb-disabled ladb-undecorated-link" href="#disallowed_vote_modal" data-toggle="modal" data-tooltip="tooltip" title="{{ voteUpTooltip }}"><i class="ladb-icon-arrow-up"></i></a>
                {% endif %}
            {% else %}
                <div class="ladb-vote-up ladb-disabled" href="#disabled_vote_modal" data-toggle="modal"><i class="ladb-icon-arrow-up"></i></div>
            {% endif %}
        </div>
        <div class="ladb-vote-score col-sm-12 col-xs-4" data-popover="popover" data-popover="popover" data-trigger="hover" data-placement="{{ popoverPlacement }}" data-container="body" data-html="true" data-content="<div class='text-right ladb-color-positive'>{{ voteContext.votable.positiveVoteScore }}&nbsp;<i class='ladb-icon-arrow-up'></i></div><div class='text-right ladb-color-negative'>{{ voteContext.votable.negativeVoteScore }}&nbsp;<i class='ladb-icon-arrow-down'></i></div>">
            {{ voteContext.votable.voteScore }}
        </div>
        <div class="col-sm-12 col-xs-4">
            {% if voteContext.enabled %}
                {% if voteContext.allowed %}
                    <a class="ladb-vote-down{% if votedDown %} ladb-active{% endif %} ladb-enabled ladb-undecorated-link" href="#" data-tooltip="tooltip" title="{{ voteDownTooltip }}"><i class="ladb-icon-arrow-down"></i></a>
                {% else %}
                    <a class="ladb-vote-down ladb-disabled ladb-undecorated-link" href="#disallowed_vote_modal" data-toggle="modal" data-tooltip="tooltip" title="{{ voteDownTooltip }}"><i class="ladb-icon-arrow-down"></i></a>
                {% endif %}
            {% else %}
                <div class="ladb-vote-down ladb-disabled" href="#disabled_vote_modal" data-toggle="modal"><i class="ladb-icon-arrow-down"></i></div>
            {% endif %}
        </div>
        <script>
            $(document).ready(function () {
                bindAjaxVoteButton({{ voteContext.votable.id }}, "up", "{{ votedUp ? path('core_vote_delete', { 'id': voteContext.vote.id }) : path('core_vote_create', { 'entityType':voteContext.entityType, 'entityId':voteContext.entityId, 'sign':'+' } ) }}");
                bindAjaxVoteButton({{ voteContext.votable.id }}, "down", "{{ votedDown ? path('core_vote_delete', { 'id': voteContext.vote.id }) : path('core_vote_create', { 'entityType':voteContext.entityType, 'entityId':voteContext.entityId, 'sign':'-' } ) }}");
            });
        </script>
    </div>
</div>
