
{# set referrals #}

<div id="ladb_referer_widget" class="ladb-referer-widget">
    <h2>{{ 'referer.list'|trans() }}</h2>
    <ul>
        {% for referral in referrals %}
            <li>
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="ladb-minitools">
                        <a href="{{ url('core_referer_referral_delete', { 'id':referral.id }) }}" data-tooltip="tooltip" title="{{ 'default.delete'|trans() }}" class="ladb-minitool-danger"><i class="ladb-icon-delete"></i></a>
                    </div>
                {% endif %}
                <div class="ladb-image">{% if referral.referer.faviconUrl is not empty %}<img src="{{ referral.referer.faviconUrl }}" width="20" height="20" alt="{{ referral.referer.title|raw }}">{% else %}<i class="ladb-icon-referral"></i>{% endif %}</div>
                <div class="ladb-box">
                    <div class="ladb-heading"><a href="{{ referral.url }}" title="{{ referral.title|raw }}" target="_blank">{{ referral.title|raw }}</a> <span class="ladb-horizontal-separator-left" style="color: #ccc;" title="{{ 'referer.choice.clicks_from'|transchoice(referral.accessCount, { '%from%':referral.referer.title }) }}" data-tooltip="tooltip"><i class="ladb-icon-mouse"></i> <span style="font-size: 80%;">{{ referral.accessCount }}</span></span></div>
                    <div class="ladb-subheading">sur <a href="{{ referral.referer.baseUrl }}" title="{{ referral.referer.title|raw }}" target="_blank">{{ referral.referer.title|raw }}</a></div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
