{% extends 'Common/_form-section.part.html.twig' %}

{# set formWorkflows #}
{# set workflows #}
{# set maxWorkflowCount #}
{# set title (falcultative) #}
{# set help (facultative) #}
{# set icon (facultative) #}

{% set formSection = 'workflows' %}
{% set icon = icon|default('workflow') %}
{% set title = title|default('workflow.workflow.choice.entities'|trans({'count': 2})|capitalize) %}

{% if formWorkflows is not defined %}
    {% set formWorkflows = form.workflows %}
{% endif %}
{% if workflows is not defined %}
    {% set workflows = form.vars.data.workflows %}
{% endif %}

{% block body %}
    {% if help is defined %}<p class="help-block"><i>{{ help|raw }}</i></p>{% endif %}
    {{ form_errors(formWorkflows) }}
    {{ form_widget(formWorkflows) }}
    <ul id="workflow_thumbnails" class="ladb-form-thumbnails">
        {% for workflow in workflows %}
            {% include 'Workflow/Workflow/_form-thumbnail.part.html.twig' %}
        {% endfor %}
    </ul>
    <div id="linkto_workflow_buttons">
        <a href="#linkto_workflow_modal" data-toggle="modal" class="btn btn-success" onclick="updateWorkflowChoiceModal();"><i class="ladb-icon-link"></i> {{ 'workflow.workflow.linkto'|trans() }}</a>
        {% embed 'Common/Modal/_modal.part.html.twig' with { 'id':'linkto_workflow_modal', 'title':('workflow.workflow.linkto'|trans()), 'embeddedBody':true } %}
            {% block bodyInner %}
                <iframe id="linkto_workflow_modal_iframe" src="" frameborder="0" width="100%" height="380"></iframe>
            {% endblock %}
            {% block footer %}{% endblock %}
        {% endembed %}
        {{ 'default.or'|trans() }}
        <a href="#new_workflow_modal" data-toggle="modal" class="btn btn-default"><i class="ladb-icon-plus"></i> {{ 'workflow.workflow.create'|trans() }}</a>
        {% embed 'Common/Modal/_modal.part.html.twig' with { 'id':'new_workflow_modal', 'title':('workflow.workflow.create'|trans()) } %}
            {% block bodyInner %}
                <p>Vous allez être redirigé vers une nouvelle fenêtre pour <strong>créer un nouveau processus</strong>. Il est conseillé d'enregistrer vos modifications avant de continuer.</p>
                <p>Le processus devra être publié avant de pouvoir être associé.</p>
                <p>Confirmez l'action pour continuer.</p>
            {% endblock %}
            {% block footerInner %}
                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                <a href="{{ path('core_workflow_new') }}" class="btn btn-primary" onclick="$('#new_workflow_modal').find('button.close').click();"><i class="ladb-icon-plus"></i> {{ 'workflow.workflow.create'|trans() }}</a>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
