{% extends 'LadbCoreBundle:Common:_list.html.twig' %}

{% use 'LadbCoreBundle:Common:map.blocks.html.twig' %}

{% set pageTitle = 'knowledge.provider.list'|trans() %}
{% set pageDescription = 'knowledge.provider.description'|trans() %}
{% set pageImage = asset('banner-providers-600x376.jpg') %}
{% set pageImageWidth = '600' %}
{% set pageImageHeight = '376' %}

{% set masonry = true %}
{% set masonryWide = true %}
{% set topbarTranslucent = true %}
{% set hideHeaderContainer = false %}

{% set navSection = 'providers' %}

{% block headStylesheets %}
    {{ parent() }}
    {{ block('mapAreaStylesheets') }}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('mapAreaJavascripts') }}
{% endblock %}

{% block bodyHeaderContainer %}
    {% include 'LadbCoreBundle:Common:_map-area.part.html.twig' with { 'classes':'ladb-map-banner'} %}
    {{ parent() }}
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Provider:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top ladb-hidden-mobile">
        <div class="panel-body">
            Cet <a href="{{ path('core_faq_question_show', { 'id':'qu-est-ce-que-l-annuaire-fournisseurs' }) }}" target="_blank">annuaire</a> est complété et contrôlé collaborativement par la communauté. Si vous détectez des erreurs ou des manques, <a href="{{ path('core_faq_question_show', { 'id':'comment-contribuer-aux-contenus-collaboratifs' }) }}" target="_blank">apportez vos propositions</a> !
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Provider:_list-n.part.html.twig' %}
{% endblock %}
