{% extends 'LadbCoreBundle:Common:Layout/_show.html.twig' %}

{% use 'LadbCoreBundle:Common:map.blocks.html.twig' %}

{% set entity = find %}

{% set pageTitleBy = 'trouvé par' %}
{% set noMicrodataLocation = false %}
{% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_VIDEO') or find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_GALLERY') %}
    {% set pageContentItemType = 'CreativeWork' %}
    {% set noMicrodataLocation = true %}
{% elseif find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_EVENT') %}
    {% set pageContentItemType = 'Event' %}
    {% set noMicrodataAge = true %}
    {% set noMicrodataAuthor = true %}
    {% set noMicrodataTag = true %}
    {% set noMicrodataCommentCount = true %}
{% else %}
    {% set pageContentItemType = 'WebSite' %}
{% endif %}
{% set pageSectionUrl = url('core_find_list') %}
{% set pageSectionName = 'find.find.list'|trans %}

{% set navSection = 'finds' %}
{% set searchPath = path('core_find_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == find.user.id %}

{% block headStylesheets %}
    {{ parent() }}
    {% if hasMap %}
        {{ block('mapAreaStylesheets') }}
    {% endif %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% if hasMap %}
        {{ block('mapAreaJavascripts') }}
    {% endif %}
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common/Header:_entity-show-header.part.html.twig' %}
{% endblock %}

{% block contentBody %}
    {% if find.isDraft %}
        {% include 'LadbCoreBundle:Find/Find:_draft-alert.part.html.twig' %}
    {% endif %}
    <div class="ladb-find">
        {% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_EVENT') and find.content.cancelled %}
            <a class="btn btn-danger btn-block ladb-margin-bottom" onclick="$('#ladb_event_datetime').ladbScrollTo(null, { onAfter: function() { $('#ladb_event_datetime').effect('highlight', {}, 1000);}})">
                <i class="ladb-icon-warning"></i> {{ 'find.find.content.event.cancelled'|trans() }}
            </a>
        {% endif %}
        {% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_WEBSITE') %}
            <div class="ladb-thumb">
                <a href="{{ find.content.url }}" target="_blank" class="thumbnail">
                    {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':find.mainPicture, 'width':'600', 'height':'600', 'filterMode':'i', 'alt':find.title, 'attribute':'data-pin-nopin="true"' } %}
                    {% if find.content.host %}
                        <div class="ladb-find-thumbnail-caption">
                            <div class="ladb-find-thumbnail-caption-host">{{ find.content.host }}</div>
                            {% if find.content.title %}<div class="ladb-find-thumbnail-caption-title">{{ find.content.title }}</div>{% endif %}
                            {% if find.content.description %}<div class="ladb-find-thumbnail-caption-description">{{ find.content.description }}</div>{% endif %}
                        </div>
                    {% endif %}
                </a>
            </div>
        {% endif %}
        {% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_VIDEO') %}
            {{ ladb_video_player_frame(find.content.kind, find.content.embedIdentifier, 560, 420, 'ladb-margin-bottom thumbnail', true)|raw }}
        {% endif %}
        {% if find.content.pictures is defined %}
            {% embed 'LadbCoreBundle:Common:_entity-showcase.part.html.twig' with { 'entity':find, 'pictures':find.content.pictures, 'alt':find.title, 'isOwnerUser':ownerUser } %}
                {% block picture0 %}
                    {{ parent() }}
                    {% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_EVENT') %}
                        {% include 'LadbCoreBundle:Find/Find:_event-calendar.part.html.twig' with { 'event':find.content, 'topRight':true } %}
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endif %}
        {% if find.content.location is defined and find.content.location is not null %}
            <div class="ladb-link">
                <i class="ladb-icon-location ladb-icon-fixed-center"></i>
                {% if not noMicrodataLocation %}
                    <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {% endif %}
                            {% if not noMicrodataLocation %}<span itemprop="addressLocality">{% endif %}{{ find.content.location ? find.content.location : '-' }}{% if not noMicrodataLocation %}</span>{% endif %}
                {% if not noMicrodataLocation %}
                        </span>
                    </span>
                {% endif %}
            </div>
        {% endif %}
        {% if find.content.url is defined and find.content.url is not null %}
            <div class="ladb-link">
                <i class="ladb-icon-globe ladb-icon-fixed-center"></i> <a href="{{ find.content.url }}" target="_blank" itemprop="url">{{ find.content.url|ladb_url_truncate(true, 30) }}</a>
            </div>
        {% endif %}
        {% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_EVENT') and not find.isDraft and joinContext.isJoinable %}
            <div class="ladb-join-row">
                {% include 'LadbCoreBundle:Core/Join:_widget.part.html.twig' %}
            </div>
        {% endif %}
        <hr>
        <div class="ladb-body">
            {% for block in find.bodyBlocks %}
                {% include 'LadbCoreBundle:Core/Block:_show-'~block.strippedName~'.part.html.twig' %}
            {% endfor %}
        </div>
    </div>
    {% if find.updatedAt > find.createdAt %}
        {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':find } %}
    {% endif %}
    {% if not ownerUser %}
        {% include 'LadbCoreBundle:Common:_like-and-follow.part.html.twig' %}
    {% endif %}
    {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' %}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
        {% if find.kind == constant('Ladb\\CoreBundle\\Entity\\Find\\Find::KIND_EVENT') %}
            {% include 'LadbCoreBundle:Common:_meta-join-counter.part.html.twig' %}
        {% endif %}
        {% if hasMap %}
            <div class="ladb-meta">
                {% if hasMap %}
                    {% include 'LadbCoreBundle:Common:_map-area.part.html.twig' with { 'autoInit':true, 'mapHeight':'150px', 'markersUrl':path('core_find_location', { 'id':find.id }), 'classes':'ladb-map-thumbnail ladb-margin-top' } %}
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% include 'LadbCoreBundle:Core/Tag:_metas.part.html.twig' with { 'tags':find.tags, 'type':'finds' } %}
{% endblock %}

{% block contentSuggests %}
    {% if userFinds is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('find.find.other_from')|trans() }} {% include 'LadbCoreBundle:Core/User:_displayname-link.part.html.twig' with { 'user':find.user, 'noMicrodata':true } %}
            </div>
            <div class="panel-body row">
                {% for userFind in userFinds %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Find/Find:_thumbnail-link.part.html.twig' with { 'find':userFind } %}
                    </div>
                {% endfor %}
                {% if find.user.meta.publicFindCount > 2 %}
                    <div class="col-xs-12 ladb-margin-top">
                        <a href="{{ path('core_user_show_finds', { 'username':find.user.usernamecanonical}) }}" class="btn btn-link btn-xs">{{ 'default.see_more'|trans() }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if similarFinds is not null %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('find.find.similar')|trans() }}
            </div>
            <div class="panel-body row">
                {% for similarFind in similarFinds %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Find/Find:_thumbnail-link.part.html.twig' with { 'find':similarFind, 'classes':(loop.last ? null : 'ladb-margin-bottom') } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
