{% extends 'Common/Modal:_modal.part.html.twig' %}

{% set title = ('default.deletion'|trans()) %}

{# set id #}
{# set entityTitle #}
{# set deletePath #}

{% block bodyInner %}
    <p>La suppression de la publication <strong>{{ entityTitle }}</strong> entrainera la perte de toutes les informations qui lui sont relatives.</p>
    <p>Confirmez l'action pour continuer.</p>
{% endblock %}

{% block footerInner %}
    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
    <a href="{{ deletePath }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}</a>
{% endblock %}
