{% extends 'Common/Modal/_modal.part.html.twig' %}

{# entity #}
{# licenseEntity (facultative) #}

{% set licenseEntity = licenseEntity is defined ? licenseEntity : entity %}
{% set license = licenseEntity.license is defined ? licenseEntity.license : null %}
{% set lockedLicense = lockedLicense|default(false) %}
{% set noFinalDisclaimer = noFinalDisclaimer|default(false) %}

{% block bodyInner %}
    {% if app.user.emailConfirmed %}
        {% if entity.isLocked or entity.parentEntity is defined and entity.parentEntity.isLocked %}
            <div class="media">
                <div class="media-left" style="padding-top: 5px;">
                    <i class="ladb-icon-lock ladb-icon-lg"></i>
                </div>
                <div class="media-body">
                    Ce contenu est verrouillé pour modération. Il est pour le moment impossible de le publier.
                </div>
            </div>
        {% else %}
            <p><strong class='ladb-color-danger'><u>Attention</u> : Les fichiers et images joints à cette publication doivent vous appartenir ou doivent pouvoir être diffusés librement par l'accord de leur auteur.</strong></p>
            <hr>
            <p>{% block whatItIs %}{% endblock %}</p>
            {% if license is not null %}
                <blockquote>{% include 'Core/License/_publish-modal.part.html.twig' %}</blockquote>
            {% endif %}
            {% if not noFinalDisclaimer %}
                <p><strong><i class="ladb-icon-warning"></i> Cette action est définitive.</strong></p>
            {% endif %}
            <p>Confirmez l'action pour continuer.</p>
        {% endif %}
    {% else %}
        <div class="media">
            <div class="media-left" style="padding-top: 5px;">
                <i class="ladb-icon-warning ladb-icon-lg"></i>
            </div>
            <div class="media-body">
                Avant de pouvoir publier ce contenu, vous devez confirmer l'adresse e-mail associée à votre compte.
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block footerInner %}
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{ 'default.cancel'|trans() }}</button>
    {% if app.user.emailConfirmed %}
        {% if not entity.isLocked %}
            {% if not lockedLicense and license is not null %}
                <a href="{{ ladb_entity_url_action(licenseEntity, 'edit', true, false) }}#license" class="btn btn-default"><i class="ladb-icon-cc"></i> Modifier la licence</a>
            {% endif %}
            <a href="{{ ladb_entity_url_action(entity, 'publish', true, false) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-publish"></i> {{ 'default.publish'|trans() }}</a>
        {% endif %}
    {% else %}
        <a href="{{ path('core_user_email_check') }}" class="btn btn-primary">{{ 'user.email_confirmation.check.action'|trans() }}</a>
    {% endif %}
{% endblock %}
