{% embed 'Common/Modal:_modal.part.html.twig' with { 'id':'not_connected_vote_modal', 'title':('vote.vote'|trans()), 'appendTo':'body' } %}
    {% block bodyInner %}
        <p>Vous devez être connecté pour pouvoir indiquer votre accord ou désaccord.</p>
    {% endblock %}
    {% block footerInner %}
        <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
        <a href="{{ path('core_smartlogin') }}" rel="nofollow" class="btn btn-primary">{{ 'security.login.submit'|trans() }}</a>
    {% endblock %}
{% endembed %}
{% embed 'Common/Modal:_modal.part.html.twig' with { 'id':'self_voting_vote_modal', 'title':('vote.vote'|trans()), 'appendTo':'body' } %}
    {% block bodyInner %}
        <p>Vous n'êtes pas autorisé à indiquer votre accord ou désaccord vos propres contributions.</p>
    {% endblock %}
    {% block footerInner %}
        <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|trans() }}</a>
    {% endblock %}
{% endembed %}
{% embed 'Common/Modal:_modal.part.html.twig' with { 'id':'not_email_confirmed_vote_modal', 'title':('vote.vote'|trans()), 'appendTo':'body' } %}
    {% block bodyInner %}
        <p>L'adresse e-mail associée à votre compte doit être confirmée avant de pouvoir indiquer votre accord ou désaccord.</p>
    {% endblock %}
    {% block footerInner %}
        <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
        <a href="{{ path('core_user_email_check') }}" class="btn btn-primary">{{ 'user.email_confirmation.check.action'|trans() }}</a>
    {% endblock %}
{% endembed %}
{% embed 'Common/Modal:_modal.part.html.twig' with { 'id':'new_vote_modal', 'title':('vote.vote'|trans()), 'appendTo':'body' } %}
    {% block headerInner %}
        {{ 'default.loading'|trans() }}
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
{% endembed %}
