{% extends 'Common/Layout/_list.html.twig' %}

{% set positiveFilter = filter == 'positive' %}

{% set hideHeaderContainer = false %}

{% block bodyHeaderContainerContent %}
    {% include 'Common/Header/_entity-header.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    {% embed 'Common/_list-filterbar.part.html.twig' with { 'classes':'ladb-margin-bottom' } %}
        {% set filterDefs = {
            'positive': { 'icon':'arrow-up', 'label':'Favorables&nbsp;<span class="badge badge-default">'~entity.positiveVoteCount~'</span>', 'path':path('core_vote_list_parent_entity_filter_page', { 'entityType':entity.type, 'entityId':entity.id, 'filter':'positive' }) },
            'negative': { 'icon':'arrow-down', 'label':'Défavorables&nbsp;<span class="badge badge-default">'~entity.negativeVoteCount~'</span>', 'path':path('core_vote_list_parent_entity_filter_page', { 'entityType':entity.type, 'entityId':entity.id, 'filter':'negative' }) },
        } %}
        {% block filterbarRightContent%}
            <span class="ladb-heading">
                {% if positiveFilter %}
                    {{ entity.positiveVoteCount }} {{ 'vote.choice.positive_votes'|transchoice(entity.positiveVoteCount) }}
                {% else %}
                    {{ entity.negativeVoteCount }} {{ 'vote.choice.negative_votes'|transchoice(entity.negativeVoteCount) }}
                {% endif %}
            </span>
        {% endblock %}
    {% endembed %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Core/Vote/_list-byparent-n.part.html.twig' %}
{% endblock %}