{% extends 'Common/_entity-widget.html.twig' %}

{% set entity = school %}

{% block subheading %}
    {{ school.postalCode }} {{ school.locality }}
{% endblock %}

{% block entityMetas %}
    {{ parent() }}
    {% if school.testimonialCount > 0 %}
        <li class="ladb-counter">
            <span class="ladb-horizontal-separator-right" style="color: #888;"><i class="ladb-icon-student"></i> {{ school.testimonialCount|number_format(0, ',', ' ') }} {{ 'knowledge.school.choice.testimonials'|transchoice(school.testimonialCount) }}</span>
        </li>
    {% endif %}
{% endblock %}
