{# set action #}

{{ form_start(form, { 'action':action, 'method':'post', attr:{ novalidate: 'novalidate' } }) }}
    <div class="form-group">
        {{ form_errors(form.body) }}
        {{ form_widget(form.body, { 'attr': { 'rows':'2', 'class':'form-control ladb-autosize' } }) }}
        {% include 'Core/Picture/_form-gallery-script.part.html.twig' with { 'fieldId':form.pictures.vars.id, 'maxPictureCount':4, 'hideTextOverlayWarning':true, 'sortable':true } %}
        {% include 'Core/Picture/_form-gallery-collapse.part.html.twig' %}
        <script>
            $("#{{ form.body.vars.id }}")
                .markdown()
                .ladbTextcompletify({
                    mentionQueryPath: '{{ path('core_search_typeahead_users_json') }}'
                });
        </script>
    </div>
    {{ form_rest(form) }}
    {% block buttons %}{% endblock %}
{{ form_end(form) }}
