{% extends 'Common/_list-n.part.html.twig' %}

{# set threads #}
{# set nextPageUrl #}

{% block items %}
    {% for thread in threads %}
        <div class="ladb-thread-row{% if thread.unreadMessageCount > 0 %} ladb-unread{% endif %}{% if thread.announcement %} ladb-announcement{% endif %}" onclick="document.location.href = '{{ path('core_message_thread_show', { 'id':thread.id }) }}'">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="ladb-unread-message-count">
                        {% if thread.unreadMessageCount > 0 %}
                            <span class="badge badge-notification badge-notification-important">{{ thread.unreadMessageCount }}</span>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                    <div class="ladb-participants">
                        {% for participant in thread.participants|filter( p => p != app.user) %}
                            <div class="ladb-participant">{% include 'Core/User/_avatar.part.html.twig' with { 'user':participant, 'size':20 } %} {% include 'Core/User/_displayname.part.html.twig' with { 'user':participant, 'noBadge':true } %}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <div class="ladb-age">
                        {{ thread.lastMessageDate|ago() }}
                    </div>
                    <div class="ladb-subject">
                        <a href="{{ path('core_message_thread_show', { 'id':thread.id }) }}">{{ thread.subject|u.truncate(100, true) }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
