
{# set entity #}

{% if entity.duration > 0 or entity.estimatedDuration > 0 %}
    <div class="ladb-duration">
        {% if entity.estimatedDuration > 0 %}<span class="ladb-unselectable"><i class="ladb-icon-estimated-duration"></i> {{ entity.estimatedDuration|ladb_hours_minutes_duration() }}</span>{% endif %}
        {% if entity.duration > 0 %}
            {% if entity.estimatedDuration > 0 %} | {% endif %}
            <span class="ladb-unselectable{% if entity.estimatedDuration > 0 %} {{ entity.estimatedDuration >= entity.duration ? 'ladb-color-positive' : 'ladb-color-negative' }}"{% if entity.estimatedDuration != entity.duration %} data-tooltip="tooltip" title="{{ entity.estimatedDuration > entity.duration ? '-' : '+' }}{{ (entity.estimatedDuration - entity.duration)|abs|ladb_hours_minutes_duration() }}"{% endif %}{% else %}"{% endif %}><i class="ladb-icon-duration"></i> {{ entity.duration|ladb_hours_minutes_duration() }}</span>
        {% endif %}
    </div>
{% endif %}