{% extends 'LadbCoreBundle:Common:_masonry-list-thumbnail-wide.part.html.twig' %}

{% set entity = workflow %}
{% set emptyWebPath = 'empty_workflow.png' %}
{#{% if not workflow.isPublic %}#}
    {#{% set showPathAdditionalParams = { 'layout':'workspace' } %}#}
{#{% endif %}#}

{% block title %}<i class="ladb-icon-workflow"></i> {{ parent() }}{% endblock %}

{% block entityMetas %}
    {% if workflow.inspirationCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_workflow_inspirations', { 'id':workflow.id }) }}" data-tooltip="tooltip" title="{{ 'workflow.workflow.choice.inspiration'|transchoice(workflow.reboundCount, { '%count%':workflow.inspirationCount }) }}"><i class="ladb-icon-inspiration ladb-color-inspiration"></i></a></li>
    {% endif %}
    {% if workflow.reboundCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_workflow_rebounds', { 'id':workflow.id }) }}" data-tooltip="tooltip" title="{{ 'workflow.workflow.choice.rebound'|transchoice(workflow.reboundCount, { '%count%':workflow.reboundCount }) }}"><i class="ladb-icon-rebound ladb-color-rebound"></i> <span class="ladb-color-rebound">{{ workflow.reboundCount }}</span></a></li>
    {% endif %}
    {% if workflow.collectionCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_workflow_howtos', { 'id':workflow.id }) }}" data-tooltip="tooltip" title="{{ 'workflow.workflow.linked_to'|trans() }} {{ workflow.collectionCount }} {{ 'collection.collection.choice.collections'|transchoice(workflow.collectionCount) }}"><i class="ladb-icon-collection"></i></a></li>
    {% endif %}
    {% if workflow.howtoCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_workflow_howtos', { 'id':workflow.id }) }}" data-tooltip="tooltip" title="{{ 'workflow.workflow.linked_to'|trans() }} {{ workflow.howtoCount }} {{ 'howto.howto.choice.howtos'|transchoice(workflow.howtoCount) }}"><i class="ladb-icon-howto"></i></a></li>
    {% endif %}
    {% if workflow.creationCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_workflow_creations', { 'id':workflow.id }) }}" data-tooltip="tooltip" title="{{ 'workflow.workflow.linked_to'|trans() }} {{ workflow.creationCount }} {{ 'wonder.creation.choice.creations'|transchoice(workflow.creationCount) }}"><i class="ladb-icon-creation"></i></a></li>
    {% endif %}
    {% if workflow.planCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_workflow_plans', { 'id':workflow.id }) }}" data-tooltip="tooltip" title="{{ 'workflow.workflow.linked_to'|trans() }} {{ workflow.planCount }} {{ 'wonder.plan.choice.plans'|transchoice(workflow.planCount) }}"><i class="ladb-icon-plan"></i></a></li>
    {% endif %}
    {% if workflow.workshopCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_workflow_workshops', { 'id':workflow.id }) }}" data-tooltip="tooltip" title="{{ 'workflow.workflow.linked_to'|trans() }} {{ workflow.workshopCount }} {{ 'wonder.workshop.choice.workshops'|transchoice(workflow.workshopCount) }}"><i class="ladb-icon-workshop"></i></a></li>
    {% endif %}
    {{ parent() }}
    {% if workflow.copyCount > 0 %}
        <li class="ladb-counter"><i class="ladb-icon-duplicate"></i> <span>{{ workflow.copyCount|number_format(0, ',', ' ') }}</span></li>
    {% endif %}
{% endblock %}


