<div id="ladb_workflow_status" class="ladb-workflow-status">
    {% include 'LadbCoreBundle:Workflow:Workflow/_durations.part.html.twig' with { 'entity':workflow } %}
    {% if workflow.estimatedDuration > 0 and workflow.duration > 0 %}
        <div class="progress">
            {% if workflow.duration <= workflow.estimatedDuration %}
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ workflow.duration / workflow.estimatedDuration * 100 }}%"></div>
            {% else %}
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ workflow.estimatedDuration / workflow.duration * 100 }}%">
                    Prévision
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ (1 - workflow.estimatedDuration / workflow.duration) * 100 }}%" data-tooltip="tooltip" title="+{{ (workflow.duration - workflow.estimatedDuration)|ladb_duration() }}">
                    +{{ (workflow.duration - workflow.estimatedDuration)|ladb_duration() }}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>