{% extends '::base.html.twig' %}

{% set bodyContainerFluid = true %}

{% block headStylesheets %}
    {{ parent() }}
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/ladb/layout/workflow.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.2.9/jsplumb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/jquery-panzoom/jquery.panzoom.min.js'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.workflowdiagram.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ ws_client() }}
    <script>
        $(document).ready(function() {
            $('.ladb-workflow-task-diagram').ladbWorkflowDiagram({
                listTaskPath: '{{ path('core_workflow_task_list', { 'id':workflow.id }) }}'
            });
        });
    </script>
{% endblock %}

{% block bodyHeaderContainerContent %}
{% endblock %}

{% block bodyWrapperInner %}
    <div class="ladb-workflow-workspace ladb-diagram-only">
        <div class="ladb-workflow-board">
            <div class="ladb-workflow-task-diagram">
                <div class="ladb-panzoom">
                    <div class="ladb-jtk-canvas"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block bodyFooter %}{% endblock %}