{% extends 'Common/_list-n.part.html.twig' %}

{# set items #}
{# set nextPageUrl #}

{% block items %}
    {% for item in items %}
        {% set hasParentEntity = item.parentEntity is defined %}
        {% set mainEntity = hasParentEntity ? item.parentEntity : item.entity %}
        <div class="ladb-user-groupby-box">
            <div class="ladb-box row">
                <div class="ladb-content col-sm-6 col-xs-12">
                    {% block itemContentInner %}
                        <div class="ladb-image">
                            <img src="{{ (mainEntity.mainPicture is defined and mainEntity.mainPicture is not empty ? mainEntity.mainPicture.webPath : 'avatar.png')|imagine_filter('50x50o') }}" width="50" height="50">
                        </div>
                        <div class="ladb-heading">
                            {% if mainEntity.title is defined %}
                                <h3>{% if not hasParentEntity %}<a href="{{ ladb_entity_url_action(mainEntity) }}">{% endif %}{{ mainEntity.title }}{% if not hasParentEntity %}</a>{% endif %}</h3>
                            {% endif %}
                        </div>
                        <div class="ladb-subheading">
                            {% if mainEntity.user is defined %}
                                {{ 'default.by'|trans() }}&nbsp;<a href="{{ url('core_user_show', { 'username':mainEntity.user.usernameCanonical }) }}">{{ mainEntity.user.displayname }}</a>
                            {% endif %}
                            {% if mainEntity.age is defined %}
                                <span class="ladb-age">{{ mainEntity.createdAt|ago }}</span>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
                <div class="ladb-user-groupby-items col-sm-5 col-xs-12">
                    {% block subitems %}{% endblock %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

