{% extends "base.html.twig" %}

{% set bodyClass = 'ladb-topbar-enabled' %}
{% set bodyContainerClasses = 'ladb-margin-top' %}

{% block bodyHeader %}
    {% include '::_topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainer %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <div class="panel panel-lg panel-{% if invalidEmail %}danger{% else %}success{% endif %}">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'user.email_unsubscribe.title'|trans() }}</h1>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <i class="ladb-icon-{% if invalidEmail %}warning{% else %}thumb-up{% endif %} ladb-icon-xl text-{% if invalidEmail %}danger{% else %}success{% endif %}"></i>
                        </div>
                        <div class="media-body">
                            {% if invalidEmail %}
                                {{ 'user.email_unsubscribe.confirm.invalid_email'|trans() }}
                            {% else %}
                                <p>{{ ('user.email_unsubscribe.confirm.success_'~list)|trans({ '%email%':email })|raw }}</p>
                                <p>Vous pouvez réactiver ces envois depuis vos <a href="{{ url('core_user_settings_me') }}#notifications">paramètres d'utilisateurs</a>.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="{{ path('core_welcome') }}" class="btn btn-default">Retour à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}