{% extends 'Core/User/_show-list.html.twig' %}

{% set masonry = true %}

{% block bodyContainerContent %}
    {% if plans.count == 0 and filter != 'draft' %}
        <div class="alert alert-info ladb-margin-top">
            {% if is_granted("ROLE_USER") and user.id == app.user.id %}
                <p>Vous n'avez pas encore publié de <strong>plan</strong> !</p>
                <p><a href="{{ path('core_plan_new') }}" class="btn btn-primary"><i class="ladb-icon-plus"></i> {{ 'wonder.plan.new'|trans() }}</a></p>
            {% else %}
                <strong>{{ user.username }}</strong> n'a pas encore publié de plan.
            {% endif %}
        </div>
    {% else %}
        {% embed 'Wonder/Plan/_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_user_show_plans_filter' %}
            {% set filterPathParameters = { 'username':user.usernameCanonical } %}
            {% set customFilterDefs = {
                'draft':    { 'label':('default.choice.draft'|trans({'count': 2})|capitalize), 'path':path('core_user_show_plans_filter', { 'username':user.usernameCanonical, 'filter':'draft' }), 'hidden':(not isDraftVisible) },
            } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">
                    {% if filter == 'draft' and isDraftVisible %}
                        {{ user.meta.privatePlanCount~' '~('default.choice.draft'|transchoice(user.meta.privatePlanCount)) }}
                    {% else %}
                        {{ user.meta.publicPlanCount }} {{ 'wonder.plan.choice.entities'|transchoice(user.meta.publicPlanCount) }}{% if isDraftVisible and user.meta.privatePlanCount > 0 %} (+{{ user.meta.privatePlanCount~' '~('default.choice.draft'|transchoice(user.meta.privatePlanCount)) }}){% endif %}
                    {% endif %}
                </span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Wonder/Plan/_list-n.part.html.twig' %}
{% endblock %}
