{% extends 'Core/User/_show-list.html.twig' %}

{% set masonry = true %}
{% set masonryWide = true %}

{% block bodyContainerContent %}
    {% if offers.count == 0 and filter != 'draft' %}
        <div class="alert alert-info ladb-margin-top">
            {% if is_granted("ROLE_USER") and user.id == app.user.id %}
                <p>Vous n'avez pas encore publié d'<strong>annonce</strong> !</p>
                <p><a href="{{ path('core_offer_new') }}" class="btn btn-primary"><i class="ladb-icon-plus"></i> {{ 'offer.offer.new'|trans() }}</a></p>
            {% else %}
                <strong>{{ user.username }}</strong> n'a pas encore publié d'annonce.
            {% endif %}
        </div>
    {% else %}
        {% embed 'Offer:Offer/_list-filterbar.part.html.twig' %}
            {% set filterPath = 'core_user_show_offers_filter' %}
            {% set filterPathParameters = { 'username':user.usernameCanonical } %}
            {% set customFilterDefs = {
                'draft':    { 'label':('default.choice.draft'|transchoice(2)|capitalize), 'path':path('core_user_show_offers_filter', { 'username':user.usernameCanonical, 'filter':'draft' }), 'hidden':(not isDraftVisible) },
            } %}
            {% block filterbarRightContent%}
                <span class="ladb-heading">
                    {% if filter == 'draft' and isDraftVisible %}
                        {{ user.meta.privateOfferCount~' '~('default.choice.draft'|transchoice(user.meta.privateOfferCount)) }}
                    {% elseif filter|slice(0,4) == 'type' %}
                        {{ offers.count~' '~('offer.offer.choice.entities'|transchoice(offers.count)) }}
                    {% else %}
                        {{ user.meta.publicOfferCount }} {{ 'offer.offer.choice.entities'|transchoice(user.meta.publicOfferCount) }}{% if isDraftVisible and user.meta.privateOfferCount > 0 %} (+{{ user.meta.privateOfferCount~' '~('default.choice.draft'|transchoice(user.meta.privateOfferCount)) }}){% endif %}
                    {% endif %}
                </span>
            {% endblock %}
        {% endembed %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'Offer:Offer/_list-n.part.html.twig' %}
{% endblock %}