{% extends 'layout.html.twig' %}

{% use 'Common/Blocks/blueimp-gallery-widget.blocks.html.twig' %}

{% set pageUrl = url('core_user_show', { 'username':user.usernameCanonical }) %}
{% set pageTitle = user.displayname %}
{% set pageContentItemType = 'Person' %}
{% if user.meta.biography is not null and user.meta.biography.htmlBody|length > 0 %}
    {% set pageDescription = user.meta.biography.htmlBody|striptags|u.truncate(200, true, '...') %}
{% endif %}
{% if user.avatar is not null %}
    {% set pageImage = user.avatar.webPath|imagine_filter('400x400o') %}
    {% set pageImageWidth = '400' %}
    {% set pageImageHeight = '400' %}
{% endif %}

{% set navSection = user.isTeam ? 'teams' : 'users' %}
{% set searchPath = path('core_user_list') %}
{% set isOwner = is_granted("ROLE_USER") and app.user.id == user.id or isGrantedOwner %}
{% set isDraftVisible = is_granted("ROLE_ADMIN") or isOwner %}
{% set hasBanner = user.meta.banner is not null %}
{% set topbarTranslucent = hasBanner %}
{% set noStickyHeader = true %}

{% block headStylesheets %}
    {{ parent() }}
    {{ block('blueimpGalleryStylesheets') }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.css" media="screen" />
    {% stylesheets filter='less,?yui_css'
        '@LadbCoreBundle/Resources/assets/less/selectize/selectize.ladb.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('blueimpGalleryJavascripts') }}
    <script>
        $(document).ready(function() {
            setupTooltips();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ block('blueimpGalleryWidget') }}
{% endblock %}

{% block bodyHeaderContainer %}
    {% if user.meta.banner is not null %}
        <div class="ladb-user-banner" style="background-image: url({{ user.meta.banner.webPath|imagine_filter('800x800i') }}); background-position: {{ user.meta.banner.centerX100 }}% {{ user.meta.banner.centerY100 }}%;"></div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bodyHeaderContainerContent %}
    <div class="ladb-avatar-header{% if hasBanner %} ladb-avatar-header-with-banner{% endif %}">
        <a href="{{ user.avatar.webPath|imagine_filter('1024x1024i') }}" data-gallery="avatar" class="ladb-avatar ladb-cursor-preview">
            {% include 'Core/User:_avatar.part.html.twig' with { 'size':'128', 'noLazyLoad':true } %}
        </a>
        <div class="ladb-body">
            <h1 class="ladb-heading"><span itemprop="name"{% if not user.enabled %} class="ladb-strikethrough"{% endif %}>{{ user.displayname }}</span>{% include 'Core/User:_account-type.part.html.twig' %}{% if user.isFullnameDisplayble %} <small>(<span itemprop="additionalName">{{ user.fullname }}</span>)</small>{% endif %}</h1>
            <span class="ladb-subheading">
                {% include 'Core/User:_location-and-social.part.html.twig' %}
            </span>
        </div>
        <div class="ladb-header-tools">
            {% block headerToolsInner %}
                {% if followerContext is not null and not isGrantedOwner %}
                    {% include 'Core/Follower:_widget.part.html.twig' with { 'followerContext':followerContext } %}
                {% endif %}
                {% if is_granted('ROLE_USER') and user.isTeam and user.meta.requestEnabled and not isGrantedOwner and invitation is null and request is null %}
                    <a class="btn btn-default" onclick="$('#member_request_modal').modal({ remote:'{{ path('core_member_request_new', { 'teamId':user.id }) }}'});" data-tooltip="tooltip" title="{{ 'team.member_request'|trans() }}"><i class="ladb-icon-request"></i><span{% if is_granted('ROLE_ADMIN') %} class="ladb-hidden-mobile"{% endif %}> {{ 'team.request'|trans() }}...</span></a>
                    {% include 'Common/Modal:_modal-empty-loading.part.html.twig' with { 'id':'member_request_modal', 'title':'<i class="ladb-icon-request"></i>&nbsp;'~('team.member_request'|trans()), 'classes':'modal-infinit' } %}
                {% endif %}
                {% if user.isTeam and isGrantedOwner %}
                    <a class="btn btn-default" onclick="$('#member_invitation_modal').modal({ remote:'{{ path('core_member_invitation_new', { 'teamId':user.id }) }}'});" data-tooltip="tooltip" title="{{ 'team.member_invite'|trans() }}"><i class="ladb-icon-invite"></i> {{ 'team.invite'|trans() }}...</a>
                    {% include 'Common/Modal:_modal-empty-loading.part.html.twig' with { 'id':'member_invitation_modal', 'title':'<i class="ladb-icon-invite"></i>&nbsp;'~('team.member_invite'|trans()), 'classes':'modal-infinit' } %}
                {% endif %}
                {% if isOwner %}
                    <a href="{{ path('core_user_settings', { 'username':user.usernameCanonical }) }}" class="btn btn-default"><i class="ladb-icon-settings"></i> {{ 'user.settings'|trans() }}</a>
                {% elseif not isGrantedOwner %}
                    <a href="{{ path('core_message_thread_new_recipientusername', { 'recipientUsername':user.usernameCanonical }) }}" class="btn btn-default" data-tooltip="tooltip" title="{{ 'message.sendTo'|trans({ '%NAME%':user.displayname }) }}"><i class="ladb-icon-message"></i><span{% if is_granted('ROLE_ADMIN') %} class="ladb-hidden-mobile"{% endif %}> {{ 'message.contact'|trans() }}</span></a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or user.isTeam and isGrantedOwner %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ladb-icon-more"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {% if user.isTeam and isGrantedOwner %}
                                <li><a href="{{ path('core_user_show_invitations', { 'username':user.usernameCanonical }) }}"><i class="ladb-icon-invite"></i> Voir les invitations en attente</a></li>
                                <li><a href="{{ path('core_user_show_requests', { 'username':user.usernameCanonical }) }}"><i class="ladb-icon-request"></i> Voir les demandes en attente</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-item-danger"><a href="#member_member_delete" data-toggle="modal"><i class="ladb-icon-exit"></i> Quitter le collectif...</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header"><i class="ladb-icon-admin"></i> Admin</li>
                                {% if user.enabled %}
                                    <li><a href="{{ path('core_user_admin_deactivate', { 'username':user.usernameCanonical }) }}"><i class="ladb-icon-lock"></i> Désactiver</a></li>
                                {% else %}
                                    <li><a href="{{ path('core_user_admin_activate', { 'username':user.usernameCanonical }) }}"><i class="ladb-icon-lock"></i> Activer</a></li>
                                {% endif %}
                                <li class="dropdown-item-danger"><a href="#empty_user_admin_modal" data-toggle="modal"><i class="ladb-icon-delete"></i> {{ 'default.empty'|trans() }}...</a></li>
                                <li class="dropdown-item-danger"><a href="#delete_user_admin_modal" data-toggle="modal"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}...</a></li>
                                {% if not user.isTeam %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#converttoteam_user_admin_modal"  data-toggle="modal"><i class="ladb-icon-arrow-right"></i> <i class="ladb-icon-users"></i> Convertir en collectif...</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    {% if user.isTeam and isGrantedOwner %}
                        {% embed 'Common/Modal:_modal.part.html.twig' with { 'id':'member_member_delete', 'title':'Quitter le collectif' } %}
                            {% block bodyInner %}
                                {% if user.meta.memberCount > 1 %}
                                    <p>En quittant le collectif <strong>{{ user.displayname }}</strong> vous perdrez tous les droits de modification aux publications et à la messagerie du collectif.</p>
                                    <p>Confirmez l'action pour continuer.</p>
                                {% else %}
                                    <p>Vous ne pouvez pas quitter ce collectif. Vous en êtes le dernier survivant !</p>
                                {% endif %}
                            {% endblock %}
                            {% block footerInner %}
                                {% if user.meta.memberCount > 1 %}
                                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                    <a href="{{ path('core_member_delete', { 'teamId':user.id }) }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-exit"></i> Quitter le collectif</a>
                                {% else %}
                                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|trans() }}</a>
                                {% endif %}
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {% embed 'Common/Modal:_modal.part.html.twig' with { 'id':'empty_user_admin_modal', 'title':('default.emptying'|trans()) } %}
                            {% block bodyInner %}
                                <p>La vidange du compte <strong>{{ user.displayname }}</strong> effacera toutes ces publications.</p>
                                <p>Confirmez l'action pour continuer.</p>
                            {% endblock %}
                            {% block footerInner %}
                                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                <a href="{{ path('core_user_admin_empty', { 'username':user.usernameCanonical }) }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-delete"></i> {{ 'default.empty'|trans() }}</a>
                            {% endblock %}
                        {% endembed %}
                        {% embed 'Common/Modal:_modal.part.html.twig' with { 'id':'delete_user_admin_modal', 'title':('default.deleting'|trans()) } %}
                            {% block bodyInner %}
                                <p>La suppression du compte <strong>{{ user.displayname }}</strong> effacera toutes ces publications.</p>
                                <p>Confirmez l'action pour continuer.</p>
                            {% endblock %}
                            {% block footerInner %}
                                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                <a href="{{ path('core_user_admin_delete', { 'username':user.usernameCanonical }) }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-delete"></i> {{ 'default.delete'|trans() }}</a>
                            {% endblock %}
                        {% endembed %}
                        {% embed 'Common/Modal:_modal.part.html.twig' with { 'id':'converttoteam_user_admin_modal', 'title':'Convertir en collectif' } %}
                            {% block bodyInner %}
                                <p>La conversion du compte <strong>{{ user.displayname }}</strong> en collectif effacera toutes ces invitations et demandes et lui fera quitter tous les collectifs dont il est membre.</p>
                                <p>Confirmez l'action pour continuer.</p>
                            {% endblock %}
                            {% block footerInner %}
                                <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                <a href="{{ path('core_user_admin_converttoteam', { 'username':user.usernameCanonical }) }}" class="btn btn-danger" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-arrow-right"></i> {{ 'default.convert'|trans() }}</a>
                            {% endblock %}
                        {% endembed %}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li{% if tab == 'about' %} class="active"{% endif %}>
            <a href="{{ path('core_user_show_about', { 'username':user.usernameCanonical }) }}">{{ 'user.about'|trans() }}</a>
        </li>
        {% if user.isTeam %}
            <li{% if tab == 'members' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_members', { 'username':user.usernameCanonical }) }}">{{ 'team.choice.members'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.memberCount > 0 %} badge-black{% endif %}">{{ user.meta.memberCount }}</span></a>
            </li>
        {% endif %}
        {% if (is_granted('ROLE_ADMIN') or isGrantedOwner) and user.meta.invitationCount > 0 %}
            <li{% if tab == 'invitations' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_invitations', { 'username':user.usernameCanonical }) }}">{{ 'team.choice.invitations'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.invitationCount > 0 %} badge-{% if user.isTeam %}black{% else %}danger{% endif %}{% endif %}">{{ user.meta.invitationCount }}</span></a>
            </li>
        {% endif %}
        {% if (is_granted('ROLE_ADMIN') or isGrantedOwner) and user.meta.requestCount > 0 %}
            <li{% if tab == 'requests' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_requests', { 'username':user.usernameCanonical }) }}">{{ 'team.choice.requests'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.requestCount > 0 %} badge-{% if user.isTeam %}danger{% else %}black{% endif %}{% endif %}">{{ user.meta.requestCount }}</span></a>
            </li>
        {% endif %}
        {% if tab == 'teams' %}
            <li class="active">
                <a href="{{ path('core_user_show_teams', { 'username':user.usernameCanonical }) }}">{{ 'team.choice.entities'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.teamCount > 0 %} badge-black{% endif %}">{{ user.meta.teamCount }}</span></a>
            </li>
        {% endif %}
        {% if tab == 'creations' or user.meta.publicCreationCount > 0 or isGrantedOwner and user.meta.privateCreationCount > 0 %}
            <li{% if tab == 'creations' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_creations', { 'username':user.usernameCanonical }) }}">{{ 'wonder.creation.choice.entities'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.publicCreationCount > 0 %} badge-black{% endif %}">{{ user.meta.publicCreationCount }}</span>{% if isDraftVisible and user.meta.privateCreationCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateCreationCount }}</span>{% endif %}</a>
            </li>
        {% endif %}
        {% if tab == 'questions' or user.meta.publicQuestionCount > 0 or isGrantedOwner and user.meta.privateQuestionCount > 0 %}
            <li{% if tab == 'questions' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_questions', { 'username':user.usernameCanonical }) }}">{{ 'qa.question.choice.entities'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.publicQuestionCount > 0 %} badge-black{% endif %}">{{ user.meta.publicQuestionCount }}</span>{% if isDraftVisible and user.meta.privateQuestionCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateQuestionCount }}</span>{% endif %}</a>
            </li>
        {% endif %}
        {% if tab == 'plans' or user.meta.publicPlanCount > 0 or isGrantedOwner and user.meta.privatePlanCount > 0 %}
            <li{% if tab == 'plans' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_plans', { 'username':user.usernameCanonical }) }}">{{ 'wonder.plan.choice.entities'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.publicPlanCount > 0 %} badge-black{% endif %}">{{ user.meta.publicPlanCount }}</span>{% if isDraftVisible and user.meta.privatePlanCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privatePlanCount }}</span>{% endif %}</a>
            </li>
        {% endif %}
        {% if tab == 'howtos' or user.meta.publicHowtoCount > 0 or isGrantedOwner and user.meta.privateHowtoCount > 0 %}
            <li{% if tab == 'howtos' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_howtos', { 'username':user.usernameCanonical }) }}">{{ 'howto.howto.choice.entities'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.publicHowtoCount > 0 %} badge-black{% endif %}">{{ user.meta.publicHowtoCount }}</span>{% if isDraftVisible and user.meta.privateHowtoCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateHowtoCount }}</span>{% endif %}</a>
            </li>
        {% endif %}
        {% if tab == 'workshops' or user.meta.publicWorkshopCount > 0 or isGrantedOwner and user.meta.privateWorkshopCount > 0 %}
            <li{% if tab == 'workshops' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_workshops', { 'username':user.usernameCanonical }) }}">{{ 'wonder.workshop.choice.entities'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.publicWorkshopCount > 0 %} badge-black{% endif %}">{{ user.meta.publicWorkshopCount }}</span>{% if isDraftVisible and user.meta.privateWorkshopCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateWorkshopCount }}</span>{% endif %}</a>
            </li>
        {% endif %}
        {% if tab == 'finds' or user.meta.publicFindCount > 0 or isGrantedOwner and user.meta.privateFindCount > 0 %}
            <li{% if tab == 'finds' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_finds', { 'username':user.usernameCanonical }) }}">{{ 'find.find.choice.entities'|trans({'count': 2})|capitalize }} <span class="badge{% if user.meta.publicFindCount > 0 %} badge-black{% endif %}">{{ user.meta.publicFindCount }}</span>{% if isDraftVisible and user.meta.privateFindCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateFindCount }}</span>{% endif %}</a>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li{% if tab == 'admin' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_admin', { 'username':user.usernameCanonical }) }}" class="admin"><i class="ladb-icon-admin"></i>&nbsp;{{ 'user.admin.tab'|trans()|capitalize }}</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
