<div class="ladb-box ladb-status-{{ task.status }}">
    <button class="ladb-btn-done ladb-status-update-btn"{% if not readOnly %} data-action-status="{{ task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_DONE') ? constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') : constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_DONE')}}" data-loading-text="<i class='ladb-icon-spinner'></i>"{% endif %}{% if readOnly or task.status < constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') %} disabled{% endif %}>
        {% if not readOnly and task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_DONE') %}<i class="ladb-icon-check"></i>{% endif %}
    </button>
    {% if not readOnly %}
        <div class="ladb-minitools pull-right">
            {% if task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') %}
                <button class="ladb-minitools-btn ladb-btn-run ladb-status-update-btn " data-action-status="{{ constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_RUNNING') }}" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-task-play ladb-icon-lg"></i></button>
            {% endif %}
            {% if task.status == constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_RUNNING') %}
                <button class="ladb-minitools-btn ladb-btn-run ladb-status-update-btn " data-action-status="{{ constant('Ladb\\CoreBundle\\Entity\\Workflow\\Task::STATUS_WORKABLE') }}" data-loading-text="<i class='ladb-icon-spinner'></i>"><i class="ladb-icon-task-pause ladb-icon-lg"></i></button>
            {% endif %}
            <button class="ladb-minitools-btn ladb-btn-edit"><i class="ladb-icon-edit ladb-icon-lg"></i></button>
        </div>
    {% endif %}
    <div class="ladb-body">
        <div class="ladb-title">{{ task.title }}</div>
        {% include 'LadbCoreBundle:Workflow:_durations.part.html.twig' with { 'entity':task } %}
        {% if task.labels is not empty %}
            <div class="ladb-labels">
                {% for label in task.labels %}
                    {% include 'LadbCoreBundle:Workflow:Label/_bullet.part.html.twig' %}
                {% endfor %}
            </div>
        {% endif %}
        {% if task.parts is not empty %}
            {% set collapseId = 'task_parts_collapse'~random() %}
            <div class="ladb-parts">
                <a title="{{ task.parts|length }} pièces" data-toggle="collapse" href="#{{ collapseId }}"><i class="ladb-icon-plan" data-container="body"></i> <span style="font-size: 95%;">{{ task.parts|length }} pièces</span><span class="caret"></span> </a>
                <div id="{{ collapseId }}" class="collapse">
                    <ul>
                        {% for part in task.parts %}
                            <li>{{ part.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>
