{# set collection #}
{# set classes (facultative) #}

<span{% if classes is defined %} class=" ladb-hidden-mobile ladb-visibility-badge {{ classes }}"{% endif %} title="{{ ('collection.collection.'~(collection.isPublic ? 'public' : 'private')~'_tooltip')|trans() }}" data-tooltip="tooltip">
    {% if collection.isPrivate %}
        <i class="ladb-icon-key"></i> <span>{{ 'default.private'|trans }}</span>
    {% elseif collection.isProtected %}
        <i class="ladb-icon-users"></i> <span>{{ 'default.protected'|trans }}</span>
    {% else %}
        <i class="ladb-icon-globe"></i> <span>{{ 'default.public'|trans }}</span>
    {% endif %}
</span>
