
{# set knowledge #}
{# set field #}
{# set data #}
{# set values #}
{# set disabled (facultative) #}
{# set indented (facultative) #}
{# set itemprop (facultative) #}

{% set fieldDef = knowledge.fieldDefs[field] %}
{% set fieldType = fieldDef[constant('ATTRIB_TYPE', knowledge)] %}
{% set fieldMultiple = fieldDef[constant('ATTRIB_MULTIPLE', knowledge)] %}
{% set fieldSuffix = fieldDef[constant('ATTRIB_SUFFIX', knowledge)] is defined ? fieldDef[constant('ATTRIB_SUFFIX', knowledge)] : null %}
{% set fieldChoices = fieldDef[constant('ATTRIB_CHOICES', knowledge)] is defined ? fieldDef[constant('ATTRIB_CHOICES', knowledge)] : null %}
{% set fieldUseChoicesValue = fieldDef[constant('ATTRIB_USE_CHOICES_VALUE', knowledge)] is defined ? fieldDef[constant('ATTRIB_USE_CHOICES_VALUE', knowledge)] : false %}
{% set fieldFilterQuery = fieldDef[constant('ATTRIB_FILTER_QUERY', knowledge)] is defined ? fieldDef[constant('ATTRIB_FILTER_QUERY', knowledge)] : null %}
{% set fieldMandatory = fieldDef[constant('ATTRIB_MANDATORY', knowledge)] is defined ? fieldDef[constant('ATTRIB_MANDATORY', knowledge)] : false %}

{% set valueIsUndefined = data is null or values is empty %}
{% set valueIsRejected = values is not empty and values[0].voteScore < 0 %}

{% set disabled = disabled|default(false) %}
{% set indented = indented|default(false) %}

{% macro searchQueryLink(knowledge, value, fieldType, fieldChoices, fieldUseChoicesValue, fieldFilterQuery, disabled) %}
    {% if fieldFilterQuery is not null and not disabled %}
        <a href="{{ path('core_'~knowledge.strippedName~'_list', { 'q':(fieldFilterQuery|replace({ '%q%':fieldUseChoicesValue and fieldChoices[value.data] is defined ? fieldChoices[value.data] : value.data })) }) }}" class="ladb-cursor-filter" rel="nofollow">
    {% endif %}
        {% include 'LadbCoreBundle:Knowledge:_field-show-meta-'~fieldType~'.part.html.twig' %}
    {% if fieldFilterQuery is not null and not disabled %}
        </a>
    {% endif %}
{% endmacro %}

{% import _self as Self %}

<div id="ladb_meta_field_{{ field }}" class="ladb-meta ladb-meta-editable{% if valueIsUndefined %} text-muted{% endif %}{% if fieldMultiple or fieldType == 'longtext' %} ladb-readmore{% endif %}" onclick="if (event.target.tagName != 'A') { $('#proposals_modal').modal({ remote:'{{ path('core_knowledge_field_show', { 'entityType':knowledge.type, 'entityId':knowledge.id, 'field':field}) }}' }); }">
    <div class="row">
        <div class="col-xs-3">
            <span class="ladb-key{% if disabled %} ladb-strikethrough{% endif %}" data-popover="popover" data-popover="popover" data-trigger="hover" data-placement="top" data-html="true" data-container="body" data-content="{{ ('knowledge.'~knowledge.strippedName~'.help.'~field)|trans()|ladb_markdown|raw }}">{% if indented %}&nbsp;<i class="ladb-icon-arrow-turn-right"></i>&nbsp;{% endif %}{{ ('knowledge.'~knowledge.strippedName~'.field.'~field)|trans() }}</span>
        </div>
        <div class="col-xs-8"{% if itemprop is defined and not valueIsUndefined %} itemprop="{{ itemprop }}"{% endif %}>
            {% if valueIsUndefined %}
                <span class="ladb-value">{% include 'LadbCoreBundle:Knowledge:_field-bullet.part.html.twig' with { 'valueIndex':0 } %}<div class="ladb-data{% if disabled %} text-muted{% endif %}">-</div></span>
            {% elseif fieldMultiple %}
                {% if valueIsRejected and fieldMandatory %}
                    {% set value = values[0] %}
                    <div class="ladb-value">{% include 'LadbCoreBundle:Knowledge:_field-bullet.part.html.twig' with { 'valueIndex':0 } %}<div class="ladb-data{% if valueIsRejected %} ladb-strikethrough{% endif %}{% if disabled %} text-muted{% endif %}">{{ Self.searchQueryLink(knowledge, value, fieldType, fieldChoices, fieldUseChoicesValue, fieldFilterQuery, disabled) }}{% if fieldSuffix is not null %}<em> {{ fieldSuffix|raw }}</em>{% endif %}</div></div>
                {% else %}
                    {% set definedValueCount = 0 %}
                    {% for value in values if value.voteScore >= 0 %}
                        <div class="ladb-value">{% include 'LadbCoreBundle:Knowledge:_field-bullet.part.html.twig' with { 'valueIndex':loop.index0 } %}<div class="ladb-data{% if disabled %} text-muted{% endif %}">{{ Self.searchQueryLink(knowledge, value, fieldType, fieldChoices, fieldUseChoicesValue, fieldFilterQuery, disabled) }}{% if fieldSuffix is not null %}<em> {{ fieldSuffix|raw }}</em>{% endif %}</div></div>
                        {%  set definedValueCount = definedValueCount + 1 %}
                    {% endfor %}
                    {% if definedValueCount == 0 %}
                        <span class="ladb-value">{% include 'LadbCoreBundle:Knowledge:_field-bullet.part.html.twig' with { 'valueIndex':0 } %}<div class="ladb-data{% if disabled %} text-muted{% endif %}">-</div></span>
                    {% endif %}
                {% endif %}
            {% else %}
                {% set value = values[0] %}
                <div class="ladb-value">{% include 'LadbCoreBundle:Knowledge:_field-bullet.part.html.twig' with { 'valueIndex':0 } %}<div class="ladb-data{% if valueIsRejected %} ladb-strikethrough{% endif %}{% if disabled %} text-muted{% endif %}">{{ Self.searchQueryLink(knowledge, value, fieldType, fieldChoices, fieldUseChoicesValue, fieldFilterQuery, disabled) }}{% if fieldSuffix is not null %}<em> {{ fieldSuffix|raw }}</em>{% endif %}</div></div>
            {% endif %}
        </div>
        <div class="col-xs-1">
            <div class="ladb-minitools"><a href="{{ path('core_knowledge_field_show', { 'entityType':knowledge.type, 'entityId':knowledge.id, 'field':field}) }}" data-toggle="modal" data-target="#proposals_modal" data-tooltip="tooltip" title="{{ 'knowledge.show_proposals'|trans() }}"><i class="ladb-icon-chevron-right"></i></a></div>
        </div>
    </div>
</div>
