
{# set wide #}
{# set knowledge #}
{# set field #}
{# set picture #}
{# set values #}
{# set itemProperty (facultative) #}
{# set pictureBoxClasses (facultative) #}

<div class="{% if wide %}col-xs-6{% else %}col-md-3 col-xs-6{% endif %}">
    <div class="thumbnail ladb-margin-bottom" onclick="$('#proposals_modal').modal({ remote:'{{ path('core_knowledge_field_show', { 'entityType':knowledge.type, 'entityId':knowledge.id, 'field':field}) }}' });">
        <div class="ladb-picture-box{% if pictureBoxClasses is defined %} {{ pictureBoxClasses }}{% endif %}">
            {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'width':(wide ? '282' : '126'), 'height':(wide ? '280' : '170'), 'alt':knowledge.title, 'emptyWebPath':'empty_add.png', 'autoSizer':false } %}
            {% if values|length %}
                {% set pictureCount = 0 %}
                {% for value in values if value.voteScore >= 0 %}
                    {% set pictureCount = pictureCount + 1 %}
                {% endfor %}
                {% if pictureCount > 0 %}
                    <div class="ladb-picture-counter">{{ pictureCount }} <i class="ladb-icon-camera"></i></div>
                {% endif %}
            {% endif %}
        </div>
        <div class="caption">
            <div class="ladb-minitools pull-right"><a href="{{ path('core_knowledge_field_show', { 'entityType':knowledge.type, 'entityId':knowledge.id, 'field':field}) }}" data-toggle="modal" data-target="#proposals_modal" data-tooltip="tooltip" title="Voir les propositions"><i class="ladb-icon-chevron-right"></i></a></div>
            {% include 'LadbCoreBundle:Knowledge:_field-bullet.part.html.twig' with { 'valueIndex':0 } %}&nbsp;<span{% if values|length == 0 %} class="ladb-color-null"{% endif %} data-popover="popover" data-popover="popover" data-trigger="hover" data-placement="top" data-html="true" data-container="body" data-content="{{ ('knowledge.'~knowledge.strippedName~'.help.'~field)|trans()|ladb_markdown|raw }}">{{ ('knowledge.'~knowledge.strippedName~'.field.'~field)|trans() }}<span>
        </div>
    </div>
</div>
