{% extends 'LadbCoreBundle:Knowledge:_form-fieldset-value.part.html.twig' %}

{% block dataFormGroup %}
    <div class="form-group">
        {{ form_errors(form.rawPhoneNumber) }}
        <div class="input-group">
            <span class="input-group-addon"><i class="ladb-icon-phone"></i></span>
            {{ form_widget(form.rawPhoneNumber, { 'attr':{ 'class':'form-control input-lg', 'placeholder':fieldLabel } }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.country, ('knowledge.proposal_value.country'|trans())) }}
        {{ form_errors(form.country) }}
        {{ form_widget(form.country, { 'attr':{ 'class':'form-control', } }) }}
    </div>
{% endblock %}
