{% extends 'LadbCoreBundle:Knowledge:_form-fieldset-value.part.html.twig' %}

{% block dataFormGroup %}
    <div class="form-group">
        {{ form_errors(form.rawPrice) }}
        {{ form_widget(form.rawPrice, { 'attr':{ 'class':'form-control input-lg', 'placeholder':fieldLabel } }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.currency, ('knowledge.proposal_value.currency'|trans())) }}
        {{ form_errors(form.currency) }}
        {{ form_widget(form.currency, { 'attr':{ 'class':'form-control', } }) }}
    </div>
{% endblock %}
