{# set form #}
{# set label #}
{# set cancelEdit (facultative) #}

{% set cancelEdit = cancelEdit is defined ? cancelEdit : false %}

{% block dataFormGroupOuter %}
    {{ form_errors(form) }}
    <div class="form-group">
        {% block dataFormGroup %}{% endblock %}
    </div>
{% endblock %}
<div class="form-group">
    {{ form_label(form.legend, ('knowledge.proposal_value.legend'|trans())) }}&nbsp;<small>(Facultatif)</small>
    {{ form_errors(form.legend) }}
    {{ form_widget(form.legend, { 'attr':{ 'class':'form-control' } }) }}
</div>
<div class="form-group">
    {{ form_label(form.source, 'knowledge.proposal_value.source'|trans()) }}
    {{ form_errors(form.source) }}
    {{ form_widget(form.source) }}
    {{ form_widget(form.sourceType, { 'attr':{ 'class':'form-control' } }) }}
    <div id="{{ form.source.vars.id }}_website_input_group"{% if form.sourceType.vars.data != 2 %} style="display: none;"{% endif %} class="input-group ladb-margin-top">
        <span class="input-group-addon"><i class="ladb-icon-link"></i></span>
        <input type="url"{% if form.source.vars.data is not null and form.sourceType.vars.data == 2 %} value="{{ form.source.vars.data }}"{% endif %} placeholder="Lien vers la source" class="form-control">
    </div>
    <div id="{{ form.source.vars.id }}_other_input_group"{% if form.sourceType.vars.data != 3 %} style="display: none;"{% endif %} class="ladb-margin-top">
        <input type="text"{% if form.source.vars.data is not null and form.sourceType.vars.data == 3 %} value="{{ form.source.vars.data }}"{% endif %} placeholder="Nom de la source" class="form-control">
    </div>
    <script>
        $("#{{ form.source.vars.id }}_website_input_group input").on("change keydown paste input", function() {
            $("#{{ form.source.vars.id }}").val($(this).val());
        });
        $("#{{ form.source.vars.id }}_other_input_group input").on("change keydown paste input", function() {
            $("#{{ form.source.vars.id }}").val($(this).val());
        });
        $("#{{ form.sourceType.vars.id }}").on("change", function() {
            {% if cancelEdit %}cancelEditValueProposal();{% endif %}
            var choice = $(this).val();
            switch (parseInt(choice)) {
                case 1:
                    $("#{{ form.source.vars.id }}").val("");
                    $("#{{ form.source.vars.id }}_website_input_group").hide();
                    $("#{{ form.source.vars.id }}_other_input_group").hide();
                    break;
                case 2:
                    $("#{{ form.source.vars.id }}").val($("#{{ form.source.vars.id }}_website_input_group input").val());
                    $("#{{ form.source.vars.id }}_website_input_group").show().find("input").focus();
                    $("#{{ form.source.vars.id }}_other_input_group").hide();
                    break;
                case 3:
                    $("#{{ form.source.vars.id }}").val($("#{{ form.source.vars.id }}_other_input_group input").val());
                    $("#{{ form.source.vars.id }}_website_input_group").hide();
                    $("#{{ form.source.vars.id }}_other_input_group").show().find("input").focus();
                    break;
                default:
                    $("#{{ form.source.vars.id }}").val("");
                    $("#{{ form.source.vars.id }}_website_input_group").hide();
                    $("#{{ form.source.vars.id }}_other_input_group").hide();
            }
        });
    </script>
</div>
{% block restFormGroup %}
    {{ form_rest(form) }}
{% endblock %}
