
{# set alertMessage #}
{# set modalMessage #}
{# set modalNoFinalDisclaimer (facultative) #}
{# set icon (facultative) #}
{# set btnLabel (facultative) #}
{# set btnIcon (facultative) #}
{# set noBtn (facultative) #}

{% set noBtn = noBtn|default(false) %}

<div class="alert alert-info">
    <div class="media">
        <div class="media-left">
            <i class="ladb-icon-{{ icon|default('draft') }} ladb-icon-lg"></i>
        </div>
        <div class="media-body">
            <p>{{ alertMessage|raw }}</p>
        </div>
        {% if not noBtn %}
            <div class="media-right">
                <a href="#publish_modal" data-toggle="modal" class="btn btn-primary"><i class="ladb-icon-{{ btnIcon|default('publish') }}"></i> {{ btnLabel|default('default.publish'|trans()) }}</a>
            </div>
        {% endif %}
    </div>
</div>
{% block modal %}
    {% if not noBtn %}
        {% embed 'LadbCoreBundle:Common:_publish-modal.part.html.twig' with { 'id':'publish_modal', 'title':('default.publishing'|trans()), 'noFinalDisclaimer':modalNoFinalDisclaimer|default(false) } %}
            {% block whatItIs %}{{ modalMessage|raw }}{% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}