
{# set entity #}
{# set headingClasses (facultative) #}
{# set showPathAdditionalParams (facultative) #}

{% set noMicrodata = true %}
{% set showPath = showPathAdditionalParams is defined ? ladb_entity_url_action(entity, 'show', true, true, showPathAdditionalParams) : ladb_entity_url_action(entity) %}
{% set pictureWidth = pictureWidth|default('300') %}
{% set pictureHeight = pictureHeight|default('550') %}
{% set pictureFilterMode = pictureFilterMode|default('i') %}

<div class="ladb-masonry-item ladb-masonry-column">
    <div class="ladb-box"{% block onClickOuter %} onclick="{% block onClickInner %}$(this).ladbBoxLinkClick(event, { location:'{{ showPath }}'}){% endblock %}"{% endblock %}>
        <div class="ladb-content">
            <div class="uk-overlay">
                {% block imageOuter %}
                    <div class="ladb-image">
                        {% block image %}
                            <a href="{{ showPath }}">
                                {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':entity.mainPicture, 'width':pictureWidth, 'height':pictureHeight, 'filterMode':pictureFilterMode, 'alt':entity.title } %}
                            </a>
                            {% if entity.bodyBlockVideoCount is defined and entity.bodyBlockVideoCount > 0 %}
                                <div class="ladb-image-overlay" data-tooltip="tooltip" title="{{ 'default.choice.contains_videos'|transchoice(entity.bodyBlockVideoCount, { '%count%':entity.bodyBlockVideoCount }) }}"><i class="ladb-icon-video"></i></div>
                            {% endif %}
                        {% endblock %}
                        {% if entity.isDraft is defined and entity.isDraft %}
                            <div class="ladb-draft-badge" style="position: absolute; top: 10px; right: 10px;">
                                <i class="ladb-icon-draft"></i> {{ 'default.choice.draft'|transchoice(1)|capitalize }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="ladb-overlay-caption">{% if entity.isLocked is defined and entity.isLocked %}<span><i class="ladb-icon-lock"></i></span> {% endif %}{% block title %}<h2{% if headingClasses is defined and not null %} class="{{ headingClasses }}"{% endif %}>{{ entity.title }}</h2>{% endblock %}</div>
                {% endblock %}
            </div>
            {% block entityMetasOuter %}
                <ul class="ladb-counters">
                    {% block entityMetas %}
                        <li class="ladb-counter"><i class="ladb-icon-eye"></i> <span>{{ entity.viewCount|number_format(0, ',', ' ') }}</span></li>
                        {% if entity.commentCount is defined and entity.commentCount > 0 %}
                            <li class="ladb-counter"><i class="ladb-icon-comment"></i> <span>{{ entity.commentCount|number_format(0, ',', ' ') }}</span></li>
                        {% endif %}
                        {% if entity.likeCount is defined and entity.likeCount > 0 %}
                            <li class="ladb-counter"><i class="ladb-icon-like"></i> <span>{{ entity.likeCount|number_format(0, ',', ' ') }}</span></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endblock %}
        </div>
        {% block footerOuter %}
            <div class="ladb-footer">
                {% block footer %}
                    {% include 'LadbCoreBundle:Common:_unviewed-bullet.part.html.twig' %}
                    {% include 'LadbCoreBundle:Common:_author.part.html.twig' %}{% include 'LadbCoreBundle:Common:_age.part.html.twig' %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>
