
{# set entity #}
{# set classes (facultative) #}
{# set headingClasses (facultative) #}
{# set titleLinkClasses (facultative) #}
{# set showPathAdditionalParams (facultative) #}

{% set noMicrodata = true %}
{% set showPath = showPathAdditionalParams is defined ? ladb_entity_url_action(entity, 'show', true, true, showPathAdditionalParams) : ladb_entity_url_action(entity) %}
{% set gender = gender|default('m') %}

<div class="ladb-masonry-item ladb-masonry-column-wide{% if classes is defined %} {{ classes }}{% endif %}">
    <div class="ladb-box ladb-box-hover"{% block onClickOuter %} onclick="{% block onClickInner %}$(this).ladbBoxLinkClick(event, { location:'{{ showPath }}'}){% endblock %}"{% endblock %}>
        <div class="ladb-content">
            {% block contentInner %}
                <div class="ladb-heading">
                    {% block headingInner %}
                        <h2{% if headingClasses is defined and not null %} class="{{ headingClasses }}"{% endif %}>{% if entity.isLocked is defined and entity.isLocked %}<span class="ladb-color-null"><i class="ladb-icon-lock"></i></span> {% endif %}{% block title %}<a href="{{ showPath }}" {% if titleLinkClasses is defined and not null %} class="{{ titleLinkClasses }}"{% endif %}>{{ entity.title }}</a>{% endblock %}</h2>
                        {% block headingBadges %}
                            {% if entity.isDraft is defined and entity.isDraft or entity.visibility is defined and entity.isPrivate %}
                                <div class="ladb-draft-badge" style="float: right; margin-left: 5px;">
                                    {% if entity.isDraft is defined %}
                                        <i class="ladb-icon-draft"></i> {{ 'default.choice.draft'|transchoice(1)|capitalize }}
                                    {% else %}
                                        <i class="ladb-icon-key"></i> {{ ('default.private_'~gender)|trans }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                </div>
                {% block imageOuter %}
                    <div class="ladb-image">
                        {% block image %}
                            {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':entity.mainPicture, 'width':'180', 'height':'180', 'alt':entity.title } %}
                        {% endblock %}
                        {% if entity.bodyBlockVideoCount is defined and entity.bodyBlockVideoCount > 0 %}
                            <div class="ladb-image-overlay" data-tooltip="tooltip" title="{{ 'default.choice.contains_videos'|transchoice(entity.bodyBlockVideoCount, { '%count%':entity.bodyBlockVideoCount }) }}"><i class="ladb-icon-video"></i></div>
                        {% endif %}
                    </div>
                {% endblock %}
                <div class="ladb-body">{% block body %}{{ entity.bodyExtract }}{% endblock %}</div>
                <ul class="ladb-counters">
                    {% block entityMetas %}
                        {% if entity.publicCollectionCount is defined and entity.publicCollectionCount > 0 %}
                            <li class="ladb-linkto"><a href="{{ path('core_collection_list_byentity', { 'entityType':entity.type, 'entityId':entity.id }) }}" data-tooltip="tooltip" title="{{ 'collection.collection.choice.in_public_collections'|transchoice(entity.publicCollectionCount, { 'count':entity.publicCollectionCount }) }}"><i class="ladb-icon-collection"></i></a></li>
                        {% endif %}
                        {% if entity.viewCount is defined and entity.viewCount > 0 %}
                            <li class="ladb-counter"><i class="ladb-icon-eye"></i> <span>{{ entity.viewCount|number_format(0, ',', ' ') }}</span></li>
                        {% endif %}
                        {% if entity.commentCount is defined and entity.commentCount > 0 %}
                            <li class="ladb-counter"><i class="ladb-icon-comment"></i> <span>{{ entity.commentCount|number_format(0, ',', ' ') }}</span></li>
                        {% endif %}
                        {% if entity.likeCount is defined and entity.likeCount > 0 %}
                            <li class="ladb-counter"><i class="ladb-icon-like"></i> <span>{{ entity.likeCount|number_format(0, ',', ' ') }}</span></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            {% endblock %}
        </div>
        <div class="ladb-footer">
            {% block footer %}
                {% include 'LadbCoreBundle:Common:_unviewed-bullet.part.html.twig' %}
                {% include 'LadbCoreBundle:Common:_author.part.html.twig' %}{% include 'LadbCoreBundle:Common:_age.part.html.twig' with { 'classes':'ladb-visible-desktop' } %}
            {% endblock %}
        </div>
    </div>
</div>
