{% set entity = access %}

<div class="ladb-list-row">
    <div style="float: left; background: #{% if access.kind == constant('\\Ladb\\CoreBundle\\Entity\\Opencutlist\\Access::KIND_MANIFEST') %}3DA4E8{% elseif access.kind == constant('\\Ladb\\CoreBundle\\Entity\\Opencutlist\\Access::KIND_DOWNLOAD') %}FD6586{% elseif access.kind == constant('\\Ladb\\CoreBundle\\Entity\\Opencutlist\\Access::KIND_TUTORIALS') %}71D4A9{% elseif access.kind == constant('\\Ladb\\CoreBundle\\Entity\\Opencutlist\\Access::KIND_DOCS') %}FED06E{% else %}CCCCCC{% endif %}; width: 64px; height: 64px; line-height: 64px; text-align: center; border-radius: 5px; color: #fff;{% if not access.analyzed %} opacity: 0.5{% endif %}">{{ access.kindStrippedName|upper }}</div>
    <div class="ladb-body" style="padding-top: 0;">
        <h3 class="ladb-heading" style="font-size: 20px; line-height: 20px;">
            <div{% if not access.clientSketchupVersion and not access.clientOclVersion %} class="ladb-strikethrough"{% endif %}>{% if access.countryCode %}({{ access.countryCode }}) {% endif %}{{ access.location }}</div>
            {% if access.clientSketchupVersion or access.clientOclVersion %}
                <small>{% if access.clientOclVersion %}OpenCutList <span style="color: #888;">{{ access.clientOclVersion }}</span>{% if access.clientOclBuild is not empty %} <small>( {{ access.clientOclBuild }} )</small>{% endif %}{% if access.clientOclLanguage %} / <a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':access.clientOclLanguage, 'locale':locale }) }}">{{ access.clientOclLanguage }}</a>{% endif %}{% if access.clientSketchupVersion %} | {% endif %}{% endif %}{% if access.clientSketchupVersion %}Sketchup {{ access.clientSketchupFamilyStrippedName|capitalize }} <span style="color: #888;">{{ access.clientSketchupVersion }}</span>{% if access.clientSketchupLocale %} / <a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':language, 'locale':access.clientSketchupLocale }) }}">{{ access.clientSketchupLocale }}</a>{% endif %} | {{ access.clientOSStrippedName|capitalize }}{% endif %}</small>
            {% else %}
                <small>{{ access.clientUserAgent }}</small>
            {% endif %}
        </h3>
        <span class="ladb-subheading">{% include 'LadbCoreBundle:Common:_age.part.html.twig' %}</span>
    </div>
</div>

