{% extends 'LadbCoreBundle:Common:_list-row.part.html.twig' %}

{% set entity = access %}
{% set title = access.env %}

{% block rowInner %}
    <span class="label label-{{ access.kind == constant('\\Ladb\\CoreBundle\\Entity\\Opencutlist\\Access::KIND_DOWNLOAD') ? 'default' : 'info' }} pull-right">{{ access.kindStrippedName }} | {{ access.envStrippedName }}</span>
    {{ parent() }}
{% endblock %}

{% block headingInner %}
    <div>{% if access.countryCode %}({{ access.countryCode }}) {% endif %}{{ access.location }}</div>
    <small>{% if access.clientOclVersion %}OpenCutList {{ access.clientOclVersion }}{% if access.clientSketchupVersion %} | {% endif %}{% endif %}{% if access.clientSketchupVersion %}Sketchup {{ access.clientSketchupFamilyStrippedName|capitalize }} {{ access.clientSketchupVersion }} | {{ access.clientOSStrippedName|capitalize }}{% endif %}</small>
{% endblock %}

{% block subheadingInner %}
    {% include 'LadbCoreBundle:Common:_age.part.html.twig' %}
{% endblock %}