{% extends 'LadbCoreBundle:Common:_list-row.part.html.twig' %}

{% set entity = access %}
{% set title = access.env %}

{% block rowInner %}
    <span class="label label-default pull-right">{{ access.kindStrippedName }} | {{ access.envStrippedName }}</span>
    {{ parent() }}
{% endblock %}

{% block headingInner %}
    {% if access.countryCode %}({{ access.countryCode }}) {% endif %}{{ access.location }}{% if access.clientSketchupVersion %} / Sketchup {{ access.clientSketchupFamilyStrippedName|capitalize }} {{ access.clientSketchupVersion }} / {{ access.clientOSStrippedName|capitalize }}{% endif %}
{% endblock %}

{% block subheadingInner %}
    <a href="https://ip-api.com/#{{ access.clientIp4 }}" target="_blank">{{ access.clientIp4 }}</a>{% include 'LadbCoreBundle:Common:_age.part.html.twig' %}
{% endblock %}