{% extends 'LadbCoreBundle:Common:_list-row.part.html.twig' %}

{% set entity = download %}
{% set title = download.env %}

{% block rowInner %}
    {{ parent() }}
{% endblock %}

{% block headingInner %}
    {{ download.location }}{% if download.clientSketchupVersion %} / Sketchup {{ download.clientSketchupFamily == '1' ? 'Make' : 'Pro' }} {{ download.clientSketchupVersion }} / {{ download.clientOS == '1' ? 'Win' : 'Mac' }}{% endif %}
    <span class="label label-default pull-right">{{ download.env }}</span>
{% endblock %}

{% block subheadingInner %}
    <a href="https://ip-api.com/#{{ download.clientIp4 }}" target="_blank">{{ download.clientIp4 }}</a>{% include 'LadbCoreBundle:Common:_age.part.html.twig' %}
{% endblock %}