{% extends 'LadbCoreBundle:Common:_list-topbar.part.html.twig' %}

{% set heading = '<i class="ladb-icon-statistics"></i> OpenCutList Stats' %}

{% block listTopbarRightInner %}
    <div class="ladb-header-tools" style="padding-top: 0;">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="ladb-icon-history"></i> {{ days }}<span class="ladb-hidden-mobile"> derniers jours</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li{% if days == '7' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':7, 'continent':continent, 'language':language, 'locale':locale }) }}">7 derniers jours</a></li>
            <li{% if days == '28' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':28, 'continent':continent, 'language':language, 'locale':locale }) }}">28 derniers jours</a></li>
            <li{% if days == '368' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':365, 'continent':continent, 'language':language, 'locale':locale }) }}">365 derniers jours</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="text-muted">OCL</span> {{ language ? language : '*' }} | <span class="text-muted">SU</span> {{ locale ? locale : '*' }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Langue OCL</li>
            <li{% if language is null %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':null, 'locale':locale }) }}">Toutes</a></li>
            <li{% if language == 'fr' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':'fr', 'locale':locale }) }}">Français</a></li>
            <li{% if language == 'en' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':'en', 'locale':locale }) }}">Anglais</a></li>
            <li{% if language == 'de' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':'de', 'locale':locale }) }}">Allemand</a></li>
            <li{% if language == 'ru' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':'ru', 'locale':locale }) }}">Russe</a></li>
            <li{% if language == 'it' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':'it', 'locale':locale }) }}">Italien</a></li>
            <li{% if language == 'pt' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':'pt', 'locale':locale }) }}">Portugais</a></li>
            <li{% if language == 'es' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':'es', 'locale':locale }) }}">Espagnol</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Langue SU</li>
            <li{% if locale is null %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':continent, 'language':language, 'locale':null }) }}">Toutes</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="ladb-icon-globe"></i> {{ continent }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Continent</li>
            <li{% if continent is null %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':null, 'language':language, 'locale':locale }) }}">Monde</a></li>
            <li{% if continent == 'AF' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':'AF', 'language':language, 'locale':locale }) }}">Afrique</a></li>
            <li{% if continent == 'NA' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':'NA', 'language':language, 'locale':locale }) }}">Amérique du Nord</a></li>
            <li{% if continent == 'SA' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':'SA', 'language':language, 'locale':locale }) }}">Amérique du Sud</a></li>
            <li{% if continent == 'AN' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':'AN', 'language':language, 'locale':locale }) }}">Antarctique</a></li>
            <li{% if continent == 'AS' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':'AS', 'language':language, 'locale':locale }) }}">Asie</a></li>
            <li{% if continent == 'EU' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':'EU', 'language':language, 'locale':locale }) }}">Europe</a></li>
            <li{% if continent == 'OC' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':env, 'days':days, 'continent':'OC', 'language':language, 'locale':locale }) }}">Océanie</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="ladb-icon-bug"></i> {{ env|upper }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">Environnement</li>
            <li{% if env == 'dev' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':'dev', 'days':days, 'continent':continent, 'language':language, 'locale':locale }) }}">DEV</a></li>
            <li{% if env == 'prod' %} class="active"{% endif %}><a href="{{ path('core_opencutlist_stats', { 'env':'prod', 'days':days, 'continent':continent, 'language':language, 'locale':locale }) }}">PROD</a></li>
        </ul>
    </div>
    </div>
{% endblock %}
