{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set hideHeaderContainer = false %}

{% block bodyJavascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
        $('.ladb-readmore').readmore({
            moreLink: '<a href="#" class="ladb-readmore-more"><i class="ladb-icon-two-chevron-down"></i></a>',
            lessLink: '<a href="#" class="ladb-readmore-less"><i class="ladb-icon-two-chevron-up"></i></a>',
        });
        var byDayChart = new Chart($('#ladb_by_day_chart'), {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Downloads',
                    data: [
                        {% for row in downloadsByDay %}
                            {
                                t: new Date('{{ row.day }} 00:00'),
                                y: {{ row.count }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: '#FD6586',
                    borderColor: '#FD6586',
                    fill: false,
                    lineTension: 0
                },{
                    label: 'Manifests',
                    data: [
                        {% for row in manifestsByDay %}
                            {
                                t: new Date('{{ row.day }} 00:00'),
                                y: {{ row.count }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: '#3DA4E8',
                    borderColor: '#3DA4E8',
                    fill: false,
                    lineTension: 0
                },{
                    label: 'Tutorials',
                    data: [
                        {% for row in tutorialsByDay %}
                            {
                                t: new Date('{{ row.day }} 00:00'),
                                y: {{ row.count }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: '#71D4A9',
                    borderColor: '#71D4A9',
                    fill: false,
                    lineTension: 0
                }]
            },
            options: {
                animation: {
                    duration: 0 // general animation time
                },
                aspectRatio: 2,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1
                        },
                        position: 'right',
                    }]
                }
            }
        });
    </script>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Opencutlist:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="row ladb-margin-top">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Utilisateurs / jour</strong>
                </div>
                <div class="panel-body">
                    <canvas id="ladb_by_day_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Downloads - Utilisateurs / pays</strong>
                    <span class="pull-right">{{ downloadsByCountry|length }} pays</span>
                </div>
                <div class="panel-body ladb-readmore">
                    <table>
                        {% for row in downloadsByCountry %}
                            <tr>
                                <td width="50%">({{ row.countryCode }}) {{ row.country }}</td>
                                <td width="30px" style="text-align: right; padding-right: 5px;">{{ row.count }}</td>
                                <td width="100%">
                                    <div style="background-color: #FD6586; margin: 2px; width: {{ row.count / downloadsByCountry[0].count * 100 }}%; height: 20px;"></div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Manifests - Utilisateurs / pays</strong>
                    <span class="pull-right">{{ manifestsByCountry|length }} pays</span>
                </div>
                <div class="panel-body ladb-readmore">
                    <table>
                        {% for row in manifestsByCountry %}
                            <tr>
                                <td width="50%">({{ row.countryCode }}) {{ row.country }}</td>
                                <td width="30px" style="text-align: right; padding-right: 5px;">{{ row.count }}</td>
                                <td width="100%">
                                    <div style="background-color: #3DA4E8; margin: 2px; width: {{ row.count / manifestsByCountry[0].count * 100 }}%; height: 20px;"></div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Tutorials - Utilisateurs / pays</strong>
                    <span class="pull-right">{{ tutorialsByCountry|length }} pays</span>
                </div>
                <div class="panel-body">
                    <table>
                        {% for row in tutorialsByCountry %}
                            <tr>
                                <td width="50%">({{ row.countryCode }}) {{ row.country }}</td>
                                <td width="30px" style="text-align: right; padding-right: 5px;">{{ row.count }}</td>
                                <td width="100%">
                                    <div style="background-color: #71D4A9; margin: 2px; width: {{ row.count / tutorialsByCountry[0].count * 100 }}%; height: 20px;"></div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    <h2 style="border-bottom: 1px solid #ddd; padding-bottom: 5px;">{{ accesses.count }} requêtes</h2>
    {% include 'LadbCoreBundle:Opencutlist:_list-n.part.html.twig' %}
{% endblock %}