{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% set pageTitle = 'OpenCutList Stats' %}
{% set hideHeaderContainer = false %}

{% block bodyJavascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
        $('.ladb-readmore').readmore({
            moreLink: '<a href="#" class="ladb-readmore-more"><i class="ladb-icon-two-chevron-down"></i></a>',
            lessLink: '<a href="#" class="ladb-readmore-less"><i class="ladb-icon-two-chevron-up"></i></a>',
        });
        var byDayChart = new Chart($('#ladb_by_day_chart'), {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Upgrades',
                    data: [
                        {% for row in downloadsByDay %}
                            {
                                t: new Date('{{ row.day }} 00:00'),
                                y: {{ row.count }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: '#FD6586',
                    borderColor: '#FD6586',
                    fill: false,
                    lineTension: 0
                },{
                    label: 'Manifests',
                    data: [
                        {% for row in manifestsByDay %}
                            {
                                t: new Date('{{ row.day }} 00:00'),
                                y: {{ row.count }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: '#3DA4E8',
                    borderColor: '#3DA4E8',
                    fill: false,
                    lineTension: 0
                },{
                    label: 'Tutorials',
                    data: [
                        {% for row in tutorialsByDay %}
                            {
                                t: new Date('{{ row.day }} 00:00'),
                                y: {{ row.count }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: '#71D4A9',
                    borderColor: '#71D4A9',
                    fill: false,
                    lineTension: 0
                },{
                    label: 'Docs',
                    data: [
                        {% for row in docsByDay %}
                            {
                                t: new Date('{{ row.day }} 00:00'),
                                y: {{ row.count }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: '#FED06E',
                    borderColor: '#FED06E',
                    fill: false,
                    lineTension: 0
                },{
                    label: 'Changelogs',
                    data: [
                        {% for row in changelogsByDay %}
                            {
                                t: new Date('{{ row.day }} 00:00'),
                                y: {{ row.count }}
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: '#AAAAAA',
                    borderColor: '#AAAAAA',
                    fill: false,
                    lineTension: 0
                }]
            },
            options: {
                animation: {
                    duration: 0 // general animation time
                },
                aspectRatio: 2,
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        }
                    }],
                    yAxes: [{
                        type: 'linear',
                        ticks: {
                            beginAtZero: true,
                            stepSize: 10
                        },
                        position: 'right',
                    }]
                }
            }
        });
    </script>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Opencutlist:_list-topbar.part.html.twig' %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="row ladb-margin-top">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Utilisateurs / jour</strong>
                </div>
                <div class="panel-body">
                    <canvas id="ladb_by_day_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            {% include 'LadbCoreBundle:Opencutlist:_country-panel.part.html.twig' with { 'title':'Upgrades', 'data':downloadsByCountry, 'totalCount':downloadsCount , 'color':'FD6586' } %}
        </div>
        <div class="col-md-3 col-xs-12">
            {% include 'LadbCoreBundle:Opencutlist:_country-panel.part.html.twig' with { 'title':'Manifests', 'data':manifestsByCountry, 'totalCount':manifestsCount, 'color':'3DA4E8' } %}
        </div>
        <div class="col-md-3 col-xs-12">
            {% include 'LadbCoreBundle:Opencutlist:_country-panel.part.html.twig' with { 'title':'Tutorials', 'data':tutorialsByCountry, 'totalCount':tutorialsCount, 'color':'71D4A9' } %}
        </div>
        <div class="col-md-3 col-xs-12">
            {% include 'LadbCoreBundle:Opencutlist:_country-panel.part.html.twig' with { 'title':'Docs', 'data':docsByCountry, 'totalCount':docsCount, 'color':'FED06E' } %}
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    <h2>{{ accesses.count }} requêtes</h2>
    {% include 'LadbCoreBundle:Opencutlist:_list-n.part.html.twig' %}
{% endblock %}