{% extends 'LadbCoreBundle:Common:_list-row.part.html.twig' %}

{% set entity = user %}
{% set classes = 'ladb-user-row' %}
{% set showPath = path('core_user_show', { 'username':user.usernameCanonical }) %}

{% block rowInner %}
    {% set subfilter = filter is defined ? filter|slice(13) : '' %}
    {% if subfilter == 'creations' %}
        <a href="{{ path('core_user_show_creations', { 'username':user.usernameCanonical }) }}" class="ladb-counter ladb-hidden-mobile">
            <div class="ladb-heading">{{ user.meta.publicCreationCount }}</div>
            <span class="ladb-subheading">{{ 'wonder.creation.choice.entities'|transchoice(user.meta.publicCreationCount)|capitalize }}</span>
        </a>
    {% elseif subfilter == 'plans' %}
        <a href="{{ path('core_user_show_plans', { 'username':user.usernameCanonical }) }}" class="ladb-counter ladb-hidden-mobile">
            <div class="ladb-heading">{{ user.meta.publicPlanCount }}</div>
            <span class="ladb-subheading">{{ 'wonder.plan.choice.entities'|transchoice(user.meta.publicPlanCount)|capitalize }}</span>
        </a>
    {% elseif subfilter == 'howtos' %}
        <a href="{{ path('core_user_show_howtos', { 'username':user.usernameCanonical }) }}" class="ladb-counter ladb-hidden-mobile">
            <div class="ladb-heading">{{ user.meta.publicHowtoCount }}</div>
            <span class="ladb-subheading">{{ 'howto.howto.choice.entities'|transchoice(user.meta.publicHowtoCount)|capitalize }}</span>
        </a>
    {% elseif subfilter == 'workshops' %}
        <a href="{{ path('core_user_show_workshops', { 'username':user.usernameCanonical }) }}" class="ladb-counter ladb-hidden-mobile">
            <div class="ladb-heading">{{ user.meta.publicWorkshopCount }}</div>
            <span class="ladb-subheading">{{ 'wonder.workshop.choice.entities'|transchoice(user.meta.publicWorkshopCount)|capitalize }}</span>
        </a>
    {% elseif subfilter == 'comments' %}
        <div class="ladb-counter ladb-hidden-mobile">
            <div class="ladb-heading">{{ user.meta.commentCount }}</div>
            <span class="ladb-subheading">{{ 'comment.choice.entities'|transchoice(user.meta.commentCount)|capitalize }}</span>
        </div>
    {% elseif subfilter == 'finds' %}
        <a href="{{ path('core_user_show_finds', { 'username':user.usernameCanonical }) }}" class="ladb-counter ladb-hidden-mobile">
            <div class="ladb-heading">{{ user.meta.publicFindCount }}</div>
            <span class="ladb-subheading">{{ 'find.find.choice.entities'|transchoice(user.meta.publicFindCount)|capitalize }}</span>
        </a>
    {% else %}
        <div class="ladb-counter ladb-hidden-mobile">
            <div class="ladb-heading">{{ user.meta.contributionCount }}</div>
            <span class="ladb-subheading">{{ 'default.choice.contributions'|transchoice(user.meta.contributionCount)|capitalize }}</span>
        </div>
    {% endif %}
    {% if filter is defined and filter == 'popular-likes' %}
        <div class="ladb-counter ladb-hidden-mobile">
            <div class="ladb-heading">{{ user.meta.recievedLikeCount }}</div>
            <span class="ladb-subheading">{{ 'like.choice.entities'|transchoice(user.meta.recievedLikeCount)|capitalize }}</span>
        </div>
    {% else %}
        {% if user.isTeam %}
            <a href="{{ path('core_user_show_members', { 'username':user.usernameCanonical }) }}" class="ladb-counter ladb-hidden-mobile">
                <div class="ladb-heading">{{ user.meta.memberCount }}</div>
                <span class="ladb-subheading">{{ 'team.choice.members'|transchoice(user.meta.memberCount)|capitalize }}</span>
            </a>
        {% else %}
            <a href="{{ path('core_user_show_followers', { 'username':user.usernameCanonical }) }}" class="ladb-counter ladb-hidden-mobile">
                <div class="ladb-heading">{{ user.meta.followerCount }}</div>
                <span class="ladb-subheading">{{ 'follower.choice.entities'|transchoice(user.meta.followerCount)|capitalize }}</span>
            </a>
        {% endif %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block headingInner %}
    {% include 'LadbCoreBundle:Core/User:_displayname-link.part.html.twig' %}{% if user.isFullnameDisplayble %}&nbsp;<small>(<span itemprop="familyName">{{ user.fullname }}</span>)</small>{% endif %}
{% endblock %}

{% block subheadingInner %}
    {% include 'LadbCoreBundle:Core/User:_location-and-social.part.html.twig' %}
{% endblock %}