{# set user #}
{# set noMicrodata (facultative) #}

{% set noMicrodata = noMicrodata|default(false) %}

{% if user.location %}<div class="ladb-subblock"><i class="ladb-icon-location"></i> <a href="https://maps.google.fr/maps?q={{ user.location|url_encode }}" target="_blank"><span{% if not noMicrodata %} itemprop="homeLocation"{% endif %}>{{ user.location }}</span></a></div> {% endif %}
{% if user.meta.website %}<div class="ladb-subblock"><i class="ladb-icon-globe"></i> <a href="{{ user.meta.website }}" target="_blank"{% if not noMicrodata %} itemprop="sameAs"{% endif %}>{{ user.meta.website|ladb_url_trim|truncate(30) }}</a></div> {% endif %}
<div class="ladb-subblock">
    {% if user.meta.facebook %}<a href="https://www.facebook.com/{{ user.meta.facebook }}" target="_blank" data-tooltip="tooltip" title="Retrouvez {{ user.displayname }} sur Facebook"{% if not noMicrodata %} itemprop="sameAs"{% endif %}><i class="ladb-icon-facebook-square ladb-icon-lg"></i></a> {% endif %}
    {% if user.meta.twitter %}<a href="https://twitter.com/{{ user.meta.twitter }}" target="_blank" data-tooltip="tooltip" title="Retrouvez {{ user.displayname }} sur Twitter"{% if not noMicrodata %} itemprop="sameAs"{% endif %}><i class="ladb-icon-twitter-square ladb-icon-lg"></i></a> {% endif %}
    {% if user.meta.googleplus %}<a href="https://plus.google.com/{{ user.meta.googleplus }}" target="_blank" data-tooltip="tooltip" title="Retrouvez {{ user.displayname }} sur Google+"{% if not noMicrodata %} itemprop="sameAs"{% endif %}><i class="ladb-icon-google-plus-square ladb-icon-lg" target="_blank"></i></a> {% endif %}
    {% if user.meta.youtube %}<a href="https://www.youtube.com/channel/{{ user.meta.youtube }}" target="_blank" data-tooltip="tooltip" title="Retrouvez {{ user.displayname }} sur YouTube"{% if not noMicrodata %} itemprop="sameAs"{% endif %}><i class="ladb-icon-youtube-square ladb-icon-lg" target="_blank"></i></a> {% endif %}
    {% if user.meta.vimeo %}<a href="https://vimeo.com/{{ user.meta.vimeo }}" target="_blank" data-tooltip="tooltip" title="Retrouvez {{ user.displayname }} sur Vimeo"{% if not noMicrodata %} itemprop="sameAs"{% endif %}><i class="ladb-icon-vimeo-square ladb-icon-lg" target="_blank"></i></a> {% endif %}
    {% if user.meta.dailymotion %}<a href="https://www.dailymotion.com/{{ user.meta.dailymotion }}" target="_blank" data-tooltip="tooltip" title="Retrouvez {{ user.displayname }} sur Dailymotion"{% if not noMicrodata %} itemprop="sameAs"{% endif %}><i class="ladb-icon-dailymotion-square ladb-icon-lg" target="_blank"></i></a> {% endif %}
    {% if user.meta.pinterest %}<a href="http://pinterest.com/{{ user.meta.pinterest }}" target="_blank" data-tooltip="tooltip" title="Retrouvez {{ user.displayname }} sur Pinterest"{% if not noMicrodata %} itemprop="sameAs"{% endif %}><i class="ladb-icon-pinterest-square ladb-icon-lg" target="_blank"></i></a> {% endif %}
    {% if user.meta.instagram %}<a href="http://instagram.com/{{ user.meta.instagram }}" target="_blank" data-tooltip="tooltip" title="Retrouvez {{ user.displayname }} sur Instagram"{% if not noMicrodata %} itemprop="sameAs"{% endif %}><i class="ladb-icon-instagram-square ladb-icon-lg" target="_blank"></i></a> {% endif %}
</div>