{% extends 'LadbCoreBundle:Common:Layout/_form.html.twig' %}

{% set pageTitle = 'user.settings'|trans() %}
{% set formAction = path('core_user_settings', { 'username':user.usernameCanonical }) %}
{% set owner = user %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Picture:_form-gallery-script.part.html.twig' with { 'formSection':'avatar', 'fieldId':form.avatar.vars.id, 'maxPictureCount':1 } %}
    {% include 'LadbCoreBundle:Core/Picture:_form-gallery-script.part.html.twig' with { 'formSection':'banner', 'fieldId':form.meta.banner.vars.id, 'maxPictureCount':1 } %}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.meta.skills.vars.id, 'help':('skill.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_input_skills_json')|raw) } %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/ladb/jquery.ladb.settingspage.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function() {
            $('#container').ladbSettingsPage({
                accountTypeFormFieldId: '{{ form.accountType.vars.id }}',
                accountTypeBrandValue: '{{ constant('Ladb\\CoreBundle\\Entity\\Core\\User::ACCOUNT_TYPE_BRAND') }}',
                swPath: '{{ asset('bundles/ladbcore/ladb/js/ladb-webpush-sw.js') }}',
                serverKey: '{{ bentools_pusher.server_key | e('js') }}',
                subscriptionUrl: '{{ path('bentools_webpush.subscription') }}'
            });
        });
    </script>
{% endblock %}

{% block sidenavHeading %}
    <i class="ladb-icon-settings"></i> {{ 'user.settings'|trans() }}
{% endblock %}

{% block sidenav %}
    {% include 'LadbCoreBundle:Core/Picture:_form-sidenav-gallery.part.html.twig' with { 'formSection':'avatar', 'title':('user.avatar'|trans()) } %}
    <li><a href="#account"><i class="ladb-icon-{% if user.isTeam %}users{% else %}user{% endif %}"></i> {{ 'user.account'|trans() }}</a></li>
    {% include 'LadbCoreBundle:Core/Picture:_form-sidenav-gallery.part.html.twig' with { 'formSection':'banner', 'title':('user.banner'|trans()) } %}
    {% include 'LadbCoreBundle:Common:_form-sidenav-body.part.html.twig' with { 'formSection':'biography', 'title':('biography.biography'|trans()) } %}
    <li><a href="#skills"><i class="ladb-icon-skills"></i> {{ 'skill.skills'|trans() }}</a></li>
    <li><a href="#location"><i class="ladb-icon-location"></i> {{ 'user.location'|trans() }}</a></li>
    <li><a href="#social"><i class="ladb-icon-social"></i> {{ 'user.social'|trans() }}</a></li>
    <li><a href="#options"><i class="ladb-icon-list"></i> {{ 'user.options'|trans() }}</a></li>
    {% if not user.isTeam %}
        <li><a href="#notifications"><i class="ladb-icon-notifications"></i> {{ 'user.notifications'|trans() }}</a></li>
    {% endif %}
{% endblock %}

{% block form_buttons %}
    <a href="{{ path('core_user_show', { 'username':user.usernameCanonical }) }}" class="btn btn-default btn-block">{{ 'default.close'|trans() }}</a>
    {% include 'LadbCoreBundle:Common:_form-btn-loading.part.html.twig' with { 'text':('default.save'|trans()), 'classes':'ladb-form-save-btn btn-primary btn-block' } %}
{% endblock %}

{% block sections %}
    {% if not user.isTeam %}
        <div class="panel panel-default">
            <div class="panel-body">
                <i class="ladb-icon-help"></i> <a href="{{ path('core_faq_question_show', { 'id':'comment-et-pourquoi-bien-renseigner-son-profil' }) }}">Comment (et pourquoi) bien renseigner son profil ?</a>
            </div>
        </div>
    {% endif %}
    {{ form_errors(form) }}
    {% include 'LadbCoreBundle:Core/Picture:_form-section-gallery.part.html.twig' with { 'formSection':'avatar', 'formPictures':form.avatar, 'pictures':(form.vars.data.avatar is null ? [] : [ form.vars.data.avatar ]), 'maxPictureCount':1, 'title':('user.avatar'|trans()), 'help':('user.avatar_help'|trans()), 'hideTextOverlayWarning':true } %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':(user.isTeam ? 'users' : 'user'), 'title':('user.account'|trans()), 'formSection':'account' } %}
        {% block body %}
            <div class="form-group">
                {{ form_label(form.username, 'Nom d\'utilisateur') }}
                {{ form_errors(form.username) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-mention text-muted"></i></span>
                    {{ form_widget(form.username, { 'attr': { 'class':'form-control' } }) }}
                </div>
                <p class="help-block text-danger"><em>Attention : votre nom d'utilisateur ne peut être changé qu'1 fois par tranche de 24h et 2 fois en tout.</em></p>
            </div>
            <div class="form-group">
                {{ form_label(form.displayname, 'Nom affiché') }}
                {{ form_errors(form.displayname) }}
                {{ form_widget(form.displayname, { 'attr': { 'class':'form-control' } }) }}
                <p class="help-block"><em>Ce nom est utilisé pour la plupart des contributions sur le site.</em></p>
            </div>
            <div class="form-group">
                {{ form_label(form.fullname, 'Nom complet') }}
                {{ form_errors(form.fullname) }}
                {{ form_widget(form.fullname, { 'attr': { 'class':'form-control' } }) }}
                <p class="help-block"><em>Ce nom est affiché publiquement sur votre page de profil.</em></p>
            </div>
            {% if not user.isTeam %}
                <div class="form-group{% if user.isTeam %} hidden{% endif %}">
                    {{ form_label(form.email, 'Adresse e-mail') }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email, { 'attr': { 'class':'form-control' } }) }}
                    <p class="help-block"><em>Votre adresse e-mail ne sera jamais rendue publique, ni utilisée à d'autres fins que de permettre à L'Air du Bois de communiquer avec vous (mot de passe oublié, notifications, lettre d'information).</em></p>
                </div>
                <div class="form-group">
                    <label>Mot de passe</label>
                    <div>
                        <a href="{{ path('fos_user_change_password') }}" class="btn btn-default">Changer le mot de passe</a>
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label>Type de compte</label>
                <span class="help-block"><em>Indiquez qui se cache derrière ce compte.</em></span>
                {{ form_errors(form.accountType) }}
                {{ form_widget(form.accountType) }}
                <div id="ladb_account_type_brand_warning_alert" class="alert alert-info media"{% if user.accountType != constant('Ladb\\CoreBundle\\Entity\\Core\\User::ACCOUNT_TYPE_BRAND') %} style="display: none;"{% endif %}>
                    <div class="media-left"><i class="ladb-icon-warning ladb-icon-lg"></i></div>
                    <div class="media-body">
                        <strong>Attention</strong>, en vous présentant en tant que <u>marque</u> sur <em>L'Air du Bois</em>,
                        <br><br>
                        <strong>Vous <u>ne</u> pouvez <u>pas</u> :</strong>
                        <ul>
                            <li>Utiliser la plateforme à des fins purement commerciales.</li>
                            <li>Exploiter la liste des membres pour du démarchage.</li>
                            <li>Faire de la promotion <u>directe</u> de vos produits.</li>
                        </ul>
                        <strong>Vous pouvez :</strong>
                        <ul>
                            <li>Intervenir en tant qu'expert de vos produits dans la rubrique <a href="{{ path('core_qa_question_list') }}">Questions</a>.</li>
                            <li>Répondre aux sollicitations publiques ou privées de la part des membres.</li>
                            <li>Publier du contenu pertinent sur vos produits qui n'ait pas un caractère publicitaire (ex : notices, documentations, tutoriels).</li>
                            <li>Publier des créations, plans ou pas à pas qui mettent en oeuvre vos produits dans le respect de la philosophie du partage libre, instructif et avec valeur ajoutée.</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="help-block"><i class="ladb-icon-help"></i> <a href="{{ path('core_faq_question_show', { 'id':'quels-sont-les-differents-types-de-comptes' }) }}">Quel sont les différents type de comptes ?</a> </p>
            </div>
        {% endblock %}
    {% endembed %}
    {% include 'LadbCoreBundle:Core/Picture:_form-section-gallery.part.html.twig' with { 'formSection':'banner', 'formPictures':form.meta.banner, 'pictures':(form.vars.data.meta.banner is null ? [] : [ form.vars.data.meta.banner ]), 'maxPictureCount':1, 'title':('user.banner'|trans()), 'help':('user.banner_help'|trans()), 'hideTextOverlayWarning':true } %}
    {% include 'LadbCoreBundle:Common:_form-section-body.part.html.twig' with { 'form':form.meta.biography, 'formSection':'biography', 'title':('biography.biography'|trans()), 'help':('biography.form.help'|trans()) } %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'skills', 'title':('skill.skills'|trans()), 'formSection':'skills' } %}
        {% block body %}
            <span class="help-block">Indiquez les compétences qui vous correspondent. <i>Exemple : <strong>Tournage,Sculpture</strong></i></span>
            {{ form_errors(form.meta.skills) }}
            {{ form_widget(form.meta.skills) }}
        {% endblock %}
    {% endembed %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'location', 'title':('user.location'|trans()), 'formSection':'location' } %}
        {% block body %}
            <script>
                function locateLocation(btn) {
                    if (navigator.geolocation) {
                        btn.button('loading');
                        var optn = {
                            enableHighAccuracy : true,
                            timeout : Infinity,
                            maximumAge : 0
                        };
                        navigator.geolocation.getCurrentPosition(
                                function (position) {
                                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                                    var geocoder = new google.maps.Geocoder();
                                    geocoder.geocode({'latLng': latlng}, function(results, status) {
                                        if (status == google.maps.GeocoderStatus.OK) {
                                            if (results[1]) {
                                                $("#{{ form.location.vars.id }}").val(results[1].formatted_address);
                                                markAsUnsaved();
                                            } else {
                                                notifyError("{{ 'default.geocode.position_unavailable'|trans() }}");
                                            }
                                        } else {
                                            notifyError("{{ 'default.geocode.unkonw_error'|trans() }} (status=" + status + ")");
                                        }
                                        btn.button("reset");
                                    });
                                },
                                function (error) {
                                    switch(error.code) {
                                        case error.PERMISSION_DENIED:
                                            notifyError("{{ 'default.geocode.permission_denied'|trans() }}");
                                            break;
                                        case error.POSITION_UNAVAILABLE:
                                            notifyError("{{ 'default.geocode.position_unavailable'|trans() }}");
                                            break;
                                        default:
                                            notifyError("{{ 'default.geocode.unkonw_error'|trans() }}");
                                            break;
                                    }
                                    btn.button("reset");
                                },
                                optn);
                    } else {
                        notifyError("{{ 'default.geocode.unsupported_browser'|trans() }}");
                    }
                }
            </script>
            <div class="form-group">
                <span class="help-block">{{ 'user.location_help'|trans() }}</span>
                {{ form_errors(form.location) }}
                {{ form_widget(form.location, { 'attr': { 'class':'form-control' } }) }}
                <div class="">
                    <a href="#" class="btn btn-default ladb-margin-top" onclick="locateLocation($(this)); return false;" data-loading-text="{{ 'default.geocode.loading'|trans() }}"><i class="ladb-icon-locate"></i> Utiliser ma position actuelle</a>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'share', 'title':('user.social'|trans()), 'formSection':'social' } %}
        {% block body %}
            <div class="form-group">
                <span class="help-block">{{ 'user.website_help'|trans() }}</span>
                {{ form_errors(form.meta.website) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-globe ladb-icon-lg"></i></span>
                    {{ form_widget(form.meta.website, { 'attr': { 'class':'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                <span class="help-block">{{ 'user.facebook_help'|trans()|raw }}</span>
                {{ form_errors(form.meta.facebook) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-facebook-square ladb-icon-lg"></i> https://www.facebook.com/</span>
                    {{ form_widget(form.meta.facebook, { 'attr': { 'class':'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                <span class="help-block">{{ 'user.twitter_help'|trans()|raw }}</span>
                {{ form_errors(form.meta.twitter) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-twitter-square ladb-icon-lg"></i> https://twitter.com/</span>
                    {{ form_widget(form.meta.twitter, { 'attr': { 'class':'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                <span class="help-block">{{ 'user.youtube_help'|trans()|raw }}</span>
                {{ form_errors(form.meta.youtube) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-youtube-square ladb-icon-lg"></i> https://www.youtube.com/channel/</span>
                    {{ form_widget(form.meta.youtube, { 'attr': { 'class':'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                <span class="help-block">{{ 'user.vimeo_help'|trans()|raw }}</span>
                {{ form_errors(form.meta.vimeo) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-vimeo-square ladb-icon-lg"></i> https://vimeo.com/</span>
                    {{ form_widget(form.meta.vimeo, { 'attr': { 'class':'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                <span class="help-block">{{ 'user.dailymotion_help'|trans()|raw }}</span>
                {{ form_errors(form.meta.dailymotion) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-dailymotion-square ladb-icon-lg"></i> https://www.dailymotion.com/</span>
                    {{ form_widget(form.meta.dailymotion, { 'attr': { 'class':'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                <span class="help-block">{{ 'user.pinterest_help'|trans()|raw }}</span>
                {{ form_errors(form.meta.pinterest) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-pinterest-square ladb-icon-lg"></i> http://pinterest.com/</span>
                    {{ form_widget(form.meta.pinterest, { 'attr': { 'class':'form-control' } }) }}
                </div>
            </div>
            <div class="form-group">
                <span class="help-block">{{ 'user.instagram_help'|trans()|raw }}</span>
                {{ form_errors(form.meta.instagram) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-instagram-square ladb-icon-lg"></i> http://instagram.com/</span>
                    {{ form_widget(form.meta.instagram, { 'attr': { 'class':'form-control' } }) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'list', 'title':('user.options'|trans()), 'formSection':'options' } %}
        {% block body %}
            {% if user.isTeam %}
                <div class="checkbox">
                    <label class="checkbox">
                        {{ form_widget(form.meta.requestEnabled) }}
                        Permettre les <strong>demandes</strong> pour rejoindre le collectif.
                    </label>
                </div>
            {% else %}
                <div class="checkbox">
                    <label class="checkbox">
                        {{ form_widget(form.meta.autoWatchEnabled) }}
                        Surveiller automatiquement les publications auxquelles je contribue<br><small>(commentaire, coups de coeur, réponse, participation)</small>
                    </label>
                </div>
                <hr>
                <span class="help-block">Afficher une pastille du nombre de nouvelles publications depuis votre dernière visite pour les rubriques suivantes :</span>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.wonderCreationsBadgeEnabled) }}
                                <i class="ladb-icon-creation"></i> {{ 'wonder.creation.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.qaQuestionsBadgeEnabled) }}
                                <i class="ladb-icon-question"></i> {{ 'qa.question.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.wonderPlansBadgeEnabled) }}
                                <i class="ladb-icon-plan"></i> {{ 'wonder.plan.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.howtoHowtosBadgeEnabled) }}
                                <i class="ladb-icon-howto"></i> {{ 'howto.howto.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.wonderWorkshopsBadgeEnabled) }}
                                <i class="ladb-icon-workshop"></i> {{ 'wonder.workshop.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.knowledgeWoodsBadgeEnabled) }}
                                <i class="ladb-icon-wood"></i> {{ 'knowledge.wood.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.knowledgeToolsBadgeEnabled) }}
                                <i class="ladb-icon-tool"></i> {{ 'knowledge.tool.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.knowledgeBooksBadgeEnabled) }}
                                <i class="ladb-icon-book"></i> {{ 'knowledge.book.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.knowledgeSoftwaresBadgeEnabled) }}
                                <i class="ladb-icon-software"></i> {{ 'knowledge.software.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.collectionCollectionsBadgeEnabled) }}
                                <i class="ladb-icon-collection"></i> {{ 'collection.collection.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.knowledgeProvidersBadgeEnabled) }}
                                <i class="ladb-icon-provider"></i> {{ 'knowledge.provider.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.knowledgeSchoolsBadgeEnabled) }}
                                <i class="ladb-icon-school"></i> {{ 'knowledge.school.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.findFindsBadgeEnabled) }}
                                <i class="ladb-icon-software"></i> {{ 'find.find.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.eventEventsBadgeEnabled) }}
                                <i class="ladb-icon-event"></i> {{ 'event.event.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.offerOffersBadgeEnabled) }}
                                <i class="ladb-icon-offer"></i> {{ 'offer.offer.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.workflowWorkflowsBadgeEnabled) }}
                                <i class="ladb-icon-workflow"></i> {{ 'workflow.workflow.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.promotionGraphicsBadgeEnabled) }}
                                <i class="ladb-icon-promote"></i> {{ 'promotion.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.blogPostsBadgeEnabled) }}
                                <i class="ladb-icon-blog"></i> {{ 'blog.nav'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="checkbox">
                            <label class="checkbox">
                                {{ form_widget(form.meta.faqQuestionsBadgeEnabled) }}
                                <i class="ladb-icon-help"></i> {{ 'faq.nav'|trans }}
                            </label>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
    {% if not user.isTeam %}
        {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'notifications', 'title':('user.notifications'|trans()), 'formSection':'notifications' } %}
            {% block body %}
                <span class="help-block">Envoyer un e-mail de notification :</span>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.incomingMessageEmailNotificationEnabled) }}
                        lorsque je reçois un message privé
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.newFollowerEmailNotificationEnabled) }}
                        lorsqu'un j'ai un nouvel abonné
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.newMentionEmailNotificationEnabled) }}
                        lorsqu'un utilisateur mentionne mon nom
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.newLikeEmailNotificationEnabled) }}
                        lorsqu'un utilisateur aime l'une de mes publications
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.newVoteEmailNotificationEnabled) }}
                        lorsqu'un utilisateur vote pour l'une de mes publications
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.newFollowingPostEmailNotificationEnabled) }}
                        lorsqu'un utilisateur auquel je suis abonné ajoute une nouvelle publication
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.newWatchActivityEmailNotificationEnabled) }}
                        lorsqu'une activité est détectée sur une publication que je surveille
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.newSpotlightEmailNotificationEnabled) }}
                        lorsque l'une de mes publications reçoit un coup de projecteur
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.meta.weekNewsEmailEnabled) }}
                        avec les nouveautés de chaque semaine
                    </label>
                </div>
                <hr>
                <div>
                    <div class="media">
                        <div class="media-body">
                            <span id="ladb_webpush_active_span" style="display: none;" class="ladb-color-success"><i class="ladb-icon-check"></i> Les notifications "push" sont activées sur cet appareil.</span>
                            <span id="ladb_webpush_inactive_span" style="display: none;"><i class="ladb-icon-plus"></i> Activez les notifications "push" sur cet appareil.</span>
                            <span id="ladb_webpush_denied_span" class="ladb-color-danger" style="display: none;"><i class="ladb-icon-warning"></i> Vous avez bloqué les notifications "push" sur cet appareil.</span>
                            <span id="ladb_webpush_disabled_span" class="ladb-color-danger" style="display: none;"><i class="ladb-icon-warning"></i> Les notifications "push" ne sont pas disponibles sur cet appareil.</span>
                            <span id="ladb_webpush_help_span" class="help-block">Les notifications "push" <em>(nouveaux message, nouveaux coups de coeur et nouvelle réponse à vos questions)</em> s'affichent dans un coin de votre écran, même quand L'Air du Bois est fermé.</span>
                        </div>
                        <div class="media-right">
                            <a id="ladb_webpush_subscribe_btn" class="btn btn-success" style="display: none;">Activer</a>
                            <a id="ladb_webpush_revoke_btn" class="btn btn-default" style="display: none;">Désactiver</a>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}
