{% extends 'LadbCoreBundle:Core/User:_show-list.html.twig' %}

{% set masonry = true %}

{% block bodyContainerContent %}
    {% if is_granted("ROLE_USER") and user.id == app.user.id %}
        {% if creations.count == 0 and filter != 'draft' %}
            {% if filter=='recent'%}
                <p>Vous n'avez pas encore publié de <strong>création</strong> !</p>
                <p><a href="{{ path('core_creation_new') }}" class="btn btn-primary"><i class="ladb-icon-plus"></i> {{ 'wonder.creation.new'|trans() }}</a></p>   
            {% else  %}
                <p>Vous n'avez pas de <strong>création</strong> dans cette catégorie!</p>
                <p><a href="{{ path('core_creation_new') }}" class="btn btn-primary"><i class="ladb-icon-plus"></i> {{ 'wonder.creation.new'|trans() }}</a></p>
            {% endif %}
        {% else %}
            {% embed 'LadbCoreBundle:Wonder/Creation:_list-filterbar.part.html.twig' %}
                {% set filterPath = 'core_user_show_creations_filter' %}
                {% set filterPathParameters = { 'username':user.usernameCanonical } %}
                {% set customFilterDefs = {
                    'draft':    { 'label':('default.choice.draft'|transchoice(2)|capitalize), 'path':path('core_user_show_creations_filter', { 'username':user.usernameCanonical, 'filter':'draft' }), 'hidden':(not isDraftVisible) },
                } %}
                {% block filterbarRightContent%}
                    <span class="ladb-heading">
                        {% if filter == 'draft' and isDraftVisible %}
                            {{ user.meta.privateCreationCount~' '~('default.choice.draft'|transchoice(user.meta.privateCreationCount)) }}
                        {% else %}
                            {{ user.meta.publicCreationCount }} {{ 'wonder.creation.choice.entities'|transchoice(user.meta.publicCreationCount) }}{% if isDraftVisible and user.meta.privateCreationCount > 0 %} (+{{ user.meta.privateCreationCount~' '~('default.choice.draft'|transchoice(user.meta.privateCreationCount)) }}){% endif %}
                        {% endif %}
                    </span>
                {% endblock %}
            {% endembed %}
        {% endif %}
    {% else %}
        {% if creations.count == 0 and filter != 'draft' %}
            {% if filter=='popular'%}
                <strong>{{ user.username }}</strong> n'a pas encore publié de création.
            {% else  %}
                <strong>{{ user.username }}</strong> n'a pas de création dans cette catégorie.
            {% endif %}
        {% else %}
            {% embed 'LadbCoreBundle:Wonder/Creation:_list-filterbar.part.html.twig' %}
                {% set filterPath = 'core_user_show_creations_filter' %}
                {% set filterPathParameters = { 'username':user.usernameCanonical } %}
                {% set customFilterDefs = {
                    'draft':    { 'label':('default.choice.draft'|transchoice(2)|capitalize), 'path':path('core_user_show_creations_filter', { 'username':user.usernameCanonical, 'filter':'draft' }), 'hidden':(not isDraftVisible) },
                } %}
                {% block filterbarRightContent%}
                    <span class="ladb-heading">
                        {% if filter == 'draft' and isDraftVisible %}
                            {{ user.meta.privateCreationCount~' '~('default.choice.draft'|transchoice(user.meta.privateCreationCount)) }}
                        {% else %}
                            {{ user.meta.publicCreationCount }} {{ 'wonder.creation.choice.entities'|transchoice(user.meta.publicCreationCount) }}{% if isDraftVisible and user.meta.privateCreationCount > 0 %} (+{{ user.meta.privateCreationCount~' '~('default.choice.draft'|transchoice(user.meta.privateCreationCount)) }}){% endif %}
                        {% endif %}
                    </span>
                {% endblock %}
            {% endembed %}
         {% endif %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Wonder/Creation:_list-n.part.html.twig' %}
{% endblock %}
