{% extends 'LadbCoreBundle:Core/User:show.html.twig' %}

{% use 'LadbCoreBundle:Common:map.blocks.html.twig' %}

{% set bodyContainerClasses = 'ladb-margin-top' %}
{% set isOwner = is_granted("ROLE_USER") and user.id == app.user.id %}
{% set hasBiography = biography is not null and (biography.htmlBody|length) > 0 %}

{% block headStylesheets %}
    {{ parent() }}
    {% if hasMap %}
        {{ block('mapAreaStylesheets') }}
    {% endif %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% if hasMap %}
        {{ block('mapAreaJavascripts') }}
    {% endif %}
{% endblock %}

{% block bodyContainerContent %}
    <div class="row">
        <div class="col-md-8 col-xs-12">
            {% if not isOwner and not hasBiography and not hasMap %}
                <div style="font-size: 200px; text-align: center; color: #ddd;">
                    <i class="ladb-icon-user"></i>
                </div>
            {% endif %}
            {% if hasBiography or isOwner %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><i class="ladb-icon-user ladb-icon-lg"></i> Qui suis-je ?</strong>
                    </div>
                    <div class="panel-body">
                        {% if hasBiography %}
                            {{ biography.htmlBody|raw }}
                        {% elseif isOwner %}
                            <a href="{{ path('core_user_settings') }}#biography" class="ladb-fake-biography hidden-xs"><i class="ladb-icon-plus"></i> {{ 'user.add_biography'|trans() }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if hasMap or isOwner %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><i class="ladb-icon-locate ladb-icon-lg"></i> Où suis-je ?</strong>
                    </div>
                    <div>
                        {% if hasMap %}
                            <div style="margin: 4px;">
                                {% include 'LadbCoreBundle:Common:_map-area.part.html.twig' with { 'autoInit':true, 'mapHeight':'350px', 'caption':user.location, 'markersUrl':path('core_user_location', { 'username':user.username }) } %}
                            </div>
                        {% elseif isOwner %}
                            <div style="margin: 15px;">
                                <a href="{{ path('core_user_settings') }}#location" class="ladb-fake-location visible-lg"><i class="ladb-icon-plus"></i> {{ 'user.add_location'|trans() }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if testimonials is not empty %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><i class="ladb-icon-student ladb-icon-lg"></i> Mes témoignages de formation</strong>
                    </div>
                    <div class="panel-body">
                        {% for testimonial in testimonials %}
                            <div class="media"{% if not loop.last %} style="border-bottom: 1px solid #eee"{% endif %}>
                                <div class="media-left">
                                    {% include 'LadbCoreBundle:Core/Picture:_img.part.html.twig' with { 'picture':testimonial.school.mainPicture, 'width':64, 'height':64, 'alt':testimonial.school.title, 'noSizer':true, 'imgClasses':'img-rounded' } %}
                                </div>
                                <div class="media-body">
                                    <div class="media-heading" style="font-size: 120%; font-weight: bold;"><a href="{{ path('core_school_show', { 'id':testimonial.school.sluggedId }) }}">{{ testimonial.school.title }}</a></div>
                                    <div style="margin: 10px 0; color: #000; font-size: 110%;">
                                        <span style="font-weight: bold;">{% if testimonial.fromYear > 0 %}{{ testimonial.fromYear }}{% endif %}{% if testimonial.toYear > 0 %} - {{ testimonial.toYear }}{% endif %}</span>
                                        {% if testimonial.diploma %}
                                            <span{% if testimonial.fromYear > 0 %} class="ladb-horizontal-separator-left"{% endif %}>{{ testimonial.diploma }}</span>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {{ testimonial.htmlBody|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-12">
            <div id="ladb_block_metas">
                {% block contentMetas %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="ladb-metas">
                                <div class="ladb-meta">
                                    <span class="pull-right">{{ user.createdAt|time_diff() }}</span>
                                    <span><i class="ladb-icon-time"></i>&nbsp;Inscrit</span>
                                </div>
                                <div class="ladb-meta">
                                    <span class="pull-right">{{ user.lastLogin|time_diff() }}</span>
                                    <span><i class="ladb-icon-play"></i>&nbsp;Dernière connexion</span>
                                </div>
                            </div>
                            <div class="ladb-metas">
                                <h4 class="ladb-heading">{{ 'skill.skills'|trans() }}</h4>
                                <div class="ladb-meta">
                                    {% if (user.skills|length) > 0 %}
                                        <ul>
                                            {% for skill in user.skills %}
                                                <li class="ladb-value"><a href="{{ path('core_user_list', { 'q':'@skill:"'~skill.label~'"' }) }}" class="ladb-cursor-filter ladb-text-color" rel="nofollow">{{ skill.label }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <small><span class="text-muted">{{ 'skill.none'|trans() }}</span></small>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="ladb-metas">
                                <h4 class="ladb-heading">Relations</h4>
                                <div class="ladb-meta{% if user.followingCount == 0 %} text-muted{% endif %}">
                                    {% if user.followingCount > 0 %}<a href="{{ path('core_user_show_following', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.followingCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'follower.choice.following'|transchoice(user.followingCount) }}</small>
                                        {% if user.followingCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.followerCount == 0 %} text-muted{% endif %}">
                                    {% if user.followerCount > 0 %}<a href="{{ path('core_user_show_followers', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.followerCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'follower.choice.followers'|transchoice(user.followerCount) }}</small>
                                        {% if user.followerCount > 0 %}</a>{% endif %}
                                </div>
                            </div>
                            <div class="ladb-metas">
                                <h4 class="ladb-heading">Popularité</h4>
                                <div class="ladb-meta{% if user.recievedLikeCount == 0 %} text-muted{% endif %}">
                                    {% if user.recievedLikeCount > 0 %}<a href="{{ path('core_user_show_likes_filter', { 'username':user.usernameCanonical, 'filter':'recieved' }) }}">{% endif %}
                                        <strong>{{ user.recievedLikeCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'like.choice.recieved_likes'|transchoice(user.recievedLikeCount) }}</small>
                                        {% if user.recievedLikeCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.sentLikeCount == 0 %} text-muted{% endif %}">
                                    {% if user.sentLikeCount > 0 %}<a href="{{ path('core_user_show_likes_filter', { 'username':user.usernameCanonical, 'filter':'sent' }) }}">{% endif %}
                                        <strong>{{ user.sentLikeCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'like.choice.sent_likes'|transchoice(user.sentLikeCount) }}</small>
                                        {% if user.sentLikeCount > 0 %}</a>{% endif %}
                                </div>
                            </div>
                            <div class="ladb-metas">
                                <h4 class="ladb-heading">Contributions</h4>
                                <div class="ladb-meta{% if user.commentCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-comment"></i>
                                    {% if user.commentCount > 0 %}<a href="{{ path('core_user_show_comments', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.commentCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'comment.choice.comments'|transchoice(user.commentCount) }}</small>
                                        {% if user.commentCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.publishedCreationCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-creation"></i>
                                    {% if user.publishedCreationCount > 0 %}<a href="{{ path('core_user_show_creations', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.publishedCreationCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'wonder.creation.choice.creations'|transchoice(user.publishedCreationCount) }}</small>
                                        {% if user.publishedCreationCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.publishedQuestionCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-question"></i>
                                    {% if user.publishedQuestionCount > 0 %}<a href="{{ path('core_user_show_questions', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.publishedQuestionCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'qa.question.choice.questions'|transchoice(user.publishedQuestionCount) }}</small>
                                        {% if user.publishedQuestionCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.answerCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-answer"></i>
                                    <strong>{{ user.answerCount|number_format(0, ',', ' ') }}</strong>
                                    <small>{{ 'qa.answer.choice.answers'|transchoice(user.answerCount) }}</small>
                                </div>
                                <div class="ladb-meta{% if user.publishedPlanCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-plan"></i>
                                    {% if user.publishedPlanCount > 0 %}<a href="{{ path('core_user_show_plans', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.publishedPlanCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'wonder.plan.choice.plans'|transchoice(user.publishedPlanCount) }}</small>
                                        {% if user.publishedPlanCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.publishedHowtoCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-howto"></i>
                                    {% if user.publishedHowtoCount > 0 %}<a href="{{ path('core_user_show_howtos', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.publishedHowtoCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'howto.howto.choice.howtos'|transchoice(user.publishedHowtoCount) }}</small>
                                        {% if user.publishedHowtoCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.publishedWorkshopCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-workshop"></i>
                                    {% if user.publishedWorkshopCount > 0 %}<a href="{{ path('core_user_show_workshops', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.publishedWorkshopCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'wonder.workshop.choice.workshops'|transchoice(user.publishedWorkshopCount) }}</small>
                                        {% if user.publishedWorkshopCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.publishedFindCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-globe"></i>
                                    {% if user.publishedFindCount > 0 %}<a href="{{ path('core_user_show_finds', { 'username':user.usernameCanonical }) }}">{% endif %}
                                        <strong>{{ user.publishedFindCount|number_format(0, ',', ' ') }}</strong>
                                        <small>{{ 'find.find.choice.finds'|transchoice(user.publishedFindCount) }}</small>
                                        {% if user.publishedFindCount > 0 %}</a>{% endif %}
                                </div>
                                <div class="ladb-meta{% if user.positiveVoteCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-arrow-up"></i>
                                    <strong>{{ user.positiveVoteCount|number_format(0, ',', ' ') }}</strong>
                                    <small>{{ 'vote.choice.positive_votes'|transchoice(user.positiveVoteCount) }}</small>
                                </div>
                                <div class="ladb-meta{% if user.negativeVoteCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-arrow-down"></i>
                                    <strong>{{ user.negativeVoteCount|number_format(0, ',', ' ') }}</strong>
                                    <small>{{ 'vote.choice.negative_votes'|transchoice(user.negativeVoteCount) }}</small>
                                </div>
                                <div class="ladb-meta{% if user.proposalCount == 0 %} text-muted{% endif %}">
                                    <i class="ladb-icon-proposal"></i>
                                    <strong>{{ user.proposalCount|number_format(0, ',', ' ') }}</strong>
                                    <small>{{ 'default.choice.proposals'|transchoice(user.proposalCount) }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div id="ladb_block_suggest">
                {% block contentSuggests %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
