{% extends 'LadbCoreBundle::layout.html.twig' %}

{% use 'LadbCoreBundle:Common:blueimp-gallery-widget.blocks.html.twig' %}

{% set pageUrl = url('core_user_show', { 'username':user.usernameCanonical }) %}
{% set pageTitle = user.displayname %}
{% set pageContentItemType = 'Person' %}
{% if user.meta.biography is not null and user.meta.biography.htmlBody|length > 0 %}
    {% set pageDescription = user.meta.biography.htmlBody|striptags|truncate(200, true, '...') %}
{% endif %}
{% if user.avatar is not null %}
    {% set pageImage = 'http://www.lairdubois.fr'~(user.avatar.webPath|imagine_filter('400x400o')) %}
    {% set pageImageWidth = '400' %}
    {% set pageImageHeight = '400' %}
{% endif %}

{% set navSection = 'users' %}
{% set searchPath = path('core_user_list') %}
{% set isOwner = is_granted("ROLE_USER") and app.user.id == user.id %}
{% set isDraftVisible = is_granted("ROLE_ADMIN") or isOwner %}
{% set hasBanner = user.meta.banner is not null %}
{% set topbarTranslucent = hasBanner %}
{% set noStickyHeader = true %}

{% block headStylesheets %}
    {{ parent() }}
    {{ block('blueimpGalleryStylesheets') }}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('blueimpGalleryJavascripts') }}
    <script>
        $(document).ready(function() {
            setupTooltips();
        });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ block('blueimpGalleryWidget') }}
{% endblock %}

{% block bodyHeaderContainer %}
    {% if user.meta.banner is not null %}
        <div class="ladb-user-banner" style="background-image: url({{ user.meta.banner.webPath|imagine_filter('800x800i') }}); background-position: {{ user.meta.banner.centerX100 }}% {{ user.meta.banner.centerY100 }}%;"></div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block bodyHeaderContainerContent %}
    <div class="ladb-avatar-header{% if hasBanner %} ladb-avatar-header-with-banner{% endif %}">
        <div class="ladb-header-tools">
            {% block headerToolsInner %}
                {% if followerContext is not null %}
                    {% include 'LadbCoreBundle:Core/Follower:_widget.part.html.twig' with { 'followerContext':followerContext } %}
                {% endif %}
                &nbsp;
                {% if isOwner %}
                    <a href="{{ path('core_user_settings') }}" class="btn btn-default"><i class="ladb-icon-settings"></i> {{ 'user.settings'|trans() }}</a>
                {% else %}
                    <a href="{{ path('core_message_thread_new_recipientusername', { 'recipientUsername':user.usernameCanonical }) }}" class="btn btn-default" data-tooltip="tooltip" title="{{ 'message.sendTo'|trans({ '%NAME%':user.displayname }) }}"><i class="ladb-icon-message"></i> {{ 'message.contact'|trans() }}</a>
                {% endif %}
            {% endblock %}
        </div>
        <a href="{{ user.avatar.webPath|imagine_filter('1024x1024i') }}" data-gallery="avatar" class="ladb-cursor-preview">
            {% include 'LadbCoreBundle:Core/User:_avatar.part.html.twig' with { 'size':'128', 'imgClasses':'ladb-avatar' } %}
        </a>
        <div class="ladb-body">
            <h1 class="ladb-heading"><span itemprop="name"{% if not user.enabled %} class="ladb-strikethrough"{% endif %}>{{ user.displayname }}</span>{% include 'LadbCoreBundle:Core/User:_account-type.part.html.twig' %}{% if user.isFullnameDisplayble %} <small>(<span itemprop="additionalName">{{ user.fullname }}</span>)</small>{% endif %}</h1>
            <span class="ladb-subheading">
                {% include 'LadbCoreBundle:Core/User:_location-and-social.part.html.twig' %}
            </span>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li{% if tab == 'about' %} class="active"{% endif %}>
            <a href="{{ path('core_user_show_about', { 'username':user.usernameCanonical }) }}">{{ 'user.about'|trans() }}</a>
        </li>
        <li{% if tab == 'creations' %} class="active"{% endif %}>
            <a href="{{ path('core_user_show_creations', { 'username':user.usernameCanonical }) }}">{{ 'wonder.creation.choice.entities'|transchoice(2)|capitalize }} <span class="badge{% if user.meta.publicCreationCount > 0 %} badge-black{% endif %}">{{ user.meta.publicCreationCount }}</span>{% if isDraftVisible and user.meta.privateCreationCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateCreationCount }}</span>{% endif %}</a>
        </li>
        <li{% if tab == 'questions' %} class="active"{% endif %}>
            <a href="{{ path('core_user_show_questions', { 'username':user.usernameCanonical }) }}">{{ 'qa.question.choice.questions'|transchoice(2)|capitalize }} <span class="badge{% if user.meta.publicQuestionCount > 0 %} badge-black{% endif %}">{{ user.meta.publicQuestionCount }}</span>{% if isDraftVisible and user.meta.privateQuestionCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateQuestionCount }}</span>{% endif %}</a>
        </li>
        <li{% if tab == 'plans' %} class="active"{% endif %}>
            <a href="{{ path('core_user_show_plans', { 'username':user.usernameCanonical }) }}">{{ 'wonder.plan.choice.entities'|transchoice(2)|capitalize }} <span class="badge{% if user.meta.publicPlanCount > 0 %} badge-black{% endif %}">{{ user.meta.publicPlanCount }}</span>{% if isDraftVisible and user.meta.privatePlanCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privatePlanCount }}</span>{% endif %}</a>
        </li>
        <li{% if tab == 'howtos' %} class="active"{% endif %}>
            <a href="{{ path('core_user_show_howtos', { 'username':user.usernameCanonical }) }}">{{ 'howto.howto.choice.entities'|transchoice(2)|capitalize }} <span class="badge{% if user.meta.publicHowtoCount > 0 %} badge-black{% endif %}">{{ user.meta.publicHowtoCount }}</span>{% if isDraftVisible and user.meta.privateHowtoCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateHowtoCount }}</span>{% endif %}</a>
        </li>
        <li{% if tab == 'workshops' %} class="active"{% endif %}>
            <a href="{{ path('core_user_show_workshops', { 'username':user.usernameCanonical }) }}">{{ 'wonder.workshop.choice.entities'|transchoice(2)|capitalize }} <span class="badge{% if user.meta.publicWorkshopCount > 0 %} badge-black{% endif %}">{{ user.meta.publicWorkshopCount }}</span>{% if isDraftVisible and user.meta.privateWorkshopCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateWorkshopCount }}</span>{% endif %}</a>
        </li>
        <li{% if tab == 'finds' %} class="active"{% endif %}>
            <a href="{{ path('core_user_show_finds', { 'username':user.usernameCanonical }) }}">{{ 'find.find.choice.entities'|transchoice(2)|capitalize }} <span class="badge{% if user.meta.publicFindCount > 0 %} badge-black{% endif %}">{{ user.meta.publicFindCount }}</span>{% if isDraftVisible and user.meta.privateFindCount > 0 %} <span class="badge badge-warning">+{{ user.meta.privateFindCount }}</span>{% endif %}</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li{% if tab == 'admin' %} class="active"{% endif %}>
                <a href="{{ path('core_user_show_admin', { 'username':user.usernameCanonical }) }}" class="admin"><i class="ladb-icon-admin"></i>&nbsp;{{ 'user.admin.tab'|trans()|capitalize }}</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
