{% extends 'LadbCoreBundle:Wonder:_wonder-form.html.twig' %}

{% set navSection = 'workshops' %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Wonder/Plan:_form-gallery-script.part.html.twig' with { 'fieldId':form.plans.vars.id, 'maxPlanCount':4 } %}
    {% include 'LadbCoreBundle:Howto/Howto:_form-gallery-script.part.html.twig' with { 'fieldId':form.howtos.vars.id, 'maxHowtoCount':4 } %}
    {% include 'LadbCoreBundle:Workflow:Workflow/_form-gallery-script.part.html.twig' with { 'fieldId':form.workflows.vars.id, 'maxWorkflowCount':4 } %}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.tags.vars.id, 'proposals':tagProposals, 'proposalsHelp':('tag.token.proposals.help'|trans()), 'help':('tag.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_tags_json')|raw) } %}
{% endblock %}

{% block sidenav %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-sidenav-title.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/Picture:_form-sidenav-gallery.part.html.twig' with { 'title':('default.showcase'|trans) } %}
    {% include 'LadbCoreBundle:Core/Block:_form-sidenav-body.part.html.twig' with { 'title':('default.descriptive'|trans) } %}
    <li><a href="#characteristics"><i class="ladb-icon-characteristics"></i> {{ 'default.characteristics'|trans() }}</a></li>
    {% include 'LadbCoreBundle:Core/Tag:_form-sidenav.part.html.twig' %}
    {% include 'LadbCoreBundle:Wonder/Plan:_form-sidenav-gallery.part.html.twig' %}
    {% include 'LadbCoreBundle:Howto/Howto:_form-sidenav-gallery.part.html.twig' %}
    {% include 'LadbCoreBundle:Workflow:Workflow/_form-sidenav-gallery.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/License:_form-sidenav.part.html.twig' %}
{% endblock %}

{% block sections %}
    <div class="panel panel-info">
        <div class="panel-body">
            <p>{{ 'wonder.workshop.new_warning'|trans()|raw }}</p>
            <em>{{ 'default.warning.may_be_rejected'|trans() }}</em>
        </div>
    </div>
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('wonder.workshop.form.help.title'|trans()) } %}
    {% include 'LadbCoreBundle:Core/Picture:_form-section-gallery.part.html.twig' with { 'mandatory':true, 'sortable':true, 'title':('default.showcase'|trans), 'help':('wonder.workshop.form.help.showcase'|trans()) } %}
    {% include 'LadbCoreBundle:Core/Block:_form-section-body.part.html.twig' with { 'mandatory':true, 'title':('default.descriptive'|trans()), 'help':('wonder.workshop.form.help.body'|trans()) } %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'characteristics', 'title':('default.characteristics'|trans()), 'formSection':'characteristics' } %}
        {% block body %}
            <div class="form-group">
                {{ form_errors(form.location) }}
                {{ form_label(form.location, 'default.location'|trans()) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-location"></i></span>
                    {{ form_widget(form.location) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_errors(form.area) }}
                {{ form_label(form.area, 'default.area'|trans()) }}
                <div class="input-group">
                    {{ form_widget(form.area) }}
                    <span class="input-group-addon">m²</span>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
    {% include 'LadbCoreBundle:Core/Tag:_form-section.part.html.twig' with { 'mandatory':true, 'help':'Indiquez les tags définissant votre atelier.' } %}
    {% include 'LadbCoreBundle:Wonder/Plan:_form-section-gallery.part.html.twig' with { 'maxPlanCount':4, 'help':('wonder.workshop.form.help.plans'|trans()) } %}
    {% include 'LadbCoreBundle:Howto/Howto:_form-section-gallery.part.html.twig' with { 'maxHowtoCount':4, 'help':('wonder.workshop.form.help.howtos'|trans()) } %}
    {% include 'LadbCoreBundle:Workflow:Workflow/_form-section-gallery.part.html.twig' with { 'maxWorkflowCount':4, 'help':('wonder.workshop.form.help.workflows'|trans()) } %}
    {% include 'LadbCoreBundle:Core/License:_form-section.part.html.twig' with { 'form':form.license } %}
{% endblock %}

