{% extends 'LadbCoreBundle:Common:Layout/_list.html.twig' %}

{% use 'LadbCoreBundle:Common:map.blocks.html.twig' %}

{% set pageTitle = 'wonder.workshop.list'|trans() %}
{% set pageDescription = 'wonder.workshop.description'|trans() %}
{% set pageImage = asset('banner-workshops-600x376.jpg') %}
{% set pageSectionUrl = url('core_workshop_list') %}
{% set pageSectionName = 'wonder.workshop.list'|trans %}

{% set navSection = 'workshops' %}
{% set masonry = true %}
{% set hideHeaderContainer = false %}
{% set countableEntityList = true %}
{% set hideMapArea = true %}

{% block headStylesheets %}
    {{ parent() }}
    {{ block('mapAreaStylesheets') }}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {{ block('mapAreaJavascripts') }}
{% endblock %}

{% block bodyContainerContent %}
    <div class="panel panel-default ladb-margin-remove ladb-margin-top">
        <div class="panel-body">
            <i class="ladb-icon-info"></i> Vous recherchez un <em>Atelier partagé</em> ? <a href="{{ path('core_provider_list', { 'q':'@services:"Atelier partagé"' }) }}">Consultez l'annuaire</a> dans la rubrique <em>Fournisseurs</em> !
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block bodyHeaderContainer %}
    {% include 'LadbCoreBundle:Common:_map-area.part.html.twig' with { 'classes':'ladb-map-banner'} %}
    {{ parent() }}
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Wonder/Workshop:_list-topbar.part.html.twig' %}
{% endblock %}

{% block autopagerContainerInner %}
    {% include 'LadbCoreBundle:Wonder/Workshop:_list-n.part.html.twig' %}
{% endblock %}