{% extends 'LadbCoreBundle:Common:Layout/_form.html.twig' %}

{% set navSection = 'offers' %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% include 'LadbCoreBundle:Core/Picture:_form-gallery-script.part.html.twig' with { 'fieldId':form.pictures.vars.id, 'maxPictureCount':form.vars.data.maxPictureCount, 'sortable':true } %}
    {% include 'LadbCoreBundle:Common:_form-token-script.part.html.twig' with { 'fieldId':form.tags.vars.id, 'proposals':tagProposals, 'proposalsHelp':('tag.token.proposals.help'|trans()), 'help':('tag.token.help'|trans()), 'typeaheadSourcePath':(path('core_search_typeahead_tags_json')|raw) } %}
    <script>
        function ladbOfferCheckPriceVisibility() {
            var kind =  $("#{{ form.kind.vars.id }} input[type=radio]:checked").val();
            var category =  $("#{{ form.category.vars.id }} input[type=radio]:checked").val();
            if (kind !== undefined && category !== undefined) {
                if (kind === '{{ constant('Ladb\\CoreBundle\\Entity\\Offer\\Offer::KIND_OFFER') }}' && category !== '{{ constant('Ladb\\CoreBundle\\Entity\\Offer\\Offer::CATEGORY_JOB') }}') {
                    $('#{{ form.rawPrice.vars.id }}_container').show();
                } else {
                    $('#{{ form.rawPrice.vars.id }}_container').hide();
                }
            }
        }
        $("#{{ form.kind.vars.id }} input[type=radio]").on('change', function(e) {
            ladbOfferCheckPriceVisibility();
        });
        $("#{{ form.category.vars.id }} input[type=radio]").on('change', function(e) {
            ladbOfferCheckPriceVisibility();
        });
        ladbOfferCheckPriceVisibility();
    </script>
{% endblock %}

{% block sidenav %}
    {% include 'LadbCoreBundle:Common:_form-sidenav-title.part.html.twig' %}
    {% include 'LadbCoreBundle:Core/Picture:_form-sidenav-gallery.part.html.twig' with { 'title':('default.showcase'|trans) } %}
    {% include 'LadbCoreBundle:Core/Block:_form-sidenav-body.part.html.twig' with { 'title':('default.descriptive'|trans) } %}
    <li><a href="#characteristics"><i class="ladb-icon-characteristics"></i> {{ 'default.characteristics'|trans() }}</a></li>
    {% include 'LadbCoreBundle:Core/Tag:_form-sidenav.part.html.twig' %}
{% endblock %}

{% block sections %}
    <div class="panel panel-info">
        <div class="panel-body">
            <p>{{ 'offer.offer.new_warning'|trans()|raw }}</p>
            <em>{{ 'default.warning.may_be_rejected'|trans() }}</em>
        </div>
    </div>
    {{ parent() }}
    {% include 'LadbCoreBundle:Common:_form-section-title.part.html.twig' with { 'mandatory':true, 'help':('offer.offer.form.help.title'|trans()) } %}
    {% include 'LadbCoreBundle:Core/Picture:_form-section-gallery.part.html.twig' with { 'mandatory':true, 'sortable':true, 'quality':constant('\\Ladb\\CoreBundle\\Entity\\Core\\Picture::QUALITY_HD'), 'title':('default.showcase'|trans), 'help':('offer.offer.form.help.showcase'|trans()), 'hideTextOverlayWarning':true } %}
    {% include 'LadbCoreBundle:Core/Block:_form-section-body.part.html.twig' with { 'mandatory':true, 'title':('default.descriptive'|trans()), 'help':('offer.offer.form.help.body'|trans()) } %}
    {% embed 'LadbCoreBundle:Common:_form-section.part.html.twig' with { 'icon':'characteristics', 'title':('default.characteristics'|trans()), 'formSection':'characteristics' } %}
        {% block body %}
            <div class="form-group">
                {{ form_label(form.kind, 'offer.offer.kind'|trans()) }} <span class="ladb-mandatory">*</span>
                {{ form_errors(form.kind) }}
                {{ form_widget(form.kind) }}
            </div>
            <div class="form-group">
                {{ form_label(form.category, 'offer.offer.category'|trans()) }} <span class="ladb-mandatory">*</span>
                {{ form_errors(form.category) }}
                {{ form_widget(form.category) }}
            </div>
            <div id="{{ form.rawPrice.vars.id }}_container" class="row" style="display: none;">
                <div class="col-xs-12">
                    <p class="help-block ladb-color-danger">
                        <i class="ladb-icon-warning"></i>&nbsp;Vous ne pouvez pas publier une annonce sans y mettre une proposition de prix représentant l'intégralité de ce que présente l'annonce.<br>
                        Si le prix annoncé est à 0€, c'est que ce que vous proposez est réellement un don <strong>gratuit</strong>.<br>
                        <em>Les abus pourront faire l'objet d'une suppression de l'annonce.</em>
                    </p>
                </div>
                <div class="form-group col-xs-4">
                    {{ form_label(form.rawPrice, 'offer.offer.price'|trans()) }}
                    {{ form_errors(form.rawPrice) }}
                    {{ form_widget(form.rawPrice) }}
                </div>
                <div class="form-group col-xs-4">
                    {{ form_label(form.currency, 'knowledge.proposal_value.currency'|trans()) }}
                    {{ form_errors(form.currency) }}
                    {{ form_widget(form.currency, { 'attr':{ 'class':'form-control' } }) }}
                </div>
                <div class="form-group col-xs-4">
                    {{ form_label(form.priceSuffix, 'offer.offer.price_suffix'|trans()) }}<small class="ladb-hidden-mobile"> - le lot, le m3, ...</small>
                    {{ form_errors(form.priceSuffix) }}
                    {{ form_widget(form.priceSuffix) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.location, 'default.location'|trans()) }}
                {{ form_errors(form.location) }}
                <div class="input-group">
                    <span class="input-group-addon"><i class="ladb-icon-location"></i></span>
                    {{ form_widget(form.location) }}
                </div>
            </div>
            <hr>
            <p class="help-block"><i class="ladb-icon-help"></i> <a href="{{ path('core_faq_question_show', { 'id':'comment-bien-rediger-son-annonce-de-recherche-demploi-apprentissage-ou-stage' }) }}">Comment bien rédiger son annonce de recherche d'Emploi, Apprentissage ou Stage ?</a> </p>
        {% endblock %}
    {% endembed %}
    {% include 'LadbCoreBundle:Core/Tag:_form-section.part.html.twig' with { 'help':('offer.offer.form.help.tags'|trans()) } %}
{% endblock %}
