{% extends 'LadbCoreBundle:Common:Layout/_show.html.twig' %}

{% use 'LadbCoreBundle:Common:map.blocks.html.twig' %}

{% set entity = offer %}

{% if offer.isKindOffer %}
    {% if offer.isCategoryJob %}
        {% set pageContentItemType = 'JobPosting' %}
        {% set pageContentNameItemprop = 'title' %}
        {% set authorItemtype = 'Organization' %}
        {% set authorItemprop = 'hiringOrganization' %}
        {% set locationItemprop = 'jobLocation' %}
    {% else %}
        {% set pageContentItemType = 'Offer' %}
        {% set authorItemprop = 'seller' %}
        {% set locationItemprop = 'areaServed' %}
    {% endif %}
{% endif %}
{% set pageSectionUrl = url('core_offer_list') %}
{% set pageSectionName = 'offer.offer.list'|trans %}

{% set navSection = 'offers' %}
{% set searchPath = path('core_offer_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == offer.user.id %}

{% block headStylesheets %}
    {{ parent() }}
    {% if hasMap %}
        {{ block('mapAreaStylesheets') }}
    {% endif %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% if hasMap %}
        {{ block('mapAreaJavascripts') }}
    {% endif %}
{% endblock %}

{% block bodyMetas %}
    {{ parent() }}
    {% if offer.isKindOffer %}
        {% if offer.isCategoryJob %}
            <meta itemprop="datePosted" content="{{ entity.changedAt|date('Y-m-dTH:i:s') }}" />
            <meta itemprop="validThrough" content="{{ entity.expiredDate|date('Y-m-dTH:i:s') }}" />
        {% else %}
            <meta itemprop="availabilityEnds" content="{{ entity.expiredDate|date('Y-m-dTH:i:s') }}" />
            {% if offer.price %}
                <meta itemprop="price" content="{{ offer.rawPrice }}" />
                <meta itemprop="priceCurrency" content="{{ offer.currency }}" />
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% include 'LadbCoreBundle:Common/Header:_entity-show-header.part.html.twig' with { 'ownerCanAlwaysDelete':true, 'noMicrodataAge':true } %}
{% endblock %}

{% block contentBody %}
    {% if offer.isDraft %}
        {% include 'LadbCoreBundle:Offer/Offer:_draft-alert.part.html.twig' %}
    {% endif %}
    <div class="ladb-offer">
        <div class="row">
            <div class="col-xs-12">
                {% include 'LadbCoreBundle:Core/Picture:_img-link.part.html.twig' with { 'picture':offer.pictures[0], 'width':'594', 'height':'294', 'filterMode':'o', 'alt':offer.title, 'aClasses':(offer.pictures.count > 1 ? 'ladb-margin-bottom' : '') } %}
            </div>
            {% if offer.pictures.count > 1 %}
                {% for index in 1..4 %}
                    <div class="col-xs-3">
                        {% if index < offer.pictures.count %}
                            {% include 'LadbCoreBundle:Core/Picture:_img-link.part.html.twig' with { 'picture':offer.pictures[index], 'width':'128', 'height':'128', 'alt':offer.title, 'attributes':'data-pin-nopin="true"' } %}
                        {% else %}
                            <span class="thumbnail thumbnail-empty"><img src="{{ 'empty.png'|imagine_filter('128x128o') }}" data-pin-nopin="true"></span>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% include 'LadbCoreBundle:Offer/Offer:_price.part.html.twig' %}
        {% if offer.location is defined and offer.location is not null %}
            <div class="ladb-link">
                <i class="ladb-icon-location ladb-icon-fixed-center"></i>
                <span itemprop="{{ locationItemprop|default('location') }}" itemscope itemtype="http://schema.org/Place">
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="addressLocality">{% include 'LadbCoreBundle:Offer/Offer:_location.part.html.twig' %}</span>
                    </span>
                </span>
            </div>
        {% endif %}
        <hr>
        <div class="ladb-body">
            {% for block in offer.bodyBlocks %}
                {% include 'LadbCoreBundle:Core/Block:_show-'~block.strippedName~'.part.html.twig' %}
            {% endfor %}
        </div>
    </div>
    {% if offer.updatedAt > offer.createdAt %}
        {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':offer } %}
    {% endif %}
    {% if not ownerUser %}
        <div class="ladb-like-and-follow-row">
            <a href="{{ path('core_message_thread_new_recipientusername', { 'recipientUsername':offer.user.usernameCanonical }) }}" class="btn btn-default" data-tooltip="tooltip" title="{{ 'message.sendTo'|trans({ '%NAME%':offer.user.displayname }) }}"><i class="ladb-icon-message"></i> {{ 'message.contact'|trans() }} {{ offer.user.displayName }}</a>
        </div>
    {% endif %}
    {% if not offer.isDraft and (ownerUser or offer.kind == constant('Ladb\\CoreBundle\\Entity\\Offer\\Offer::KIND_OFFER')) %}
        <div class="panel panel-default ladb-margin-top">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left"><i class="ladb-icon-info ladb-icon-lg"></i></div>
                    <div class="media-body">
                        {% if ownerUser %}
                            Cette annonce expirera <strong>{{ offer.expiredDate|time_diff }}</strong>.
                        {% elseif offer.kind == constant('Ladb\\CoreBundle\\Entity\\Offer\\Offer::KIND_OFFER') %}
                            La qualité du produit, la transaction, l'expédition, ainsi que le service après transaction relatifs à cette annonce sont de la responsabilité de l'annonceur, {% include 'LadbCoreBundle:Core/User:_displayname-link.part.html.twig' with { 'user':offer.user } %}.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% include 'LadbCoreBundle:Core/Comment:_widget.part.html.twig' %}
{% endblock %}

{% block contentMetasPanel %}
    <div class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' with { 'noMicrodata':true } %}
        <div class="ladb-metas">
            <h4 class="ladb-heading">{{ 'default.characteristics'|trans() }}</h4>
            <div class="ladb-meta">
                <span class="pull-right">{{ ('offer.offer.kind_'~offer.kind)|trans }}</span>
                <span><i class="ladb-icon-arrow-up ladb-icon-fixed-center"></i> <small>{{ 'offer.offer.kind'|trans }}</small></span>
            </div>
            <div class="ladb-meta">
                <span class="pull-right">{{ ('offer.offer.category_'~offer.category)|trans }}</span>
                <span><i class="ladb-icon-list ladb-icon-fixed-center"></i> <small>{{ 'offer.offer.category'|trans }}</small></span>
            </div>
            {% if offer.price %}
                <div class="ladb-meta">
                    <span class="pull-right">{% include 'LadbCoreBundle:Offer/Offer:_price.part.html.twig' %}</span>
                    <span><i class="ladb-icon-funding ladb-icon-fixed-center"></i> <small>{{ 'offer.offer.price'|trans }}</small></span>
                </div>
            {% endif %}
            {% if offer.location %}
                <div class="ladb-meta">
                    <span class="pull-right">{% include 'LadbCoreBundle:Offer/Offer:_location.part.html.twig' %}</span>
                    <span><i class="ladb-icon-location ladb-icon-fixed-center"></i>&nbsp;<small>{{ 'default.location'|trans }}</small></span>
                </div>
            {% endif %}
            {% if not ownerUser %}
                <div class="ladb-btn">
                    <a href="{{ path('core_message_thread_new_recipientusername', { 'recipientUsername':offer.user.usernameCanonical }) }}" class="btn btn-primary btn-expand btn-lg" data-tooltip="tooltip" title="{{ 'message.sendTo'|trans({ '%NAME%':offer.user.displayname }) }}"><i class="ladb-icon-message"></i> {{ 'message.send'|trans() }}</a>
                </div>
            {% endif %}
            {% if hasMap %}
                {% include 'LadbCoreBundle:Common:_map-area.part.html.twig' with { 'autoInit':true, 'mapHeight':'250px', 'markersUrl':path('core_offer_location', { 'id':offer.id }), 'classes':'ladb-map-thumbnail ladb-margin-top' } %}
            {% endif %}
        </div>
    </div>
    {% include 'LadbCoreBundle:Core/Tag:_metas.part.html.twig' with { 'tags':offer.tags, 'type':'offers', 'noMicrodata':true } %}
{% endblock %}

{% block contentSuggests %}
    {% if userOffers is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('offer.offer.other_from')|trans() }} {% include 'LadbCoreBundle:Core/User:_displayname-link.part.html.twig' with { 'user':offer.user, 'noMicrodata':true } %}
            </div>
            <div class="panel-body row">
                {% for userOffer in userOffers %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Offer/Offer:_thumbnail-link.part.html.twig' with { 'offer':userOffer } %}
                    </div>
                {% endfor %}
                {% if offer.user.meta.publicOfferCount > 2 %}
                    <div class="col-xs-12 ladb-margin-top">
                        <a href="{{ path('core_user_show_offers', { 'username':offer.user.usernamecanonical}) }}" class="btn btn-link btn-xs">{{ 'default.see_more'|trans() }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if similarOffers is not null %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('offer.offer.similar')|trans() }}
            </div>
            <div class="panel-body row">
                {% for similarOffer in similarOffers %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Offer/Offer:_thumbnail-link.part.html.twig' with { 'offer':similarOffer, 'classes':(loop.last ? null : 'ladb-margin-bottom') } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
