
{# set previousArticle #}
{# set nextArticle #}

<ul class="pager">
    {% if previousArticle is not null %}
        <li class="previous"><a rel="prev" href="{{ path('core_howto_article_show', { 'id':previousArticle.sluggedId }) }}"><i class="ladb-icon-chevron-left"></i> {{ previousArticle.title|truncate(30) }}</a></li>
    {% else %}
        <li class="previous"><a rel="prev" href="{{ path('core_howto_show', { 'id':howto.sluggedId }) }}"><i class="ladb-icon-chevron-left"></i> {{ howto.title|truncate(30) }}</a></li>
    {% endif %}
    {% if nextArticle is not null %}
        <li class="next"><a rel="next" href="{{ path('core_howto_article_show', { 'id':nextArticle.sluggedId }) }}">{{ nextArticle.title|truncate(30) }} <i class="ladb-icon-chevron-right"></i></a></li>
    {% endif %}
</ul>
