{% extends 'LadbCoreBundle:Spotlight:_spotlight.part.html.twig' %}

{% block counters %}
    {{ parent() }}
    {% if entity.planCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_plans', { 'id':entity.id }) }}" data-tooltip="tooltip" title="{{ 'howto.linked_to'|trans() }} {{ entity.planCount }} {{ 'plan.choice.plans'|transchoice(entity.planCount) }}"><i class="ladb-icon-plan"></i></a></li>
    {% endif %}
    {% if entity.creationCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_creations', { 'id':entity.id }) }}" data-tooltip="tooltip" title="{{ 'howto.linked_to'|trans() }} {{ entity.creationCount }} {{ 'creation.choice.creations'|transchoice(entity.creationCount) }}"><i class="ladb-icon-creation"></i></a></li>
    {% endif %}
    {% if entity.workshopCount > 0 %}
        <li class="ladb-linkto"><a href="{{ path('core_howto_workshops', { 'id':entity.id }) }}" data-tooltip="tooltip" title="{{ 'howto.linked_to'|trans() }} {{ entity.workshopCount }} {{ 'workshop.choice.workshops'|transchoice(entity.workshopCount) }}"><i class="ladb-icon-workshop"></i></a></li>
    {% endif %}
{% endblock %}