{% extends 'LadbCoreBundle:Common:_show.html.twig' %}

{% set entity = howto %}
{% set pageItemType = 'Article' %}
{% set pageTitlePrefix = '[Pas à pas]' %}

{% set navSection = 'howtos' %}
{% set searchPath = path('core_howto_list') %}

{% set ownerUser = is_granted("ROLE_USER") and app.user.id == howto.user.id %}
{% set showDraft = is_granted("ROLE_ADMIN") or ownerUser %}

{% block headOpenGraphMetas %}
    {{ parent() }}
    {% if howto.planCount > 0 %}
        {% for entity in howto.plans %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if howto.creationCount > 0 %}
        {% for entity in howto.creations %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
    {% if howto.workshopCount > 0 %}
        {% for entity in howto.workshops %}
            <meta property="og:see_also" content="{{ ladb_entity_url_action(entity) }}" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block headStylesheets %}
    {{ parent() }}
    {% stylesheets filter='?yui_css'
        '@LadbCoreBundle/Resources/assets/css/jquery-tocify/jquery.tocify.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block bodyJavascripts %}
    {{ parent() }}
    {% javascripts filter='?closure'
        '@LadbCoreBundle/Resources/assets/js/jquery-tocify/jquery.tocify.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function() {
            if ($(window).width() >= 768) {
                $("#tocify_toc").tocify({
                    context: "#ladb_tocable",
                    ignoreSelector: ".modal-title",
                    selectors: "h2,h3,h4",
                    theme: "none",
                    smoothScroll: false,
                    showEffect: "none",
                    hideEffect: "none",
                    extendPage: false,
                    hashGenerator: "pretty",
                    history: false
                });
                $("#ladb_toc_panel").sticky({
                    topSpacing: 60
                });
            }
        });
    </script>
{% endblock %}

{% block bodyHeaderContainerContent %}
    {% embed 'LadbCoreBundle:Common:_entity-avatar-header.part.html.twig' with { 'entity':howto } %}
        {% block headerTools %}
            <div class="ladb-header-tools">
                {% if not howto.isDraft %}
                    <a href="#share_modal" class="btn btn-default" data-toggle="modal"><i class="ladb-icon-share"></i><span class="ladb-hidden-mobile"> {{ 'default.share'|trans() }}</span></a>
                    &nbsp;
                    {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'share_modal', 'title':('default.share'|trans()) } %}
                        {% use 'LadbCoreBundle:Common:sharebuttons-widget.blocks.html.twig' %}
                        {% block bodyInner %}
                            <h4>{{ 'share.social.heading'|trans() }}</h4>
                            {% set sbTooltipPlacement = 'top' %}
                            {{ block('sharebuttonsInlineHorizontal') }}
                            <hr>
                            <h4>{{ 'share.sticker.heading'|trans() }}</h4>
                            <p>{{ 'share.sticker.help.howto'|trans()|raw }}</p>
                            <p>{{ 'share.sticker.help.common'|trans()|raw }}</p>
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#ladb_sticker_bbcode" data-toggle="tab">BBCode</a></li>
                                <li><a href="#ladb_sticker_html" data-toggle="tab">HTML</a></li>
                                <li><a href="#ladb_sticker_preview" data-toggle="tab">Aperçu</a></li>
                            </ul>
                            <div class="tab-content ladb-margin-top">
                                <div class="tab-pane active" id="ladb_sticker_bbcode">
                                    <textarea class="form-control" style="font-family: courier;" rows="5" onclick="$(this).focus(); $(this).select();"></textarea>
                                </div>
                                <div class="tab-pane" id="ladb_sticker_html">
                                    <textarea class="form-control" style="font-family: courier;" rows="5" onclick="$(this).focus(); $(this).select();"></textarea>
                                </div>
                                <div class="tab-pane" id="ladb_sticker_preview" style="height: 300px;">
                                    {% include 'LadbCoreBundle:Common:_loading.part.html.twig' with { 'noHidden':true} %}
                                    <p class="text-center"><img src="" height="300"></p>
                                </div>
                            </div>
                            <script>
                                $('#share_modal').on('show.bs.modal', function (e) {
                                    $("#ladb_sticker_bbcode textarea").val("{{ include('LadbCoreBundle:Howto:_sticker.bbcode.twig')|escape('js') }}");
                                    $("#ladb_sticker_html textarea").val("{{ include('LadbCoreBundle:Howto:_sticker.html.twig')|escape('js') }}");
                                })
                                $('a[href="#ladb_sticker_preview"]').on("shown.bs.tab", function (e) {
                                    var img = $("#ladb_sticker_preview img");
                                    if (img.attr("src") == "") {
                                        var src = "{{ path('core_howto_sticker', { 'id':howto.id }) }}";
                                        img.on("load", function() {
                                            $("#ladb_sticker_preview .ladb-loading").remove();
                                        });
                                        img.attr("src", src);
                                    }
                                });
                            </script>
                        {% endblock %}
                        {% block footerInner %}
                            <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|trans() }}</a>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
                {% if not ownerUser %}
                    {% include 'LadbCoreBundle:Like:_widget.part.html.twig' with { 'likeContext':likeContext } %}
                {% endif %}
                {% if watchContext is not null and is_granted("ROLE_USER") %}
                    {% include 'LadbCoreBundle:Watch:_widget.part.html.twig' with { 'watchContext':watchContext } %}
                {% endif %}
                {% if not ownerUser %}
                    &nbsp;
                    {% include 'LadbCoreBundle:Report:_widget-button.part.html.twig' with { 'entityType':howto.type, 'entityId':howto.id } %}
                {% endif %}
                {% if ownerUser or is_granted("ROLE_ADMIN") %}
                    &nbsp;
                    <a href="{{ path('core_howto_edit', { 'id':howto.id }) }}" class="btn btn-default"><i class="ladb-icon-edit"></i><span class="ladb-visible-desktop"> {{ 'default.edit'|trans() }}</span></a>
                    {% if is_granted("ROLE_ADMIN") %}
                        {% if is_granted("ROLE_ADMIN") or (ownerUser and howto.isDraft) %}
                            <a href="#delete_howto_modal" class="btn btn-danger" data-toggle="modal"><i class="ladb-icon-delete"></i><span class="ladb-visible-desktop"> {{ 'default.delete'|trans() }}</span></a>
                            {% include 'LadbCoreBundle:Common:_delete-entity-modal.part.html.twig' with { 'id':'delete_howto_modal', 'entityTitle':howto.title, 'deletePath':path('core_howto_delete', { 'id':howto.id }) } %}
                        {% endif %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ladb-icon-admin"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ ladb_entity_url_action(howto, howto.isLocked ? 'unlock' : 'lock', true, false) }}"><i class="ladb-icon-{% if howto.isLocked %}unlock{% else %}lock{% endif %} ladb-icon-fixed-center"></i> {{ (howto.isLocked ? 'default.unlock' : 'default.lock')|trans() }}</a></li>
                                {% if not howto.isDraft %}
                                    <li><a href="#unpublish_howto_modal" data-toggle="modal"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        {% if not howto.isDraft %}
                            {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'unpublish_howto_modal', 'title':('default.unpublishing'|trans()) } %}
                                {% block bodyInner %}
                                    <p>La dépublication du pas à pas <strong>{{ howto.title }}</strong> le rendra invisible des autres utilisateurs.</p>
                                    <p>Confirmez l'action pour continuer.</p>
                                {% endblock %}
                                {% block footerInner %}
                                    <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                                    <a href="{{ path('core_howto_unpublish', { 'id':howto.id }) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a>
                                {% endblock %}
                            {% endembed %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block bodyContainerContent %}
    {% if howto.isDraft %}
        {% include 'LadbCoreBundle:Howto:_draft-alert.part.html.twig' %}
    {% endif %}
    {{ parent() }}
    {% if referral is defined and referral is not null and referral.displayRedirectionWarning %}
        {% include 'LadbCoreBundle:Referer:_referral-modal.part.html.twig' %}
        <script>
            $(window).load(function() {
                $("#referral_modal").modal('show');
            });
        </script>
    {% endif %}
{% endblock %}

{% block contentBody %}
    {% include 'LadbCoreBundle:Howto:_wip-alert.part.html.twig' %}
    <div class="ladb-howto">
        {% include 'LadbCoreBundle:Picture:_img-link.part.html.twig' with { 'picture':howto.mainPicture, 'width':'594', 'height':'294', 'alt':howto.title, 'noMicrodata':true } %}
        <div class="ladb-body">
            {{ howto.htmlBody|raw }}
        </div>
        {% if howto.articles.count > 1 %}
            <h4>{{ 'howto.article.list'|trans() }}</h4>
            <ul>
                {% for article in howto.articles if not article.isDraft or article.isDraft and showDraft %}
                    <li>
                        <a href="#{{ article.sluggedId }}">{{ article.title }}</a>
                        {% if article.bodyBlockVideoCount > 0 %}<i class="ladb-icon-video"></i>{% endif %}
                        {% if article.isDraft %}<small class="ladb-translucent">({{ 'default.choice.draft'|transchoice(1) }})</small>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% if howto.updatedAt > howto.createdAt %}
        {% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':howto } %}
    {% endif %}
    <div id="ladb_tocable">
    <div id="ladb_articles">
        {% for article in howto.articles if not article.isDraft or article.isDraft and showDraft %}
            <hr>
            <a id="{{ article.sluggedId }}" class="ladb-offsetted-anchor"></a>
            <div class="pull-right">
                {% if not howto.isDraft and not article.isDraft %}
                    <a href="#share_article_{{ article.id }}_modal" class="btn btn-default btn-sm" data-toggle="modal" title="{{ 'howto.article.share'|trans() }}" data-tooltip="tooltip"><i class="ladb-icon-share"></i><span class="ladb-hidden-mobile"> {{ 'default.share'|trans() }}</span></a>
                    &nbsp;
                    {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'share_article_'~article.id~'_modal', 'title':('howto.article.share'|trans()) } %}
                        {% use 'LadbCoreBundle:Common:sharebuttons-widget.blocks.html.twig' %}
                        {% block bodyInner %}
                            <h4>{{ 'share.social.heading'|trans() }}</h4>
                            {% set sbUrl = ladb_entity_url_action(article) %}
                            {% set sbTitle = article.title %}
                            {% set sbDescription = article.body|striptags|truncate(200, true, '...') %}
                            {% if article.mainPicture is not null %}
                                {% set sbImage = (article.mainPicture.webPath|imagine_filter('600x600i')) %}
                            {% endif %}
                            {% set sbTooltip = 'l\'article' %}
                            {% set sbTooltipPlacement = 'top' %}
                            {{ block('sharebuttonsInlineHorizontal') }}
                            <hr>
                            <h4>Partage par lien direct vers l'article</h4>
                            <input type="text" class="form-control" style="font-family: courier;" rows="5" onclick="$(this).focus(); $(this).select();" value="{{ sbUrl }}" />
                            {% if article.bodyBlockPictureCount > 0 %}
                                <hr>
                                <h4>{{ 'share.sticker.heading'|trans() }}</h4>
                                <p>{{ 'share.sticker.help.article'|trans()|raw }}</p>
                                <p>{{ 'share.sticker.help.common'|trans()|raw }}</p>
                                <ul class="nav nav-pills">
                                    <li class="active"><a href="#ladb_article_{{ article.id }}_sticker_bbcode" data-toggle="tab">BBCode</a></li>
                                    <li><a href="#ladb_article_{{ article.id }}_sticker_html" data-toggle="tab">HTML</a></li>
                                    <li><a href="#ladb_article_{{ article.id }}_sticker_preview" data-toggle="tab">Aperçu</a></li>
                                </ul>
                                <div class="tab-content ladb-margin-top">
                                    <div class="tab-pane active" id="ladb_article_{{ article.id }}_sticker_bbcode">
                                        <textarea class="form-control" style="font-family: courier;" rows="5" onclick="$(this).focus(); $(this).select();"></textarea>
                                    </div>
                                    <div class="tab-pane" id="ladb_article_{{ article.id }}_sticker_html">
                                        <textarea class="form-control" style="font-family: courier;" rows="5" onclick="$(this).focus(); $(this).select();"></textarea>
                                    </div>
                                    <div class="tab-pane" id="ladb_article_{{ article.id }}_sticker_preview" style="height: 300px;">
                                        {% include 'LadbCoreBundle:Common:_loading.part.html.twig' with { 'noHidden':true} %}
                                        <p class="text-center"><img src="" height="300"></p>
                                    </div>
                                </div>
                                <script>
                                    $('#share_article_{{ article.id }}_modal').on('show.bs.modal', function (e) {
                                        $("#ladb_article_{{ article.id }}_sticker_bbcode textarea").val("{{ include('LadbCoreBundle:Howto:_article-sticker.bbcode.twig')|escape('js') }}");
                                        $("#ladb_article_{{ article.id }}_sticker_html textarea").val("{{ include('LadbCoreBundle:Howto:_article-sticker.html.twig')|escape('js') }}");
                                    })
                                    $('a[href="#ladb_article_{{ article.id }}_sticker_preview"]').on("shown.bs.tab", function (e) {
                                        var img = $("#ladb_article_{{ article.id }}_sticker_preview img");
                                        if (img.attr("src") == "") {
                                            var src = "{{ path('core_howto_article_sticker', { 'id':article.id }) }}";
                                            img.on("load", function() {
                                                $("#ladb_article_{{ article.id }}_sticker_preview .ladb-loading").remove();
                                            });
                                            img.attr("src", src);
                                        }
                                    });
                                </script>
                            {% endif %}
                        {% endblock %}
                        {% block footerInner %}
                            <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|trans() }}</a>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
                {% if is_granted("ROLE_ADMIN") or ownerUser %}
                    <a href="{{ path('core_howto_article_edit', { 'id':article.id }) }}" class="btn btn-default btn-sm" title="{{ 'howto.article.edit'|trans() }}" data-tooltip="tooltip"><i class="ladb-icon-edit"></i> {{ 'default.edit'|trans() }}</a>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") and not article.isDraft %}
                    <a href="#unpublish_howto_article_{{ article.id }}_modal" class="btn btn-default btn-sm" data-toggle="modal" title="{{ 'howto.article.unpublish'|trans() }}" data-tooltip="tooltip"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a>
                    {% embed 'LadbCoreBundle:Common:_modal.part.html.twig' with { 'id':'unpublish_howto_article_'~article.id~'_modal', 'title':('default.unpublishing'|trans()) } %}
                        {% block bodyInner %}
                            <p>La dépublication de l'article <strong>{{ article.title }}</strong> le rendra invisible des autres utilisateurs.</p>
                            <p>Confirmez l'action pour continuer.</p>
                        {% endblock %}
                        {% block footerInner %}
                            <a href="#" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|trans() }}</a>
                            <a href="{{ path('core_howto_article_unpublish', { 'id':article.id }) }}" class="btn btn-primary" data-loading-text="{{ 'default.loading'|trans() }}" onclick="$(this).button('loading');"><i class="ladb-icon-unpublish"></i> {{ 'default.unpublish'|trans() }}</a>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            </div>
            <div class="ladb-howto-article">
                <h2>{{ article.title }}</h2>
                {% if article.isDraft and not howto.isDraft %}
                    {% include 'LadbCoreBundle:Howto:_article-draft-alert.part.html.twig' %}
                {% endif %}
                <div class="ladb-body">
                    {% for block in article.bodyBlocks %}
                        {% include 'LadbCoreBundle:Block:_show-'~block.strippedName~'.part.html.twig' %}
                    {% endfor %}
                </div>
                <div class="ladb-ages">
                    {% if not article.isDraft %}
                        {% include 'LadbCoreBundle:Common:_published-age.part.html.twig' with { 'entity':article } %}{% if article.updatedAt > article.createdAt %}{% include 'LadbCoreBundle:Common:_updated-age.part.html.twig' with { 'entity':article } %}{% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <br/>
    {% include 'LadbCoreBundle:Howto:_wip-alert.part.html.twig' %}
    {% if not ownerUser %}
        {% include 'LadbCoreBundle:Common:_like-and-follow.part.html.twig' %}
    {% endif %}
    {% if howto.planCount > 0 or howto.creationCount > 0 or howto.workshopCount > 0 %}
        {% embed 'LadbCoreBundle:Common:_linkedto-widget.part.html.twig' %}
            {% block body %}
                {% if howto.planCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':howto.planCount == 1 ? path('core_plan_show', { 'id':howto.plans[0].sluggedId }) : path('core_howto_plans', { 'id':howto.id }),
                        'picture':howto.plans[0].mainPicture,
                        'icon':'ladb-icon-plan',
                        'caption': howto.planCount~' '~('plan.choice.plans'|transchoice(howto.planCount))
                    } %}
                {% endif %}
                {% if howto.creationCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':howto.creationCount == 1 ? path('core_creation_show', { 'id':howto.creations[0].sluggedId }) : path('core_howto_creations', { 'id':howto.id }),
                        'picture':howto.creations[0].mainPicture,
                        'icon':'ladb-icon-creation',
                        'caption': howto.creationCount~' '~('creation.choice.creations'|transchoice(howto.creationCount))
                    } %}
                {% endif %}
                {% if howto.workshopCount > 0 %}
                    {% include 'LadbCoreBundle:Common:_linkedto-widget-item.part.html.twig' with {
                        'path':howto.workshopCount == 1 ? path('core_workshop_show', { 'id':howto.workshops[0].sluggedId }) : path('core_howto_workshops', { 'id':howto.id }),
                        'picture':howto.workshops[0].mainPicture,
                        'icon':'ladb-icon-workshop',
                        'caption': howto.workshopCount~' '~('workshop.choice.workshops'|transchoice(howto.workshopCount))
                    } %}
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}
    {% if howto.referralCount > 0 %}
        {% include 'LadbCoreBundle:Referer:_widget.part.html.twig' with { 'referrals':howto.referrals } %}
    {% endif %}
    {% include 'LadbCoreBundle:Comment:_widget.part.html.twig' %}
    </div>
{% endblock %}

{% block contentMetasPanel %}
    {% include 'LadbCoreBundle:Spotlight:_spotlight-meta.part.html.twig' %}
    <div id="ladb_common_metas" class="ladb-metas">
        {% include 'LadbCoreBundle:Common:_meta-like-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-view-counter.part.html.twig' %}
        {% include 'LadbCoreBundle:Common:_meta-comment-counter.part.html.twig' %}
        {% if howto.referralCount > 0 %}
            <div class="ladb-meta">
                <a href="#" class="ladb-scrollto-btn" onclick="$('#ladb_referer_widget').ladbScrollTo(event);"><i class="ladb-icon-arrow-down"></i></a>
                <i class="ladb-icon-referral ladb-icon-fixed-center"></i>
                <strong>{{ howto.referralCount|number_format(0, ',', ' ') }}</strong>
                <small>{{ 'referer.choice.referrals'|transchoice(howto.referralCount) }}</small>
            </div>
        {% endif %}
    </div>
    <div class="ladb-metas">
        <h4 class="ladb-heading">{{ 'default.links'|trans() }}</h4>
        {% if howto.planCount > 0 or howto.creationCount > 0 or howto.workshopCount > 0%}
            {% if howto.planCount > 0 %}
                <div class="ladb-meta">
                    <i class="ladb-icon-plan"></i>
                    <a href="{{ howto.planCount == 1 ? path('core_plan_show', { 'id':howto.plans[0].sluggedId }) : path('core_howto_plans', { 'id':howto.id }) }}">
                        <strong>{{ howto.planCount }}</strong>
                        <small>{{ 'plan.choice.plans'|transchoice(howto.planCount) }}</small>
                    </a>
                </div>
            {% endif %}
            {% if howto.creationCount > 0 %}
                <div class="ladb-meta">
                    <i class="ladb-icon-creation"></i>
                    <a href="{{ howto.creationCount == 1 ? path('core_creation_show', { 'id':howto.creations[0].sluggedId }) : path('core_howto_creations', { 'id':howto.id }) }}">
                        <strong>{{ howto.creationCount }}</strong>
                        <small>{{ 'creation.choice.creations'|transchoice(howto.creationCount) }}</small>
                    </a>
                </div>
            {% endif %}
            {% if howto.workshopCount > 0 %}
                <div class="ladb-meta">
                    <i class="ladb-icon-workshop"></i>
                    <a href="{{ howto.workshopCount == 1 ? path('core_workshop_show', { 'id':howto.workshops[0].sluggedId }) : path('core_howto_workshops', { 'id':howto.id }) }}">
                        <strong>{{ howto.workshopCount }}</strong>
                        <small>{{ 'workshop.choice.workshops'|transchoice(howto.workshopCount) }}</small>
                    </a>
                </div>
            {% endif %}
        {% else %}
            <div class="ladb-meta">
                <span class="ladb-translucent">{{ 'default.no_links'|trans() }}</span>
            </div>
        {% endif %}
    </div>
    {% include 'LadbCoreBundle:Tag:_metas.part.html.twig' with { 'tags':howto.tags, 'type':'howtos' } %}
    {% include 'LadbCoreBundle:License:_metas.part.html.twig' with { 'license':howto.license } %}
{% endblock %}

{% block contentSuggests %}
    {% if userHowtos is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('howto.other_from')|trans() }} {% include 'LadbCoreBundle:User:_displayname-link.part.html.twig' with { 'user':howto.user, 'noMicrodata':true } %}
            </div>
            <div class="panel-body row">
                {% for userHowto in userHowtos %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Howto:_thumbnail-link.part.html.twig' with { 'howto':userHowto } %}
                    </div>
                {% endfor %}
                {% if howto.user.publishedHowtoCount > 2 %}
                    <div class="col-xs-12 ladb-margin-top">
                        <a href="{{ path('core_user_show_howtos', { 'username':howto.user.usernamecanonical}) }}" class="btn btn-link btn-xs">{{ 'default.see_more'|trans() }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if similarHowtos is not null %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ ('howto.similar')|trans() }}
            </div>
            <div class="panel-body row">
                {% for similarHowto in similarHowtos %}
                    <div class="col-xs-6">
                        {% include 'LadbCoreBundle:Howto:_thumbnail-link.part.html.twig' with { 'howto':similarHowto, 'classes':(loop.last ? null : 'ladb-margin-bottom') } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div id="ladb_toc_panel" class="panel panel-default ladb-toc-panel ladb-hidden-mobile">
        <div class="panel-heading">{{ 'howto.article.list'|trans() }}</div>
        <div class="panel-body">
            <div id="tocify_toc"></div>
        </div>
    </div>
{% endblock %}
